<app-common-header class="print"></app-common-header>
<!-- <div class="toolbar-wrapper">
  <span> Home ></span> <span> Dashboard </span>
  <span> </span>
</div> -->
<div class="toolbar-wrapper print">
  <ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs">
      <span [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
        {{ breadcrumb.label }}
      </span>
    </li>
  </ol>
</div>
<mat-drawer-container [ngClass]="!subMenus ? '' : ''" class="first-sidenav print">
  <mat-drawer class="sub-wrapper-nav" mode="side" [opened]="sidebarOpen">
    &#160;
  </mat-drawer>
  <mat-drawer-content class="main-toolbar" [ngClass]="!subMenus || subMenus.length === 0 ? 'toolbar-bg' : ''">
    <ng-container *ngIf="subMenus && subMenus.length > 0">
      <div [routerLink]="subMenus.router" *ngFor="let subMenus of subMenus; let i = index" class="sub-navs"
        routerLinkActive="active">
        <div *ngIf="subMenus.icon"><img src="assets/images/{{subMenus.icon}}" alt=""></div>
        <div *ngIf="subMenus.name">{{subMenus.name}}</div>
      </div>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>
<div (click)="sidebar()" [ngClass]="sidebarOpen ? 'sideOpen' : 'sideClose'" class="openClose print">
  <span *ngIf="sidebarOpen"><img src="assets/images/keyboard_arrow_left.svg" alt="" srcset=""></span>
  <span *ngIf="!sidebarOpen"><img src="assets/images/keyboard_arrow_right.svg" alt="" srcset=""></span>
</div>
<mat-drawer-container class="second-sidenav" [ngClass]="!subMenus ? '' : ''">

  <mat-drawer class="sidenav print" mode="side" [opened]="sidebarOpen">
    <ul>
      <!-- <li [ngClass]="showProfileOnly ? 'hide' : ''">
        <span><img src="assets/images/002-files-and-folders.svg" width="20px" height="20px" alt=""></span>
        <span>Assessment</span>
        <span>
          <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
        </span>
      </li> -->
      <!-- <li [ngClass]="showProfileOnly ? 'hide' : ''">
          <span><img src="assets/images/medical.svg" width="20px" height="20px" alt=""></span>
          <span>Result</span>
        <span>
          <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
        </span>
        </li> -->
      <li [routerLink]="appConstant.CANDIDATE_DASHBOARD.PROFILE" routerLinkActive="active">
        <span><img src="assets/images/003-user.svg" width="20px" height="20px" alt=""></span>
        <span>Profile</span>
        <span>
          <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
        </span>
      </li>
      <!-- <li [ngClass]="showProfileOnly ? 'hide' : ''" [routerLink]="appConstant.CANDIDATE_DASHBOARD.HALLTICKET" routerLinkActive="active">
        <span><img src="assets/images/birthday-and-party.svg" width="20px" height="20px" alt=""></span>
        <span>Hallticket</span>
        <span>
          <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
        </span>
      </li> -->
      <li [ngClass]="showDocuments ? '' : 'hide'" [routerLink]="appConstant.CANDIDATE_DASHBOARD.DOCUMENT" routerLinkActive="active">
        <span><img src="assets/images/Page-1.svg" width="20px" height="20px" alt=""></span>
        <span>Documents</span>
        <span>
          <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
        </span>
      </li>

      <li [routerLink]="appConstant.CANDIDATE_DASHBOARD.JOINING" routerLinkActive="active">
        <span><img src="assets/images/Page-1.svg" width="20px" height="20px" alt=""></span>
        <span>Joining Form</span>
        <span>
          <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
        </span>
      </li>

    </ul>

  </mat-drawer>
  <mat-drawer-content class="main-container ht">

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
