<div class="top-wrapper">
  <div class="flex-wrapper">
    <div class="inner-flex">
      <div class="grid-wrapper">
        <div class="group">
          <div class="label">
            Shortlist Name :&#160;
          </div>
          <div class="value">
              {{bindDetails ? bindDetails['assement_name'] : '-'}}
          </div>
        </div>

        <div style="white-space: nowrap;" class="group">
          <div class="label">
            Total number of candidates :&#160;
          </div>
          <div class="value">
            <span class="labels">{{bindDetails ? bindDetails['total'] : '-'}}</span>
          </div>
        </div>

        <!-- <div class="group">
          <div class="label">
            Time :&#160;
          </div>
          <div class="value">
              {{bindDetails ? bindDetails['time'] : '-'}}
          </div>
        </div> -->
        <div class="group">
          <div class="label">
            Shortlist status :&#160;
          </div>
          <div class="value">
              {{bindDetails && bindDetails['status'] != 'completed' ? 'waiting' : 'completed'}}
          </div>
        </div>

        <div style="white-space: nowrap;" class="group">
          <div class="label">
            Selected number of candidates :&#160;
          </div>
          <div class="value">
            <span class="labels">{{bindDetails ? bindDetails['selected'] : '-'}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
