<div class="top-wrapper">
  <div class="flex-wrapper">
    <div class="inner-flex">
      <div class="heading">
        Shortlist - {{bindDetails ? bindDetails['assement_name'] : ''}}
      </div>
      <div class="grid-wrapper">
        <div class="group">
          <div class="label">
            Date :&#160;
          </div>
          <div class="value">
              {{bindDetails ? bindDetails['date'] : ''}}
          </div>
        </div>
        <div class="group">
          <div class="label">
            Group Name :&#160;
          </div>
          <div class="value">
              {{bindDetails ? bindDetails['group_name'] : ''}}
          </div>
        </div>

        <div style="white-space: nowrap;" class="group">
          <div class="label">
            Total number of candidates :&#160;
          </div>
          <div class="value">
            <span class="labels">{{bindDetails ? bindDetails['total'] : ''}}</span>
          </div>
        </div>

        <div class="group">
          <div class="label">
            Time :&#160;
          </div>
          <div class="value">
              {{bindDetails ? bindDetails['time'] : ''}}
          </div>
        </div>
        <div class="group">
          <div class="label">
            Shortlist status :&#160;
          </div>
          <div class="value">
              {{bindDetails && bindDetails['status'] != 'completed' ? 'waiting' : 'completed'}}
          </div>
        </div>

        <div style="white-space: nowrap;" class="group">
          <div class="label">
            Selected number of candidates :&#160;
          </div>
          <div class="value">
            <span class="labels">{{selectedCandidates ? selectedCandidates : '0'}}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="right-flex">
      <div class="heading">
        Assessment report
      </div>
      <div class="grid">
        <button (click)="viewReports()" mat-raised-button><span><img class="eye" src="assets/images/eye_white.svg" alt="" srcset=""></span>
          <span>View</span></button>
        <button mat-raised-button><span><img class="download" src="assets/images/download_white.svg" alt=""
              srcset=""></span> <span>Download</span></button>
      </div>
    </div>
  </div>
</div>
