          <div class="wrap-reg">
            <form [formGroup]="candidateForm" class="form-wrapper" (ngSubmit)="submit()">
              <h1 class="animated animatedFadeInUp fadeInUp signIn"> {{'Welcome' }}</h1>
              <div>
                <mat-form-field class="mat-form-spacing" appearance="outline">
                  <mat-label class="label-color">Name</mat-label>
                  <input matInput id="username1" #username1 [placeholder]="'Enter the name'"  formControlName="name"
                  required>
                  <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                  <mat-error class="error" *ngIf="candidateForm.get('name').hasError('required')">{{'Name is required'}}</mat-error>
                  <mat-error class="error" *ngIf="candidateForm.get('name').hasError('pattern')">{{'Alphabetic characters only allowed'}}</mat-error>
                  <mat-error class="error" *ngIf="candidateForm.get('name').hasError('maxlength') && !candidateForm.get('name').hasError('pattern')">{{'Should not exceed 30 characters'}}</mat-error>
                </mat-form-field>

                <mat-form-field class="mat-form-spacing" appearance="outline">
                  <mat-label class="label-color">Email</mat-label>
                  <input matInput  id="username" #username [placeholder]="'Enter the email'"  formControlName="email" maxlength="64"
                  required>
                  <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                  <mat-error class="error" *ngIf="candidateForm.get('email').hasError('required')">{{'Email is required'}}</mat-error>
                  <mat-error class="error" *ngIf="candidateForm.get('email').hasError('maxlength')">{{'100 Characters only allowed'}}</mat-error>
                  <mat-error class="error" *ngIf="candidateForm.get('email').hasError('pattern')">{{'Please enter a valid email address'}}</mat-error>
                </mat-form-field>

                <div appCapslock (capsLock)="capsOn=$event">
                  <mat-form-field class="mat-form-spacing" appearance="outline">
                    <mat-label  class="label-color">{{'Password' }}</mat-label>
                    <input matInput  [placeholder]="'Enter password'" [type]="!toggleVisibility ? 'text' : 'password'" formControlName="password" [ngClass]="{ 'is-invalid': password.touched && password.errors }" required>
                    <mat-icon class="icon-color" matPrefix>lock_outline</mat-icon>
                    <div mat-icon-button matSuffix (click)="toggleVisibility = !toggleVisibility" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="toggleVisibility">
                    <mat-icon class="icon-color-1">{{toggleVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <mat-error class="error" *ngIf="password.touched && password.errors?.required" >{{'Password is required' }}</mat-error>
                    <mat-error class="error" *ngIf="password.touched && password.errors?.maxlength" >{{'30 Characters only allowed' }}</mat-error>
                    <mat-error class="error" *ngIf="password.touched && password.errors?.passwordvalidator" >{{'The password should consist of 1 uppercase, 1 lowercase,1 number and 1 special character.' }}</mat-error>
                  </mat-form-field>
                </div>

                <div class="center">
                  <button class="btn" id="login" mat-raised-button [disabled]="candidateForm.invalid" type="submit">{{'Submit'}}</button>
                </div>
              </div>

              <div class="next">
                <mat-label>
                   <a class="col" (click)="signIn()">{{'Go back to Sign in' }}</a></mat-label>
              </div>

            </form>
          </div>
