@import "../../themes/themes.scss";

.notmatch {
  color: red;
  font-size: 11px;
  margin-left: 1em;
  text-align: left;
  margin-top: -20px !important;
}

.wrap-reg {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0px !important;
  margin-left: 0% !important;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.form-wrapper {
  width: 75%;
}

.forgot {
  color: $mediumGrey;
  cursor: pointer;
  font-size: 13px;
}

.forgot:hover {
  transition: ease-out 0.3s;
  color: $primary-red;
}

a:hover {
  color: $primary-red !important;
  text-decoration: underline;
}

.btn {
  font-size: 16px;
  background: $common-button-bg !important;
  color: $white;
  border-radius: 50px !important;
  width: 50%;
  margin-left: 23%;
  margin-right: 23%;
  padding: 5px 18px;
  margin-top: 40px;
}
.btn:hover {
  background: $primary-hover-color !important;
  transition: ease-out .3s;
}
.center{
  text-align: center;
}
.btn.disabled,
.btn:disabled {
opacity: 1;
color: $white;
border-radius: .25rem;
font-size: 16px;
}

.signIn {
  text-align: center !important;
  color: $mediumGrey !important;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 30px 0 !important;
  letter-spacing: 0.5px;
}

.ins-note {
  margin-top: 1.5em;
  color: $primary-red;
  font-size: 12px;
  text-align: left;
  margin-top: 40px;
}


::placeholder {
  color: $borderColor-2 !important;
  }

.icon-color{
color:  #8c8c8c !important;
position: relative;
margin: 0 !important;
top: -4px;
}

.icon-color-1{
  color:  #8c8c8c !important;
  position: relative;
  cursor: pointer;
  top: -4px;
}

.label-color{
  color: #5c6873;
}

.mat-form-spacing {
  margin-bottom: 20px;
}

.next {
  text-align: center;
  margin: 24px 16px 24px 0px;
}

// mobile
@media (max-width: 480px) and (max-width: 320px) {
    .wrap-reg {
      text-align: center;
      width: 100%;
      padding-left: 0px !important;
      padding-right: 0px !important;
      overflow: hidden !important;
      height: 96vh;
      border-radius: 0 !important;
      margin-left: 0% !important;
      .form-wrapper {
        width: 100%;
      }
  }
}


@media (max-width: 767px) {
  .wrap-reg {
      width: 100%;
      padding-left: 0px !important;
      padding-right: 0px !important;
      overflow: hidden !important;
      height: 96vh;
      border-radius: 0 !important;
      margin-left: 0% !important;
      .form-wrapper {
        width: 100%;
      }
  }
}

@media (min-width: 1500px) and (min-height: 800px) {
  .form-wrapper {
    width: 60%;
  }
}
@media only screen and (max-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .wrap-reg {
      text-align: center;
      width: 100%;
      margin-left: 0% !important;
      .form-wrapper {
        width: 90%;
      }
  }
}

input.mat-input-element {
  margin-top: -3px !important;
}

:host ::ng-deep.mat-input-element {
  margin: 3px !important;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $primary-hover-color !important;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 2px;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $primary-hover-color !important;
}
:host ::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0;
}
:host ::ng-deep.mat-form-field-subscript-wrapper {
    position: relative;
    margin: 0 !important;
    padding-top: 0 !important;
}
.error{
  margin-top: 6px;
}

