<app-signup-header></app-signup-header>
<div class="main-wrapper-candidate">
  <!-- <div class="layer-only">
  </div> -->

  <div class="sub-wrapper">

    <div class="create-wrapper">
      <div class="row container-reg200">
        <div class="col-md-8 col-sm-12 col-12 border-right no_pl  no_pr">
          <div class="main-logo">
          <img alt="" class="beforeloginimg" style="width : 300px;" src="https://assets.lntedutech.com/edutech_logo.svg">
        </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="wrap-reg">
            <form [formGroup]="candidateForm" (ngSubmit)="submit()">
              <h1 class="animated animatedFadeInUp fadeInUp signIn"> {{'Welcome' }}</h1> <br>
              <div style="margin-top:10px">

                <mat-form-field appearance="outline">
                  <mat-label class="label-color">Name</mat-label>
                  <input matInput  id="username1" #username1 [placeholder]="'Enter the name'"  formControlName="name"
                  required>
                  <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                  <mat-error class="error" *ngIf="candidateForm.get('name').hasError('required')">{{'Name is required'}}</mat-error>
                  <!-- <mat-error class="error" *ngIf="f.email.errors.required">Email ID is required</mat-error> -->
                  <mat-error class="error" *ngIf="candidateForm.get('name').hasError('pattern')">{{'Alphabetic characters only allowed'}}</mat-error>
                  <mat-error class="error" *ngIf="candidateForm.get('name').hasError('maxlength') && !candidateForm.get('name').hasError('pattern')">{{'Should not exceed 30 characters'}}</mat-error>
                </mat-form-field>
                <div class="space-20"></div>


                <mat-form-field appearance="outline">
                  <mat-label class="label-color">Email</mat-label>
                  <input matInput  id="username" #username [placeholder]="'Enter the email'"  formControlName="email" maxlength="64"
                  required>
                  <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                  <mat-error class="error" *ngIf="candidateForm.get('email').hasError('required')">{{'Email is required'}}</mat-error>
                  <!-- <mat-error class="error" *ngIf="f.email.errors.required">Email ID is required</mat-error> -->
                  <mat-error class="error" *ngIf="candidateForm.get('email').hasError('pattern')">{{'Please enter a valid email address'}}</mat-error>
                </mat-form-field>
                <div class="space-20"></div>

                <div class="" appCapslock (capsLock)="capsOn=$event">
                  <!-- <label>Password</label> -->
                  <!-- <div *ngIf="capsOn">{{'Caps lock is on !' | translate }}</div> -->
                  <mat-form-field appearance="outline">
                    <mat-label  class="label-color">{{'Password' }}</mat-label>
                    <input matInput  [placeholder]="'Enter password'" [type]="!toggleVisibility ? 'text' : 'password'" formControlName="password" [ngClass]="{ 'is-invalid': password.touched && password.errors }" required>
                    <mat-icon class="icon-color" matPrefix>lock_outline</mat-icon>
                    <div mat-icon-button matSuffix (click)="toggleVisibility = !toggleVisibility" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="toggleVisibility">
                    <mat-icon class="icon-color-1">{{toggleVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <mat-error class="error" *ngIf="password.touched && password.errors?.required" >{{'Password is required' }}</mat-error>
                    <mat-error class="error" *ngIf="password.touched && password.errors?.passwordvalidator" >{{'The password should consist of 1 uppercase, 1 lowercase,1 number and 1 special character.' }}</mat-error>
                  </mat-form-field>
                  <div class="space-20"></div>

                </div>
                <div class="space-20"></div>


                <!-- <div style="text-align: end;"> -->
                  <!-- <mat-checkbox class="remember_me">
                    {{'Keep me signed in' }}
                  </mat-checkbox> -->
                <!-- <mat-label>
                <a  class="forgot" (click)="forgotPassword()">{{'Forgot password?'}}</a>
                </mat-label></div> -->
                <div style="text-align: center;">
                  <mat-label>
                     <a class="col" (click)="signIn()">{{'Go back to Sign in' }}</a></mat-label>
                </div>

                <div class="space-20"></div>

                <div class="center">
                  <button class="btn" id="login" mat-raised-button [disabled]="candidateForm.invalid" type="submit">{{'Submit'}}</button>

                </div>

                <!-- <div class="sign_up">
                  <span class="haveacc">Don't have an account?</span>
                  <a><span class="col" (click)="candidateSignup()">{{'Sign up' }}</span></a> </div><br><br> -->
              </div>
            </form>
          </div>

          <!-- <div class="row footer20">
            <div class="col-12">
              <span class="forgot1">2020 © L&T EduTech All Rights Reserved</span>
            </div>
          </div> -->
          <!-- <div class="col-4">
            <span class="powered">
              <img class="footericon" alt="" src="assets/learner/LT_small.svg">
            </span>
          </div> -->
        </div>



      </div>
    </div>

    <!-- old -->
    <!-- <div class="create-wrapper">
      <div class="head">
        Welcome
      </div>


      <form [formGroup]="candidateForm" (ngSubmit)="submit()">
        <div class="forms">
          <div class="form-field">
            <label class="label-name">
              Name<span class="asterick">*</span>
            </label>
            <div class="input-box" [ngStyle]="{border: name.invalid && name.touched ? 'solid red 1px': ''}">
              <input matInput formControlName="name" type="text" required>
              <div>

              </div>
            </div>
            <div class="error" *ngIf="name.invalid && name.touched">
              <span *ngIf="name.errors?.required">Name is Required</span>
              <span *ngIf="name.errors?.pattern">Alphabetic characters only allowed</span>
              <span *ngIf="name.errors?.maxlength && !name.errors?.pattern">Should not exceed 30 characters</span>
            </div>
            <div class="note">Note: Name as mentioned in Aadhaar</div>
          </div>
          <div class="form-field">
            <label class="label-name">
              Email Address<span class="asterick">*</span>
            </label>
            <div class="input-box" [ngStyle]="{border: email.invalid && email.touched ? 'solid red 1px': ''}">
              <input matInput formControlName="email" type="text" required>
              <div>

              </div>
            </div>
            <div class="error" *ngIf="email.invalid && email.touched">
              <span *ngIf="email.errors?.required">Email is Required</span>
              <span *ngIf="email.errors?.pattern">Please enter a valid Email id</span>
            </div>
          </div>
          <div class="form-field">
            <label class="label-name">
              Password<span class="asterick">*</span>
            </label>
            <div class="input-box"
              [ngStyle]="{border: password.invalid && password.touched ? 'solid red 1px': ''}">
              <input matInput formControlName="password" [type]="!toggleVisibility ? 'text' : 'password'" required>
              <div class="icon">
                <span *ngIf="toggleVisibility" (click)="toggleVisibility = !toggleVisibility;" class="material-icons">
                  visibility_off
                </span>
                <span *ngIf="!toggleVisibility" (click)="toggleVisibility = !toggleVisibility;" class="material-icons">
                  visibility
                </span>
              </div>

            </div>
            <div class="error" *ngIf="password.invalid && password.touched">
              <span *ngIf="password.errors?.required">Password is Required</span>
              <span *ngIf="password.errors?.passwordvalidator">Please enter the valid password</span>
            </div>
            <div class="notes" *ngIf="password.dirty && password.invalid">
              <span *ngIf="password.errors?.passwordvalidator">The password should consist of 1 uppercase, 1 lowercase,1
                number and 1 special character.</span>
              <div style="margin: 0.5em 0 0 0;" *ngIf="password.errors?.passwordvalidator">Note: Space ' " , & (Not
                allowed)</div>
            </div>
            <div *ngIf="password.valid" class="tick-mark">
              <div class="container">
                <span> <img src="assets/images/tick.svg" alt=""> Uppercase</span>
                <span><img src="assets/images/tick.svg" alt=""> Special character</span>
              </div>
              <div class="container">
                <span><img src="assets/images/tick.svg" alt=""> Lowercase</span>
                <span><img src="assets/images/tick.svg" alt=""> Number</span>
              </div>
            </div>
          </div>

          <div class="submit-button">
            <button type="submit" class="submit" mat-raised-button>Submit</button>
          </div>

        </div>
      </form>
    </div> -->


  </div>
</div>
