<div class="tpo-add-candidate-wrapper">
  <!-- <div class="line"></div> -->

  <div class="add-wrapper">
    <div class="flex-wrapper">
      <div class="grid">
        <div class="label">
          Candidate Name<span class="asterick">*</span>
        </div>
        <div class="input-box">
          <input [formControl]="name" type="text" [ngStyle]="{border: name.invalid && name.touched ? 'solid red 1px': ''}">
          <div class="validation" *ngIf="name.invalid && name.touched">
              <span *ngIf="name.errors?.required">Candidate name is Required</span>
              <span *ngIf="name.errors?.minlength">Minimum of 3 characters required</span>
              <span *ngIf="name.errors?.maxlength">Maximum of 255 characters only allowed</span>
            </div>
            </div>
      </div>
      <div class="grid">
        <div class="label">
            Email ID<span class="asterick">*</span>
        </div>
        <div class="input-box">
          <input [formControl]="email" type="text" [ngStyle]="{border: email.invalid && email.touched ? 'solid red 1px': ''}">
          <div class="validation" *ngIf="email.invalid && email.touched">
              <span *ngIf="email.errors?.required">Email is Required</span>
              <span *ngIf="email.errors?.pattern">Please enter a valid email</span>
              <span *ngIf="email.errors?.maxlength">Maximum of 255 characters only allowed</span>
            </div>
        </div>
      </div>
      <div class="grid">
        <div class="label">
          Tag<span class="asterick">*</span>
        </div>
        <div class="input-box">
          <input [formControl]="tag" type="text" [ngStyle]="{border: tag.invalid && tag.touched ? 'solid red 1px': ''}">
          <div class="validation" *ngIf="tag.invalid && tag.touched">
              <span *ngIf="tag.errors?.required">Tag is Required</span>
              <span *ngIf="tag.errors?.minlength">Minimum of 3 characters required</span>
              <span *ngIf="tag.errors?.maxlength">Maximum of 255 characters only allowed</span>
            </div>
        </div>
      </div>

    </div>
    <div class="button-wrapper">
        <button mat-raised-button (click)="submit()" type="button">Submit</button>
        <button (click)="cancel()" mat-raised-button type="button">Cancel</button>
      </div>

  </div>
</div>
