@import "../../../themes/themes.scss";

.tpo-add-candidate-wrapper {
  background: $wrapper-light-gray;
  width: 100%;
  height: 100%;
  .line {
    height: 40px;
    border-bottom: solid 1px $primary;
  }

  .add-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 20%;
    .flex-wrapper {
      display: flex;
      flex-direction: column;
      .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        // align-items: center;
        margin: 1em 0;
        .label {
          margin: .25em 0 0 0;
          font-size: 14px;
          color: $light-black;
        }
        .input-box {
          margin: 0 0 0 1em;
          width: 100%;
          input {
            border: solid $input-border 1px;
            // background: $white-primary 0% 0% no-repeat padding-box;
            // box-shadow: $shadow-light-black;
            border-radius: 0px;
            height: 28px;
            display: flex;
            width: 100%;
            align-items: center;
            color: $light-black;
            font-size: 14px;
            padding: 4px 8px;
            outline: none;
            width: 100%;
          }
          .validation {
            color: $red;
            font-size: 12px;
            font-weight: 200;
          }
        }
      }
    }
    .button-wrapper {
      display: flex;
      margin: 3em 0 0 0em;
      justify-content: center;
      text-align: center;
      button:nth-of-type(1) {
        width: 110px;
        height: 30px;
        background: $light-blue 0% 0% no-repeat padding-box;
        box-shadow: $shadow-light-black-1;
        border-radius: 8px;
        font-weight: 200;
        font-size: 14px;
        color: $white;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button:nth-of-type(2) {
        width: 110px;
        height: 30px;
        margin-left: 30px;
        border-radius: 8px;
        border: 1px solid $blue-1;
        font-weight: 200;
        font-size: 14px;
        color: $blue-1;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
