<div class="subhtxt">Skills
    <span class="sort" matTooltip="Sort Skills" (click)="sorting(indexNum + 1)" name="fieldName" ngDefaultControl
        [(ngModel)]="indexNum">
        <mat-icon   *ngIf="indexNum == 1" [ngClass]="{'bothbtn' : indexNum == 0 }">
            arrow_downward
       </mat-icon>
       <mat-icon   *ngIf="indexNum == 2" [ngClass]="{'bothbtn' : indexNum == 0 }">
           arrow_upward
           </mat-icon>
    </span>
</div>
<div class="barChartCenter">
    <ngx-charts-bar-horizontal
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [xScaleMax]="100"
    [barPadding]="barPadding"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [xAxisTicks]="yAxisTicks"
    [showDataLabel]="true"
    [trimYAxisTicks]="false"
    [showGridLines]="true"
    [animations]="false"
    [roundEdges]="false"
    (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
</div>
