@import "../../themes/themes.scss";


.headerShadow {
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2) !important;
}
mat-toolbar {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  background: linear-gradient(to right,#fff 14%,#fc0 20%) !important;
  margin-bottom: 3px;
  box-shadow: $header-shadow;
  display: flex;
  justify-content: space-between;
  // position: sticky !important;
  // position: -webkit-sticky !important;
  // top: 0 !important;
  // z-index: 99999 !important;
}

.header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  &.open {

    &:before {
      width: 235px;
    }
  }
  &:before {
    content: ' ';
    position: absolute;
    width: 64px;
    height: 4px;
    background-color: #f1f1f1;
    bottom: -4px;
    left: 0;
    box-shadow: 1px 5px 5px #0003 !important;
  }

  img {
    height: 45px;
  }
  .title {
    margin-right: 15px;
    font-size: 16px;
  }
  .logout {
    cursor: pointer;
    color: $black;
    img {
      height: 22px;
    }
  }

}
.rightlog {
  display: flex;
    align-items: center;
}

