@import "../../themes/themes.scss";


.headerShadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2) !important;
}
mat-toolbar {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  background: #ffffff;
  margin-bottom: 0;
  box-shadow: $header-shadow;
  display: flex;
  justify-content: space-between;
  z-index: 9;
  // position: sticky !important;
  // position: -webkit-sticky !important;
  // top: 0 !important;
  // z-index: 99999 !important;
}

.header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  // &:before {
  //   content: ' ';
  //   visibility: hidden;
  //   position: absolute;
  //   width: 64px;
  //   height: 4px;
  //   background-color: #f1f1f1;
  //   bottom: -4px;
  //   left: 0;
  //   box-shadow: 1px 5px 5px #0003 !important;
  // }

  img {
    height: 100%;
    width: 100%;
  }
  .img-wrapper {
    height: 45px;
  }
  .title {
    margin-right: 15px;
    font-size: 16px;
  }
  .logout {
    cursor: pointer;
    color: $black;
    img {
      height: 22px;
    }
  }

}
.rightlog {
  display: flex;
  align-items: center;
  font-weight: 400;
}

