<mat-toolbar>
    <ul (click)="goToHome()">
      <li>
        <img src="assets/images/iGGnite_SVG.png" width="125px" height="40px" alt="">
      </li>
      <!-- <li>
        <div> Unified Digital</div>
        <div>Assessment Platform </div>
      </li> -->
    </ul>
    <ul>
      <!-- <li>
          <span matTooltip="Home">
              <img src="assets/images/015-home-icon-silhouette.svg" alt="">
            </span>
        </li>
      <li>
        <span matTooltip="Notifications">
            <img src="assets/images/Iconionic-ios-notifications.svg" alt="">
        </span>
      </li> -->
      <li style="cursor: auto !important;">
        <span style="font-size: 16px;">
           {{username ? 'Welcome ' + username : ''}}
        </span>
      </li>
      <li (click)="logOut()">
          <span matTooltip="Logout">
            <img src="assets/images/logout.svg" alt="">
          </span>
        </li>
      </ul>
  </mat-toolbar>
