@import '../../themes/themes.scss';
* {
  margin: 0;
}
.modal-wrapper {
  background: $secondary;
  color: $white;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  .img {
    text-align: center;
    img {
      background-color: red;
      border-radius: 50%;
    }
  }
  .head {
    margin: .5em 0;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
  }
  .confirmation-text {
    // color: $primary;
    font-size: 16px;
    font-weight: 200;
    margin: .5em 0;
  }
  .button-wrappers {
    margin: 1em 0em;
    text-align: center;
    button {
      min-width: 90px;
      color: $light-black;
      font-size: 16px;
      outline: none;
    }
    .delete-cancel {
      background: $white 0% 0% no-repeat padding-box;
    }
    .delete-confirm {
      color: white;
      background: red 0% 0% no-repeat padding-box;
      margin: 0 0 0 1em;
    }
    .add-cancel {
      background: $primary 0% 0% no-repeat padding-box;
    }
    .add-confirm {
      background: $light-blue 0% 0% no-repeat padding-box;
      margin: 0 0 0 1em;
    }
    .update-cancel {
      background: $primary 0% 0% no-repeat padding-box;
    }
    .update-confirm {
      background: $light-blue 0% 0% no-repeat padding-box;
      margin: 0 0 0 1em;
    }

    .ok {
      background: $blue-2 0% 0% no-repeat padding-box;
    }
  }
}
