<div id="top"></div>
<div class="joining-personal-wrapper">
    <h5>
        Upload Documents
    </h5>

    <div class="grids-wrapper">
        <div class="uploadForm">
            <h5 style="margin: 5em 0em; width: 100%; text-align: center;">In Progress</h5>
            <div class="downloadable-wrapper">
                <div>
                    <!-- Pdf -->
                </div>
            </div>




            
            <div class="row-wrapper justify-content-between align-items-center mt-5 mb-3 footer">
                <div (click)="routeNext('education')"
                    class="d-flex align-content-center align-items-center position-relative" style="cursor: pointer;">
                    <div class="left-arrow position-absolute"></div>
                    <div class="sections left-space">
                        <div class="label">Previous Section</div>
                        <div class="value">Education Details</div>
                    </div>
                </div>
                <button class="submit joining-form-submit mt-1 animation-zoom no-flickr" mat-raised-button type="button" (click)="formSubmit()">Save &
                    Continue</button>
                <div (click)="routeNext('preview')"
                    class="d-flex align-content-center align-items-center text-right position-relative pointer"
                    style="cursor: pointer;">
                    <div class="right-arrow position-absolute"></div>
                    <div class="sections right-space">
                        <div class="label">Next Section</div>
                        <div class="value">Preview Details</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="photo-wrapper">
        </div>
    </div>

</div>