<div class="vertical-wrapper">
  <div *ngIf="chartjsChartOptions?.headingTitle" class="heading-title"><span>{{chartjsChartOptions?.headingTitle}}</span></div>
<div class="card-content-wrapper">
  <div class="horizontal-chart">
    <div *ngIf="chartjsChartOptions?.headingSubTitle" class="headingTitleSub"> <span>Assigned to Panel</span> <span>{{chartjsChartOptions?.headingSubTitle}}</span></div>
    <div class="chart-wrapper">
    <canvas baseChart
    [datasets]="chartjsChartOptions?.barChartData"
    [labels]="chartjsChartOptions?.ChartLabels"
    [options]="chartjsChartOptions?.chartOptions"
    [plugins]="chartjsChartOptions?.barChartPlugins"
    [chartType]="chartjsChartOptions?.barChartType">
  </canvas>
</div>

  <div class="legend-wrapper">
    <div class="legend">
      <div class="value"> <span class="background green"></span> <span class="pl-2 val">30</span> </div>
      <div class="label">Selected</div>
    </div>
    <div class="legend">
      <div class="value"> <span class="background lgreen"></span> <span class="pl-2 val">30</span> </div>
      <div class="label">Not Selected</div>
    </div>
    <div class="legend">
      <div class="value"> <span class="background blue"></span> <span class="pl-2 val">30</span> </div>
      <div class="label">Request for Reschedule</div>
    </div>
    <div class="legend">
      <div class="value"> <span class="background lblue"></span> <span class="pl-2 val">30</span> </div>
      <div class="label">No Show</div>
    </div>
    <div class="legend">
      <div class="value"> <span class="background feedback"></span> <span class="pl-2 val">30</span> </div>
      <div class="label">Awaiting Feedback</div>
    </div>

  </div>

</div>
</div>
</div>
