<div class="addIC-wrapper">

    <form [formGroup]="addIcForm" class="forms d-flex flex-column justify-content-center align-items-center mt-3" (ngSubmit)="submitaddIC()">
        <div class="form-field d-flex mb-3">
            <label class="label-name">
                Business<span class="asterick">*</span>
            </label>
            <div class="input-wrapper">
                <mat-form-field class="mat-form-field-input-box mat-select-custom" appearance="none">
                    <mat-select formControlName="icName" [matTooltip]="icName?.value?.length > 50 ? icName?.value : ''" placeholder="Select business" required>
                      <mat-option *ngFor="let ic of icLists" matTooltipPosition="left" [matTooltip]="ic?.company_name?.length > 50 ? ic?.company_name : ''" [value]="ic.company_id">
                        {{ic.company_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <div class="error" *ngIf="icName.invalid && icName.touched">
                    <span *ngIf="icName.errors?.required">Business is Required</span>
                </div>
            </div>
        </div>
        <ng-container formArrayName="addUser">
            <div *ngFor="let add of addUser?.controls; index as i">
                <ng-container [formGroupName]="i">
        <div class="form-field d-flex mb-1">
            <label class="label-name" [ngClass]="i == 0 ? '' : 'hidden'">
                Name<span class="asterick">*</span>
            </label>
            <div class="input-wrapper">
                <input class="mat-form-field-input-box" [placeholder]="'Enter name - ' + (i + 1)" matInput formControlName="userName" type="text" required>
                <div class="error" *ngIf="addUser.controls[i].get('userName').invalid && addUser.controls[i].get('userName').touched">
                    <span *ngIf="addUser.controls[i].get('userName').errors?.required">Name is Required</span>
                    <span *ngIf="addUser.controls[i].get('userName').errors?.pattern">Alphanumeric characters only allowed and maximum character length is 255.</span>
                </div>
            </div>
            <div class="add-field">
                <span *ngIf="(addUser?.controls?.length - 1 == i || addUser?.controls?.length == 1) && addUser?.controls?.length <= 10" (click)="addUsers()" style="cursor: pointer;" class="icon-AddUser icon-20 mr-2"></span>
                <span *ngIf="addUser?.controls?.length != 1" (click)="removeUser(i)" style="cursor: pointer;" class="icon-close_black icon-24"></span>
            </div>
        </div>
        <div class="form-field d-flex mb-3">
            <label class="label-name" [ngClass]="i == 0 ? '' : 'hidden'">
                Email ID<span class="asterick">*</span>
            </label>
            <div class="input-wrapper">
                <input class="mat-form-field-input-box" [placeholder]="'Enter email id - ' + (i + 1)" matInput formControlName="email" type="text" required>
                <div class="error" *ngIf="addUser.controls[i].get('email').invalid && addUser.controls[i].get('email').touched">
                    <span *ngIf="addUser.controls[i].get('email').errors?.required">Email is Required</span>
                    <span *ngIf="addUser.controls[i].get('email').errors?.pattern">Please enter a valid Email id</span>
                </div>
            </div>
        </div>
                </ng-container>
    </div>
    </ng-container>
        <div style="margin-left: 6em;" class="button-wrapper d-flex mt-4">
            <button class="common-cancel-button common-button-height-33" (click)="cancel()" mat-raised-button
                type="button">Cancel</button>
            <button class="common-button common-button-height-35 ml-3" mat-raised-button type="submit">Save</button>
        </div>


    </form>

</div>
