@import '../../../themes/themes.scss';
.addIC-wrapper {
    height: 100%;
    color: $light-black;
    .forms {
        .form-field {
            min-width: 380px;
            .label-name {
                min-width: 120px;
                font-size: 15px;
            }
            .input-wrapper {
                width: 100%;
            }
        }
    }
}
input.ng-touched.ng-invalid {
    border: solid $red 1px;
}
.error {
    color: $red;
    font-size: 12px;
    text-align: left;
    max-width: 250px;
  }

.add-field {
    position: relative;
    left: 10px;
    width: 0px;
    top: 40px;
    display: flex;
}
.hidden {
    visibility: hidden;
}

.mat-form-field-input-box {
  border: solid $input-border 1px;
  margin: 0;
  width: 120%;
  padding: .15em .5em;
  font-size: 15px;
  color: $light-black;
  vertical-align: middle;
  outline: none;
  // background: $white-primary;
  display: flex;
  box-sizing: border-box;
  min-height: 32px;
}
