<div class="modal-wrapper">
  <div class="confirmation-text">
    {{data.dataToBeShared.confirmText ? data.dataToBeShared.confirmText : ''}}
  </div>
  <div class="button-wrappers">

    <!-- Type Delete Buttons -->
    <button *ngIf="data.showCancel && data.dataToBeShared.type === 'delete'" (click)="cancel(data.dataToBeShared)" mat-raised-button
      class="delete-cancel" type="button">{{data.showCancel}}</button>
    <button *ngIf="data.showConfirm && data.dataToBeShared.type === 'delete'" (click)="submit(data.dataToBeShared)" mat-raised-button
      class="delete-confirm" type="button">{{data.showConfirm}}</button>

      <!-- Type Add Buttons -->
    <button *ngIf="data.showCancel && data.dataToBeShared.type === 'add'" (click)="cancel(data.dataToBeShared)" mat-raised-button
      class="add-cancel" type="button">{{data.showCancel}}</button>
      <button *ngIf="data.showConfirm && data.dataToBeShared.type === 'add'" (click)="submit(data.dataToBeShared)" mat-raised-button
      class="add-confirm" type="button">{{data.showConfirm}}</button>

    <button *ngIf="data.showOk" (click)="ok()" mat-raised-button class="ok" type="button">{{data.showConfirm}}</button>
  </div>
</div>
