@import "../../themes/themes.scss";
* {
  margin: 0;
}
.video {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px 16px 16px;
  // justify-content: center;
  box-sizing: border-box;
  align-items: center;
  .header {
    color: $black;
    font-size: 14px;
    padding-bottom: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  vg-player {
    // min-width: 800px;
    width: 100%;
    min-height: 400px;
    max-height: 400px;
  }
  vg-controls {
    background-color: #130e42 !important;
  }
}
.modal-wrapper {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  .confirmation-text {
    color: $light-black;
    font-size: 15px;
    font-weight: 200;
    margin: 0em 0 0.5em 0;
  }
  .button-wrappers {
    margin: 1em 0em 0em -1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // button {
    //   min-width: 90px;
    //   // color: $white;
    //   font-size: 16px;
    //   outline: none;
    // }
    // .delete-cancel {
    //   background: $blue-2 0% 0% no-repeat padding-box;
    // }
    // .delete-confirm {
    //   background: $red-1 0% 0% no-repeat padding-box;
    //   margin: 0 0 0 1em;
    // }
    // .add-cancel {
    //   background: $primary 0% 0% no-repeat padding-box;
    // }
    // .add-confirm {
    //   background: $light-blue 0% 0% no-repeat padding-box;
    //   margin: 0 0 0 1em;
    // }
    // .update-cancel {
    //   background: $primary 0% 0% no-repeat padding-box;
    // }
    // .update-confirm {
    //   background: $light-blue 0% 0% no-repeat padding-box;
    //   margin: 0 0 0 1em;
    // }

    .ok {
      background: $blue-2 0% 0% no-repeat padding-box;
    }
  }
}

.wrapper-kyc-terms {
  // width: 800px;
  .header {
    padding: 1em 0.5em;
    background: $primary-yellow;
    .text {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .main-text {
    padding: 2em;
    .text {
      margin: 1em 0 0 0;
    }
    .bold {
      font-weight: 700 !important;
    }
    .no-top {
      margin: 0;
    }
    .button-wrappers {
      margin: 2em 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
