@import '../../themes/themes.scss';
* {
  margin: 0;
}
.modal-wrapper {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  .confirmation-text {
    color: $light-black;
    font-size: 15px;
    font-weight: 200;
    margin: 0em 0 0.5em 0;
  }
  .button-wrappers {
    margin: 1em 0em 0em -1em;
    text-align: center;
    display: flex;
    justify-content: center;
      align-items: center;
    // button {
    //   min-width: 90px;
    //   // color: $white;
    //   font-size: 16px;
    //   outline: none;
    // }
    // .delete-cancel {
    //   background: $blue-2 0% 0% no-repeat padding-box;
    // }
    // .delete-confirm {
    //   background: $red-1 0% 0% no-repeat padding-box;
    //   margin: 0 0 0 1em;
    // }
    // .add-cancel {
    //   background: $primary 0% 0% no-repeat padding-box;
    // }
    // .add-confirm {
    //   background: $light-blue 0% 0% no-repeat padding-box;
    //   margin: 0 0 0 1em;
    // }
    // .update-cancel {
    //   background: $primary 0% 0% no-repeat padding-box;
    // }
    // .update-confirm {
    //   background: $light-blue 0% 0% no-repeat padding-box;
    //   margin: 0 0 0 1em;
    // }

    .ok {
      background: $blue-2 0% 0% no-repeat padding-box;
    }
  }
}
