<div class="misc-college-wrapper">
    <div class="form-wrapper">
      <div class="div-wrapper">
        <label class="label">Candidate Email</label>
        <div class="input-wrapper">
            <input
              matInput
              type="text"
              [formControl]="candidateEmail"
              placeholder="Enter Candidate Email"
              name=""
              id="candidate_email"
            />
            <ng-container *ngIf="candidateEmail.touched && candidateEmail.invalid">
              <div *ngIf="candidateEmail?.errors?.required" class="mat-error">Candidate Email Required</div>
              <div *ngIf="candidateEmail?.errors?.email" class="mat-error">Please Enter Vaild Email Id</div>
            </ng-container>
          </div>
          <button 
            #submitref
            type="button"
            (click)="candidateEmailSubmit(!buttonLabel ? 'Reset' : 'Submit'); buttonLabel = !buttonLabel"
            [disabled]="candidateEmail.invalid"
            class="submit-btn"
            mat-button
          >
            {{!buttonLabel ? 'Reset' : 'Submit'}}
          </button>
        </div>
      <div class="div-wrapper">
        <label class="label">Candidate Name</label>
        <div class="input-wrapper">
          <input
            matInput
            type="text"
            [formControl]="candidateName"
            placeholder="Enter Candidate Name"
            name=""
            id="candidate_name"
          />
          <ng-container *ngIf="candidateName.touched && candidateName.invalid">
            <div *ngIf="candidateName?.errors?.required" class="mat-error">Candidate Name Required</div>
            <div *ngIf="candidateName?.errors?.alphaNum100" class="mat-error">Alpha numeric with maximum of 100 characters only allowed</div>
          </ng-container>
        </div>
        <button
          [disabled]="candidateEmail.disabled && candidateName.valid ? false : true"
          type="button"
          (click)="candidateUpdatedNameSubmit()"
          class="submit-btn"
          mat-button
        >
          Change
        </button>
      </div>
    </div>

    <div *ngIf="candidateViewDetails.email && candidateViewDetails.old_name && candidateViewDetails.updated_name" class="changed-data">
      <h5 class="mb-2">Changed Data</h5>
      <table class="name-update-table">
        <thead>
          <tr>
            <th>Old Name</th>
            <th>Email</th>
            <th>Updated Name</th>
          </tr>  
        </thead>
        <tbody>
          <tr>
            <td>{{candidateViewDetails?.old_name}}</td>
            <td>{{candidateViewDetails?.email}}</td>
            <td>{{candidateViewDetails?.updated_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
  