@import "../../../themes/themes.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

.alert {
  color: $primary-red;
  font-size: 14px;
  padding: 0 !important;
}

nz-select,nz-month-picker,
input {
  width: 100%;
  font-size: 14px;
  padding: 0 4px;
  color: $secondary;
  border: .8px solid $input-border;
  border-radius: 2px;
  background: $white;
  display: flex !important;
  box-sizing: border-box;
  min-height: 35px !important;
  max-height: 35px !important;
  line-height: 35px;
  outline: none;
  font-weight: 200;
}
input:focus,input:hover {
  border: 1px solid $primary-red;
}
nz-select:focus,nz-select:hover {
  border: 1px solid $primary-red;
}
nz-month-picker:focus,nz-month-picker:hover {
  border: 1px solid $primary-red;
}

.error {
  color: $primary-red;
  font-size: 12px;
  font-weight: 200;
}

.flex-column-wrapper {
  min-width: 300px;
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
  flex-direction: column;
}

.label {
  margin: 0 1em 0 0em;
  color: $light-black;
  font-weight: 200;
  font-size: 14px;
  white-space: nowrap;
}

.mainwrapper {
  margin: 1em 0 0 0;
  padding: 0em 2em 2em 1em;

  .header {
    font-weight: 600;
    font-size: 18px;
    color: $light-black;
    margin: 0em 0 0.5em 0em;
  }
  form {
    .grid-wrapper {
      display: grid;
      grid-template-columns: 9fr 1fr;
      // justify-content: space-between;
      align-items: center;
      .form {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 1em;
        // align-items: center;
        justify-content: space-between;
        background: $white-primary !important;
        border-radius: 5px;
        box-shadow: $shadow-light-black;
        .form-wrapper {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .remove-wrapper {
        width: 100%;
        position: relative;
        .remove {
            position: absolute;
            cursor: pointer;
            left: 50%;
            top: 20%;
            height: 24px;
            transform: translate(-50%, -20%);
            i {
                color: $primary-red;
            }
            i:hover {
                color: white;
                background-color: $primary-red;
                border-radius: 50%;
            }
        }
    }

    }
  }
  .submit-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.hide {
  display: none !important;
}
input:disabled,.disabled-1 {
  background: rgba(128, 128, 128, 0.315) !important;
  height: 35px;
  cursor: not-allowed;
}

.add-button {
  color: $primary-red;
  border: 1px dashed #BEBEBE;
  height: 35px;
  width: 100px;
  margin-left: 1em;
}
.add-button:hover {
  background-color: $primary-red;
  color: white;
  transition: background-color 580ms linear;
}



:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $primary-red !important;
}
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $primary-red !important;
}
:host ::ng-deep .mat-radio-outer-circle {
  border-color: $primary-red !important;
}


// Ant select drop down css
// :host ::ng-deep .ant-select-selection {
//   border: solid .8px #BEBEBE !important;
//   height: 35px !important;
//   padding: 4px 8px;
//   border-radius: 0px !important;
// }

// :host ::ng-deep .ant-select-selection:hover,:host ::ng-deep .ant-select-selection:focus,:host ::ng-deep .ant-select-selection:active{
//   border: solid $primary-red 1px !important;
//   border-radius: 0px !important;
//   z-index: 0 !important;
//   box-shadow: none !important;
// }


:host ::ng-deep .ant-select-selection__placeholder, :host ::ng-deep .ant-select-search__field__placeholder {
  color: #A5A5A5 !important;
  font-size: 14px !important;
}

::placeholder {
  color: #A5A5A5 !important;
  opacity: 1 !important;
  font-size: 14px;
}

:host ::ng-deep .ant-select-selection__rendered {
  position: relative;
  display: block;
  margin-right: 0 !important;
  margin-left: 0 !important;
  line-height: 35px !important;
}

:host ::ng-deep .ant-select-arrow {
  right: 0 !important;
  padding: 0 8px !important;
}

:host ::ng-deep .ant-select-selection__clear {
  right: 18px !important;
  margin-top: -7px !important;
}
:host ::ng-deep .anticon.ant-select-arrow-icon::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  margin-top: 0.25em;
  border-top: 0.5em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  color: #666666;
  opacity: 0.9;
  border: solid #A5A5A5 !important;
  border-width: 0 1px 1px 0 !important;
  display: inline-block !important;
  padding: 3px !important;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
  margin-top: 1px !important;
}

::ng-deep .ant-select-dropdown-menu-item:first-child, ::ng-deep .ant-select-dropdown-menu-item:last-child {
  border: none !important;
  border-radius: 0px !important;
}

::ng-deep .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #eaeaea !important;
}

::ng-deep .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: rgb(211, 211, 211, .7) !important;
}

:host ::ng-deep .ant-select-dropdown {
  border: 1px solid #BEBEBE !important;
}

:host ::ng-deep .ant-select-selection-selected-value {
  padding-right: 16px !important;
}

// Ant Select dropdown css close
//mat-checkbox start
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $primary-red !important;
}
:host ::ng-deep {
  .ant-calendar-picker-input {
    line-height: 35px;
    height: 35px;
    padding: 0;
    font-size: 14px;
  }
}

mat-datepicker-toggle {
    width: 35px !important;
    height: 35px !important;
    display: flex !important;
    align-items: center !important;
    border: 0.8px solid #bebebe !important;
    border-left: none !important;
    justify-content: center !important;
}
