<div class="mainwrapper">
  <div class="header">
    <div class="grid-wrapper">
      <form [formGroup]="educationForm">
        <div class="form-wrapper">
          <div class="input-box">
            <nz-select nzAllowClear nzShowSearch formControlName="leveling" nzPlaceHolder="Level">
              <nz-option *ngFor="let level of level" [nzLabel]="level.name" [nzValue]="level.value"></nz-option>
            </nz-select>
          </div>
          <div class="input-box width-300">
            <nz-select formControlName="board" nzAllowClear nzShowSearch nzPlaceHolder="Board/University">
              <nz-option *ngFor="let level of level" [nzLabel]="level.name" [nzValue]="level.value"></nz-option>
            </nz-select>
          </div>
          <div class="input-box width-300">
            <nz-select formControlName="institute" nzAllowClear nzShowSearch nzPlaceHolder="Institute">
              <nz-option *ngFor="let level of level" [nzLabel]="level.name" [nzValue]="level.value"></nz-option>
            </nz-select>
          </div>

          <div class="input-box">
            <nz-select formControlName="discipline" nzAllowClear nzShowSearch nzPlaceHolder="Discipline">
              <nz-option *ngFor="let level of level" [nzLabel]="level.name" [nzValue]="level.value"></nz-option>
            </nz-select>
          </div>

          <div class="input-box">
            <nz-select formControlName="specification" nzAllowClear nzShowSearch nzPlaceHolder="Specification">
              <nz-option *ngFor="let level of level" [nzLabel]="level.name" [nzValue]="level.value"></nz-option>
            </nz-select>
          </div>
          <div class="input-box">
            <!-- <input placeholder="Year of passing" formControlName="passedYear" type="text" value=""> -->
            <nz-month-picker [nzDisabledDate]="disabledYears" [nzFormat]="monthFormat" nzPlaceHolder="Year of passing"></nz-month-picker>
          </div>
          <div class="input-box">
            <input placeholder="Percentage" formControlName="percentage" type="text" value="">
          </div>

        </div>
      </form>



      <div class="add-remove-wrapper">
        <div class="add-button">
          <img src="assets/images/interface.svg" width="25px" height="25px" alt="">
          <span>Add</span>
        </div>
        <div class="or-text">
          Or
        </div>
        <div class="remove-button">
          <div>
            <i class="material-icons">close</i>
          </div>
          <span>Remove</span>
        </div>

      </div>
    </div>
  </div>
</div>
