<div class="mainwrapper">
  <!-- <div class="legend">*All fields are mandatory</div> -->
  <div class="header">
    <form #form="ngForm" [formGroup]="educationForm">
      <ng-container *ngIf="eduArr && eduArr.controls" formArrayName="educationArr">
        <div class="grid-wrapper" *ngFor="let item of eduArr.controls; let i = index;" [formGroupName]="i">
          <div style="margin: 1em 0 0 0;" class="form">
            <div class="form-wrapper">
              <div class="outer-box-wrapper">
                <div class="label-wrapper">
                  <div class="label">
                    <label>Level<span class="asterick">*</span></label>
                  </div>
                  <div [matTooltip]="i == 0 ? 'SSLC is mandatory' : ''" class="input-box">
                    <!-- <input (focusout)="detectInput(educationForm)" placeholder="Level" formControlName="leveling"
                      type="text" value=""> -->
                    <nz-select [ngClass]="i == 0 ? 'disabled' : ''" (ngModelChange)="detectSelectChanges()" nzAllowClear
                      nzShowSearch formControlName="leveling" nzPlaceHolder="Level">
                      <nz-option *ngFor="let level of levelList; let j =index"
                        [nzDisabled]="level.education === 'SSLC' ? true : false" [nzLabel]="level.education"
                        [nzValue]="level.education"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <!-- eduArr.controls[i].get('age') -->
                <div class="error"
                  *ngIf="eduArr.controls[i].get('leveling').invalid && eduArr.controls[i].get('leveling').touched">
                  <span *ngIf="eduArr.controls[i].get('leveling').errors?.required">Level is Required</span>
                </div>
              </div>
              <ng-container>
                <div class="outer-box-wrapper">
                  <div class="label-wrapper">
                    <div class="label">
                      <label>Board/University<span
                          *ngIf="(eduArr.controls[i].get('leveling').value != 'Diploma') && (eduArr.controls[i].get('leveling').value != 'UG') && (eduArr.controls[i].get('leveling').value != 'PG')"
                          class="asterick">*</span></label>
                    </div>
                    <div class="input-box width-300"
                      [ngClass]="!eduArr.controls[i].get('leveling').value ? 'disabled-1' : ''">
                      <input
                        *ngIf="(eduArr.controls[i].get('leveling').value == 'Diploma') || (eduArr.controls[i].get('leveling').value == 'UG') || (eduArr.controls[i].get('leveling').value == 'PG')"
                        (focusout)="detectInput(educationForm)" placeholder="Board/University" formControlName="board"
                        type="text" value="">
                      <nz-select
                        *ngIf="(eduArr.controls[i].get('leveling').value == 'SSLC') || (eduArr.controls[i].get('leveling').value == 'HSC')"
                        (ngModelChange)="detectSelectChange()" formControlName="board" nzAllowClear nzShowSearch
                        nzPlaceHolder="Board/University">
                        <nz-option *ngFor="let level of boards" [nzLabel]="level.name" [nzValue]="level.name">
                        </nz-option>
                      </nz-select>
                    </div>
                  </div>
                  <div class="error"
                    *ngIf="eduArr.controls[i].get('board').invalid && eduArr.controls[i].get('board').touched">
                    <span *ngIf="eduArr.controls[i].get('board').errors?.required">Board/University is Required</span>
                    <span *ngIf="eduArr.controls[i].get('board').errors?.pattern">Accept only Alphanumeric characters
                      and maximum of 255 characters only allowed</span>
                  </div>
                </div>
                <div class="outer-box-wrapper">
                  <div class="label-wrapper">
                    <div class="label">
                      <label>Institute<span class="asterick">*</span></label>
                    </div>
                    <div class="input-box width-300">
                      <input
                        *ngIf="(eduArr.controls[i].get('leveling').value == 'SSLC' || eduArr.controls[i].get('leveling').value == 'HSC')"
                        (focusout)="detectInput(educationForm)" placeholder="Institute" formControlName="institute"
                        type="text" value="">
                      <nz-select
                        *ngIf="(eduArr.controls[i].get('leveling').value != 'SSLC' && eduArr.controls[i].get('leveling').value != 'HSC')"
                        (ngModelChange)="detectSelectChange()" formControlName="institute" nzAllowClear nzShowSearch
                        nzPlaceHolder="Institute">
                        <ng-container *ngIf="(eduArr.controls[i].get('leveling').value != 'Diploma')">
                          <nz-option *ngFor="let level of pgColleges" [nzLabel]="level.college_name"
                            [nzValue]="level.college_name">
                          </nz-option>
                        </ng-container>
                        <ng-container *ngIf="(eduArr.controls[i].get('leveling').value == 'Diploma')">
                          <nz-option *ngFor="let level of DiplamoList" [nzLabel]="level.diploma_college"
                            [nzValue]="level.diploma_college">
                          </nz-option>
                        </ng-container>
                      </nz-select>
                    </div>
                  </div>
                  <div class="error"
                    *ngIf="eduArr.controls[i].get('institute').invalid && eduArr.controls[i].get('institute').touched">
                    <span *ngIf="eduArr.controls[i].get('institute').errors?.required">Institute is Required</span>
                  </div>

                </div>
                <div [ngClass]="i == 0 ? 'hide' : ''" class="outer-box-wrapper">
                  <div class="label-wrapper">
                    <div class="label">
                      <label>Discipline<span class="asterick">*</span></label>
                    </div>

                    <div class="input-box">
                      <!-- <input (focusout)="detectInput(educationForm)" placeholder="Discipline" formControlName="discipline"
                    type="text" value=""> -->
                      <nz-select (ngModelChange)="detectSelectChange()" formControlName="discipline" nzAllowClear
                        nzShowSearch nzPlaceHolder="Discipline">
                        <!-- <nz-option nzLabel="Other" nzValue="Other">Other</nz-option> -->
                        <ng-container
                          *ngIf="(eduArr.controls[i].get('leveling').value != 'HSC' && eduArr.controls[i].get('leveling').value != 'Diploma' && eduArr.controls[i].get('leveling').value != 'UG')">
                          <nz-option *ngFor="let level of pgDisciplines" [nzLabel]="level.pg_discipline"
                            [nzValue]="level.pg_discipline">
                          </nz-option>
                        </ng-container>
                        <ng-container *ngIf="(eduArr.controls[i].get('leveling').value == 'HSC')">
                          <nz-option *ngFor="let level of HSCDiscipline" [nzLabel]="level.name" [nzValue]="level.value">
                          </nz-option>
                        </ng-container>
                        <ng-container *ngIf="(eduArr.controls[i].get('leveling').value == 'Diploma')">
                          <nz-option *ngFor="let level of diplamoDiscipline" [nzLabel]="level.diploma_discipline"
                            [nzValue]="level.diploma_discipline">
                          </nz-option>
                        </ng-container>
                        <ng-container *ngIf="(eduArr.controls[i].get('leveling').value == 'UG')">
                          <nz-option *ngFor="let level of ugDisciplines" [nzLabel]="level.ug_descipline"
                            [nzValue]="level.ug_descipline">
                          </nz-option>
                        </ng-container>

                      </nz-select>
                    </div>
                  </div>
                  <div class="error"
                    *ngIf="eduArr.controls[i].get('discipline').invalid && eduArr.controls[i].get('discipline').touched">
                    <span *ngIf="eduArr.controls[i].get('discipline').errors?.required">Discipline is Required</span>
                  </div>

                </div>
                <div [ngClass]="i == 0 ? 'hide' : ''" class="outer-box-wrapper">
                  <div class="label-wrapper">
                    <div class="label">
                      <label>Specialization
                        <span
                          *ngIf="(eduArr.controls[i].get('leveling').value != 'HSC') && (eduArr.controls[i].get('leveling').value != 'Diploma')"
                          class="asterick">*</span></label>
                    </div>

                    <div class="input-box">
                      <input
                        *ngIf="(eduArr.controls[i].get('leveling').value == 'HSC' || eduArr.controls[i].get('leveling').value == 'Diploma')"
                        (focusout)="detectInput(educationForm)" placeholder="Specialization"
                        formControlName="specification" type="text" value="">
                      <nz-select
                        *ngIf="(eduArr.controls[i].get('leveling').value != 'HSC' && eduArr.controls[i].get('leveling').value != 'Diploma')"
                        (ngModelChange)="detectSelectChange()" formControlName="specification" nzAllowClear nzShowSearch
                        nzPlaceHolder="Specification">
                        <ng-container *ngIf="(eduArr.controls[i].get('leveling').value == 'PG')">
                          <nz-option *ngFor="let level of pgSpecialization" [nzLabel]="level.pg_specification"
                            [nzValue]="level.pg_specification">
                          </nz-option>
                        </ng-container>
                        <ng-container *ngIf="(eduArr.controls[i].get('leveling').value != 'PG')">
                          <nz-option *ngFor="let level of ugSpecialization" [nzLabel]="level.ug_specification"
                            [nzValue]="level.ug_specification">
                          </nz-option>
                        </ng-container>

                      </nz-select>
                    </div>
                  </div>
                  <div class="error"
                    *ngIf="eduArr.controls[i].get('specification').invalid && eduArr.controls[i].get('specification').touched">
                    <span *ngIf="eduArr.controls[i].get('specification').errors?.required">Specialization is
                      Required</span>
                  </div>

                </div>
                <div class="outer-box-wrapper">
                  <div class="label-wrapper">
                    <div class="label">
                      <label>Year of Passing<span class="asterick">*</span></label>
                    </div>

                    <div class="input-box">
                      <nz-month-picker (ngModelChange)="detectSelectChange()" formControlName="passedYear"
                        [nzDisabledDate]="disabledprevious" [nzFormat]="monthFormat" nzPlaceHolder="Date of passing">
                      </nz-month-picker>
                    </div>
                  </div>
                  <div class="error"
                    *ngIf="eduArr.controls[i].get('passedYear').invalid && eduArr.controls[i].get('passedYear').touched">
                    <span *ngIf="eduArr.controls[i].get('passedYear').errors?.required">Date of passing is
                      Required</span>
                  </div>

                </div>
                <div class="outer-box-wrapper">
                  <div class="label-wrapper">
                    <div class="label">
                      <label>No. of Backlogs (If any)</label>
                    </div>

                    <div class="input-box">
                      <input (focusout)="detectInput(educationForm)" placeholder="Backlogs" formControlName="backlogs"
                        type="text" value="">
                    </div>
                  </div>
                  <div class="error"
                    *ngIf="eduArr.controls[i].get('backlogs').invalid && eduArr.controls[i].get('backlogs').touched">
                    <span *ngIf="eduArr.controls[i].get('backlogs').errors?.pattern">Accept Numbers only and Maximum of
                      2 digits only Allowed</span>
                  </div>

                </div>

                <div class="outer-box-wrapper">
                  <div class="label-wrapper">
                    <div class="label">
                      <label>Percentage<span class="asterick">*</span></label>
                    </div>

                    <div class="input-box">
                      <input (focusout)="detectInput(educationForm)" placeholder="Percentage"
                        formControlName="percentage" type="text" value="">
                    </div>
                  </div>
                  <div class="error"
                    *ngIf="eduArr.controls[i].get('percentage').invalid && eduArr.controls[i].get('percentage').touched">
                    <span *ngIf="eduArr.controls[i].get('percentage').errors?.required">Percentage is Required</span>
                    <span *ngIf="eduArr.controls[i].get('percentage').errors?.pattern">Please enter a valid
                      percentage</span>
                  </div>

                </div>
              </ng-container>
            </div>
          </div>
          <div class="add-remove-wrapper">
            <ng-container
              *ngIf="((eduArr && eduArr.controls.length === 0) || (eduArr && eduArr.controls.length-1 === i)) && i < 6 ">
              <div (click)="addEducationForm()" class="add-button">
                <img src="assets/images/interface.svg" width="25px" height="25px" alt="">
                <span>Add</span>
              </div>
              <div *ngIf="eduArr.controls.length !== 1" class="or-text">
                Or
              </div>
            </ng-container>
            <ng-container *ngIf="eduArr.controls.length !== 1 && i !== 0">
              <div (click)="removeEducationForm(i)" class="remove-button">
                <div>
                  <i class="material-icons">delete</i>
                </div>
                <span>Remove</span>
              </div>
            </ng-container>
          </div>

        </div>
      </ng-container>

    </form>

    <div class="submit-button-wrapper">
      <button class="submit btn-margin-space" (click)="onSubmit(educationForm.value)" mat-raised-button
        type="submit">Save and Continue</button>

      <button class="cancel-btn" (click)="cancel()" mat-raised-button type="button">Cancel</button>

    </div>

  </div>
