<div class="headers-wrapper">
  <div class="logo">
    <img src="assets/images/iGGnite_SVG.png" width="170px" height="40px" alt="" srcset="">
    <!-- <div class="logo-txt">
      <span>Unified Digital </span>
      <span>Assessment Platform</span>
    </div> -->
  </div>
  <div class="right-wrapper">
    <div class="routes">
      <ul>
        <li [routerLink]="home">LOGIN</li>
        <li>HOME</li>
        <li>ASSESSMENT</li>
        <li>ABOUT US</li>
      </ul>
    </div>
    <!-- <div class="help-text">
      <button type="button">Login</button>
    </div> -->

  </div>
</div>
