@import "../../../styles.scss";
@import "../../themes/themes.scss";
.header-wrapper {
  height: 90px;
  background: transparent;
  padding: 2em 2em 2em 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid $white 1px;
  @include sm() {
    float: left;
    display: flex;
    white-space: pre-wrap;
  }
  .logo {
    display: inline-flex;
    color: $white;
    .logo-txt {
      font-size: 18px;
      text-align: center;
      padding: 0em 0 0 0.5em;
      font-weight: 200;
      transform: translateY(18%);
      span {
        display: block;
      }
    }
  }
  .right-wrapper {
    display: flex;
    align-items: center;
    .help-text {
      font-weight: 200 !important;
      button {
        border: 1px solid $blue;
        border-radius: 5px;
        outline: none;
        color: $white;
        font-weight: 200 !important;
        padding: 0.15em 1.25em;
        text-align: center;
        background: transparent !important;
        opacity: 1;
      }
    }
    .routes {
      ul {
        padding: 0 !important;
        display: flex;
        margin: 0 !important;
        align-items: center;
        li {
          cursor: pointer;
          outline: none;
          color: $white;
          font-size: 18px;
          @include lg() {
            margin: 0 70px 0 0;
          }
          @include md() {
            margin: 0 20px 0 0;
          }
          @include sm() {
            margin: 0 20px 0 0;
          }
          display: flex;
          flex-direction: row;
          list-style: none;
        }
      }
    }
  }
}
