<div class="scheduleVideoWrapper">
    <h2>Schedule Video Interview</h2>
    <div class="scheduleVideoTabs">
        <mat-tab-group (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="TabIndex">
            <mat-tab *ngIf="!hideForm">
                <ng-template mat-tab-label>
                    <span class="material-icons-outlined">layers</span>
                    <span>Question</span>
                </ng-template>
                <div class="tabContent questionTab">
                  <ng-container *ngIf="selectedQuestionsArray && selectedQuestionsArray.length > 0 else noQuestionsMsg">
                    <div class="scroll-wrapper mt-3" style="padding: 8px;">
                    <ng-container *ngFor="let category of selectedQuestionsArray; let j = index">
                    <h6 style="font-weight: 600;" [class]="j == 0 ? '' : 'mt-3'">{{category.categoryName}}</h6>
                    <div *ngFor="let question of category.questionDetails; let i = index" class="questionWrapper d-flex align-items-center justify-content-between">
                        <div class="questions">
                            <h5>{{question.question}}</h5>
                            <div class="d-flex justify-content-between">
                                <span><span>Updated by: </span>{{question.updatedBy ? question.updatedBy : question.createdBy ? question.createdBy : ''}}</span>
                                <span><span>Updated Date: </span>{{question.updatedAt ? momentFormDateTime(question.updatedAt) : question.createdAt ? momentFormDateTime(question.createdAt) : ''}}</span>
                                <span><span>Question Code: </span>{{question.quesCode}}</span>
                                <!-- <span><span>Question Type: </span>{{question.quesType}}</span> -->
                            </div>
                        </div>
                        <span class="delete">
                            <span (click)="remove(j, i, selectedQuestionsArray, questionList)" class="material-icons-outlined">delete</span>
                        </span>
                    </div>
                  </ng-container>
                </div>
                </ng-container>
                  <div class="addQuestion" (click)="openDialog(schedulePopup)">
                        <p><span class="material-icons-outlined">add</span> Add Questions</p>
                    </div>
                    <div class="nextBtn d-flex justify-content-center">
                        <button (click)="tabChange('1')">Next</button>
                    </div>
                </div>
            </mat-tab>

            <mat-tab *ngIf="!hideForm">
                <ng-template mat-tab-label>
                    <span class="material-icons-outlined">insert_invitation</span>
                    <span>Schedule</span>
                </ng-template>
                <div class="tabContent scheduleTab">
                    <form [formGroup]="scheduleForm">
                        <div class="title">
                            <label>Title<span class="asterick">*</span></label>
                            <input class="input" [formControlName]="'title'" matInput placeholder="Title" />
                            <div class="form-error"
                            *ngIf="title?.invalid && title?.touched">
                            <div
                                *ngIf="title.errors?.required">
                                Title is Required</div>
                            <div
                                *ngIf="title.errors?.address255">
                                Alpha numeric with maximum of 255 characters only
                                allowed</div>
                        </div>
                        </div>
                        <div class="description">
                            <label>Description<span class="asterick">*</span></label>
                            <textarea class="input text-area" matInput [formControlName]="'description'" placeholder="Description"></textarea>
                            <div class="form-error"
                            *ngIf="description?.invalid && description?.touched">
                            <div
                                *ngIf="description.errors?.required">
                                Description is Required</div>
                            <div
                                *ngIf="description.errors?.address255">
                                Alpha numeric with maximum of 255 characters only
                                allowed</div>
                        </div>
                        </div>
                        <div class="d-flex">
                          <div class="input-container">
                            <label>Start Date Time<span class="asterick">*</span></label>
                            <div class="w-100">
                              <input class="input date-padding"
                                matInput
                                [min]="minDate"
                                [max]="maxDate"
                                onDrop="return false"
                                onPaste="return false"
                                onkeydown="return false"
                                onkeypress="return false"
                                [owlDateTime]="sdt"
                                [formControlName]="'startTime'"
                                placeholder="Select Start Time"
                              />
                              <mat-icon
                                class="date-pick password-type"
                                matSuffix
                                (click)="dateChange()"
                                [owlDateTimeTrigger]="sdt"
                                >calendar_today
                              </mat-icon>
                              <owl-date-time [startAt]="minDate" #sdt></owl-date-time>
                              <div class="form-error" *ngIf="startTime?.invalid && startTime?.touched">
                                <div *ngIf="startTime?.errors?.required">Start Time is Required</div>
                                <div *ngIf="startTime?.errors?.owlDateTimeMax">
                                    {{startTime?.errors?.owlDateTimeMax?.max ? 'Maximum date should be ' + momentForm(startTime?.errors?.matDatepickerMax.max) : ''}}
                                </div>
                                <div *ngIf="startTime?.errors?.owlDateTimeMin">
                                    {{startTime?.errors?.owlDateTimeMin?.min ? 'Start Time should be greater than current Date Time' : ''}}
                                </div>
                                <div *ngIf="startTime?.errors?.owlDateTimeParse">Invalid Date Format</div>
                            </div>

                            </div>
                          </div>
                          <div class="input-container arrowalign">
                            <em class="icon-right-next"></em>
                          </div>
                          <div class="input-container">
                            <label>End Date Time<span class="asterick">*</span></label>
                            <div class="w-100">
                              <input class="input date-padding"
                                matInput
                                [min]="minDate"
                                [max]="maxDate"
                                onDrop="return false"
                                onPaste="return false"
                                onkeydown="return false"
                                onkeypress="return false"
                                [owlDateTime]="edt"
                                [formControlName]="'endTime'"
                                placeholder="Select End Time"
                              />
                              <mat-icon
                                class="date-pick password-type"
                                matSuffix
                                (click)="dateChange()"
                                [owlDateTimeTrigger]="edt"
                                >calendar_today
                              </mat-icon>
                              <owl-date-time [startAt]="minDate" #edt></owl-date-time>
                              <div class="form-error" *ngIf="endTime?.invalid && endTime?.touched">
                                <div *ngIf="endTime?.errors?.required">End Time is Required</div>
                                <div *ngIf="endTime?.errors?.owlDateTimeMax">
                                    {{endTime?.errors?.owlDateTimeMax?.max ? 'Maximum date should be ' + momentForm(endTime?.errors?.matDatepickerMax.max) : ''}}
                                </div>
                                <div *ngIf="endTime?.errors?.owlDateTimeMin">
                                    {{endTime?.errors?.owlDateTimeMin?.min ? 'End Time should be greater than current Date Time' : ''}}
                                </div>
                                <div *ngIf="endTime?.errors?.owlDateTimeParse">Invalid Date Format</div>
                            </div>
                            </div>
                          </div>
                        </div>

                        <div class="sendNotification">
                            <span>Send Notification to Candidates?</span>
                            <mat-slide-toggle class="example-margin" [color]="color" [formControlName]="'type'"></mat-slide-toggle>
                        </div>
                        <div class="prevNext">
                            <button class="prev" (click)="tabChange('0')">Previous</button>
                            <button class="next" (click)="tabChange('2')">Next</button>
                        </div>
                    </form>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="material-icons-outlined">visibility</span>
                    <span>Review</span>
                </ng-template>
                <ng-container *ngIf="!hideForm else viewScheduling">
                  <div class="tabContent reviewTab mt-3">
                    <div class="candidates heading-shadow">
                        <h4 style="width: 100%; display: flex;">Candidates <span class="fetch" (click)="fetchAllCandidates()">Fetch All Candidates <span class="material-icons load-icon">loop</span></span></h4>
                        <ng-container *ngIf="!candidateListLoading else CandidatesFetching">
                        <div *ngIf="candidateDetailsList && candidateDetailsList.length > 0 else noCandidatesPreview" class="questionWrapper d-flex justify-content-between scroll-wrapper">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr *ngFor="let candidate of candidateDetailsList; let i = index;">
                                    <td style="width: 31%;">{{candidate.candidate_id}}</td>
                                    <td style="width: 31%;">{{candidate.full_name}}</td>
                                    <td style="width: 31%;">{{candidate.email}}</td>
                                    <td style="width: 5%;" (click)="removeCandidate(i)"><span class="delete"><span class="material-icons-outlined">delete</span></span></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                      </ng-container>
                    </div>
                    <div class="secondSection heading-shadow">
                        <h4 style="border-bottom: solid #0002 1px; padding-bottom: 2px;" class="mb-0">Questions</h4>
                        <div *ngIf="selectedQuestionsArray && selectedQuestionsArray.length > 0 else noQuestionsPreview" class="scroll-wrapper" style="box-shadow: none !important;">
                          <ng-container *ngFor="let category of selectedQuestionsArray; let j = index">
                            <h6 style="font-weight: 600;" class="mt-3">{{category.categoryName}}</h6>
                          <div *ngFor="let question of category.questionDetails; let i = index" class="questionWrapper d-flex align-items-center justify-content-between">
                            <div class="questions">
                                <h5>{{question.question}}</h5>
                                <div class="d-flex justify-content-between">
                                    <span><span>Updated by: </span>{{question.updatedBy ? question.updatedBy : question.createdBy ? question.createdBy : ''}}</span>
                                    <span><span>Updated Date: </span>{{question.updatedAt ? momentFormDateTime(question.updatedAt) : question.createdAt ? momentFormDateTime(question.createdAt) : ''}}</span>
                                    <span><span>Question Code: </span>{{question.quesCode}}</span>
                                    <!-- <span><span>Question Type: </span>{{question.quesType}}</span> -->
                                </div>
                            </div>
                            <span class="delete">
                                <span (click)="remove(j, i, selectedQuestionsArray, questionList)" class="material-icons-outlined">delete</span>
                            </span>
                        </div>
                      </ng-container>
                      </div>
                    </div>
                    <div class="scheduleSection mt-3 heading-shadow">
                        <h4>Schedule</h4>
                        <div>
                            <label>Title:</label>
                            <p>{{scheduleForm.value.title ? scheduleForm.value.title : 'NA'}}</p>
                        </div>
                        <div>
                            <label>Description: </label>
                            <p>{{scheduleForm.value.description ? scheduleForm.value.description : 'NA'}}</p>
                        </div>
                        <div class="d-flex justify-content-start align-items-center">
                            <div>
                                <label>Start Date - Time</label>
                                <p>{{scheduleForm.value.startTime ? momentFormDateTime(scheduleForm.value.startTime) : 'NA' }}</p>
                              </div>
                            <div>
                                <label>End Date - Time</label>
                                <p>{{scheduleForm.value.endTime ? momentFormDateTime(scheduleForm.value.endTime) : 'NA' }}</p>
                            </div>
                        </div>
                        <div>
                          <label>Notifications</label>
                          <p>{{scheduleForm.value.type ? 'Mail will be sent to both Candidates and Evaluator.' : 'Mail notification is not enabled'}}</p>
                      </div>

                    </div>
                    <div *ngIf="!hideForm" class="prevNext">
                        <button (click)="tabChange('1')" class="prev">Previous</button>
                        <button class="next" (click)="scheduleSubmit()">Confirm</button>
                    </div>
                </div>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>


<ng-template #schedulePopup>
    <div class="videoInterviewFlowPopup">
        <div (click)="closedialogbox()" class="closeSection">
            <div>
                <span class="material-icons-outlined">close</span>
            </div>
            <p>Close</p>
        </div>
        <div class="videoInterviewFlow">
            <div class="heading d-flex justify-content-between align-items-center">
                <h3>Add Questions</h3>
                <button *ngIf="questionList && questionList.length > 0" (click)="addQuestionstoArray()" class="add"><span class="material-icons-outlined">add</span> <span>Add</span></button>
            </div>
            <div class="descriptionContent">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Questions</h4>
                    <div class="d-flex justify-content-between align-items-center">
                      <ng-container *ngIf="categoryList && categoryList.length > 0">
                        <div>Category: </div>
                      <nz-select style="max-width: 300px; min-width: 300px; margin: 0 16px 0 6px;" class="input select" (ngModelChange)="CategoryChanged($event)" [(ngModel)]="selectedCategory"
                    nzAllowClear nzShowSearch nzPlaceHolder="Select Category">
                    <nz-option *ngFor="let category of categoryList" [nzLabel]="category.categoryName"
                        [nzValue]="category.categoryName"></nz-option>
                  </nz-select>
                </ng-container>
                <mat-checkbox *ngIf="questionList && questionList.length > 0" (change)="selectAllCheckbox()" [(ngModel)]="selectAll" [checked]="selectAll"> Select All</mat-checkbox>
                </div>
                </div>
                  <h6 class="mt-2">Category: <span style="font-weight: 600;">{{selectedCategoryItem ? selectedCategoryItem.categoryName : ''}}</span></h6>
                <ng-container *ngIf="!questionLoading else questionLoadingTemp">
                  <ng-container *ngIf="questionList && questionList.length > 0 else nodatafound">
                    <div class="questions" *ngFor="let question of questionList; let i = index">
                    <div class="checkBox">
                        <mat-checkbox (change)="selectAll ? (question.checked ? '' : (selectAll = false)) : ''" [(ngModel)]="question.checked" [checked]="question.checked"></mat-checkbox>
                    </div>
                    <div class="rightContent">
                        <h5>{{question.question}}</h5>
                        <div class="d-flex justify-content-between">
                            <span><span>Updated by: </span>{{question.updatedBy ? question.updatedBy : question.createdBy ? question.createdBy : ''}}</span>
                            <span><span>Updated Date: </span>{{question.updatedAt ? momentFormDateTime(question.updatedAt) : question.createdAt ? momentFormDateTime(question.createdAt) : ''}}</span>
                            <span><span>Question Code: </span>{{question.quesCode}}</span>
                            <!-- <span><span>Question Type: </span>{{question.quesType}}</span> -->
                        </div>
                    </div>
                </div>
                </ng-container>
              </ng-container>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #questionLoadingTemp>
  <div class="questions">
    <h5 style="font-size: 18px;" class="loading03">Loading . . .</h5>
    </div>
</ng-template>
<ng-template #nodatafound>
  <div class="questions justify-content-center">
    <h5 style="font-size: 18px;">No Data Found</h5>
  </div>
</ng-template>
<ng-template #noQuestionsMsg>
  <div class="questionWrapper d-flex align-items-center justify-content-between mt-3">
    <div class="questions justify-content-center" style="text-align:center; width: 100%;">
    <h5 style="font-size: 14px; margin: 0">No questions were selected. <br><br> Please click on the below add button to add the questions</h5>
  </div>
  </div>
</ng-template>
<ng-template #noQuestionsPreview>
  <div class="questionWrapper d-flex align-items-center justify-content-between">
    <div class="questions justify-content-center" style="text-align:center; width: 100%;">
    <h5 style="font-size: 14px; margin: 0">No questions were selected.</h5>
  </div>
  </div>
</ng-template>
<ng-template #noCandidatesPreview>
  <div class="questionWrapper d-flex align-items-center justify-content-between">
    <div class="questions justify-content-center" style="text-align:center; width: 100%;">
    <h5 style="font-size: 14px; margin: 0">No candidates available.</h5>
  </div>
  </div>
</ng-template>

<ng-template #CandidatesFetching>
  <div class="questionWrapper d-flex align-items-center justify-content-between">
    <div class="questions justify-content-center" style="text-align:center; width: 100%;">
    <h5 style="font-size: 18px;" class="loading03 mt-2 mb-2">Fetching. . .</h5>
  </div>
  </div>
</ng-template>
<ng-template #viewScheduling>
  <div class="tabContent reviewTab">
    <div class="scheduleSection mb-3 heading-shadow">
      <h4>Schedule Details</h4>
      <div *ngIf="ScheduleDetailsObj" class="view-schedule-wrapper">
      <div>
          <label>Title:</label>
          <p>{{scheduleForm.value.title ? scheduleForm.value.title : 'NA'}}</p>
      </div>
      <div>
          <label>Description: </label>
          <p>{{scheduleForm.value.description ? scheduleForm.value.description : 'NA'}}</p>
      </div>
      <div class="d-flex justify-content-start align-items-center">
          <div style="width: 50%;">
              <label>Start Date - Time</label>
              <p>{{scheduleForm.value.startTime ? momentFormDateTime(scheduleForm.value.startTime) : 'NA' }}</p>
            </div>
          <div>
              <label>End Date - Time</label>
              <p>{{scheduleForm.value.endTime ? momentFormDateTime(scheduleForm.value.endTime) : 'NA' }}</p>
          </div>
      </div>
      <div>
        <label>Notifications</label>
        <p>{{scheduleForm.value.type ? 'Mail will be sent to both Candidates and Evaluator.' : 'Mail notification is not enabled'}}</p>
    </div>
    <div>
      <label>Scheduled by</label>
      <p>{{viewScheduleApiResponse && viewScheduleApiResponse.scheduled_by ? viewScheduleApiResponse.scheduled_by : '' }}</p>
  </div>
</div>
  </div>

    <div class="candidates heading-shadow">
        <h4 style="width: 100%; display: flex;">Candidates Details</h4>
        <ng-container *ngIf="!candidateListLoading else CandidatesFetching">
        <div *ngIf="candidateDetailsList && candidateDetailsList.length > 0 else noCandidatesPreview" class="questionWrapper d-flex justify-content-between scroll-wrapper">
        <table cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th style="width: 20%;">{{'Candidate Id'}}</th>
              <th style="width: 20%;">{{'Name'}}</th>
              <th style="width: 20%;">{{'Email'}}</th>
              <th style="width: 20%;">{{'Test Status'}}</th>
              <th style="width: 20%;">{{'Evaluation Status'}}</th>
      </tr>
          </thead>
            <tbody>
                <tr *ngFor="let candidate of candidateDetailsList; let i = index;">
                    <td style="width: 20%;">{{candidate.candidate_id}}</td>
                    <td style="width: 20%;">{{candidate.full_name}}</td>
                    <td style="width: 20%;">{{candidate.email}}</td>
                    <td style="width: 20%;"><span [class]="candidate.test_status ? candidate.test_status : ''">{{candidate.test_status && candidate.test_status == 'InProgress' ? 'In Progress' : candidate.test_status == 'YetToStart' ? 'Yet to Start' : candidate.test_status}}</span></td>
                    <td style="width: 20%;"><span [matTooltip]="candidate.evaluated_by ? candidate.evaluated_by : ''" [class]="candidate.evaluation_status && candidate.evaluation_status == 'on hold' ? 'Hold' : candidate.evaluation_status ? candidate.evaluation_status : ''">{{candidate.evaluation_status ? firstLetterUpperCase(candidate.evaluation_status) : 'Yet to Evaluate'}}</span></td>
                </tr>
            </tbody>
        </table>
        </div>
      </ng-container>
    </div>
    <div class="secondSection mt-3 heading-shadow">
        <h4 class="mb-0">Questions</h4>
        <div *ngIf="scheduledQuestionsArray && scheduledQuestionsArray.length > 0 else noQuestionsPreview" class="scroll-wrapper" style="box-shadow: none !important;">
          <div *ngFor="let question of scheduledQuestionsArray; let i = index" class="questionWrapper d-flex align-items-center justify-content-between">
            <div class="questions">
                <h5>{{question.questionDetails ? question.questionDetails.question : ''}}</h5>
                <div style="flex-wrap: wrap;" class="d-flex justify-content-between">
                    <span><span>Updated by: </span>{{question.questionDetails.updatedBy ? question.questionDetails.updatedBy : question.questionDetails.createdBy ? question.questionDetails.createdBy : ''}}</span>
                    <span><span>Updated Date: </span>{{question.questionDetails.updatedAt ? momentFormDateTime(question.questionDetails.updatedAt) : question.questionDetails.createdAt ? momentFormDateTime(question.questionDetails.createdAt) : ''}}</span>
                    <span><span>Question Code: </span>{{question.questionDetails.quesCode}}</span>
                    <!-- <span><span>Question Type: </span>{{question.questionDetails.quesType}}</span> -->
                    <span style="padding-top: 4px;"><span>Category: </span>{{question.questionDetails.categoryName}}</span>
                </div>
            </div>
        </div>

      </div>
    </div>
    <div *ngIf="false" class="secondSection d-flex align-items-center justify-content-center mt-2">
      <button (click)="reschedule()" class="submit reschedule">Reschedule</button>
      </div>
</div>
</ng-template>
