<!-- <div class="create-wrapper">
        <div class="head">
            Forgot Password
        </div>

        <div class="sub-head">
                <span> Recover with</span>
            </div>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
            <div class="forms">
                    <div class="form-field" style="display:none">

                            <div style="pointer-events: none; opacity: 0.6;" class="input-box" [ngStyle]="{border: mobile.invalid && mobile.touched && notTrue ? 'solid red 1px': ''}">
                                <input matInput placeholder="Mobile Number" formControlName="mobile" type="text" required>
                                <div>

                                </div>
                            </div>
                            <div class="error" *ngIf="mobile.invalid && mobile.touched && notTrue">
                                <span *ngIf="mobile.errors?.required">Mobile Number is Required</span>
                                <span *ngIf="mobile.errors?.pattern">Please enter valid 10 digit Mobile
                                        Number</span>
                                </div>
                        </div>
                        <div class="seperator-text">Or</div>
                        <div class="form-field">

                    <div class="input-box" [ngStyle]="{border: email.invalid && email.touched ? 'solid red 1px': ''}">
                        <input matInput placeholder="Email Address" formControlName="email" type="text" required>
                        <div>

                        </div>
                    </div>
                    <div class="error" *ngIf="email.invalid && email.touched">
                        <span *ngIf="email.errors?.required">Email is Required</span>
                        <span *ngIf="email.errors?.pattern">Please enter a valid Email id</span>
                    </div>
                </div>

                <div class="submit-button">
                  <button type="submit" class="submit" mat-raised-button>Submit</button>
                </div>
            </div>
        </form>
    </div> -->

  <div class="forgotusername">
    <div class="limiter">
      <div class="row container-reg200">
        <div class="col-md-8 col-sm-12 col-12 border-right no_pl  no_pr">
          <!-- <img alt="" class="lnt_logo" src="assets/learner/WHITE_LNT T_LOGO.svg"> -->
          <div class="main-logo">
          <img alt="" class="beforeloginimg" style="width : 300px;" src="https://assets.lntedutech.com/edutech_logo.svg">
        </div>

        </div>

        <div class="col-md-4 col-sm-12 col-12">
          <div class="wrap-reg">
            <!-- <img class="kauhalya" alt="" src='assets/images/l&t.png'> -->
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
              <div>
                <h1 class=" animated animatedFadeInUp fadeInUp signIn">{{'Forgot password?'}}</h1><br><br>


                <mat-form-field appearance="outline">
                  <mat-label class="label-color">{{'Email ID' }}</mat-label>
                  <!--  (keyup)="focusout($event)" -->
                  <input matInput  type="text" id="email"  placeholder="xyz@example.com" (input)="inputChanged(email)"  formControlName="email"   [ngClass]="{ 'is-invalid': email.touched && email.errors }" #email required>

                  <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                  <mat-error class="error" *ngIf="forgotPasswordForm.get('email').hasError('required')">{{'Email is required'}}</mat-error>
                  <mat-error class="error" *ngIf="forgotPasswordForm.get('email').hasError('pattern')">{{'Please enter a valid email address'}}</mat-error>
                  <!-- <mat-error class="error"  *ngIf="email.errors.pattern">{{'Email ID is invalid' }}</mat-error> -->
                </mat-form-field>


                <div style="text-align: center;">
                  <button class="btn" mat-raised-button type="submit">{{'NEXT' }}</button>
                </div>


                <!-- <mat-radio-group class="tp-radio-group" #radioGroup="matRadioGroup">
                  <mat-radio-button class="tp-radio-button" *ngFor="let recover of recoveryTypes" [value]="recover">
                    {{recover.value}}
                  </mat-radio-button>
                </mat-radio-group>
                <div class="space-20"></div>
                <div  *ngIf="isenable">
                  <button class="btn" mat-raised-button (click)="forgotPassword(radioGroup.value)">{{'SUBMIT'}} </button>
                </div> -->
              </div>

              <!-- <div *ngIf="isForgotPasswordEnable">
                <h1 class="animated animatedFadeInUp fadeInUp signIn">{{'Forgot username?' }}</h1><br><br>

                        <mat-form-field appearance="outline">
                          <mat-label class="label-color">{{'Email ID' }}</mat-label>
                          <input matInput  type="text" id="email"  placeholder="xyz@example.com" (input)="inputChanged(email)"  formControlName="email"   [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" #email (keyup)="focusout($event)" required>

                          <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                          <mat-error class="error"  *ngIf="f.email.errors.pattern">{{'Email ID is invalid' }}</mat-error>
                        </mat-form-field>


                <button class="btn" mat-raised-button [disabled]="isshow" (click)="forgotusername()">{{'SUBMIT' }} </button>
              </div> -->
            </form>
            <div class="space-20"></div>
            <div style="text-align: center;">
              <mat-label>
                 <a class="col" (click)="signIn()">{{'Go back to Sign in' }}</a></mat-label>
            </div>
          </div>
          <!-- <div class="row footer20">
            <div class="col-12">
              <span class="forgot1">2020 © L&T EduTech All Rights Reserved</span>
            </div>
          </div> -->

        </div>


      </div>
    </div>
  </div>
