@import "../../themes/themes.scss";

.create-wrapper {
    margin: 50px 0;
    .head {
      color: $secondary;
      font-size: 26px;
      margin: 0 0 50px 0;
      font-weight: 50;
    }
    .sub-head {
        margin: 0 0 10px 0;
        span {
            color: $secondary;
            font-size: 22px;
            font-weight: 50;
            border-bottom: solid $blue 1px;
            padding: 0.15em .25em;
        }
    }
    form {
      .forms {
        .seperator-text {
            color: $secondary;
            font-size: 20px;
            font-weight: 100;
            margin: 2em 0 1em 0;
        }
        .form-field {
          padding: 0 !important;
          margin: 22px 0em 0 0;
          label {
            display: flex;
            padding: 0 0 15px 0 !important;
            margin: 0 !important;
            color: $primary;
            font-size: 17px;
            font-weight: 200;
          }
          .input-box {
            border-radius: 5px;
            box-shadow: $shadow-light-black;
            width: 100%;
            display: flex;
            background: $white-primary;
            height: 40px;
            padding: 0em 20px 0 10px;
            margin: 0 !important;
            input {
              margin: 0 !important;
              width: 100%;
              font-size: 18px;
              color: $secondary;
              vertical-align: middle;
              border: none;
              outline: none;
              background: $white-primary;
              border-radius: 5px;
              display: flex !important;
              height: 35px !important;
            }
            ::placeholder {
                font-size: 17px;
                font-weight: 100;
                color: $secondary;
                opacity: 1;
              }
            .icon {
              display: flex;
              align-items: center;
              span {
                cursor: pointer;
                color: $light-blue;
              }
            }
          }
          .error {
            color: $red;
            font-size: 12px;
            font-weight: 200;
            text-align: left;
          }
        }
        .submit-button {
          margin: 80px 0 120px 0;
          width: 100%;
          button {
            justify-content: center;
            text-align: center;
            width: 70%;
            height: 45px;
            color: $white;
            font-weight: 700;
            font-size: 18px;
            outline: none;
            border: none;
            border-radius: 10px;
            background-color: $light-blue;
          }
        }
      }
    }
  }
