  <div class="forgotusername">
    <div class="limiter">
      <div class="row container-reg200">
        <div class="col-md-8 col-sm-12 col-12 border-right no_pl  no_pr">
          <!-- <img alt="" class="lnt_logo" src="assets/learner/WHITE_LNT T_LOGO.svg"> -->
          <div class="main-logo">
          <img alt="" class="beforeloginimg" style="width : 300px;" src="https://assets.lntedutech.com/edutech_logo.svg">
        </div>

        </div>

        <div class="col-md-4 col-sm-12 col-12">
          <div class="wrap-reg">
            <!-- <img class="kauhalya" alt="" src='assets/images/l&t.png'> -->
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
              <div>
                <h1 class=" animated animatedFadeInUp fadeInUp signIn">{{'Forgot password?'}}</h1><br><br>


                <mat-form-field appearance="outline">
                  <mat-label class="label-color">{{'Email ID' }}</mat-label>
                  <!--  (keyup)="focusout($event)" -->
                  <input matInput  type="text" id="email"  placeholder="xyz@example.com" (input)="inputChanged(email)"  formControlName="email"   [ngClass]="{ 'is-invalid': email.touched && email.errors }" #email required>

                  <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                  <mat-error class="error" *ngIf="forgotPasswordForm.get('email').hasError('required')">{{'Email is required'}}</mat-error>
                  <mat-error class="error" *ngIf="forgotPasswordForm.get('email').hasError('pattern')">{{'Please enter a valid email address'}}</mat-error>
                  <!-- <mat-error class="error"  *ngIf="email.errors.pattern">{{'Email ID is invalid' }}</mat-error> -->
                </mat-form-field>


                <div style="text-align: center;">
                  <button class="btn" mat-raised-button type="submit">{{'NEXT' }}</button>
                </div>

              </div>
            </form>
            <div class="space-20"></div>
            <div style="text-align: center;">
              <mat-label>
                 <a class="col" (click)="signIn()">{{'Go back to Sign in' }}</a></mat-label>
            </div>
          </div>
          <div class="row footer20">
            <div class="col-12 mt-5">
              <span class="forgot1">{{getCurrentYear}} © L&T EduTech All Rights Reserved</span>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
