<div class="create-wrapper">
        <div class="head">
            Forgot Password
        </div>
    
        <div class="sub-head">
                <span> Recover with</span>
            </div>
        
        <form [formGroup]="candidateForm" (ngSubmit)="submit()">
            <div class="forms">
                    <div class="form-field">
                            <!-- <label class="label-name">
                                Name
                            </label> -->
                            <div style="pointer-events: none; opacity: 0.6;" class="input-box" [ngStyle]="{border: mobile.invalid && mobile.touched ? 'solid red 1px': ''}">
                                <input matInput placeholder="Mobile Number" formControlName="mobile" type="text" required>
                                <div>
            
                                </div>
                            </div>
                            <div class="error" *ngIf="mobile.invalid && mobile.touched">
                                <span *ngIf="mobile.errors?.required">Mobile Number is Required</span>
                                <span *ngIf="mobile.errors?.pattern">Please enter valid 10 digit Mobile
                                        Number</span>
                                </div>
                        </div>
                        <div class="seperator-text">Or</div>
                        <div class="form-field">
                    <!-- <label class="label-name">
                        Email Address
                    </label> -->
                    <div class="input-box" [ngStyle]="{border: email.invalid && email.touched ? 'solid red 1px': ''}">
                        <input matInput placeholder="Email Address" formControlName="email" type="text" required>
                        <div>
    
                        </div>
                    </div>
                    <div class="error" *ngIf="email.invalid && email.touched">
                        <span *ngIf="email.errors?.required">Email is Required</span>
                        <span *ngIf="email.errors?.pattern">Please enter a valid Email id</span>
                    </div>
                </div>
        
                <div class="submit-button">
                    <button type="submit">Submit</button>
                </div>                    
            </div>
        </form>
    </div>
