@import "../../themes/themes.scss";

.header-wrapper {
  // .mat-toolbar {
    background: linear-gradient(to right,#fff 14%,#fc0 20%) !important;
    color: #000;
    position: relative;
    z-index: 4;
    height: 55px !important;
// }
img {
  // width: 150px;
  // width: 210px;
  height: 36px;
}

  .logo {
    display: inline-flex;
    cursor: pointer;
    color: $light-black;
    .logo-txt {
      font-size: 18px;
      text-align: center;
      padding: 0em 0 0 0.5em;
      font-weight: 600;
      transform: translateY(18%);
      span {
        display: block;
      }
    }
  }
  .right-wrapper {
    display: inline-flex;
    .help-text {
      margin: 0 1em;
      font-weight: 400 !important;
      button {
        border: 1px solid $blue;
        border-radius: 5px;
        outline: none;
        color: $light-black;
        font-weight: 400 !important;
        padding: 0.15em 1.25em;
        text-align: center;
        background: transparent !important;
        opacity: 1;
      }
    }
    .home {
      font-weight: 400 !important;
      button {
        border: 1px solid $blue;
        border-radius: 5px;
        outline: none;
        color: $light-black;
        font-weight: 400 !important;
        padding: 0.15em 1.25em;
        text-align: center;
        background: transparent !important;
        opacity: 1;
      }
    }
  }
}
.headerShadow {
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2) !important;
}
