@import "../../../themes/themes.scss";

.headerShadow {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: $headerHeight;
  background: #ffffff;
  margin-bottom: 0;
  box-shadow: $header-shadow;
  display: flex;
  justify-content: space-between;
  z-index: 9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2) !important;
  @include sm() {
    height: $headerHeight-sm;
  }
  @include md() {
    height: $headerHeight-md;
  }
  @include lg() {
    height: $headerHeight-lg;
  }
  @include xl() {
    height: $headerHeight-xl;
  }
  @include xxl() {
    height: $headerHeight-xl;
  }
}
.headerShadow::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: transparent linear-gradient(
    90deg, #16BEF0 0%, #54B952 100%) 0% 0% no-repeat padding-box;

}

.header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  img {
    height: 100%;
    padding: 16px;
  }
}
