<div class="alert">
  Note: Please make sure to complete the form and fill the information’s correctly. You will not be able to edit after the shortlisting process.
</div>
<div class="main-wrapper">
  <div class="content-wrapper">
    Extra curricular activities - Please give details about extra -curricular activity with Nature (E.g - Sports, Music,
    Dance, Drama, positions of responsibility, Social services, Others), Level (E.g. International, National, State,
    District, School level, Others ) and Year (Last 10 years)
  </div>

  <div class="skills">
    <div class="text">Add your Skills</div>
    <form #form="ngForm" [formGroup]="skillForm" class="skill-form">
      <ng-container *ngIf="skillsArr && skillsArr.controls" formArrayName="skillsArr">
        <div class="skill-group" *ngFor="let item of skillsArr.controls; let i = index;" [formGroupName]="i">
          <div class="input-group">
            <input (focusout)="detectInput(skillForm)" formControlName="value" type="text">
          <div class="error"
            *ngIf="skillsArr.controls[i].get('value').invalid && skillsArr.controls[i].get('value').touched">
            <span *ngIf="skillsArr.controls[i].get('value').errors?.maxlength">Maximum of 255 characters only allowed</span>
          </div>
          </div>
          <!-- <div > -->
          <div class="add">
            <i *ngIf="i !== 0" (click)="removeSkillForm(i)"
              class="material-icons remove">close</i>
            <ng-container *ngIf="skillsArr && skillsArr.controls.length -1 === i">
              <span (click)="addSkillForm(null)">
                <img src="assets/images/interface.svg" alt="" srcset="">
                <span class="text">
                  Add
                </span>
              </span>
            </ng-container>
          </div>

          <!-- </div> -->
        </div>
      </ng-container>
    </form>
  </div>

  <!-- <div class="main-heading">
    Work Experience
  </div>
  <form #form="ngForm" [formGroup]="familyForm" class="form1">
    <ng-container *ngIf="familyArr && familyArr.controls" formArrayName="familyArr">
      <div class="text-box-grid" *ngFor="let item of familyArr.controls; let i = index;" [formGroupName]="i">
        <div style="font-size: 20px; width: 100%; margin: .5em 0; text-align: center;" class="num">{{i + 1}}.</div>
        <div class="text-1">
          <div class="label">EMPLOYER'S NAME & ADDRESS</div>
          <textarea (focusout)="detectInput(familyForm)" formControlName="names" type="text"></textarea>
          <div class="error" *ngIf="familyArr.controls[i].get('names').invalid">
            <span *ngIf="familyArr.controls[i].get('names').errors?.Namerequired">Name is Required</span>
            <span *ngIf="familyArr.controls[i].get('names').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>

        </div>
        <div class="text-2">
          <div class="label">Duration (DD/MM/YYYY)</div>
          <nz-date-picker (ngModelChange)="detectSelectChange()" [nzShowToday]="false" [nzDisabledDate]="disabledYears"
            formControlName="dob" [nzFormat]="dateFormat"></nz-date-picker>
          <div class="error"
            *ngIf="familyArr.controls[i].get('dob').invalid && familyArr.controls[i].get('dob').touched">
            <span *ngIf="familyArr.controls[i].get('dob').errors?.required">Date of Birth is Required</span>
          </div>
        </div>
        <div class="text-3">
          <div class="label">POSITION HELD</div>
          <input (focusout)="detectInput(familyForm)" formControlName="relationship" type="text">
          <div class="error"
            *ngIf="familyArr.controls[i].get('relationship').invalid && familyArr.controls[i].get('relationship').touched">
            <span *ngIf="familyArr.controls[i].get('relationship').errors?.required">Relationship is Required</span>
            <span *ngIf="familyArr.controls[i].get('relationship').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>
        <div class="text-4">
          <div class="label">NAME & DESIGNATION OF IMMEDIATE SUPERIOR</div>
          <input (focusout)="detectInput(familyForm)" formControlName="occupation" type="text">
          <div class="error"
            *ngIf="familyArr.controls[i].get('occupation').invalid && familyArr.controls[i].get('occupation').touched">
            <span *ngIf="familyArr.controls[i].get('occupation').errors?.required">Occupation is Required</span>
            <span *ngIf="familyArr.controls[i].get('occupation').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>
        <div class="text-5" style="max-width: 155px;">
          <div class="label">GROSS EMOLUMENTS (PER MONTH)</div>
          <input (focusout)="detectInput(familyForm)" formControlName="occupation1" type="text">
          <div class="error"
            *ngIf="familyArr.controls[i].get('occupation1').invalid && familyArr.controls[i].get('occupation1').touched">
            <span *ngIf="familyArr.controls[i].get('occupation1').errors?.required">Occupation1 is Required</span>
            <span *ngIf="familyArr.controls[i].get('occupation1').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>

        <div class="text-5">
          <div class="label">NATURE OF WORK DONE</div>
          <input (focusout)="detectInput(familyForm)" formControlName="works" type="text">
          <div class="error"
            *ngIf="familyArr.controls[i].get('works').invalid && familyArr.controls[i].get('works').touched">
            <span *ngIf="familyArr.controls[i].get('works').errors?.required">works is Required</span>
            <span *ngIf="familyArr.controls[i].get('works').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>

        <div class="text-5" style="min-width: 500px; max-width: 500px;">
          <div class="label">REASON FOR LEAVING</div>
          <textarea (focusout)="detectInput(familyForm)" formControlName="leaving" type="text"></textarea>
          <div class="error"
            *ngIf="familyArr.controls[i].get('leaving').invalid && familyArr.controls[i].get('leaving').touched">
            <span *ngIf="familyArr.controls[i].get('leaving').errors?.required">leaving is Required</span>
            <span *ngIf="familyArr.controls[i].get('leaving').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>

      </div>
    </ng-container>
  </form>
  <div *ngIf="!notShow" class="add-form">
    <div (click)="addfamilyForm()">
      <img src="assets/images/interface.svg" alt="" srcset="">
      <div class="text">
        Add
      </div>
    </div>

    <i *ngIf="familyArr && familyArr.controls && familyArr.controls.length > 1 " (click)="removefamilyForm()" style="color: red; height: 25px;"
    class="material-icons remove">delete</i>

  </div> -->


  <div class="main-heading">
    Relatives / Acquaintances in L & T group of companies
  </div>

  <div class="heading-grid">
    <div class="head-1">
      Name
      <span>&#160;</span>
    </div>
    <div class="head-2">
      Relationship
      <span>&#160;</span>
    </div>
    <div class="head-3">
      Position
      <span>&#160;</span>
    </div>
    <div class="head-4">
      Company
    </div>

  </div>
  <form #form1="ngForm" [formGroup]="aquaintancesForm" class="form">
    <ng-container *ngIf="relativesArr && relativesArr.controls" formArrayName="relativesArr">
      <div class="text-box-grid" *ngFor="let item of relativesArr.controls; let i = index;" [formGroupName]="i">
        <div class="text-1">
          <input (focusout)="detectInput(aquaintancesForm)" formControlName="names" type="text">
          <div class="error"
            *ngIf="relativesArr.controls[i].get('names').invalid && relativesArr.controls[i].get('names').touched">
            <span *ngIf="relativesArr.controls[i].get('names').errors?.required">Name is Required</span>
            <span *ngIf="relativesArr.controls[i].get('names').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>
        <div class="text-2">
          <input formControlName="relationship" type="text">
          <div class="error"
            *ngIf="relativesArr.controls[i].get('relationship').invalid && relativesArr.controls[i].get('relationship').touched">
            <span *ngIf="relativesArr.controls[i].get('relationship').errors?.required">Relationship is Required</span>
            <span *ngIf="relativesArr.controls[i].get('relationship').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>
        <div class="text-3">
          <input formControlName="position" type="text">
          <div class="error"
            *ngIf="relativesArr.controls[i].get('position').invalid && relativesArr.controls[i].get('position').touched">
            <span *ngIf="relativesArr.controls[i].get('position').errors?.required">Position is Required</span>
            <span *ngIf="relativesArr.controls[i].get('position').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>
        <div class="text-4">
          <input formControlName="company" type="text">
          <div class="error"
            *ngIf="relativesArr.controls[i].get('company').invalid && relativesArr.controls[i].get('company').touched">
            <span *ngIf="relativesArr.controls[i].get('company').errors?.required">Company is Required</span>
            <span *ngIf="relativesArr.controls[i].get('company').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>
      </div>
    </ng-container>
  </form>

  <div class="main-heading">
    Faculty Reference
  </div>

  <form class="faculty">
    <div>
    <textarea #form2="ngForm" [formControl]="facultyReference1Form" (focusout)="detectSelectChange()" maxlength="255" name="" id="" cols="30" rows="7"></textarea>
  </div>
  <div>
      <textarea #form3="ngForm" [formControl]="facultyReference2Form" (focusout)="detectSelectChange()" maxlength="255" name="" id="" cols="30" rows="7"></textarea>
      <!-- <div *ngIf="true" class="error-lines">Charcters should not exceed 250</div> -->
    </div>
  </form>
  <div style="margin: 0 0 0 2em; font-weight: 200; color: red;" *ngIf="facultyReference1Form.invalid || facultyReference2Form.invalid" class="error-lines">Characters should not exceed 255</div>

  <div class="submit-button-wrapper">
    <button class="submit btn-margin-space" (click)="onSubmit(aquaintancesForm.value, skillForm.value)" mat-raised-button type="submit">Continue</button>

    <button class="cancel-btn" (click)="cancel()" mat-raised-button type="button">Cancel</button>

  </div>

</div>
