@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g9xo1d');
  src:  url('fonts/icomoon.eot?g9xo1d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g9xo1d') format('truetype'),
    url('fonts/icomoon.woff?g9xo1d') format('woff'),
    url('fonts/icomoon.svg?g9xo1d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox:before {
  content: "\e9a4";
}
.icon-person_remove:before {
  content: "\e98b";
}
.icon-thumsreview:before {
  content: "\e9a3";
}
.icon-filter:before {
  content: "\e9a2";
}
.icon-review:before {
  content: "\e9a1";
}
.icon-language_black_24dp:before {
  content: "\e991";
}
.icon-verified_black_24dp:before {
  content: "\e992";
}
.icon-face_black_24dp:before {
  content: "\e993";
}
.icon-account_circle_black_24dp:before {
  content: "\e994";
}
.icon-notifications_active_black_24dp:before {
  content: "\e995";
}
.icon-favorite_border_black_24dp:before {
  content: "\e996";
}
.icon-notifications_off_black_24dp:before {
  content: "\e997";
}
.icon-lightbulb_black_24dp:before {
  content: "\e998";
}
.icon-lock_black_24dp:before {
  content: "\e999";
}
.icon-pin_drop_black_24dp:before {
  content: "\e99a";
}
.icon-thumb_up_black_24dp:before {
  content: "\e99b";
}
.icon-notifications_black_24dp:before {
  content: "\e99c";
}
.icon-warning_amber_black_24dp:before {
  content: "\e99d";
}
.icon-question_answer_black_24dp:before {
  content: "\e99e";
}
.icon-email_black_24dp:before {
  content: "\e99f";
}
.icon-trending_up_black_24dp:before {
  content: "\e9a0";
}
.icon-download:before {
  content: "\e98c";
}
.icon-download_done_black_24dp:before {
  content: "\e98d";
}
.icon-get_app_black_24dp:before {
  content: "\e98e";
}
.icon-file_upload_black_24dp:before {
  content: "\e98f";
}
.icon-upload:before {
  content: "\e990";
}
.icon-insert_invitation:before {
  content: "\e985";
}
.icon-cancel_black:before {
  content: "\e986";
}
.icon-close_black:before {
  content: "\e987";
}
.icon-remove_circle:before {
  content: "\e988";
}
.icon-user_add:before {
  content: "\e989";
}
.icon-person_remove1:before {
  content: "\e98a";
}
.icon-video_camera:before {
  content: "\e984";
}
.icon-dashboard:before {
  content: "\e97c";
}
.icon-manage_accounts:before {
  content: "\e97d";
}
.icon-menu:before {
  content: "\e97e";
}
.icon-menu_open:before {
  content: "\e97f";
}
.icon-person_search:before {
  content: "\e980";
}
.icon-portrait:before {
  content: "\e981";
}
.icon-reg:before {
  content: "\e982";
}
.icon-track_changes:before {
  content: "\e983";
}
.icon-mic:before {
  content: "\e92f";
}
.icon-camera:before {
  content: "\e976";
}
.icon-camraoff:before {
  content: "\e977";
}
.icon-Join_Video:before {
  content: "\e978";
}
.icon-logout:before {
  content: "\e979";
}
.icon-mute:before {
  content: "\e97a";
}
.icon-screen_share:before {
  content: "\e97b";
}
.icon-p_right:before {
  content: "\e973";
}
.icon-p_mid:before {
  content: "\e974";
}
.icon-p_left:before {
  content: "\e975";
}
.icon-right-next:before {
  content: "\e972";
}
.icon-Role:before {
  content: "\e970";
}
.icon-Job:before {
  content: "\e971";
}
.icon-Hamburger:before {
  content: "\e96f";
}
.icon-Hide:before {
  content: "\e96e";
}
.icon-Shield:before {
  content: "\e96c";
}
.icon-Tag:before {
  content: "\e96d";
}
.icon-Add:before {
  content: "\e900";
}
.icon-AddGroup:before {
  content: "\e901";
}
.icon-AddUser:before {
  content: "\e902";
}
.icon-Assessment:before {
  content: "\e903";
}
.icon-AssessmentPlatform:before {
  content: "\e904";
}
.icon-AssessmentTick:before {
  content: "\e905";
}
.icon-AssessmentView:before {
  content: "\e906";
}
.icon-Back:before {
  content: "\e907";
}
.icon-Badge:before {
  content: "\e908";
}
.icon-Bank:before {
  content: "\e909";
}
.icon-Basket:before {
  content: "\e90a";
}
.icon-Bell:before {
  content: "\e90b";
}
.icon-Benchmark:before {
  content: "\e90c";
}
.icon-Booked:before {
  content: "\e90d";
}
.icon-BuildPortfolio:before {
  content: "\e90e";
}
.icon-Calendar:before {
  content: "\e90f";
}
.icon-Cart:before {
  content: "\e910";
}
.icon-Certificate1:before {
  content: "\e911";
}
.icon-Certificate2:before {
  content: "\e912";
}
.icon-Certification:before {
  content: "\e913";
}
.icon-checked:before {
  content: "\e914";
}
.icon-CheckMark:before {
  content: "\e915";
}
.icon-Chip:before {
  content: "\e916";
}
.icon-Circuit:before {
  content: "\e917";
}
.icon-Civil:before {
  content: "\e918";
}
.icon-Clipboard:before {
  content: "\e919";
}
.icon-Close:before {
  content: "\e91a";
}
.icon-Contract:before {
  content: "\e91b";
}
.icon-CreditCard:before {
  content: "\e91c";
}
.icon-DateTime:before {
  content: "\e91d";
}
.icon-Delete:before {
  content: "\e91e";
}
.icon-Device:before {
  content: "\e91f";
}
.icon-Dislike:before {
  content: "\e920";
}
.icon-Document:before {
  content: "\e921";
}
.icon-DownArrow:before {
  content: "\e922";
}
.icon-Download:before {
  content: "\e923";
}
.icon-Edit:before {
  content: "\e924";
}
.icon-Email:before {
  content: "\e925";
}
.icon-Expiration:before {
  content: "\e926";
}
.icon-Facebook:before {
  content: "\e927";
}
.icon-Favorite:before {
  content: "\e928";
}
.icon-FileAdd:before {
  content: "\e929";
}
.icon-FileDownload:before {
  content: "\e92a";
}
.icon-FileEdit:before {
  content: "\e92b";
}
.icon-Filter:before {
  content: "\e92c";
}
.icon-Folder:before {
  content: "\e92d";
}
.icon-GeneratedResults:before {
  content: "\e92e";
}
.icon-Grade:before {
  content: "\e930";
}
.icon-Grid:before {
  content: "\e931";
}
.icon-Group:before {
  content: "\e932";
}
.icon-Info:before {
  content: "\e933";
}
.icon-Instagram:before {
  content: "\e934";
}
.icon-Layers:before {
  content: "\e935";
}
.icon-LeftArrow:before {
  content: "\e936";
}
.icon-Level1:before {
  content: "\e937";
}
.icon-Level2:before {
  content: "\e938";
}
.icon-Level3:before {
  content: "\e939";
}
.icon-Like:before {
  content: "\e93a";
}
.icon-Link:before {
  content: "\e93b";
}
.icon-Linkedin:before {
  content: "\e93c";
}
.icon-List:before {
  content: "\e93d";
}
.icon-Location:before {
  content: "\e93e";
}
.icon-MailSend:before {
  content: "\e93f";
}
.icon-Mechanical:before {
  content: "\e940";
}
.icon-More:before {
  content: "\e941";
}
.icon-Objectives:before {
  content: "\e942";
}
.icon-Offer:before {
  content: "\e943";
}
.icon-PassageTime:before {
  content: "\e944";
}
.icon-Picture:before {
  content: "\e945";
}
.icon-Play:before {
  content: "\e946";
}
.icon-Portfolio:before {
  content: "\e947";
}
.icon-Refresh:before {
  content: "\e948";
}
.icon-RemoteProctoring:before {
  content: "\e949";
}
.icon-Report:before {
  content: "\e94a";
}
.icon-Resume:before {
  content: "\e94b";
}
.icon-ResumeView:before {
  content: "\e94c";
}
.icon-RightArrow:before {
  content: "\e94d";
}
.icon-Rupee:before {
  content: "\e94e";
}
.icon-Score:before {
  content: "\e94f";
}
.icon-Search:before {
  content: "\e950";
}
.icon-Settings:before {
  content: "\e951";
}
.icon-SpeedoMeter:before {
  content: "\e952";
}
.icon-Star:before {
  content: "\e953";
}
.icon-Statistics:before {
  content: "\e954";
}
.icon-Test:before {
  content: "\e955";
}
.icon-TestBooking:before {
  content: "\e956";
}
.icon-TestGrade:before {
  content: "\e957";
}
.icon-Tests:before {
  content: "\e958";
}
.icon-Tick:before {
  content: "\e959";
}
.icon-Time:before {
  content: "\e95a";
}
.icon-TimeLeft:before {
  content: "\e95b";
}
.icon-Trophy:before {
  content: "\e95c";
}
.icon-Twitter:before {
  content: "\e95d";
}
.icon-UpArrow:before {
  content: "\e95e";
}
.icon-UPI .path1:before {
  content: "\e95f";
  color: rgb(0, 0, 0);
}
.icon-UPI .path2:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-UPI .path3:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-UPI .path4:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-UPI .path5:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Upload:before {
  content: "\e964";
}
.icon-UpSkill:before {
  content: "\e965";
}
.icon-User:before {
  content: "\e966";
}
.icon-View:before {
  content: "\e967";
}
.icon-ViewItems:before {
  content: "\e968";
}
.icon-Wallet:before {
  content: "\e969";
}
.icon-WebDevelopment:before {
  content: "\e96a";
}
.icon-Youtube:before {
  content: "\e96b";
}
