@import "../../../themes/themes.scss";

.first-level-reports {
  padding: 0px;
  .user-list-wrapper {
    margin: 0em 0 0.5em 0;
    /* Structure */
    .search-bar {
      margin: 0em 1em 0.25em 1em;
      text-align: right;
    }
    :focus {
      border-radius: 0px;
      border: none;
      outline: none;
    }
  }
}
