<div class="alert">Note:
    <ol>
        <li>Documents marked as “*” are mandatory.
        </li>
        <li>Click on “choose file” button to upload a file.</li>
        <li>To replace an already uploaded document, click on the file name displayed and select a new file.</li>
        <li>Please use submit button only after uploading all documents / certificates.</li>
    </ol>
</div>
<div class="main-wrapper-candidate">
    <div class="card w-50 alignCard">
        <div class="card-body">
            <div class="image-upload">
                <label>Resume<span class="asterick">*</span></label>
                <div class="files">
                    <label class="choose-input" for="file-input">
                        <div *ngIf="!urlResume">
                            <img class="chooseImg" src="../../../assets/images/paper-clip.svg" />
                            choose file
                        </div>
                        <div *ngIf="urlResume">
                            <span matTooltipPosition="after" matTooltip="{{'Click to change file'}}">{{urlResume}}</span>
                        </div>
                    </label>
                    <div class="grid">
                        <div *ngIf="!showResumeImgError" class="sizeMsg">PDF formats can be uploaded (Maximum size
                            2MB)</div>
                        <div *ngIf="showResumeImgSizeError" class="sizeError">Maximum File Size: 2 MB</div>
                        <div *ngIf="showResumeImgError" class="sizeError">Valid File Format is pdf</div>
                    </div>
                </div>
                <label style="display: flex; justify-content: center;" *ngIf="getResumeData && getResumeData['certificate_url']"> <span
                        (click)="viewDocuments(getResumeData['certificate_url'])"
                        style="border-bottom: solid black 1px; cursor: pointer;">View</span></label>

                <input id="file-input" type="file" accept=".pdf" (click)="files.value = null" #files
                    (change)="onSelectFile($event, 'resume', 'i')">
            </div>
        </div>
    </div>

    <!-- education -->
    <div>
        <div class="card w-50 alignCard">
            <div class="card-body">
                <label style="margin: 0 !important;">Education details<span class="asterick">*</span></label>
                <div class="ins-note">PDF formats can be uploaded (Maximum size 2MB)</div>
                <div class="image-upload" style="padding-bottom: .5em;" *ngFor="let eduLevel of educationValuearray; let i = index">
                    <label>{{eduLevel['education_level']}}<span class="asterick">*</span></label>
                    <div class="files">
                        <label class="choose-input" for="files-input-{{i}}">
                            <div *ngIf="!eduLevel['filename']">
                                <img class="chooseImg" src="../../../assets/images/paper-clip.svg" />
                                choose file
                            </div>
                            <div *ngIf="eduLevel['filename']">
                                <span matTooltipPosition="after" matTooltip="{{'Click to change file'}}">{{eduLevel['filename']}}</span>
                            </div>
                        </label>
                        <div class="grid">
                            <!-- <div *ngIf="!showResumeImgError" class="sizeMsg">PDF formats can be uploaded (Maximum size
                                2MB)</div> -->
                                <ng-container *ngIf="eduLevel && eduLevel['education_level'] == showLevel">
                            <div *ngIf="showEducationImgSizeErr" class="sizeError">Maximum File Size: 2 MB</div>
                            <div *ngIf="showEducationImgErr" class="sizeError">Valid File Format is pdf</div>
                        </ng-container>
                        </div>
                    </div>
                    <label style="display: flex; justify-content: center;" *ngIf="eduLevel['certificate_url']"> <span
                            (click)="viewDocuments(eduLevel['certificate_url'])"
                            style="border-bottom: solid black 1px; cursor: pointer;">View</span></label>
    <!-- (click)="{{i}}filesa.value = null" #{{i}}filesa -->
                    <input id="files-input-{{i}}" type="file" accept=".pdf" 
                        (change)="onSelectFile($event, 'education', eduLevel['education_level'])">

                </div>
            </div>
    
        </div>
    </div>

    <!-- New ceritficate -->
    <div class="card w-50 alignCard">
        <div class="card-body">
            <label style="margin: 0 !important;">Certificate</label>
            <div class="image-upload">
                <div class="DesInput" matTooltip="{{urlCertificate ? 'Once uploaded, label will be disabled. Remove the document to edit this label and re-upload it.' : ''}}">
                    <input [ngClass]="urlCertificate ? 'disable' : ''" matInput [formControl]="NewcertificateName" type="text" placeholder="Document description">
                    <div class="error" *ngIf="NewcertificateName.errors?.maxlength || NewcertificateName.errors?.pattern">
                        <span *ngIf="NewcertificateName.errors?.maxlength" style="color: #C02222;">Minimum of 200 characters only accepted</span>
                        <span *ngIf="NewcertificateName.errors?.pattern" style="color: #C02222;">Alphanumeric with commas, periods and spaces only allowed</span>
                    </div>
                </div>
                <div class="files">
                    <div matTooltip="{{NewcertificateName && NewcertificateName['value'] ? '' : 'Please type document description'}}">
                        <label [ngClass]="(NewcertificateName && NewcertificateName['value']) && NewcertificateName.valid ? '' : 'disable'"
                            class="choose-input" for="file-input-2">
                            <div *ngIf="!urlCertificate">
                                <img class="chooseImg" src="../../../assets/images/paper-clip.svg" />
                                choose file
                            </div>
                            <div style="display: flex; justify-content: space-between;" *ngIf="urlCertificate">
                                <span matTooltipPosition="after"
                                    matTooltip="{{'Click to change file'}}">{{(urlCertificate ? urlCertificate : null)}}</span>
                                <span style="padding-left: .5em;" matTooltip="{{'Remove file'}}" (click)="removeCert(getCertificateData['cerificate_id'], 'certificate'); stoppropgation($event)"><img src="assets/images/close-black-18dp.svg" alt="" srcset=""></span>
                            </div>
                        </label>
                    </div>
                    <div class="grid">
                        <span *ngIf="!showCertificateImgErr" class="sizeMsg">PDF formats can be
                            uploaded
                            ( Maximum size 2MB)</span>
                        <span *ngIf="showCertificateImgSizeErr" class="sizeError">Maximum File Size: 2 MB</span>
                        <span *ngIf="showCertificateImgErr" class="sizeError">Valid File Format is pdf</span>
                    </div>
                </div>
                <label style="display: flex; justify-content: center;" *ngIf="getCertificateData && getCertificateData['certificate_url']"> <span
                        (click)="viewDocuments(getCertificateData['certificate_url'])"
                        style="border-bottom: solid black 1px; cursor: pointer;">View</span></label>

                        <input id="file-input-2" type="file" accept=".pdf" (click)="filesc.value = null" #filesc
                        (change)="onSelectFile($event, 'certificate', 'i')">
            </div>
        </div>
    </div>

        <!-- New Other document -->
        <div class="card w-50 alignCard">
            <div class="card-body">
                <label style="margin: 0 !important;">Other</label>
                <div class="image-upload">
                    <div class="DesInput" matTooltip="{{urlOther ? 'Once uploaded, label will be disabled. Remove the document to edit this label and re-upload it.' : ''}}">
                        <input [ngClass]="urlOther ? 'disable' : ''" matInput [formControl]="NewOther" type="text" placeholder="Document description">
                        <div class="error" *ngIf="NewOther.errors?.maxlength || NewOther.errors?.pattern">
                            <span *ngIf="NewOther.errors?.maxlength" style="color: #C02222;">Minimum of 200 characters only accepted</span>
                            <span *ngIf="NewOther.errors?.pattern" style="color: #C02222;">Alphanumeric with commas, periods and spaces only allowed</span>
                            </div>
                    </div>
                    <div class="files">
                        <div matTooltip="{{NewOther && NewOther['value'] ? '' : 'Please type document description'}}">
                            <label [ngClass]="(NewOther && NewOther['value']) && NewOther.valid ? '' : 'disable'"
                                class="choose-input" for="file-input-3">
                                <div *ngIf="!urlOther">
                                    <img class="chooseImg" src="../../../assets/images/paper-clip.svg" />
                                    choose file
                                </div>
                                <div style="display: flex; justify-content: space-between;" *ngIf="urlOther">
                                    <span matTooltipPosition="after"
                                        matTooltip="{{'Click to change file'}}">{{(urlOther ? urlOther : null)}}</span>
                                    <span style="padding-left: .5em;" matTooltip="{{'Remove file'}}" (click)="removeCert(getOtherData['cerificate_id'], 'other'); stoppropgation($event)"><img src="assets/images/close-black-18dp.svg" alt="" srcset=""></span>
                                </div>
                            </label>
                        </div>
                        <div class="grid">
                            <span *ngIf="!showOtherImgErr" class="sizeMsg">PDF formats can be
                                uploaded
                                ( Maximum size 2MB)</span>
                            <span *ngIf="showOtherImgSizeErr" class="sizeError">Maximum File Size: 2 MB</span>
                            <span *ngIf="showOtherImgErr" class="sizeError">Valid File Format is pdf</span>
                        </div>
                    </div>
                    <label style="display: flex; justify-content: center;" *ngIf="getOtherData && getOtherData['certificate_url']"> <span
                            (click)="viewDocuments(getOtherData['certificate_url'])"
                            style="border-bottom: solid black 1px; cursor: pointer;">View</span></label>
    
                            <input id="file-input-3" type="file" accept=".pdf" (click)="fileso.value = null" #fileso
                            (change)="onSelectFile($event, 'other', 'i')">
                </div>
            </div>
        </div>
    
    <div class="buttonDiv">
        <button mat-raised-button (click)="submitDialog('submit')" type="button" class="submit">Submit</button>
    </div>

    <div *ngIf="filelists && filelists.length > 0" class="listFiles">
        <div class="head">List of assets uploaded by you:</div>
        <ol>
            <li *ngFor="let file of filelists; let i = index">
                <span (click)="viewDocs(file)" class="links">{{file['filename']}}</span>
            </li>
        </ol>
    </div>


</div>