<div class="overview-component-wrapper">
    <mat-card class="overview-card">
      <div class="header">
        <div class="header-text">Drive 2022</div>
      </div>
        <mat-card-content class="content-wrapper">
          <mat-card class="single-card">
            <div class="icon">
              <img src="assets/Yet_to_Insert_in_icomoon/Institutes_icon.svg" alt="" srcset="">
            </div>
            <div class="content">
              <div>150</div>
              <div>Number of Institutes</div>
            </div>
          </mat-card>

          <mat-card class="single-card">
            <div class="icon">
              <img src="assets/Yet_to_Insert_in_icomoon/Profile_icon.svg" alt="" srcset="">
            </div>
            <div class="content">
              <div>2300</div>
              <div>Number of Profiles</div>
            </div>
          </mat-card>

          <mat-card class="single-card">
            <div class="icon">
              <img src="assets/Yet_to_Insert_in_icomoon/Discipline_icon.svg" alt="" srcset="">
            </div>
            <div class="content">
              <div>40</div>
              <div>Number of Disciplines</div>
            </div>
          </mat-card>

        </mat-card-content>
    </mat-card>

    <mat-card class="application-info">
      <div class="header">
        <div class="header-text">Application Information</div>
      </div>
      <div class="content-wrapper">
        hi
      </div>
    </mat-card>
</div>
