@import "../../../themes/themes.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

.main-wrapper {
  margin: 0em 0 0 0;
  padding: 2em 3em 2em 2em;
  overflow: auto;

  .heading-grid {
    // padding: 0.25em 0 0.5em 1em;
    box-shadow: $shadow-light-black;
    display: grid;
    // justify-content: center;
    min-height: 55px;
    align-items: center;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    background: $blue-5 0% 0% no-repeat padding-box;
    // box-shadow: $shadow-light-black;
    text-align: center;
    color: $light-black;
    font-size: 17px;
    font-weight: 200;
    position: relative;
    div {
      min-height: 55px;
      min-width: 150px;
      position: relative;
      background: $blue-5 0% 0% no-repeat padding-box;
      align-items: center;
      display: flex;
      justify-content: center;

      span {
        font-size: 24px;
        top: 0x;
        position: absolute;
        right: 0;
        border-right: solid $blue 1px;
      }
    }
  }
  .head-1 {
    padding-left: 0 !important;
  }

  .form {
    margin: 2em 0 0 0;
    .text-box-grid {
      padding: 0.25em 0 0.5em 0em;
      display: grid;
      // align-items: center;
      grid-template-columns: 3fr 2fr 2fr 2fr;
      background: transparent 0% 0% no-repeat padding-box;
      color: $secondary;
      font-size: 17px;
      font-weight: 100;
      position: relative;
      div {
        min-width: 150px;
        max-width: 90%;
        // width: 100%;
        align-items: center;
        margin: 0 0em 0 1em;
        nz-date-picker,
        input {
          display: flex;
          align-items: center;
          margin: 0 !important;
          width: 100%;
          font-size: 17px;
          // padding: .15em;
          padding: 0 1em;
          box-shadow: $shadow-light-black;
          border: none;
          color: $secondary;
          outline: none;
          background: $white-primary;
          border-radius: 5px;
          min-height: 38px;
          max-height: 38px;
        }
        .error {
          color: $red;
          font-size: 12px;
          font-weight: 200;
        }
      }
      div:first-child {
        margin-left: 0 !important;
        margin-right: 0em !important;
        max-width: 96%;
      }
      div:last-child {
        margin-right: 0 !important;
      }
      .remove {
        color: $red;
        cursor: pointer;
        height: 25px;
        position: absolute;
        right: -14px;
        top: 10px;
        padding: 0 0 0 0.25em;
      }
    }
  }
  .add-form {
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
    div {
      cursor: pointer;
      text-align: center;
      .text {
        margin: 0.5em 0 0 0;
        color: $light-blue;
        padding: 0 0 0.1em 0;
        border-bottom: solid $light-blue 1px;
        font-size: 15px;
        font-weight: 100;
      }
    }
  }
  .submit-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em 2em 2em 2em;
    button:first-child {
      width: 220px;
      height: 35px;
      background: $light-blue 0% 0% no-repeat padding-box;
      box-shadow: $shadow-light-black-1;
      border-radius: 8px;
      font-weight: 700;
      font-size: 15px;
      color: $white;
      outline: none;
      font-weight: bold;
    }
    button:last-child {
      width: 120px;
      height: 35px;
      margin-left: 30px;
      border-radius: 8px;
      border: 1px solid $blue-1;
      font-weight: 600;
      font-size: 15px;
      color: $blue-1;
      outline: none;
    }
  }
}
