@import "../../../themes/themes.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

.alert {
  color: $primary-red;
  font-size: 14px;
  padding-left: 14px !important;
  padding-bottom: 0 !important;
}

nz-select,nz-date-picker,
input {
  width: 100%;
  font-size: 14px;
  padding: 0 4px;
  color: $secondary;
  border: .8px solid $input-border;
  border-radius: 2px;
  background: $white;
  display: flex !important;
  box-sizing: border-box;
  min-height: 35px !important;
  max-height: 35px !important;
  line-height: 35px;
  outline: none;
  font-weight: 200;
}
input:focus,input:hover {
  border: 1px solid $primary-red;
}
nz-select:focus,nz-select:hover {
  border: 1px solid $primary-red;
}
nz-date-picker:focus,nz-date-picker:hover {
  border: 1px solid $primary-red;
}

.error {
  color: $primary-red;
  font-size: 12px;
  font-weight: 200;
}

.flex-column-wrapper {
  min-width: 300px;
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
  flex: 1;
  flex-direction: column;
}

.label {
  margin: 0 1em 0 0em;
  color: $light-black;
  font-weight: 200;
  font-size: 14px;
  white-space: nowrap;
}

.main-wrapper {
  margin: 0em 0 0 0;
  padding: 1em 1em 1em 1em;
  overflow: auto;

  .form {
    margin: 0 0 0 0;
    .grid-wrapper {
    display: grid;
    grid-template-columns: 90% 10%;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 0em 0em;
    margin-top: 1em;
    padding-bottom: 1.5em;
    }
    .text-box-grid {
      display: flex;
      flex-wrap: wrap;
      background: transparent 0% 0% no-repeat padding-box;
      color: $secondary;
      font-size: 14px;
      font-weight: 200;
      position: relative;
    }
  }
  .submit-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
}

.add-button {
  color: $primary-red;
  border: 1px dashed #BEBEBE;
  height: 35px;
  min-width: 100px;
  margin-left: 1em;
}
.add-button:hover {
  background-color: $primary-red;
  color: white;
  transition: background-color 580ms linear;
}

.remove-wrapper {
  width: 100%;
  padding: 0 1.25em;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  .remove {
      position: absolute;
      cursor: pointer;
      left: 50%;
      top: 20%;
      height: 24px;
      transform: translate(-50%, -20%);
      i {
          color: $primary-red;
      }
      i:hover {
          color: white;
          background-color: $primary-red;
          border-radius: 50%;
      }
  }
}



:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $primary-red !important;
}
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $primary-red !important;
}
:host ::ng-deep .mat-radio-outer-circle {
  border-color: $primary-red !important;
}




:host ::ng-deep .ant-select-selection__placeholder, :host ::ng-deep .ant-select-search__field__placeholder {
  color: #A5A5A5 !important;
  font-size: 14px !important;
}
:host ::ng-deep .ant-input:placeholder-shown {
  color: #A5A5A5 !important;
  font-size: 14px !important;
}
::placeholder {
  color: #A5A5A5 !important;
  opacity: 1 !important;
  font-size: 14px;
}

:host ::ng-deep .ant-select-selection__rendered {
  position: relative;
  display: block;
  margin-right: 0 !important;
  margin-left: 0 !important;
  line-height: 35px !important;
}

:host ::ng-deep .ant-select-arrow {
  right: 0 !important;
  padding: 0 8px !important;
}

:host ::ng-deep .ant-select-selection__clear {
  right: 18px !important;
  margin-top: -7px !important;
}
:host ::ng-deep .anticon.ant-select-arrow-icon::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  margin-top: 0.25em;
  border-top: 0.5em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  color: #666666;
  opacity: 0.9;
  border: solid #A5A5A5 !important;
  border-width: 0 1px 1px 0 !important;
  display: inline-block !important;
  padding: 3px !important;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
  margin-top: 1px !important;
}

::ng-deep .ant-select-dropdown-menu-item:first-child, ::ng-deep .ant-select-dropdown-menu-item:last-child {
  border: none !important;
  border-radius: 0px !important;
}

::ng-deep .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #eaeaea !important;
}

::ng-deep .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: rgb(211, 211, 211, .7) !important;
}

:host ::ng-deep .ant-select-dropdown {
  border: 1px solid #BEBEBE !important;
}

:host ::ng-deep .ant-select-selection-selected-value {
  padding-right: 16px !important;
}

// Ant Select dropdown css close
//mat-checkbox start
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $primary-red !important;
}
:host ::ng-deep {
  .ant-calendar-picker-input {
    line-height: 35px;
    height: 35px;
    padding: 0;
    font-size: 14px;
  }
}


mat-datepicker-toggle {
    width: 35px !important;
    height: 35px !important;
    display: flex !important;
    align-items: center !important;
    border: 0.8px solid #bebebe !important;
    border-left: none !important;
    justify-content: center !important;
}
