<div class="main-wrapper">
  <div class="heading-grid">
    <div class="head-1">
      Name of your family members
      <span>&#160;</span>
    </div>
    <div class="head-2">
      Date of Birth
      <span>&#160;</span>
    </div>
    <div class="head-3">
      Relationship
      <span>&#160;</span>
    </div>
    <div class="head-4">
      Occupation
    </div>

  </div>
  <form [formGroup]="familyForm" class="form">
    <ng-container *ngIf="familyArr && familyArr.controls" formArrayName="familyArr">
      <div class="text-box-grid" *ngFor="let item of familyArr.controls; let i = index;" [formGroupName]="i">
        <div class="text-1">
          <input (focusout)="detectInput(familyForm)" formControlName="names" type="text">
          <div class="error"
            *ngIf="familyArr.controls[i].get('names').invalid && familyArr.controls[i].get('names').touched">
            <span *ngIf="familyArr.controls[i].get('names').errors?.required">Name is Required</span>
          </div>
        </div>
        <div class="text-2">
          <!-- <input formControlName="dob" type="text"> -->
          <nz-date-picker (ngModelChange)="detectSelectChange()" formControlName="dob" [nzFormat]="dateFormat"></nz-date-picker>
          <div class="error"
          *ngIf="familyArr.controls[i].get('dob').invalid && familyArr.controls[i].get('dob').touched">
          <span *ngIf="familyArr.controls[i].get('dob').errors?.required">Date of Birth is Required</span>
        </div>
        </div>
        <div class="text-3">
          <input (focusout)="detectInput(familyForm)" formControlName="relationship" type="text">
          <div class="error"
          *ngIf="familyArr.controls[i].get('relationship').invalid && familyArr.controls[i].get('relationship').touched">
          <span *ngIf="familyArr.controls[i].get('relationship').errors?.required">Relationship is Required</span>
        </div>
        </div>
        <div class="text-4">
          <input (focusout)="detectInput(familyForm)" formControlName="occupation" type="text">
          <div class="error"
          *ngIf="familyArr.controls[i].get('occupation').invalid && familyArr.controls[i].get('occupation').touched">
          <span *ngIf="familyArr.controls[i].get('occupation').errors?.required">Occupation is Required</span>
        </div>
        </div>
        <i *ngIf="i !== 0" (click)="removefamilyForm(i)" style="color: red; height: 25px;"
          class="material-icons remove">delete</i>
      </div>
    </ng-container>
  </form>
  <div class="add-form">
    <div (click)="addfamilyForm()">
      <img src="assets/images/interface.svg" alt="" srcset="">
      <div class="text">
        Add
      </div>
    </div>
  </div>

  <div class="submit-button-wrapper">
      <button (click)="onSubmit(familyForm.value)" mat-raised-button type="submit">Save and Continue</button>

      <button (click)="cancel()" mat-raised-button type="button">Cancel</button>

    </div>

</div>
