<div class="alert">
  Note: Please make sure to complete the form and fill the information’s correctly. You will not be able to edit after the shortlisting process.
</div>
<div class="main-wrapper">
  <h5>Family Details</h5>
  <form #form="ngForm" [formGroup]="familyForm" class="form">
    <ng-container *ngIf="familyArr && familyArr.controls" formArrayName="familyArr">
      <div class="grid-wrapper" *ngFor="let item of familyArr.controls; let i = index;" [formGroupName]="i">
        <div class="text-box-grid">
        <div class="flex-column-wrapper">
          <label class="label">Name of your family members</label>
          <input matInput (focusout)="detectInput(familyForm)" formControlName="names" type="text" placeholder="Enter here...">
          <div class="error" *ngIf="familyArr.controls[i].get('names').invalid">
            <span *ngIf="familyArr.controls[i].get('names').errors?.Namerequired">Name is Required</span>
            <span *ngIf="familyArr.controls[i].get('names').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>

        </div>
        <div class="flex-column-wrapper">
          <label class="label">Date of Birth</label>
          <!-- <input formControlName="dob" type="text"> -->
          <nz-date-picker placeholder="Select" (ngModelChange)="detectSelectChange()" [nzShowToday]="false" [nzDisabledDate]="disabledYears"
            formControlName="dob" [nzFormat]="dateFormat" nzPlaceHolder="Select DOB"></nz-date-picker>
          <div class="error"
            *ngIf="familyArr.controls[i].get('dob').invalid && familyArr.controls[i].get('dob').touched">
            <span *ngIf="familyArr.controls[i].get('dob').errors?.required">Date of Birth is Required</span>
          </div>
        </div>
        <div class="flex-column-wrapper">
          <label class="label">Relationship</label>
          <input matInput (focusout)="detectInput(familyForm)" formControlName="relationship" type="text" placeholder="Enter here...">
          <div class="error"
            *ngIf="familyArr.controls[i].get('relationship').invalid && familyArr.controls[i].get('relationship').touched">
            <span *ngIf="familyArr.controls[i].get('relationship').errors?.required">Relationship is Required</span>
            <span *ngIf="familyArr.controls[i].get('relationship').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>
        <div class="flex-column-wrapper">
          <label class="label">Occupation</label>
          <input matInput (focusout)="detectInput(familyForm)" formControlName="occupation" type="text" placeholder="Enter here...">
          <div class="error"
            *ngIf="familyArr.controls[i].get('occupation').invalid && familyArr.controls[i].get('occupation').touched">
            <span *ngIf="familyArr.controls[i].get('occupation').errors?.required">Occupation is Required</span>
            <span *ngIf="familyArr.controls[i].get('occupation').errors?.pattern">Accept only Alphanumeric characters and maximum of 255 characters only allowed</span>
          </div>
        </div>
      </div>
        <div *ngIf="i !== 0" class="remove-wrapper">
          <div (click)="removefamilyForm(i)" matTooltip="Remove" class="remove">
              <i class="material-icons material-icons-outlined">
                  remove_circle_outline
                  </i>
          </div>
          </div>

      </div>
    </ng-container>
  </form>
  <div *ngIf="!notShow" class="row-wrapper mt-3">
    <button class="add-button" mat-raised-button type="button" (click)="addfamilyForm()">+ Add</button>
</div>

  <div class="submit-button-wrapper">
    <button class="submit btn-margin-space" (click)="onSubmit(familyForm.value)" mat-raised-button type="submit">Continue</button>

    <button class="cancel-btn" (click)="cancel()" mat-raised-button type="button">Cancel</button>

  </div>

</div>
