<div class="sub-menu-wrapper">
  <!-- <span><img src="assets/images/005-graduation-cap.svg" alt="" srcset=""></span> -->
    <div class="menu-group" [routerLink]="appConstant.ADMIN_DASHBOARD.USER_MANAGEMENT_INSTITUTE_UPLOADED_LIST" routerLinkActive="active">
       <span> Institute details</span>
    </div>
    <!-- <span><img src="assets/images/Group4403.svg" alt="" srcset=""></span> -->
    <div class="menu-group" [routerLink]="appConstant.ADMIN_DASHBOARD.USER_MANAGEMENT_INSTITUTE_BULK_UPLOAD" routerLinkActive="active">
       <span> Upload Institute details</span>
    </div>

  </div>

  <router-outlet></router-outlet>
