@import "../../../styles.scss";
@import "../../themes/themes.scss";
.hideDropDown {
  pointer-events: none;
  background: rgba(128, 128, 128, 0.328) !important;
}

.main-wrapper {
  background: url(../../../assets/images/BackgroundImage1.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  color: $primary;
  align-items: center;
  justify-content: center;
  .layer-only {
    background-color: $overlay-layer-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .register-wrapper {
    // margin: 6em auto;
    position: relative;
    align-items: center;
    @include lg() {
      // top: 8%;
    }
    @include md() {
      // top: 8%;
    }
    @include sm() {
      // top: 5%;
    }
    background-color: transparent;
    .register-header {
      margin: 0em 0 1em 0;
      h3 {
        text-align: center;
        color: $white;
        font-weight: 600;
        font-size: 24px;
        margin-left: 220px;
      }
    }
    .content-wrapper {
      @include lg() {
        min-width: 600px;
      }
      background-color: $white;
      box-shadow: $shadow-black;
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      .side-wrapper-bg-institute {
        background-image: url(../../../assets/images/institute.png);
      }
      .side-wrapper-bg-corporate {
        background-image: url(../../../assets/images/Corporatebuilding.png);
      }
      .sidebar-wrapper {
        background-color: $primary-yellow;
        position: absolute;
        top: 0;
        float: left;
        left: 0;
        @include lg() {
          width: 220px;
        }
        @include md() {
          width: 220px;
        }
        @include sm() {
          width: 150px;
        }

        height: 100%;
        text-align: center;
        color: $white;
        img {
          margin: 50px 0;
          width: 161px;
          height: 40px;
          color: $white;
        }
        h5 {
          color: $white;
          font-size: 18px;
          font-weight: 700;
        }
      }

      .form-wrapper {
        padding: 2em 0em 1em 4em;
        @include lg() {
          margin: 0 0 0 220px;
        }
        @include md() {
          margin: 0 0 0 220px;
        }
        @include sm() {
          margin: 0 0 0 150px;
        }

        position: relative;
        width: 100%;
        box-sizing: border-box;
        .forms {
          display: grid;
          grid-template-columns: 1fr 1fr;
          @include sm() {
            grid-template-columns: 1fr;
          }
          justify-content: space-between;
          text-align: left;
          position: relative;
          .form-field {
            padding: 0 !important;
            margin: 1em 4em 0 0;
            label {
              text-align: left;
              padding: 0 0 4px 0 !important;
              margin: 0 !important;
              color: $primary;
              font-size: 15px;
            }
            .input-box {
              input,
              nz-select,
              select {
                padding: 0em 0.15em 0 0.5em;
                font-size: 18px;
                color: $secondary;
                height: 40px;
                outline: none;
                background: $white 0% 0% no-repeat padding-box;
                border-radius: 5px;
                // box-shadow: $shadow-light-black;
                border: solid $input-border 0.5px;
                min-width: 275px;
                max-width: 275px;
                overflow: auto;
                box-sizing: border-box;
              }
              :focus {
                border: solid $blue 1px;
              }
            }
            .error {
              color: $red;
              font-size: 12px;
              font-weight: 200;
            }
          }
        }
        .form-field-comment {
          margin: 1em 0 0 0;
          display: flex;
          justify-content: center;
          div {
            label {
              text-align: left;
              padding: 0 0 0.25em 0 !important;
              margin: 0 !important;
              color: $primary;
              font-size: 17px;
            }
            .input-box {
              textarea {
                background: $white 0% 0% no-repeat padding-box;
                border: solid $input-border 0.5px;
                padding: 0.5em;
                font-size: 15px;
                color: $secondary;
                @include lg() {
                  min-width: 400px;
                }
                @include md() {
                  min-width: 250px;
                }
                width: 400px;
                min-height: 125px;
                outline: none;
                border-radius: 5px;
                // box-shadow: $shadow-light-black;
                width: 100%;
                box-sizing: border-box;
              }
              :focus {
                border: 1px solid $blue;
              }
            }
          }
        }
      }
    }
    .register-footer {
      text-align: center;
      margin: 2em 0 0em 0;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        @include lg() {
          margin: 0 0 0 220px;
        }
        @include md() {
          margin: 0 0 0 220px;
        }
        @include sm() {
          margin: 0 0 0 150px;
        }

        // background: $light-blue 0% 0% no-repeat padding-box;
        // border-radius: 10px;
        font-size: 18px;
        // border: none;
        // outline: none;
        // color: $white;
        font-weight: 700;
        padding: 1em 4em !important;
        // box-shadow: $shadow-light-black;
      }
    }
  }
}

// Common css for this component
.asterick {
  color: $red;
}
mat-option {
  height: 40px;
  font-size: 14px !important;
}
mat-option:hover {
  background: $lighter-blue 0% 0% no-repeat padding-box !important;
  border: 0.5px solid $blue;
}
.mat-option.mat-selected {
  background: $lighter-blue 0% 0% no-repeat padding-box !important;
  border: 0.5px solid $blue;
}

@media only screen and (max-height: 768px) {
  .main-wrapper {
    height: 800px;
    align-items: center;
  }
}
