<mat-toolbar>
  <ul>
    <li>
      <img src="assets/images/Logo.png" width="80px" height="80px" alt="">
    </li>
    <li>
      <div> Unified Digital</div>
      <div>Assessment Platform </div>
    </li>
  </ul>
  <ul>
    <li>
        <span>
            <img src="assets/images/015-home-icon-silhouette.svg" alt="">
          </span>
      </li>
    <li>
      <span class="material-icons">
        notifications
      </span>
    </li>
    <li>
      <span class="material-icons">
        person
      </span>
    </li>
    <li style="margin-top: 6px;" (click)="logOut()">
        <span>
          <img src="assets/images/logout.svg" alt="">
        </span>
      </li>
    </ul>
</mat-toolbar>
