@import "../../../themes/themes.scss";

.main-new-interview-assigned {
    .total-wrap {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .lefttable {
          min-width: 500px;
          max-width: 500px;
        }
        .righttable {
          min-width: 500px;
          max-width: 500px;
        }
      }
      .head-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1em;
      }
      .top-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: space-between;
        .left,.right {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          width: 100%;
        .flex-wrap {
          display: grid;
          grid-template-columns: .7fr 1fr;
          align-items: center;
          max-width: 400px;
          margin-top: 1em;
          // margin: 0 0 0.5em 0;
          .label {
            color: $light-black;
            font-size: 14px;
          }
          .input-box {
            nz-select {
              height: 30px;
              color: $light-black;
              // background: $white 0% 0% no-repeat padding-box;
              // box-shadow: $shadow-light-black;
              // border-radius: 5px;
              // font-size: 13px;
              min-width: 235px;
              max-width: 235px;
            }
          }
        }
      }
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.search-bar {
  margin: 0em 1em 0em 1em;
  text-align: right;
  .search-icon {
    display: inline-flex;
    align-items: center;
    margin: 8px 0;
    width: auto;
    // min-width: 280px;
    color: $header-blue;
    font-size: 14px;
    border: 0.5px solid $borderColor-2;
    background: $white-2 0% 0% no-repeat padding-box !important;
    border-radius: 5px;
    box-shadow: $shadow-light-black;
    box-sizing: border-box;
    padding: 0.25em 0.15em;
    height: 27px;
    position: relative;
    img {
      width: 20px;
      height: 13px;
    }
    input {
      position: relative;
      width: 100%;
      display: inline-block;
      margin: 8px 0;
      width: auto;
      color: $header-blue;
      font-size: 14px;
      background: $white-2 0% 0% no-repeat padding-box !important;
      box-sizing: border-box;
      padding: 0.15em 0.5em;
      border: none;
      height: 24px;
    }
    ::placeholder {
      color: $black-1;
      opacity: 0.6;
      font-size: 12px;
    }
  }
}
:focus {
  border-radius: 0px;
  border: none;
  outline: none;
}
::ng-deep.ag-paging-panel {
  background: #EAEAEA !important;
  height: 30px !important;
  font-weight: 400 !important;
  color: black !important;
  margin-bottom: 20px !important;
}
:host ::ng-deep.ag-row-hover {
  background-color: $ag-hover !important;
}
.ag-wrapper {
  margin: 1.5em 0 0 0;
}