<app-common-header></app-common-header>
<!-- <div class="toolbar-wrapper">
  <span> Home ></span> <span> Dashboard </span>
  <span> </span>
</div> -->
<div class="toolbar-wrapper">
  <ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs">
      <span [routerLink]="'.'+breadcrumb.url" routerLinkActive="router-link-active">
        {{ breadcrumb.label }}
      </span>
    </li>
  </ol>
</div>
<mat-drawer-container class="first-sidenav">
  <mat-drawer class="sub-wrapper-nav" mode="side" [opened]="sidebarOpen">
    &#160;
  </mat-drawer>
  <mat-drawer-content class="main-toolbar" [ngClass]="!subMenus || subMenus.length === 0 ? 'toolbar-bg' : ''">
    <ng-container *ngIf="subMenus && subMenus.length > 0">
      <div [routerLink]="subMenus.router" *ngFor="let subMenus of subMenus; let i = index" class="sub-navs"
        routerLinkActive="active" [ngClass]="subMenus.router === null ? 'non-active' : ''">
        <div *ngIf="subMenus.icon"><img src="assets/images/{{subMenus.icon}}" alt=""></div>
        <div *ngIf="subMenus.name">{{subMenus.name}}</div>
      </div>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>
<div (click)="sidebar()" [ngClass]="sidebarOpen ? 'sideOpen' : 'sideClose'" class="openClose">
  <span *ngIf="sidebarOpen"><img src="assets/images/keyboard_arrow_left.svg" alt="" srcset=""></span>
  <span *ngIf="!sidebarOpen"><img src="assets/images/keyboard_arrow_right.svg" alt="" srcset=""></span>
</div>
<mat-drawer-container class="second-sidenav">

  <mat-drawer class="sidenav" mode="side" [opened]="sidebarOpen">
    <ul>
      <li [routerLink]="appConstant.TPO_DASHBOARD.USER_MANAGEMENT" routerLinkActive="active">
        <span><img src="assets/images/001-people.svg" width="20px" height="20px" alt=""></span>
        <span>User Management</span>
        <span>
          <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
        </span>
</li>
      <li [routerLink]="appConstant.TPO_DASHBOARD.STATUS" routerLinkActive="active">
        <span><img src="assets/images/status-bar.svg" width="20px" height="20px" alt=""></span>
        <span>Status</span>
        <span>
          <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
        </span>
</li>
      <li [routerLink]="appConstant.TPO_DASHBOARD.TPO_REPORTS" routerLinkActive="active">
        <span><img src="assets/images/003-statistics.svg" width="20px" height="20px" alt=""></span>
        <span>Reports</span>
        <span>
          <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
        </span>
</li>
    </ul>

  </mat-drawer>
  <mat-drawer-content class="main-container">

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
