@import "../../themes/themes.scss";
@import "../../../styles.scss";
* {
  margin: 0;
  box-sizing: border-box;
}
mat-toolbar {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  background: $secondary !important;
  display: flex;
  justify-content: space-between;
  ul:first-child {
    padding: 0;
    color: $white;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    li {
      list-style: none;
      text-align: center;
      padding: 1em 0.5em;
      font-size: 18px;
      line-height: 1.4em;
      font-weight: 700;
      box-sizing: border-box;
    }
  }
  ul:last-child {
    // font-size: 16px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    li {
      list-style: none;
      padding: 1em 1em;
      color: $white;
      text-transform: uppercase;
      box-sizing: border-box;
      cursor: pointer;
      outline: none;
      span {
        img {
          width: 26px;
          height: 26px;
        }
      }
    }
    .logout {
      cursor: pointer;
      color: $black;
      border-radius: 6px;
      padding: 0.1em 1em;
      background: $white;
    }
  }
}
