@import "../../../themes/themes.scss";

.inv-particular-assessment-candidate {
  height: 78vh;

  .leftinfo {
    > div {
      display: flex;
      display: flex;
    flex-direction: column;
    }
  }
}

td {
  // text-align: center !important;
  padding-left: 1em !important;
}
th {
  // text-align: center !important;
  padding-left: 1em !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hide {
  display: none;
}

.none {
  transform: none;
}
.user-list-wrapper button:focus {
  border-radius: 0px !important;
}
.search-bar:focus {
  border-radius: 0px;
  border: none;
  outline: none;
}
.user-list-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0em 0 8px 0;
    margin-top: 12px;
    align-items: flex-end;
    .leftinfo {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      min-width: 700px;
      padding-left: 1em;
      align-items: center;
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3%;
        flex-grow: 1;
        color: #808080;
        position: relative;
        line-height: 1.3;
        &:first-child {
         padding-left:0 ;
        }
        &:last-child {
          &:before {
            content: none;
          }

         }
        &:before {
          content: '';
          border-right: 1px solid #aaa;
          position: absolute;
          right: 0;
          height: 70%;
          top: 7px;
        }
      }
      span {
        font-weight: 700;
        color: #000;
        font-size: 18px;
      }
    }
    .rightinfo {
      display: flex;
      align-items: center;
      // width: 30%;
      justify-content: flex-end;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .filterbtn {
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #c5c5c5 !important;
        box-shadow: 0px 0px 5px #00000029 !important;
        color: #808080;
        min-width: 100px;
        display: flex !important;
        align-content: space-around;
        flex-direction: row !important;
        height: 33px;
        margin-right: 15px;
        em {
          margin-right: 10px;
        }
      }
    }
}

::ng-deep .ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell, ::ng-deep .ag-theme-alpine .ag-cell {
  padding-left: 10px;
  padding-right: 10px;
}


::ng-deep span.status {
      border-radius: 4px;
      display: inline-block;
      line-height: 0.7;
      font-size: 11px;
      width: 120px !important;
      padding: 7px 8px;
  }

  ::ng-deep .profileAvatar {
    width: 30px;
    height: 30px;
    img {
      width: 30px;
      height: 30px;
        border-radius: 50%
    }
  }


  ::ng-deep .ag-grid-header-center {
    .ag-header-cell-label {
      justify-content: center;
    }
  }

  ::ng-deep .inprogress-bg {
  background-color: #ffbc00 !important;
  color: #fff;
  }
  ::ng-deep .completed-bg {
  background-color: #48cc83 !important;
  color: #fff;
  }
  ::ng-deep .rejected-bg {
  background-color: #c02222;
  color: #fff;
  }
  ::ng-deep .inprogress-blue-bg {
    background-color: #1A4D9A;
    color: #fff;
  }
  ::ng-deep .scheduled-bg {
    background-color: #bababa;
    color: #666666 ;
  }
  ::ng-deep .inprogress-clr {
    // background-color: #ffbc00;
    color: #ffbc00 !important;
    }
    ::ng-deep .completed-clr {
    // background-color: #48cc83;
    color: #48cc83;
    }
    ::ng-deep .rejected-clr {
    // background-color: #c02222;
    color: #c02222;
    }
