<div class="main-wrapper-uploaded-list admin-bulk-upload-tpo">
  <!-- <div class="line">
    </div> -->

  <div class="user-list-wrapper" [ngClass]="userList && userList.length > 0 ? '' : 'hide'">
    <div class="search-bar">
      <div class="search-icon">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search….">
        <img src="assets/images/feather-search.svg" alt="" srcset="">
      </div>
    </div>

    <mat-table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="counter">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell (click)="$event.stopPropagation();" mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="field_user_name">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Institute Name </mat-header-cell>
        <mat-cell (click)="$event.stopPropagation();" mat-cell *matCellDef="let element">
          {{element && element.field_institute_name ? element.field_institute_name : '-' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Institute Email Id </mat-header-cell>
        <mat-cell (click)="$event.stopPropagation();" mat-cell *matCellDef="let element">
          {{element && element.email ? element.email : '-' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="field_institute_state">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
        <mat-cell (click)="$event.stopPropagation();" mat-cell *matCellDef="let element"> {{element && element.field_institute_state ? element.field_institute_state : '-' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="field_institute_city">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
        <mat-cell (click)="$event.stopPropagation();" mat-cell *matCellDef="let element"> {{element && element.field_institute_city ? element.field_institute_city : '-' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="field_date">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell (click)="$event.stopPropagation();" mat-cell *matCellDef="let element"> {{element && element.field_date ? element.field_date : '-' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="field_time">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
        <mat-cell (click)="$event.stopPropagation();" mat-cell *matCellDef="let element">
          {{element && element.field_time ? element.field_time : '-' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="field_institute_name">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person </mat-header-cell>
        <mat-cell style="pointer-events: all !important; cursor: pointer;" mat-cell *matCellDef="let element">
          <span class="material-icons" style="font-size: 16px;">keyboard_arrow_down </span> {{element && element.field_first_name ? element.field_first_name : '-' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="upload_registration">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell (click)="$event.stopPropagation();" mat-cell *matCellDef="let element">
          <span [ngClass]="element && element.admin_status === 'Approved' ? 'green' : 'red' "> {{element && element.admin_status ? element.admin_status : '-' }} </span> </mat-cell>
      </ng-container>

      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></tr> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]"></mat-paginator>
  </div>
  <div class="no-data" [ngClass]="userList && userList.length === 0 ? '' : 'hide'">
    <div>No data available </div>
  </div>


  <ng-template #tpl let-element>
    <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
      <div class="grid-4">
        <div class="items">
        Last Name : <span>{{element && element.field_institute_last_name ? element.field_institute_last_name : '  -'}}</span>
        </div>
        <div class="items">
            Job Title : <span>{{element && element.field_institute_title ? element.field_institute_title : '  -'}}</span>
        </div>
        <div class="items">
            Mobile Number : <span>{{element && element.field_institute_mobile_number ? element.field_institute_mobile_number : '  -'}}</span>
        </div>
        <div class="items">
            Comments : <span>{{element && element.field_insitute_comments ? element.field_insitute_comments : '  -'}}</span>
        </div>
      </div>
    </div>
  </ng-template>



</div>
