<div class="vertical-wrapper">

  <div *ngIf="this.chartOptions?.headingTitle" class="heading-title"><span>{{this.chartOptions?.headingTitle}}</span>
  </div>
  <div class="card-content-wrapper">
    <div [ngClass]="this.chartOptions?.data ? '' : 'hide'" class="demo-funnel" id="funnel"></div>
    <ngx-skeleton-loader style="width:100%; flex-grow: 1;" *ngIf="!this.chartOptions?.data" count="8" [theme]="{
      height: '30px',
      padding: '8px'
    }" appearance="line" animation="progress"></ngx-skeleton-loader>
  </div>
</div>
