.vertical-wrapper {
  display: block;
  box-sizing: border-box;
  min-width: 250px;
  position: static;
  padding: 0;
  .heading-title {
    color: #565656;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    span {
      padding-left: 24px;
    }
  }
  .heading-title:after {
    display: block;
    border-bottom: solid 1px #dcdcdc;
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .card-content-wrapper {
    // min-height: 100%;
    height: 435px;
    overflow: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: static;
    .demo-funnel {
      position: static;
      width: 520px;
      display: flex;
      align-items: center;
      justify-content: center;
      // overflow: auto;
      // display: flex;
      // justify-content: center;
      // text-align: center;
      @media (min-width: 100px) and (max-width: 480px) {
        width: 350px;
      }
    }
  }

  .hide {
    display: none;
  }

}
