<div class="customer-wrapper-candidate-landing">
  <app-customer-landing-header></app-customer-landing-header>
  <div class="customer-body-wrapper">
    <div class="customers">
      <div class="instructions">
        <span class="icon-Info"></span> Choose your organisation by clicking on
        the right arrow (<span class="icon-RightArrow f_size_10"></span>);
      </div>

      <div class="card">
        <div class="logo-wrapper">
        <div class="logo">
          <img
            [src]="'https://assets.lntedutech.com/edutech_logo.svg'"
            [alt]="'customer.customer_name'"
            srcset=""
          />
        </div>
      </div>

        <div class="customer-section">
          <div class="title">Adani Institute Of Infrastructure Management</div>
          <div class="candidate-status-wrapper">
            <div class="customer-details">
              <div class="form-group">
                <label>Created By</label>
                <div class="form-value">Aakash, Sriram Engineering College</div>
              </div>
              <div class="form-group mb-0">
                <label>Created Date</label>
                <div class="form-value">14 Jan 2022</div>
              </div>
            </div>
            <div class="profile-details">
              <div class="form-group pl-4">
                <label>Profile Applied</label>
                <div class="form-value">GET</div>
              </div>
              <div class="form-group mb-0 pl-4">
                <label>Profile Applied Date</label>
                <div class="form-value">14 Jan 2022</div>
              </div>
            </div>
            <div class="candidate-status">
              <div class="candidate-status-wrapper">
                <div class="interview-details">
                <button
                  class="common-button common-button-height-33 custom-color"
                  type="button"
                  mat-raised-button
                >
                  Interview Scheduled
                </button>
                <div class="schedule">
                  <span class="icon-DateTime pr-1"></span> <span>March 23 2021 at 01:00 PM</span>
                </div>
              </div>
                <div class="status-checks">
                  <div class="checkmark">
                    <div class="icon-CheckMark"></div>
                    <div class="status-label">Update Profile</div>
                  </div>
                  <div class="checkmark icn">
                    <div class="icon-CheckMark"></div>
                    <div class="status-label">Upload Documents</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="redirection">
          <span class="icon-RightArrow f_size_20"></span>
        </div>

      </div>
    </div>
  </div>
</div>
