@import '../../../themes/themes.scss';

.customer-wrapper {
  position: relative;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  height: 100%;

  .customer-body-wrapper {
    position: relative;
    overflow: auto;
    height: calc(100% - 100px);
  }
}
