@import "../../../../themes/themes.scss";

.second-level-assessmentList {
  .user-list-wrapper {
    margin: 0em 0 0.5em 0;
    /* Structure */
    .search-bar {
      margin: 8px 18px 4px 16px;
      text-align: right;
    }
    :focus {
      border-radius: 0px;
      border: none;
      outline: none;
    }
  }
}


// 1b4e9b
::ng-deep .shortlist {
  // color: $primary-red;
  display: flex;
  align-items: center;
  cursor: pointer;
}
::ng-deep .ag-grid-header-center {
  .ag-header-cell-label {
    justify-content: center;
  }
}
