<div class="second-level-assessmentList">
  <div class="user-list-wrapper" [ngClass]="userList && userList.length > 0 ? '' : ''">
    <!-- <mat-form-field>
            <mat-label>Filter</mat-label> -->
    <div class="search-bar">
      <div class="search-icon">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search….">
        <img src="assets/images/feather-search.svg" alt="" srcset="">
      </div>
    </div>
    <!-- </mat-form-field> -->

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.uid ? element.uid : '-'}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="assement_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessments </th>
        <td mat-cell *matCellDef="let element"> {{element.assement_name ? element.assement_name : '-'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date ? element.date : '-'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time ? element.time : '-'}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="group_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group name </th>
        <td mat-cell *matCellDef="let element"> {{element.group_name ? element.group_name : '-'}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status ? element.status : '-'}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="no_of_candidate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="text-align: left !important; white-space: nowrap;"> No. of candidates</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.no_of_candidate ? element.no_of_candidate : '-'}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="report">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assessment report </th>
        <td mat-cell *matCellDef="let element">
          <div class="button-wrapper">
            <button style="margin-right: .25em;" (click)="viewReports(element)" mat-raised-button>
              <span class="image"><img src="assets/images/eye.svg" alt="" srcset=""></span> <span class="text">View</span>
            </button>
            <button mat-raised-button>
              <span class="image"><img style="height: 12px;" src="assets/images/Group4527.svg" alt="" srcset=""></span> <span class="text">Download</span>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Shortlist </th>
        <td mat-cell *matCellDef="let element"> <span style="display: none;">{{element.buttons ? element.buttons : '-'}}</span>
          <button *ngIf="element.status != 'completed'" (click)="shortlistRedirect(element)" class="download"
            mat-raised-button> Shortlist</button>
            <!-- <button *ngIf="element.status != 'completed'" (click)="shortlistedReport(element)" class="download"
            mat-raised-button>  -->
            <img style="cursor: pointer; margin-left: 1em;" *ngIf="element.status == 'completed'" (click)="shortlistedReport(element)" src="assets/images/eye.svg" alt="" srcset="">
          <!-- </button> -->
           </td>
      </ng-container>


      <!-- fifth Header row first group -->
      <div [ngClass]="userList && userList.length === 0 ? '' : 'hide'" matColumnDef="fifth-header-row-first-group">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="10">
            {{'No Data Available'}}
          </th>
        </div>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="no-data-available" [ngClass]="userList && userList.length === 0 ? '' : 'hide'" mat-header-row
          *matHeaderRowDef="['fifth-header-row-first-group']">
        </tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
        [ngClass]="i % 2 == 0 ? 'light-bg' : 'dark-bg'"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]"></mat-paginator>
  </div>
  <!-- <div class="no-data" [ngClass]="userList && userList.length === 0 ? '' : 'hide'">
    <div>No assesments available </div>
  </div> -->


</div>
