.reset {
    position: absolute;
    display: flex;
    margin-top: 56%;
    margin-left: 83%;
}

.clk {
    position: absolute;
    display: flex;
    margin-top: 66%;
    font-size: 12px;
}

.sort {
    margin-left: 68%;
}