<div class="sub-menu-wrapper">
  <!-- <span><img src="assets/images/002-cv.svg" alt="" srcset=""></span> -->
  <div class="menu-group" [routerLink]="appConstant.ADMIN_DASHBOARD.USER_MANAGEMENT_CANDIDATE_UPLOADED_LIST" routerLinkActive="active">
     <span> Candidate Details</span>
  </div>
  <div class="menu-group" [routerLink]="appConstant.ADMIN_DASHBOARD.USER_MANAGEMENT_CANDIDATE_BULK_UPLOAD" routerLinkActive="active">
     <span> Upload Candidate Details</span>
  </div>
  <!-- <span><img src="assets/images/001-approved.svg" alt="" srcset=""></span> -->
</div>

<router-outlet></router-outlet>
