<div class="submit-wrapper">
    <div class="contents">
        <div class="text-first">
            Dear <span class="highlight">{{upperCase(userName)}}</span>,
        </div>

        <div class="text-1">
            Thanks for submitting your details and documents. Further communication will be notified to your registered email Id. Wishing you all the best for your journey with {{customerName}}!
        </div>
        <div *ngIf="candidateService.checkKycOrJoiningForm()" class="text-1">
            For any further assistance, please reach out to the HR SPOC mentioned in your offer letter!
        </div>

        <div class="text-last">
            Regards,
            <div>{{customerName}} HR Team</div>
        </div>

    </div>

    <div class="thankyou">
        <div class="icon"> &#160;<div class="check"></div></div>
        <div class="second">
            <div class="thank">Thank You !</div>
            <div>Thanks for submitting your details and documents.</div>
            <div>Further communication will be notified to your registered email Id.</div>
        </div>
    </div>
</div>
