.submit-wrapper {
    padding: 1em 3em;
    font-size: 14px;
    color: #000;
    width: 100%;
    .contents {
        width: 70%;
        .text-first {
            margin-top: 2em;
        }
        .text-1 {
            margin-top: 1em;
        }
        .text-last {
            margin-top: 1em;
            margin-bottom: 2em;
        }
    }
    .highlight {
        font-size: 17px;
        padding-left: 2px;
        color: #000;
    }

    .thankyou {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 5px #00000026;
        border: 1px solid rgba(132, 132, 132, 0.5);
        border-radius: 4px;
        width: 440px;
        margin: 0 auto;
        border-left: 8px solid #32BA7C;
        padding: .5em;
        padding-left: 0px;
        display: flex;
        align-items: center;
        .icon {
            background: #32BA7C;
            border-radius: 50%;
            width: 30px;
            position: relative;
            height: 30px;
            margin: 0em 1em;
        }
        .second {
            color: #666666;
            font-size: 14px;
            .thank {
                color: #000;
                font-size: 22px;
            }
        }
    }
}
.check {
    border-radius: 0px;
    display: inline-block;
    transform: rotate(45deg);
    height: 17px;
    width: 8px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    margin-left: 6px;
    top: 5px;
    margin-bottom: 2px;
    transition: 0.5s linear;
}
