<div class="grid-wrapper">
    <div class="heading-wrapper">
        <div class="heading">
            Choose & Customise Email Template
        </div>
        <div class="search">
            <div class="stage-bar">
                <label>Stage: </label>
                <nz-select class="select-group" [(ngModel)]="selectedValue" nzDisabled nzPlaceHolder="Choose" nzShowSearch>
                      <nz-option [nzValue]="selectedValue" [nzLabel]="selectedValue"></nz-option>
                  </nz-select>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="template-flex">
            <div class="template-section">
                <div class="card active">
                        <label class="label">Template Name</label>
                        <div class="name">Shortlisted for Interview</div>
                        <div class="checked"><span class="icon-Tick"></span></div>
                </div>
                <div class="card">
                    <label class="label">Template Name</label>
                    <div class="name">Rejected for Interview</div>
                    <div class="checked"><span class="icon-Tick"></span></div>
                </div>
            </div>
            <div class="template-content">
                <div class="template-heading">
                    Shortlisted for Interview
                </div>
            </div>

        </div>
    </div>
</div>