@import '../../../../../themes/themes.scss';

.shortlisted-report-second-level {
  .cutOff {
    display: flex;
    align-items: center;
    margin: 1em;
    .head {
      color: $light-black;
      font-weight: 400;
      font-size: 13px;
      margin-right: 1em;
    }
    .values {
      color: $header-blue;
      font-size: 13px;
      span {
        margin: 0 0 0 2em;
      }
      span:first-child {
        margin: 0 0 0 0em;
      }
    }
  }
  .user-list-wrapper {
    margin: 0em 0 0.5em 0;
    /* Structure */
    .search-bar {
      margin: 6px 16px 6px 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    :focus {
      border-radius: 0px;
      border: none;
      outline: none;
    }
  }
  .submit-wrapper {
    display: flex;
    align-items: center;
    margin-left: 1em;
  }
}

.hide {
  display: none;
}
