@import "../../../themes/themes.scss";

* {
  margin: 0;
  box-sizing: border-box;
}
.alert {
  color: $primary-red;
  font-size: 14px;
  padding-bottom: 0 !important;
}
.nonEdit {
  background: rgba(128, 128, 128, 0.315) !important;
  pointer-events: none;
}
.hideClose {
  visibility: hidden;
}
.hideDropDown {
  pointer-events: none;
  background: rgba(128, 128, 128, 0.328) !important;
}
label {
  margin: 0 1em 0 0em;
  color: $light-black;
  font-weight: 200;
  width: 30%;
  font-size: 14px;
  white-space: nowrap;
}

.overlap-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

nz-select,
input {
  width: 100%;
  font-size: 14px;
  padding: 0 4px;
  color: $secondary;
  border: .8px solid $input-border;
  border-radius: 2px;
  background: $white;
  display: flex !important;
  box-sizing: border-box;
  min-height: 35px !important;
  max-height: 35px !important;
  line-height: 35px;
  outline: none;
}
input:focus,input:hover {
  border: 1px solid $primary-red;
}
nz-select:focus,nz-select:hover {
  border: 1px solid $primary-red;
}



.error {
  margin: 0 0 0 0;
  display: flex;
  font-size: 12px;
  font-weight: 200;
  color: $red;
  width: 100%;
}

.radio-grp {
  display: flex;
  height: 22px;
}

.dob-wrapper {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}

.select {
  display: flex;
  align-items: center;
  padding: 0px !important;
  border: none !important;
}

.width-100p {
  width: 100% !important;
}

.width-250 {
  width: 250px !important;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 2fr .75fr;
  padding: 1em 2em 0 2em;
  form {
    width: 100%;
    margin: 0;
    .first-child {
      // display: flex;
      width: 100%;
      .flex-box {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 1em 0 0 0;
        justify-content: space-between;
      }
    }
  }
  .second-child {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    .photo-wrapper {
      width: 190px;
      height: 230px;
      // display: grid;
      margin: 1em 0;
      // grid-template-rows: 4fr 1fr;
      padding: 0;
      background: $white;
      border-radius: 5px;
      position: relative;
      box-shadow: $shadow-light-black;
      .photo-sub-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
      .head {
        color: $black-1;
        font-size: 12px;
        text-align: center;
        padding: 4px 0 0 0;
      }
      .hoverable {
        height: 100%;
        overflow: hidden;
        padding: 5px;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
      }
      .hoverable1 {
        width: 100%; 
        padding: 6px;
        margin: 0;
      }
      .profile-pic-container {
        height: 100%;
        width: 100%;
        position: relative;
        text-align: center;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .remove {
          cursor: pointer;
          position: absolute;
          z-index: 10;
          opacity: 0.85;
          top: 2px;
          padding: 0;
          right: 2px;
          img {
            height: 25px;
            width: 25px;
            opacity: 0.5;
            &:hover {
              opacity: 1;
            }
          }
        }
        .bottom-label {
          color: $black-1;
          font-size: 12px;
          text-align: center;
          padding: 4px 4px;
        }
        .image-wrapper {
          position: relative;
          display: flex;
          background: $background-9 0% 0% no-repeat padding-box;
          align-items: center;
          width: 100%;
          min-height: 148px;
          max-height: 148px;
          justify-content: center;
          .default {
            width: 70px;
            height: 70px;
          }
          .profile {
            width: 210px;
            height: 230px;
          }
          .default1 {
            width: 22px;
            height: 22px;
            position: absolute;
            text-align: left;
            top: 2px;
            left: 2px;
          }
          .profile1 {
            position: absolute;
            width: 50px;
            height: 50px;
          }
        }
        .default {
          width: 50px;
          height: 50px;
        }
        .profile {
          width: 100%;
          height: auto;
        }
        input {
          cursor: pointer;
          opacity: 0;

          /* IE 8 */
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

          /* IE 5-7 */
          filter: alpha(opacity=0);

          /* Netscape or and older firefox browsers */
          -moz-opacity: 0;

          /* older Safari browsers */
          -khtml-opacity: 0;

          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
      .info-text {
        box-shadow: $shadow-light-black;
        border-radius: 5px;
        position: relative;
        width: 100%;
        bottom: 0px;
        display: flex;
        align-items: center;
        background: $white-primary;
        // padding: 0.5em 0.5em 0 0.5em;
        // min-height: 40px;
        box-sizing: border-box;
        span {
          padding: 3px;
          color: $gray-dark;
          font-size: 10px;
          text-align: center;
        }
      }
      .sizeError {
        position: relative;
        color: $red;
        font-size: 12px;
        margin: 4px 0;
        font-weight: 200;
      }
    }
  }
  }
}
.checkbox {
    margin: 1em 1em 0 1em;
    color: #333333;
    font-size: 15px;
    opacity: 1;
    font-weight: 200;
    padding-left: 1em;
}

.contact-address-section, .language-section {
  padding: .5em 2em 0 2em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
    .contact-label {
      margin-top: .5em;
      width: 21.7%;
    }
    .addresslane-section {
      width: 78%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .flex-box {
      width: 100%;
      display: flex;
      margin-right: 1em;
      margin-top: .5em;
      width: 46%;
      flex-direction: column;
    }
    .lane-label {
      color: #4B4B4B !important;
      font-size: 13px;
    }
}

.language-section {
  margin-bottom: 1em;
}
.language-wrapper {
  width: 100%;
}
.language-label {
  color: #333;
  font-size: 14px;
}
.language-knowns {
  height: 35px !important;
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  margin: 0 !important;
  justify-content: space-around;
  align-items: center;
}

.close-icon {
  position: relative;
  cursor: pointer;
  height: 24px;
  i {
      color: $primary-red;
  }
  i:hover {
      color: white;
      background-color: $primary-red;
      border-radius: 50%;
  }
}

.margin-0 {
  margin: 0 !important;
}

.language-add-button {
  cursor: pointer;
}

.flex-column-wrapper {
  min-width: 300px;
  display: flex;
  padding-top: 1em;
  flex-direction: column;
}
.passport-form {
  display: flex;
  justify-content: space-between;
  background: $white-primary !important;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: $shadow-light-black;
  padding: 0em 1em 1em 1em;
}
.label-flex-column {
  font-size: 14px;
}

.height-weight {
  flex-direction: row;
  min-width: 300px;
  justify-content: space-between;
  .flex-column-wrapper {
    padding-top: 0;
    min-width: 140px !important;
    max-width: 140px !important;
  }
}

.bottom-form-wrapper {
  padding: 10px;
  .header {
    font-weight: 600;
    font-size: 14px;
    color: $light-black;
    margin: .5em 0 .5em 1em;
  }
}

.power-wrapper {
  min-width: 300px;
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  justify-content: center;
  .eye-wrapper {
    display: flex;
    align-items: center;
  }
  .sub-power-wrapper {
    width: 120px;
  }
}
.submit-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}

@media only screen and (max-width: 1200px) and (min-width: 750px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    padding: 3em 2em 0 2em;
    form {
      grid-row: 0;
      .first-child {
        .flex-box {
          .input-box {
            min-width: 200px;
            max-width: 360px;
          }
        }
      }
    }
    .second-child {
      grid-row: 1;

      justify-content: start;
    }
  }
  .grid-wrapper-1 {
    padding: 3em 2em 0 2em;
  }
  .grid-wrapper-languages {
    padding: 3em 2em 0 2em;
  }
}

@media only screen and (max-width: 850px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    padding: 2em 0.4em 0 0.5em;
    form {
      grid-row: 0;
      .first-child {
        .flex-box {
          .input-box {
            min-width: 200px;
            max-width: 360px;
          }
        }
      }
    }
    .second-child {
      grid-row: 1;
      justify-content: start;
    }
  }
  .grid-wrapper-1 {
    padding: 2em 0.4em 0 0.5em;
    .first-child {
      grid-template-columns: 0.55fr;
    }
  }
  .grid-wrapper-languages {
    padding: 2em 0.4em 0 0.5em;
    .first-child {
      grid-template-columns: 0.55fr;
    }
  }
}
.error {
  width: 100%;
}


:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $primary-red !important;
}
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $primary-red !important;
}
:host ::ng-deep .mat-radio-outer-circle {
  border-color: $primary-red !important;
}


// Ant select drop down css
// :host ::ng-deep .ant-select-selection {
//   border: solid .8px #BEBEBE !important;
//   height: 35px !important;
//   padding: 4px 8px;
//   border-radius: 0px !important;
// }

// :host ::ng-deep .ant-select-selection:hover,:host ::ng-deep .ant-select-selection:focus,:host ::ng-deep .ant-select-selection:active{
//   border: solid $primary-red 1px !important;
//   border-radius: 0px !important;
//   z-index: 0 !important;
//   box-shadow: none !important;
// }


:host ::ng-deep .ant-select-selection__placeholder, :host ::ng-deep .ant-select-search__field__placeholder {
  color: #A5A5A5 ; 
  font-size: 14px ;
}

::placeholder {
  color: #A5A5A5 ;
  opacity: 1 ; 
  font-size: 14px;
}

:host ::ng-deep .ant-select-selection__rendered {
  position: relative;
  display: block;
  margin-right: 0 !important;
  margin-left: 0 !important;
  line-height: 35px !important;
}

:host ::ng-deep .ant-select-arrow {
  right: 0 !important;
  padding: 0 8px !important;
}

:host ::ng-deep .ant-select-selection__clear {
  right: 18px !important;
  margin-top: -7px !important;
}
:host ::ng-deep .anticon.ant-select-arrow-icon::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  margin-top: 0.25em;
  border-top: 0.5em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  color: #666666;
  opacity: 0.9;
  border: solid #A5A5A5 !important;
  border-width: 0 1px 1px 0 !important;
  display: inline-block !important;
  padding: 3px !important;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
  margin-top: 1px !important;
}

::ng-deep .ant-select-dropdown-menu-item:first-child, ::ng-deep .ant-select-dropdown-menu-item:last-child {
  border: none !important;
  border-radius: 0px !important;
}

::ng-deep .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #eaeaea !important;
}

::ng-deep .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: rgb(211, 211, 211, .7) !important;
}

:host ::ng-deep .ant-select-dropdown {
  border: 1px solid #BEBEBE !important;
}

:host ::ng-deep .ant-select-selection-selected-value {
  padding-right: 16px !important;
}

// Ant Select dropdown css close
//mat-checkbox start
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $primary-red !important;
}

.language-knowns {
 ::ng-deep .mat-checkbox-inner-container {
  width: 28px !important;
  height: 28px !important;
  }
}

mat-datepicker-toggle {
    width: 35px !important;
    height: 35px !important;
    display: flex !important;
    align-items: center !important;
    border: 0.8px solid #bebebe !important;
    border-left: none !important;
    justify-content: center !important;
}
