<div class="alert">
  Note: Please make sure to complete the form and fill the information’s
  correctly. You will not be able to edit after the shortlisting process.
</div>
<div class="personal-revam">
  <div class="grid-wrapper forScrollDown">
    <form #form="ngForm" [formGroup]="upToCategoryForm">
      <div class="first-child">
        <div class="flex-box">
          <label>Name<span class="asterick">*</span></label>
          <div
            class="overlap-wrapper"
            matTooltipPosition="after"
            [matTooltip]="localUsername ? 'Non-Editable' : ''"
          >
            <input
              matInput
              [ngClass]="localUsername ? 'nonEdit' : ''"
              (focusout)="detectInput(upToCategoryForm)"
              formControlName="name"
              type="text"
            />
            <div class="error personalErr" *ngIf="name.invalid && name.touched">
              <span *ngIf="name.errors?.required">Name is Required</span>
            </div>
          </div>
        </div>

        <div class="flex-box">
          <label>Email ID<span class="asterick">*</span></label>
          <div
            class="overlap-wrapper"
            matTooltipPosition="after"
            [matTooltip]="localUserEmail ? 'Non-Editable' : ''"
          >
            <input
              matInput
              [ngClass]="localUserEmail ? 'nonEdit' : ''"
              (focusout)="detectInput(upToCategoryForm)"
              formControlName="mail"
              type="text"
            />
            <div class="error" *ngIf="mail.invalid && mail.touched">
              <span *ngIf="mail.errors?.required">Mail is Required</span>
              <span *ngIf="mail.errors?.pattern"
                >Please enter a valid Email ID</span
              >
            </div>
          </div>
        </div>

        <div class="flex-box">
          <label>Mobile Number<span class="asterick">*</span></label>
          <div class="overlap-wrapper">
            <input
              matInput
              placeholder="Enter Mobile no."
              (focusout)="detectInput(upToCategoryForm)"
              formControlName="mobile"
              type="text"
              placeholder="Enter here..."
            />
            <div class="error" *ngIf="mobile.invalid && mobile.touched">
              <span *ngIf="mobile.errors?.required"
                >Mobile Number is Required</span
              >
              <span *ngIf="mobile.errors?.pattern"
                >Please enter valid 10 digit Mobile Number</span
              >
            </div>
          </div>
        </div>

        <div class="flex-box">
          <label>Aadhaar Number</label>
          <div class="overlap-wrapper">
            <input
              (focusout)="detectInput(upToCategoryForm)"
              formControlName="aadhaar"
              type="text"
              placeholder="Enter here..."
            />
            <div
              class="error"
              *ngIf="aadhaar.invalid && aadhaar.touched"
            >
              <span *ngIf="aadhaar.errors?.required"
                >Aadhaar Number is Required</span
              >
              <span *ngIf="aadhaar.errors?.pattern">Numbers only allowed</span>
              <span
                *ngIf="
                  !aadhaar.errors?.pattern &&
                  (aadhaar.errors?.minlength || aadhaar.errors?.maxlength)
                "
                >Aadhaar should be exact 12 digits</span
              >
            </div>
          </div>
        </div>

        <div class="flex-box">
          <label>Gender<span class="asterick">*</span></label>
          <div class="overlap-wrapper">
            <mat-radio-group
              class="radio-grp"
              (change)="detectSelectChange()"
              formControlName="gender"
            >
              <mat-radio-button value="Male">Male </mat-radio-button>
              <mat-radio-button value="Female" style="margin-left: 8em"
                >Female</mat-radio-button
              >
            </mat-radio-group>
            <div class="error" *ngIf="gender.invalid && gender.touched">
              <span *ngIf="gender.errors?.required">Gender is Required</span>
            </div>
          </div>
        </div>

        <div class="flex-box">
          <label>Marital Status</label>
          <div class="overlap-wrapper">
            <mat-radio-group
              class="radio-grp"
              (change)="detectSelectChange()"
              formControlName="marital"
            >
              <mat-radio-button value="Married">Married </mat-radio-button>
              <mat-radio-button value="Unmarried" style="margin-left: 8em"
                >Unmarried</mat-radio-button
              >
            </mat-radio-group>
            <div class="error" *ngIf="marital.invalid && marital.touched">
              <span *ngIf="marital.errors?.required"
                >Marital Status is Required</span
              >
            </div>
          </div>
        </div>

        <div class="flex-box">
          <label for="dob">Date of Birth<span class="asterick">*</span></label>
          <div class="overlap-wrapper">
            <div class="dob-wrapper">
              <nz-select
                (ngModelChange)="detectSelectChange()"
                formControlName="dobDate"
                nzAllowClear
                nzShowSearch
                nzPlaceHolder="DD"
                style="margin-right: 8px;"
              >
                <nz-option
                  *ngFor="let date of date"
                  [nzLabel]="date.date"
                  [nzValue]="date.date"
                ></nz-option>
              </nz-select>
              <nz-select
                (ngModelChange)="detectSelectChange()"
                formControlName="dobMonth"
                nzAllowClear
                nzShowSearch
                nzPlaceHolder="MM"
                style="margin-right: 8px;"
              >
                <nz-option
                  *ngFor="let month of month"
                  [nzLabel]="month.month"
                  [nzValue]="month.month"
                ></nz-option>
              </nz-select>
              <nz-select
                (ngModelChange)="detectSelectChange()"
                formControlName="dobYear"
                nzAllowClear
                nzShowSearch
                nzPlaceHolder="YYYY"
                style="margin-right: 8px;"
              >
                <nz-option
                  *ngFor="let year of year"
                  [nzLabel]="year.year"
                  [nzValue]="year.year"
                ></nz-option>
              </nz-select>
            </div>
            <div
              class="error"
              *ngIf="
                (dobDate.invalid && dobDate.touched) ||
                (dobMonth.invalid && dobMonth.touched) ||
                (dobYear.invalid && dobYear.touched)
              "
            >
              <span
                *ngIf="
                  dobDate.errors?.required ||
                  dobMonth.errors?.required ||
                  dobYear.errors?.required
                "
                >Date of Birth is Invalid</span
              >
            </div>
          </div>
        </div>

        <div class="flex-box">
          <label>Nationality</label>
          <div class="overlap-wrapper">
            <input
              (focusout)="detectInput(upToCategoryForm)"
              formControlName="nationality"
              type="text"
              placeholder="Enter here..."
            />
            <div
            class="error personalErr"
            *ngIf="nationality.invalid && nationality.touched"
          >
              <span *ngIf="nationality.errors?.required"
                >Nationality is Required</span
              >
              <span
                style="white-space: nowrap"
                *ngIf="nationality.errors?.pattern"
                >Accept only Alphanumeric characters and maximum of 255 characters
                only allowed
              </span>
          </div>
          </div>
        </div>

        <div class="flex-box">
          <label>Category</label>
          <div class="overlap-wrapper">
            <nz-select
              (ngModelChange)="detectSelectChange()"
              formControlName="category"
              nzPlaceHolder="<--Select-->"
              nzAllowClear
              nzShowSearch
            >
              <nz-option
                *ngFor="let caste of category"
                [nzLabel]="caste.name"
                [nzValue]="caste.caste"
              ></nz-option>
            </nz-select>
            <div
            class="error"
            *ngIf="categories.invalid && categories.touched"
          >
              <span *ngIf="categories.errors?.required"
                >Category is Required</span
              >
          </div>
          </div>
        </div>
      </div>
    </form>
    <div class="second-child">
      <div class="photo-wrapper">
        <div class="photo-sub-wrapper">
          <div *ngIf="!url" class="head">
            Upload your photo<span class="asterick">*</span>
          </div>
          <div class="profile-pic-container">
            <div
              *ngIf="url"
              matTooltip="Remove Photo"
              matTooltipPostion="after"
              (click)="delete()"
              class="remove"
            >
              <span style="font-size: 30px">
                <img
                  src="assets/images/cancel-black-36dp.svg"
                  alt=""
                  srcset=""
                />
              </span>
            </div>

            <label [ngClass]="url ? 'hoverable' : 'hoverable1'" for="fileInput">
              <!-- (load)="afterImgLoad()" -->
              <div *ngIf="!url" class="image-wrapper">
                <img
                  [ngClass]="!url ? 'default1' : 'profile1'"
                  [src]="url ? url : 'assets/images/camera.svg'"
                  alt=""
                  srcset=""
                />
                <img
                  [ngClass]="!url ? 'default' : 'profile'"
                  [src]="url ? url : 'assets/images/awesome-user-circle.svg'"
                  alt=""
                  srcset=""
                />
              </div>
              <img
                *ngIf="url"
                [ngClass]="!url ? 'default' : 'profile'"
                [src]="url ? url : 'assets/images/camera.svg'"
                alt=""
                srcset=""
              />
              <div *ngIf="!url" class="bottom-label">
                Drag and drop or browse here
              </div>
            </label>
            <input
              [matTooltip]="url ? 'Click to Change Photo' : 'No File Chosen'"
              matTooltipPostion="after"
              title=""
              (click)="files.value = null"
              id="fileInput"
              #files
              type="file"
              name="profile"
              accept="image/*"
              (change)="onSelectFile($event)"
            />
          </div>
          <div *ngIf="!url" class="info-text">
            <span>(Size: 40kb to 2MB - Format: jpeg & png)</span>
          </div>
          <div
            *ngIf="
              (showSizeError && showSizeError.size) ||
              (showSizeError && showSizeError.image)
            "
            class="sizeError"
          >
            {{
              showSizeError.size
                ? showSizeError.maxsize
                : "Valid File Format is PNG or JPEG"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <form class="contact-address-section" #form1="ngForm" [formGroup]="presentAddressForm">
          <label class="contact-label">Present Address</label>
        <div class="addresslane-section">
          <div class="flex-box width-100p">
            <label class="lane-label">Line 1 Street Address</label>
              <input matInput
                (focusout)="detectInput(presentAddressForm)"
                formControlName="presentAddress1"
                type="text"
                placeholder="Enter here..."
              />
            <div
              class="error"
              *ngIf="presentAddress1.invalid && presentAddress1.touched"
            >
              <span *ngIf="presentAddress1.errors?.required"
                >Address is Required</span
              >
              <span *ngIf="presentAddress1.errors?.maxlength"
                >Maximum of 255 characters only allowed</span
              >
            </div>
          </div>
          <div class="flex-box width-100p">
            <label class="lane-label">Line 2 Street Address</label>
                <input matInput
                  (focusout)="detectInput(presentAddressForm)"
                  formControlName="presentAddress2"
                  type="text"
                  placeholder="Enter here..."
                  />
              <div
                class="error"
                *ngIf="presentAddress2.invalid && presentAddress2.touched"
              >
                <span *ngIf="presentAddress2.errors?.required"
                  >Address is Required</span
                >
                <span *ngIf="presentAddress2.errors?.maxlength"
                  >Maximum of 255 characters only allowed</span
                >
              </div>
            </div>
            <div class="flex-box">
              <label class="lane-label">Postal / Zip code</label>
                <input
                  (focusout)="detectInput(presentAddressForm)"
                  formControlName="presentZipCode"
                  type="text"
                  placeholder="Enter here..."
                />
              <div
                class="error"
                *ngIf="presentZipCode.invalid && presentZipCode.touched"
              >
                <span *ngIf="presentZipCode.errors?.required"
                  >Zip code is Required</span
                >
                <span *ngIf="presentZipCode.errors?.maxlength"
                  >Maximum of 7 digits only allowed</span
                >
                <span *ngIf="presentZipCode.errors?.pattern"
                  >Numbers only allowed</span
                >
              </div>
            </div>
            <div class="flex-box">
              <label class="lane-label">State / Province</label>
                <nz-select
                  (ngModelChange)="detectStateSelectChange(presentState)"
                  formControlName="presentState"
                  nzPlaceHolder="<--Select-->"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let state of allStatess"
                    [nzLabel]="state.name"
                    [nzValue]="state.id"
                  ></nz-option>
                </nz-select>
              <div
                class="error"
                *ngIf="presentState.invalid && presentState.touched"
              >
                <span *ngIf="presentState.errors?.required"
                  >State is Required</span
                >
                <span
                  *ngIf="
                    !presentState.errors?.required &&
                    presentState.errors?.dropdownNotMatch
                  "
                  >Please select the state from drop down</span
                >
              </div>
            </div>
            <div class="flex-box">
              <label class="lane-label">City</label>
              <div
                [matTooltip]="
                  hideCityDropDown ? 'Please select your state' : ''
                "
              >
                <nz-select
                  (ngModelChange)="detectSelectChange()"
                  [ngClass]="hideCityDropDown ? 'hideDropDown' : ''"
                  formControlName="presentCity"
                  nzPlaceHolder="<--Select-->"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    [nzLabel]="'Other'"
                    [nzValue]="'Other'"
                  ></nz-option>
                  <nz-option
                    *ngFor="let city of allCitiess"
                    [nzLabel]="city.name"
                    [nzValue]="city.id"
                  ></nz-option>
                </nz-select>
              </div>
              <div
                class="error"
                *ngIf="presentCity.invalid && presentCity.touched"
              >
                <span *ngIf="presentCity.errors?.required"
                  >City is Required</span
                >
              </div>
            </div>
        </div>
  </form>
  <div class="checkbox">
    <!-- <label class="text-label">&#160;</label>
    <label
      nz-checkbox
      (ngModelChange)="checkboxChanged(checked)"
      [(ngModel)]="checked"
      >Click here if permanent address is same as present address</label
    > -->
    <mat-checkbox [(ngModel)]="checked" (change)="checkboxChanged(checked)" class="mr-2"></mat-checkbox> Click here if permanent address is same as present address
  </div>
  <form class="contact-address-section" #form2="ngForm" [formGroup]="permanentAddressForm">
    <ng-container *ngIf="!checked">
          <label class="contact-label">Permanent Address</label>
        <div class="addresslane-section">
          <div class="flex-box width-100p">
            <label class="lane-label">Line 1 Street Address</label>
              <input matInput
                (focusout)="detectInput(permanentAddressForm)"
                formControlName="permanentAddress1"
                type="text"
                placeholder="Enter here..."
                />
            <div
              class="error"
              *ngIf="permanentAddress1.invalid && permanentAddress1.touched"
            >
              <span *ngIf="permanentAddress1.errors?.required"
                >Address Required</span
              >
              <span *ngIf="permanentAddress1.errors?.maxlength"
                >Maximum of 255 characters only allowed</span
              >
            </div>
          </div>
          <div class="flex-box width-100p">
            <label class="lane-label">Line 2 Street Address</label>
                <input matInput
                  (focusout)="detectInput(permanentAddressForm)"
                  formControlName="permanentAddress2"
                  type="text"
                  placeholder="Enter here..."
                />
              <div
                class="error"
                *ngIf="permanentAddress2.invalid && permanentAddress2.touched"
              >
                <span *ngIf="permanentAddress2.errors?.required"
                  >Address Required</span
                >
                <span *ngIf="permanentAddress2.errors?.maxlength"
                  >Maximum of 255 characters only allowed</span
                >
              </div>
            </div>
            <div class="flex-box">
              <label class="lane-label">Postal / Zip code</label>
                <input matInput
                  (focusout)="detectInput(permanentAddressForm)"
                  formControlName="permanentZipCode"
                  type="text"
                  placeholder="Enter here..."
                  />
              <div
                class="error"
                *ngIf="permanentZipCode.invalid && permanentZipCode.touched"
              >
                <span *ngIf="permanentZipCode.errors?.required"
                  >Zip code is Required</span
                >
                <span *ngIf="permanentZipCode.errors?.maxlength"
                  >Maximum of 7 digits only allowed</span
                >
                <span *ngIf="permanentZipCode.errors?.pattern"
                  >Numbers only allowed</span
                >
              </div>
            </div>
            <div class="flex-box">
              <label class="lane-label">State / Province</label>
                <nz-select
                  (ngModelChange)="
                    detectPermanentStateSelectChange(permanentState)
                  "
                  formControlName="permanentState"
                  nzPlaceHolder="<--Select-->"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let state of allStatess"
                    [nzLabel]="state.name"
                    [nzValue]="state.id"
                  ></nz-option>
                </nz-select>
              <div
                class="error"
                *ngIf="permanentState.invalid && permanentState.touched"
              >
                <span *ngIf="permanentState.errors?.required"
                  >State is Required</span
                >
                <span
                  *ngIf="
                    !permanentState.errors?.required &&
                    permanentState.errors?.dropdownNotMatch
                  "
                  >Please select the state from drop down</span
                >
              </div>
            </div>

            <div class="flex-box">
              <label class="lane-label">City</label>
              <div [matTooltip]="
                  hidePermanentCityDropDown ? 'Please select your state' : ''
                "
              >
                <nz-select
                  (ngModelChange)="detectSelectChange()"
                  [ngClass]="hidePermanentCityDropDown ? 'hideDropDown' : ''"
                  formControlName="permanentCity"
                  nzPlaceHolder="<--Select-->"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    [nzLabel]="'Other'"
                    [nzValue]="'Other'"
                  ></nz-option>
                  <nz-option
                    *ngFor="let city of allPCitiess"
                    [nzLabel]="city.name"
                    [nzValue]="city.id"
                  ></nz-option>
                </nz-select>
              </div>
              <div
                class="error"
                *ngIf="permanentCity.invalid && permanentCity.touched"
              >
                <span *ngIf="permanentCity.errors?.required"
                  >City is Required</span
                >
                <span
                  *ngIf="
                    !permanentCity.errors?.required &&
                    permanentCity.errors?.dropdownNotMatch
                  "
                  >Please select the city from drop down</span
                >
              </div>
            </div>
        </div>
    </ng-container>
  </form>
  <form class="language-section" #form3="ngForm" [formGroup]="languagesForm">
    <label class="contact-label mt-2">Languages Known</label>
    <div class="addresslane-section">
          <ng-container *ngIf="t && t.controls" formArrayName="languageAdd">
            <div class="language-wrapper mt-2" *ngFor="let item of t.controls; let i = index"
            [formGroupName]="i">
            <div class="flex-box language-knowns">
              <div class="flex-box margin-0">
                  <input matInput
                    (focusout)="detectInput(languagesForm)"
                    formControlName="language"
                    type="text"
                    placeholder="Enter Language Name"
                  />
              </div>

              <div class="flex-box language-knowns">
              <div>
                <label class="language-label">Read</label>
                <mat-checkbox formControlName="read" class="mr-2"></mat-checkbox>
              </div>
              <div>
                <label class="language-label">Write</label>
                <mat-checkbox formControlName="write" class="mr-2"></mat-checkbox>
              </div>
              <div>
                <label class="language-label">Speak</label>
                <mat-checkbox formControlName="speak" class="mr-2"></mat-checkbox>
              </div>

              <div [ngClass]="i == 0 ? 'hideClose' : ''" matTooltip="Remove" class="close-icon">
                <i (click)="i == 0 ? '' : removeLanguage(i)" class="material-icons material-icons-outlined">
                    remove_circle_outline
                </i>
            </div>

              </div>
            </div>
            <div
            class="error"
            *ngIf="t.controls[i].invalid">
            <span *ngIf="t.controls[i].get('language').errors?.required"
                    >Language is Required</span
                  >
                  <span *ngIf="t.controls[i].get('language').errors?.pattern"
                    >Accept only Alphanumeric characters and maximum of 255
                    characters only allowed</span
                  >
                  <span *ngIf="t.controls[i].get('read').errors?.notSelected"
                    >Make sure, you have entered Language name and selected any one of the language proficiency</span
                  >
          </div>

          </div>
          </ng-container>
          <div (click)="addLanguage1()" *ngIf="!notShow" class="language-add-button mt-2">
            <img
              src="assets/images/interface.svg"
              width="25px"
              height="25px"
              alt=""
            />
            <span class="ml-1">Add</span>
          </div>
      </div>
  </form>

  <div class="bottom-form-wrapper">
    <div class="header">Passport Related Details</div>
    <form #form4="ngForm" [formGroup]="passportForm" class="passport-form">
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Passport Number</label>
            <input matInput
              (focusout)="detectInput(passportForm)"
              formControlName="passportNumber"
              type="text"
              placeholder="Enter here..."
            />
          <div
            class="error"
            *ngIf="passportNumber.invalid && passportNumber.touched"
          >
            <span *ngIf="passportNumber.errors?.required"
              >Passport Number is Required</span
            >
            <span *ngIf="passportNumber.errors?.pattern"
              >Accept only Alphanumeric characters and maximum of 255
              characters</span
            >
          </div>
        </div>
        <div class="flex-column-wrapper">
          <label class="label-flex-column">Name as in Passport</label>
            <input matInput
              (focusout)="detectInput(passportForm)"
              formControlName="passportName"
              type="text"
              placeholder="Enter here..."
            />
          <div
            class="error"
            *ngIf="passportName.invalid && passportName.touched"
          >
            <span *ngIf="passportName.errors?.required">Name is Required</span>
            <span *ngIf="passportName.errors?.pattern"
              >Accept only Alphanumeric characters and maximum of 255 characters
              only allowed</span
            >
          </div>
        </div>
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Profession as in Passport</label>
            <input matInput
              (focusout)="detectInput(passportForm)"
              formControlName="passportProfession"
              type="text"
              placeholder="Enter here..."
            />
          <div
            class="error"
            *ngIf="passportProfession.invalid && passportProfession.touched"
          >
            <span *ngIf="passportProfession.errors?.required"
              >Profession is Required</span
            >
            <span *ngIf="passportProfession.errors?.pattern"
              >Accept only Alphanumeric characters and maximum of 255 characters
              only allowed</span
            >
          </div>
        </div>
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Date of Issue</label>
            <!--               (keydown)="preventDate($event, dp)" -->
          <div class="d-flex align-items-center">
            <input
              (focusout)="detectInput(passportForm)"
              matInput
              [max]="maxDate"
              [min]="minDate"
              placeholder="DD-MM-YYYY"
              [matDatepicker]="dp"
              formControlName="passportIssueDate"
            />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp> </mat-datepicker>
          </div>
          <div
            class="error"
            *ngIf="passportIssueDate.invalid && passportIssueDate.touched"
          >
            <span *ngIf="passportIssueDate.errors?.required"
              >Date of issue is Required</span
            >
            <span *ngIf="passportIssueDate?.errors?.matDatepickerMax">
              {{passportIssueDate?.errors?.matDatepickerMax?.max ? 'Maximum date should be ' + momentForm(passportIssueDate?.errors?.matDatepickerMax.max) : ''}}
          </span>
          <span *ngIf="passportIssueDate?.errors?.matDatepickerMin">
              {{passportIssueDate?.errors?.matDatepickerMin?.min ? 'Minimum date should be ' + momentForm(passportIssueDate?.errors?.matDatepickerMin.min) : ''}}
          </span>
          <span *ngIf="passportIssueDate?.errors?.matDatepickerParse">Invalid Date Format</span>

          </div>
        </div>
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Valid Upto</label>
          <div class="d-flex align-items-center">
            <input
              (focusout)="detectInput(passportForm)"
              formControlName="passportValid"
              [max]="passportValidmaxDate" [min]="passportValidminDate"
              matInput
              [matDatepicker]="picker"
              placeholder="DD-MM-YYYY"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
          <div
            class="error"
            *ngIf="passportValid.invalid && passportValid.touched"
          >
            <span *ngIf="passportValid.errors?.required"
              >Expiry Date is Required</span
            >
            <span *ngIf="passportValid?.errors?.matDatepickerMax">
              {{passportValid?.errors?.matDatepickerMax?.max ? 'Maximum date should be ' + momentForm(passportValid?.errors?.matDatepickerMax.max) : ''}}
          </span>
          <span *ngIf="passportValid?.errors?.matDatepickerMin">
              {{passportValid?.errors?.matDatepickerMin?.min ? 'Minimum date should be ' + momentForm(passportValid?.errors?.matDatepickerMin.min) : ''}}
          </span>
          <span *ngIf="passportValid?.errors?.matDatepickerParse">Invalid Date Format</span>

          </div>
        </div>
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Place of Issue</label>
            <input matInput
              (focusout)="detectInput(passportForm)"
              formControlName="passportIssuePlace"
              type="text"
              placeholder="Enter here..."
            />
          <div
            class="error"
            *ngIf="passportIssuePlace.invalid && passportIssuePlace.touched"
          >
            <span *ngIf="passportIssuePlace.errors?.required"
              >Issue place is Required</span
            >
            <span *ngIf="passportIssuePlace.errors?.pattern"
              >Accept only Alphanumeric characters and maximum of 255 characters
              only allowed</span
            >
          </div>
        </div>
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Countries valid for</label>
            <input matInput
              (focusout)="detectInput(passportForm)"
              formControlName="passportValidFor"
              type="text"
              placeholder="Enter here..."
            />
          <div
            class="error"
            *ngIf="passportValidFor.invalid && passportValidFor.touched"
          >
            <span *ngIf="passportValidFor.errors?.required"
              >Countries valid for is Required</span
            >
            <span *ngIf="passportValidFor.errors?.pattern"
              >Accept only Alphanumeric characters and maximum of 255 characters
              only allowed</span
            >
          </div>
        </div>
    </form>
  </div>

  <div class="bottom-form-wrapper">
    <div class="header">Health-related details</div>
    <form #form5="ngForm" [formGroup]="healthForm" class="passport-form">
      <div class="flex-column-wrapper">
            <label class="label-flex-column">Most Serious Recent Illness</label>
            <input matInput
              (focusout)="detectInput(healthForm)"
              formControlName="illness"
              type="text"
              placeholder="Enter here..."
            />
          <div class="error" *ngIf="illness.invalid && illness.touched">
            <span *ngIf="illness.errors?.required">Mandatory Field</span>
            <span *ngIf="illness.errors?.pattern"
              >Accept only Alphanumeric characters and maximum of 255 characters
              only allowed</span
            >
          </div>
        </div>
        <div class="flex-column-wrapper">
            <label class="label-flex-column">No. of Days Ill</label>
            <input matInput
              (focusout)="detectInput(healthForm)"
              formControlName="daysofIll"
              type="text"
              placeholder="Enter here..."
            />
          <div class="error" *ngIf="daysofIll.invalid && daysofIll.touched">
            <span *ngIf="daysofIll.errors?.required"
              >No. of days is Required</span
            >
            <span *ngIf="daysofIll.errors?.maxlength"
              >Maximum of 5 characters only allowed</span
            >
            <span *ngIf="daysofIll.errors?.pattern">Accept only numbers</span>
          </div>
        </div>
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Nature of Illness</label>
            <input
              (focusout)="detectInput(healthForm)"
              formControlName="natureofIll"
              type="text"
              placeholder="Enter here..."
            />
          <div class="error" *ngIf="natureofIll.invalid && natureofIll.touched">
            <span *ngIf="natureofIll.errors?.required"
              >Nature of Ill is Required</span
            >
            <span *ngIf="natureofIll.errors?.pattern"
              >Accept only Alphanumeric characters and maximum of 255 characters
              only allowed</span
            >
          </div>
        </div>
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Physical Disability (if any)</label>
            <input
              (focusout)="detectInput(healthForm)"
              formControlName="disability"
              type="text"
              placeholder="Enter here..."
            />
          <div class="error" *ngIf="disability.invalid && disability.touched">
            <span *ngIf="disability.errors?.required"
              >Disability is Required</span
            >
            <span *ngIf="disability.errors?.pattern"
              >Accept only Alphanumeric characters and maximum of 255 characters
              only allowed</span
            >
          </div>
        </div>
        <div class="flex-column-wrapper height-weight">
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Height (cms)</label>
            <input
              (focusout)="detectInput(healthForm)"
              formControlName="height"
              type="text"
              placeholder="Enter here..."
            />
          <div class="error" *ngIf="height.invalid && height.touched">
            <span *ngIf="height.errors?.required">Height is Required</span>
            <span *ngIf="height.errors?.pattern"
              >Numeric Decimals only Allowed</span
            >
          </div>
        </div>
        <div class="flex-column-wrapper">
            <label class="label-flex-column">Weight (kg)</label>
            <input
              (focusout)="detectInput(healthForm)"
              formControlName="weight"
              type="text"
              placeholder="Enter here..."
            />
          <div class="error" *ngIf="weight.invalid && weight.touched">
            <span *ngIf="weight.errors?.required">Weight is Required</span>
            <span *ngIf="weight.errors?.pattern"
              >Numeric Decimals only Allowed</span
            >
          </div>
        </div>
      </div>
        <div class="power-wrapper">
            <label class="label-flex-column">Power of Eye glass</label>
          <div formGroupName="eyePower" class="eye-wrapper">
            <div class="sub-power-wrapper">
                <!-- <label class="lane-label">Left Eye</label> -->
                <input matInput
                  (focusout)="detectInput(healthForm)"
                  formControlName="left"
                  type="text"
                  placeholder="Left Eye Power"
                  />
            </div>
            <div style="margin: 0 0 0 1em" class="sub-power-wrapper">
                <!-- <label class="lane-label">Right Eye</label> -->
                <input matInput
                  (focusout)="detectInput(healthForm)"
                  formControlName="right"
                  type="text"
                  placeholder="Right Eye Power"
                  />
            </div>
          </div>
          <div
            class="error"
            *ngIf="
              (left.invalid && left.touched) || (right.invalid && right.touched)
            "
          >
            <span *ngIf="left.errors?.required || right.errors?.required"
              >Eye Power Left and Right is Required</span
            >
            <span *ngIf="left.errors?.pattern || right.errors?.pattern"
              >Should allow only Numeric Decimals and ('+' or '-') signs</span
            >
          </div>
          <!-- <div class="error" *ngIf="right.invalid && right.touched">
          <span *ngIf="right.errors?.required">Eye Power Right is Required</span>
          <span *ngIf="right.errors?.pattern">Numeric Decimals only Allowed</span>
        </div> -->
        </div>
    </form>
  </div>

  <div class="submit-button-wrapper">
    <button
      class="submit btn-margin-space"
      (click)="
        onSubmit(
          upToCategoryForm.value,
          presentAddressForm.value,
          permanentAddressForm.value,
          languagesForm.value,
          passportForm.value,
          healthForm.value
        )
      "
      mat-raised-button
      type="submit"
    >
      Continue
    </button>
    <button
      class="cancel-btn"
      (click)="cancel()"
      mat-raised-button
      type="button"
    >
      Cancel
    </button>
  </div>
</div>
