@import "../../../themes/themes.scss";

* {
  margin: 0;
  box-sizing: border-box;
}
.alert {
  color: $primary-red;
  font-size: 14px;
  padding-bottom: 0 !important;
}
.nonEdit {
  background: rgba(128, 128, 128, 0.315) !important;
  pointer-events: none;
}
.hideClose {
  visibility: hidden;
}
.hideDropDown {
  pointer-events: none;
  background: rgba(128, 128, 128, 0.328) !important;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1em 4em 0 4em;
  form {
    width: 100%;
    margin: 0;
    // display: flex;
    .first-child {
      margin: 0 1em;
      width: auto !important;
      .flex-box {
        width: 100%;
        align-items: center;
        margin: 1.25em 0 0 0;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        label {
          margin: 0 1em 0 0em;
          color: $light-black;
          font-weight: 200;
          width: 100%;
          font-size: 17px;
          white-space: nowrap;
        }
        .input-box-radio {
          display: flex;
          align-items: center;
          width: 100%;
          margin: 0;
          .radio-button {
            margin: 0 1em 0 0;
            width: auto;
            font-size: 17px;
            padding: 0 1em;
            color: $secondary;
            vertical-align: middle;
            border: none;
            outline: none;
            background: $white-primary;
            display: flex !important;
            // height: 33px;
          }
          .text-right {
            font-size: 17px;
            margin-left: 0em;
            color: $secondary;
            margin: 0 2em 0 0;
          }
          .text {
            font-size: 17px;
            margin-left: 0em;
            color: $secondary;
          }
        }
        .input-box-dob {
          display: inline-flex;
          justify-content: start;
          align-items: center;
          width: 100%;
          nz-select {
            width: 70px;
            margin: 0 1em 0 0em;
            font-size: 17px;
            border-radius: 5px;
            box-shadow: $shadow-light-black;
            background: $white-primary;
            color: $secondary;
            display: flex;
            height: 38px;
            align-items: center;
          }
          nz-select:last-child {
            width: 90px;
            margin-right: 0em;
            font-size: 17px;
            border-radius: 5px;
            box-shadow: $shadow-light-black;
            background: $white-primary;
            color: $secondary;
            display: flex;
            height: 38px;
            align-items: center;
          }
        }
        .input-box {
          border-radius: 5px;
          box-shadow: $shadow-light-black;
          display: flex;
          min-width: 350px;
          max-width: 400px;
          width: 100%;
          align-items: center;
          background: $white-primary;
          height: 38px;
          padding: 0em 0px 0 0px;
          margin: 0 !important;
          nz-select,
          input {
            margin: 0 !important;
            width: 100%;
            font-size: 17px;
            padding: 0 0.7em;
            color: $secondary;
            vertical-align: middle;
            border: none;
            outline: none;
            background: $white-primary;
            display: flex !important;
            height: 38px;
            border-radius: 5px;
          }
          nz-select {
            padding: 0;
          }
        }
      }
      width: 100%;
      .error {
        margin: 0.35em 0 0 0;
        display: flex;
        // justify-content: space-between;
        font-size: 12px;
        font-weight: 200;
        color: $red;
        div:first-child {
          margin: 0em 1em 0 0;
        }
        div {
          width: 32%;
        }
      }
    }
  }
  .second-child {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    .photo-wrapper {
      width: 190px;
      height: 230px;
      // display: grid;
      margin: 1em 0;
      // grid-template-rows: 4fr 1fr;
      padding: 0;
      background: $white;
      border-radius: 5px;
      position: relative;
      box-shadow: $shadow-light-black;
      .photo-sub-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
      .head {
        color: $black-1;
        font-size: 12px;
        text-align: center;
        padding: 4px 0 0 0;
      }
      .hoverable {
        width: 100%;
        height: 100%;
        padding: 0px;
      }
      .hoverable1 {
        width: 100%;
        height: 100%;
        padding: 6px;
      }
      .profile-pic-container {
        width: 100%;
        position: relative;
        text-align: center;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .remove {
          cursor: pointer;
          position: absolute;
          z-index: 10;
          opacity: 0.85;
          top: 0;
          padding: 0em 0em 0.25em 0.25em;
          right: -20px;
        }
        .bottom-label {
          color: $black-1;
          font-size: 12px;
          text-align: center;
          padding: 4px 4px;
        }
        .image-wrapper {
          position: relative;
          display: flex;
          background: $background-9 0% 0% no-repeat padding-box;
          align-items: center;
          width: 100%;
          min-height: 148px;
          max-height: 148px;
          justify-content: center;
          .default {
            width: 70px;
            height: 70px;
          }
          .profile {
            width: 210px;
            height: 230px;
          }
          .default1 {
            width: 22px;
            height: 22px;
            position: absolute;
            text-align: left;
            top: 2px;
            left: 2px;
          }
          .profile1 {
            position: absolute;
            width: 50px;
            height: 50px;
          }
        }
        .default {
          width: 50px;
          height: 50px;
        }
        .profile {
          width: 210px;
          height: 230px;
        }
        input {
          cursor: pointer;
          opacity: 0;

          /* IE 8 */
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

          /* IE 5-7 */
          filter: alpha(opacity=0);

          /* Netscape or and older firefox browsers */
          -moz-opacity: 0;

          /* older Safari browsers */
          -khtml-opacity: 0;

          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
      .info-text {
        box-shadow: $shadow-light-black;
        border-radius: 5px;
        position: relative;
        width: 100%;
        bottom: 0px;
        display: flex;
        align-items: center;
        background: $white-primary;
        // padding: 0.5em 0.5em 0 0.5em;
        // min-height: 40px;
        box-sizing: border-box;
        span {
          padding: 3px;
          color: $gray-dark;
          font-size: 10px;
          text-align: center;
        }
      }
      .sizeError {
        position: relative;
        color: $red;
        font-size: 12px;
        margin: 4px 0;
        font-weight: 200;
      }
    }
  }
  }
}
.checkbox {
  display: grid;
  padding: 3em 4em 0 2em;
  grid-template-columns: 24% 80%;
  color: $light-black;
  font-size: 17px;
  opacity: 0.85;
  font-weight: 200;
}
.grid-wrapper-1 {
  display: grid;
  padding: 3em 4em 0 4em;
  grid-template-columns: 1fr;
  .first-child {
    margin: 0 1em;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 0.55fr 2fr;
    width: 100%;
    .flex-box {
      // width: 100%;
      // align-items: center;
      // margin: 1.25em 0 0 0;
      width: 34.5%;
      label {
        margin: 1em 1em 0 0em;
        color: $light-black;
        font-weight: 200;
        width: 100%;
        font-size: 17px;
        white-space: nowrap;
      }
    }
    .sub-input-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      .label-box {
        margin: 0.5em 0 0 0;
        label {
          font-size: 14px;
          color: $black-2;
        }
        .input-box {
          border-radius: 5px;
          box-shadow: $shadow-light-black;
          display: flex;
          min-width: 200px;
          width: 100%;
          align-items: center;
          background: $white-primary;
          height: 38px;
          padding: 0em 0px 0 0px;
          margin: 0 !important;
          nz-select,
          input {
            margin: 0 !important;
            width: 100%;
            font-size: 17px;
            padding: 0 0.7em;
            color: $secondary;
            vertical-align: middle;
            border: none;
            outline: none;
            background: $white-primary;
            display: flex !important;
            height: 38px;
            border-radius: 5px;
          }
          nz-select {
            padding: 0;
          }
        }
        .error {
          color: $red;
          font-size: 12px;
          font-weight: 200;
        }
      }
      .label-box-2 {
        margin: 0.5em 0 0 0;
        display: flex;
        .input-boxes-1 {
          display: inline-flex;
          flex-grow: 3;
          margin: 0 0.5em 0 0;
          flex-direction: column;
          label {
            font-size: 14px;
            color: $black-2;
          }
          .input-box {
            border-radius: 5px;
            box-shadow: $shadow-light-black;
            display: flex;
            min-width: 200px;
            width: 100%;
            align-items: center;
            background: $white-primary;
            height: 38px;
            padding: 0em 0px 0 0px;
            margin: 0 !important;
            nz-select,
            input {
              border-radius: 5px;
              margin: 0 !important;
              width: 100%;
              font-size: 17px;
              padding: 0 0.7em;
              color: $secondary;
              vertical-align: middle;
              border: none;
              outline: none;
              background: $white-primary;
              display: flex !important;
              height: 38px;
            }
            nz-select {
              padding: 0;
            }
          }
          .error {
            color: $red;
            font-size: 12px;
            font-weight: 200;
          }
        }
        .input-boxes-2 {
          display: inline-flex;
          flex-direction: column;
          label {
            font-size: 14px;
            color: $black-2;
          }
          .input-box {
            border-radius: 5px;
            box-shadow: $shadow-light-black;
            display: flex;
            min-width: 200px;
            width: 100%;
            align-items: center;
            background: $white-primary;
            height: 38px;
            padding: 0em 0px 0 0px;
            margin: 0 !important;
            input {
              margin: 0 !important;
              width: 100%;
              font-size: 17px;
              padding: 0 0.7em;
              color: $secondary;
              vertical-align: middle;
              border: none;
              outline: none;
              background: $white-primary;
              display: flex !important;
              border-radius: 5px;
              height: 38px;
            }
          }
          .error {
            color: $red;
            font-size: 12px;
            font-weight: 200;
          }
        }
      }
      .label-box-2-auto-complete {
        margin: 0.5em 0 0 0;
        display: flex;
        // form {
        //   width: 100%;
        //   display: inline-flex;
        .input-boxes-1 {
          display: inline-flex;
          flex-grow: 3;
          margin: 0 0.5em 0 0;
          flex-direction: column;
          label {
            font-size: 14px;
            color: $black-2;
          }
          .input-box {
            border-radius: 5px;
            box-shadow: $shadow-light-black;
            display: flex;
            min-width: 200px;
            width: 100%;
            align-items: center;
            background: $white-primary;
            height: 38px;
            padding: 0em 0px 0 0px;
            margin: 0 !important;
            nz-select,
            input {
              margin: 0 !important;
              width: 100%;
              font-size: 17px;
              padding: 0 0.7em;
              color: $secondary;
              vertical-align: middle;
              border: none;
              outline: none;
              background: $white-primary;
              display: flex !important;
              height: 38px;
              border-radius: 5px;
            }
            nz-select {
              padding: 0;
            }
          }
          .error {
            color: $red;
            font-size: 12px;
            font-weight: 200;
          }
        }
        .input-boxes-2 {
          display: inline-flex;
          flex-direction: column;
          label {
            font-size: 14px;
            color: $black-2;
          }
          .input-box {
            border-radius: 5px;
            box-shadow: $shadow-light-black;
            display: flex;
            min-width: 200px;
            width: 100%;
            align-items: center;
            background: $white-primary;
            height: 38px;
            padding: 0em 0px 0 0px;
            margin: 0 !important;
            input {
              margin: 0 !important;
              width: 100%;
              font-size: 17px;
              padding: 0 0.7em;
              color: $secondary;
              vertical-align: middle;
              border: none;
              outline: none;
              background: $white-primary;
              display: flex !important;
              height: 38px;
              border-radius: 5px;
            }
          }
          .error {
            color: $red;
            font-size: 12px;
            font-weight: 200;
          }
        }
      }
    }
    width: 100%;
  }
}

.grid-wrapper-languages {
  display: grid;
  padding: 3em 4em 0 4em;
  grid-template-columns: 1fr;
  .first-child {
    margin: 0 1em;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 0.55fr 2fr;
    width: 100%;
    .flex-box {
      // width: 100%;
      // align-items: center;
      // margin: 1.25em 0 0 0;
      width: 34.5%;
      label {
        margin: 2em 1em 0 0em;
        color: $light-black;
        font-weight: 200;
        width: 100%;
        font-size: 17px;
        white-space: nowrap;
      }
    }
    .sub-input-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      .label-box {
        margin: 0.5em 0 0 0;
        label {
          font-size: 14px;
          color: $black-2;
        }
        .input-box {
          border-radius: 5px;
          box-shadow: $shadow-light-black;
          display: flex;
          min-width: 200px;
          width: 100%;
          align-items: center;
          background: $white-primary;
          height: 38px;
          padding: 0em 0px 0 0px;
          margin: 0 !important;
          input {
            margin: 0 !important;
            width: 100%;
            font-size: 17px;
            padding: 0 0.7em;
            color: $secondary;
            vertical-align: middle;
            border: none;
            outline: none;
            background: $white-primary;
            display: flex !important;
            height: 38px;
            border-radius: 5px;
          }
        }
        .error {
          color: $red;
          font-size: 12px;
          font-weight: 200;
        }
      }
      .label-box-2 {
        margin: 0.5em 0 0 0;
        display: flex;
        align-items: flex-end;
        .input-boxes-1 {
          display: inline-flex;
          flex-grow: 1;
          margin: 0 0.5em 0 0;
          width: 100%;
          flex-direction: column;
          label {
            font-size: 14px;
            color: $black-2;
          }
          .input-box {
            border-radius: 5px;
            box-shadow: $shadow-light-black;
            display: flex;
            min-width: 200px;
            width: 100%;
            align-items: center;
            background: $white-primary;
            height: 38px;
            padding: 0em 0px 0 0px;
            margin: 0 !important;
            input {
              margin: 0 !important;
              width: 100%;
              font-size: 17px;
              padding: 0 0.7em;
              color: $secondary;
              vertical-align: middle;
              border: none;
              outline: none;
              background: $white-primary;
              display: flex !important;
              height: 38px;
              border-radius: 5px;
            }
          }
          .error {
            color: $red;
            font-size: 12px;
            font-weight: 200;
          }
        }
        .input-boxes-4 {
          display: inline-flex;
          justify-content: space-evenly;
          // flex-direction: column;
          width: 100%;
          label {
            font-size: 14px;
            color: $black-2;
          }
          .input-box {
            .check,
            input {
              border-radius: 5px;
              // border: 1px solid $gray-dark;
              display: flex;
              // width: 35px;
              // width: 100%;
              align-items: center;
              outline: none;
              flex-direction: column;
              // background: $white;
              // height: 35px;
              padding: 0em 0px 0 0px;
              margin: 0 !important;
            }
          }
          .error {
            color: $red;
            font-size: 12px;
            font-weight: 200;
          }
        }
      }
      .label-box-3 {
        align-items: center;
        margin: 0.5em 0 0 0;
        display: flex;
        width: 100%;
        .input-boxes-1 {
          display: inline-flex;
          flex-grow: 1;
          margin: 0 0.5em 0 0;
          width: 100%;
          flex-direction: column;
          label {
            font-size: 14px;
            color: $black-2;
          }
          .input-box {
            border-radius: 5px;
            box-shadow: $shadow-light-black;
            display: flex;
            min-width: 200px;
            width: 100%;
            align-items: center;
            background: $white-primary;
            height: 38px;
            padding: 0em 0px 0 0px;
            margin: 0 !important;
            input {
              margin: 0 !important;
              width: 100%;
              font-size: 17px;
              padding: 0 0.7em;
              color: $secondary;
              vertical-align: middle;
              border: none;
              outline: none;
              background: $white-primary;
              display: flex !important;
              height: 38px;
              border-radius: 5px;
            }
          }
          .error {
            color: $red;
            font-size: 12px;
            font-weight: 200;
          }
        }
        .input-boxes-4 {
          display: inline-flex;
          justify-content: space-evenly;
          // flex-direction: column;
          width: 100%;
          label {
            font-size: 14px;
            color: $black-2;
          }
          .input-box {
            input {
              border-radius: 5px;
              border: 1px solid $gray-dark;
              display: flex;
              width: 35px;
              // width: 100%;
              align-items: center;
              outline: none;
              background: $white;
              height: 35px;
              padding: 0em 0px 0 0px;
              margin: 0 !important;
            }
          }
          .error {
            color: $red;
            font-size: 12px;
            font-weight: 200;
          }
        }
      }

      .language-add-button {
        display: flex;
        text-align: left;
        margin: 1em 0 0 0;
        span {
          cursor: pointer;
          margin: 0 0 0 0.5em;
          color: $light-blue;
          padding: 0 0 0.15em 0;
          border-bottom: solid $light-blue 1px;
          font-size: 17px;
        }
      }
    }
    width: 100%;
  }
}

.bottom-form-wrapper {
  margin: 1em 0 0 0;
  padding: 10px;
  .header {
    font-weight: 600;
    font-size: 18px;
    color: $light-black;
    margin: 1em 0 1em 1em;
  }
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 4em 1em;
    align-items: center;
    justify-content: space-between;
    background: $white-primary !important;
    border-radius: 5px;
    box-shadow: $shadow-light-black;
    .three-column-flex {
      display: flex;
      width: 100%;
      // align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      // flex-direction: column;
      background: $white-primary !important;
      .wrapper {
        // width: 100%;
        flex: auto;
        margin: 0 2em;
        .form-field {
          label {
            color: $light-black-1;
            width: 100%;
            margin: 1em 0 0.5em 0;
            font-size: 17px;
            white-space: nowrap;
          }
        }
        .input-box {
          border-radius: 5px;
          box-shadow: $shadow-light-black;
          display: flex;
          min-width: 200px;
          width: 100%;
          align-items: center;
          background: $white;
          height: 38px;
          padding: 0em 0px 0 0px;
          margin: 0 !important;
          input {
            margin: 0 !important;
            width: 100%;
            border: solid $black-3 1px;
            font-size: 17px;
            padding: 0 0.7em;
            color: $secondary;
            vertical-align: middle;
            outline: none;
            background: $white;
            display: flex !important;
            border-radius: 5px;
            height: 38px;
          }
        }
        .error {
          color: $red;
          font-size: 12px;
          font-weight: 200;
        }
      }
    }
    .above-three-flex {
      margin: 3em 0 0 0;
      display: flex;
      width: 100%;
      // align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      // flex-direction: column;
      background: $white-primary !important;
      .wrapper {
        // width: 100%;
        flex: auto;
        margin: 0 2em;
        .form-field {
          label {
            color: $light-black-1;
            width: 100%;
            margin: 1em 0 0.5em 0;
            font-size: 17px;
            white-space: nowrap;
          }
        }
        .input-box {
          border-radius: 5px;
          box-shadow: $shadow-light-black;
          display: flex;
          min-width: 200px;
          width: 100%;
          align-items: center;
          background: $white;
          height: 38px;
          padding: 0em 0px 0 0px;
          margin: 0 !important;
          input {
            margin: 0 !important;
            width: 100%;
            font-size: 17px;
            border: solid $black-3 1px;
            padding: 0 0.7em;
            color: $secondary;
            vertical-align: middle;
            outline: none;
            background: $white;
            display: flex !important;
            border-radius: 5px;
            height: 38px;
          }
        }
        .max-200 {
          max-width: 120px !important;
        }
        .error {
          color: $red;
          font-size: 12px;
          font-weight: 200;
        }
      }
      .wrapper-sub-wrapper {
        // width: 100%;
        flex: auto;
        margin: 0 2em;
        .form-field {
          label {
            color: $light-black-1;
            width: 100%;
            margin: 1em 0 0.5em 0;
            font-size: 17px;
            white-space: nowrap;
          }
        }
        .input-box {
          border-radius: 5px;
          box-shadow: $shadow-light-black;
          display: flex;
          // min-width: 200px;
          width: 100px;
          align-items: center;
          background: $white;
          height: 38px;
          padding: 0em 0px 0 0px;
          margin: 0 !important;
          input {
            margin: 0 !important;
            width: 100px;
            font-size: 17px;
            border: solid $black-3 1px;
            padding: 0 0.7em;
            color: $secondary;
            vertical-align: middle;
            outline: none;
            background: $white;
            display: flex !important;
            border-radius: 5px;
            height: 38px;
          }
        }
        .error {
          color: $red;
          font-size: 12px;
          font-weight: 200;
        }
        .power-wrapper {
          display: flex;
          align-items: center;
          .sub-power-wrapper {
            display: flex;
            align-items: center;
            .form-field {
              label {
                color: $primary;
                width: 100%;
                margin: 0 0.5em 0em 0;
                font-size: 15px;
                white-space: nowrap;
              }
            }
            .input-box {
              border-radius: 5px;
              box-shadow: $shadow-light-black;
              display: flex;
              width: 100px;
              align-items: center;
              background: $white;
              height: 38px;
              padding: 0em 0px 0 0px;
              margin: 0 !important;
              input {
                margin: 0 !important;
                width: 100px;
                font-size: 17px;
                border: solid $black-3 1px;
                padding: 0 0.7em;
                color: $secondary;
                vertical-align: middle;
                outline: none;
                background: $white;
                display: flex !important;
                border-radius: 5px;
                height: 38px;
              }
            }
            .error {
              color: $red;
              font-size: 12px;
              font-weight: 200;
            }
          }
        }
      }
    }
  }
}
.submit-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  // button:first-child {
  //   width: 220px;
  //   height: 35px;
  //   background: $light-blue 0% 0% no-repeat padding-box;
  //   box-shadow: $shadow-light-black-1;
  //   border-radius: 8px;
  //   font-weight: 700;
  //   font-size: 15px;
  //   color: $white;
  //   outline: none;
  //   font-weight: bold;
  // }
  // button:last-child {
  //   width: 120px;
  //   height: 35px;
  //   margin-left: 30px;
  //   border-radius: 8px;
  //   border: 1px solid $blue-1;
  //   font-weight: 600;
  //   font-size: 15px;
  //   color: $blue-1;
  //   outline: none;
  // }
}

@media only screen and (max-width: 1200px) and (min-width: 750px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    padding: 3em 2em 0 2em;
    form {
      grid-row: 0;
      .first-child {
        .flex-box {
          .input-box {
            min-width: 200px;
            max-width: 360px;
          }
        }
      }
    }
    .second-child {
      grid-row: 1;

      justify-content: start;
    }
  }
  .grid-wrapper-1 {
    padding: 3em 2em 0 2em;
  }
  .grid-wrapper-languages {
    padding: 3em 2em 0 2em;
  }
}

@media only screen and (max-width: 850px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    padding: 2em 0.4em 0 0.5em;
    form {
      grid-row: 0;
      .first-child {
        .flex-box {
          .input-box {
            min-width: 200px;
            max-width: 360px;
          }
        }
      }
    }
    .second-child {
      grid-row: 1;
      justify-content: start;
    }
  }
  .grid-wrapper-1 {
    padding: 2em 0.4em 0 0.5em;
    .first-child {
      grid-template-columns: 0.55fr;
    }
  }
  .grid-wrapper-languages {
    padding: 2em 0.4em 0 0.5em;
    .first-child {
      grid-template-columns: 0.55fr;
    }
  }
}
