<div class="grid-wrapper">
    <div class="heading-wrapper">
        <div class="heading">
            Email Job Lists
        </div>
        <div class="search">
            <div class="stage-bar">
            </div>
            <div class="search-icon">
                <img src="assets/images/feather-search.svg" alt="" srcset="">
                <input style="border: none; outline: none;" matInput (keyup)="onQuickFilterChanged()" [(ngModel)]="quickSearchValue" placeholder="Search….">
            </div>

        </div>
    </div>

    <div class="aggrid-wrapper">
        <ag-grid-angular [rowStyle]="rowStyle" style="width: 100%; height: calc(100vh - 220px); margin:auto !important;" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs" [sideBar]="sideBar" [defaultColDef]="defaultColDef" [tooltipShowDelay]="tooltipShowDelay"
            [pagination]="true" [suppressRowClickSelection]="true" [paginationPageSize]="paginationPageSize" [rowSelection]="'multiple'" [cacheBlockSize]="cacheBlockSize" (gridReady)="onGridReady($event)" [animateRows]="true" (sortChanged)="sortevent($event)"
            (cellClicked)="onCellClicked($event)" (filterModified)="getModel($event)" headerHeight="50" [animateRows]="true">
        </ag-grid-angular>
    </div>

</div>

<ng-template #email>
    <div class="view-template-wrapper">
        <h2 class="heading" mat-dialog-title>View Template</h2>
        <h2 class="sub-heading" mat-dialog-title>Email Template - {{selectedTemplate.template_name}}</h2>
        <mat-dialog-content class="dialog-content">
            <div class="template"> 
                <div class="heading">
                    Subject: {{selectedTemplate.subject}}
                </div>
                <div class="content">
                    <div [innerHTML]="selectedTemplate?.content"></div>
                </div>
            </div>
        </mat-dialog-content>
    </div>
    <mat-dialog-actions align="end">
            <button class="closeBtn" mat-button mat-dialog-close>CLOSE</button>
        </mat-dialog-actions>
</ng-template>