@import "../../../themes/themes.scss";

.main-wrapper-uploaded-list {
  padding: 4px;
  background: $wrapper-light-gray;
  height: 100%;
  .line {
    height: 40px;
    border-bottom: solid 1px $primary;
  }
  .ins {
    display: flex;
    background: $white;
    padding: .5em;
    flex-direction: column;
    .head {
      font-size: 15px;
      color: $light-black;
      font-weight: 200;
      margin: .5em;
    }
    ul {
      font-size: 12px;
      color: $light-black;
      font-weight: 200;
      li {
        padding-bottom: .25em;
        ul {
          font-weight: 100;
        }
      }
    }
  }


  .list-wrapper {
    width: 68%;
    margin: 1em auto;
    .list-count {
      color: $light-black;
      font-size: 13px;
      margin-bottom: 0 0 4px 0;
      font-weight: 200;
    }
    .list-table {
      border: 1px solid $header-blue;
      .head-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1.2fr 0.3fr;
        color: $black;
        background: $blue-3 0% 0% no-repeat padding-box;
        font-size: 13px;
        font-weight: 200;
        outline: none;
        border: none;
        padding: 4px 2em;
        .tag,
        .name,
        .email {
          margin: 0 0 0 2em;
        }
      }
      .scroll {
        min-height: 300px;
        max-height: 300px;
        overflow: auto;
        .child-grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1.2fr 0.3fr;
          padding: 4px 2em;
          border: none;
          color: $header-blue;
          font-size: 13px;
          min-height: 30px;
          .delete {
            text-align: center;
            cursor: pointer;
          }
        }
        .light-bg {
          background: $white-2 0% 0% no-repeat padding-box !important;
        }
        .dark-bg {
          background: $white-3 0% 0% no-repeat padding-box !important;
        }
      }
    }
    .button-wrapper {
      text-align: center;
      margin: 1em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .cancel {
        display: flex;
        align-items: center;
        height: 24px;
        border: 1px solid $gray-dark;
        border-radius: 6px;
        background: transparent;
        color: $primary;
        font-size: 14px;
        padding: 4px 1.8em;
      }
      // .ok {
      //   margin: 0 0 0 1em;
      //   display: flex;
      //   align-items: center;
      //   height: 25px;
      //   background: $light-blue 0% 0% no-repeat padding-box;
      //   box-shadow: $shadow-light-black-1;
      //   border-radius: 6px;
      //   color: $white;
      //   font-size: 14px;
      //   padding: 4px 2.5em;
      // }
    }
  }
}

.hide {
  pointer-events: none;
  opacity: 0.5;
}
.urlSpan{
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  width: 260px;
}
.pos {
    bottom: 60px !important;
    margin-left: 1.5em !important;
}