<div class="joining-form-wrapper">
    <div class="stepper">
        <div class="stepper-wrapper">
            <ul>
                <li (click)="validCheck('personal'); routingSelection = 'personal'"
                    [ngClass]="activeStep == 'personal' ? 'active' : (activeStep == 'personal' || activeStep == 'contact' || activeStep == 'dependent' || activeStep == 'education' || activeStep == 'upload' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor'" [ngStyle]="{'font-weight': routingSelection == 'personal' ? '600' : ''}">
                    <div *ngIf="activeStep != 'personal'" class="check"></div>
                    Personal Details
                </li>
                <li (click)="validCheck('contact'); routingSelection = 'contact'"
                    [ngClass]="activeStep == 'contact' ? 'active' : (activeStep == 'contact' || activeStep == 'dependent' || activeStep == 'education' || activeStep == 'upload' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor'" [ngStyle]="{'font-weight': routingSelection == 'contact' ? '600' : ''}">
                    <div *ngIf="activeStep != 'contact'" class="check"></div>
                    Contact Details
                </li>
                <li (click)="validCheck('dependent'); routingSelection = 'dependent'"
                    [ngClass]="activeStep == 'dependent' ? 'active' : (activeStep == 'dependent' || activeStep == 'education' || activeStep == 'upload' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor'"  [ngStyle]="{'font-weight': routingSelection == 'dependent' ? '600' : ''}">
                    <div *ngIf="activeStep != 'dependent'" class="check"></div>
                    Dependent Details
                </li>
                <li (click)="validCheck('education')"
                    [ngClass]="activeStep == 'education' ? 'active' : (activeStep == 'education' || activeStep == 'upload' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor'">
                    <div *ngIf="activeStep != 'education'" class="check"></div>
                    Education Details
                </li>
                <li (click)="validCheck('upload')"
                    [ngClass]="activeStep == 'upload' ? 'active' : (activeStep == 'upload' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor'">
                    <div *ngIf="activeStep != 'upload'" class="check"></div>
                    Upload Documents
                </li>
                <li (click)="validCheck('preview')"
                    [ngClass]="activeStep == 'preview' ? 'active' : (activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor'">
                    <div *ngIf="activeStep != 'preview'" class="check"></div>
                    Preview
                </li>
                <li (click)="validCheck('submit')"
                    [ngClass]="activeStep == 'submit' ? 'active' : (activeStep == 'submit') ? 'valid' : 'noCursor'">
                    <div *ngIf="activeStep != 'submit'" class="check"></div>
                    Submit
                </li>
            </ul>
        </div>
    </div>
    <div class="router joining-form-main">
        <router-outlet></router-outlet>
    </div>
</div>