<div class="customer-wrapper">
  <app-customer-landing-header></app-customer-landing-header>
  <div class="customer-body-wrapper">
    <div class="customers">
      <mat-card class="card" *ngFor="let customer of [0,1,2]; let i = index" [ngClass]="customer && customer.length < 4 ? 'margin-increase' : ''">
        <div class="company-logo">
          <img *ngIf="i==0" src="assets/images/EduTech_Logo.svg" alt="" srcset="">
          <img *ngIf="i > 0" src="https://assets.lntedutech.com/edutech_logo.svg" alt="" srcset="">
        </div>
        <mat-card-footer class="card-footer">
          <button class="customer-outline-button common-button-height-40" mat-raised-button><span class="mr-2">Go</span> <span class="icon-right-next"></span></button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  </div>
