@import "../../../../../themes/themes.scss";

.second-shortlist-sub-header {
  background: $white;
  width: 100%;
  padding: 0.25em;
  .flex-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .group {
      margin: 0.5em;
      display: flex;
      width: 400px;
      .label {
        color: $light-black;
        font-size: 13px;
        white-space: nowrap;
      }
      .value {
        font-size: 13px;
        color: $header-blue;
        padding-left: 4px;
        .labels {
          background: $white-primary 0% 0% no-repeat padding-box;
          box-shadow: $shadow-light-black;
          padding: 1px 6px;
          text-align: center;
        }
      }
    }
  }
}
