<div class="second-shortlist-sub-header">
  <div class="flex-wrapper">
    <div class="group">
      <div class="label">
        Shortlist Name :&#160;
      </div>
      <div class="value">
          {{bindDetails ? bindDetails['shortlist_name'] : '-'}}
      </div>
    </div>

    <div class="group">
      <div class="label">
        Total Number of Candidates :&#160;
      </div>
      <div class="value">
        <span class="labels">{{bindDetails ? bindDetails['total'] : '-'}}</span>
      </div>
    </div>

    <div class="group">
      <div class="label">
        Shortlisted Candidates :&#160;
      </div>
      <div class="value">
        <span class="labels">{{bindDetails ? bindDetails['shortlisted'] : '-'}}</span>
      </div>
    </div>

    <div class="group">
      <div class="label">
        Yet to Shortlist Candidates :&#160;
      </div>
      <div class="value">
        <span class="labels">{{bindDetails ? bindDetails['notTaken'] : '-'}}</span>
      </div>
    </div>


  </div>
  <div *ngIf="showSendEvaluationButton && checkPermission()" class="right-wrapper">
    <button (click)="sendToEvaluate()" [disabled]="!showSendEmailButton" class="common-button common-button-height-30" mat-raised-button><span [matTooltip]="showSendEmailButton ? '' : 'Criteria not matched'">Send to Evaluate</span></button>
  </div>
</div>
