@import "../../themes/themes.scss";
* {
  margin: 0;
  padding: 0;
}
.main-wrapper {

.toolbar-wrapper {
  position: relative;
  padding: 0 0 0 1em;
  word-spacing: 0em;
  display: flex;
  height: 70px;
  align-items: center;
  background: $active-sub-bg;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  color: $light-black;
  font-size: 30px;
  font-weight: 200;
}
}
