<div class="main-wrapper">
    <div class="header-wrapper">
        <app-home-header></app-home-header>
      </div>
    <div class="route-links">
        <div class="one">
            <button (click)="candidateRegister()">Candidate</button>
        </div>
        <div class="two">
                <button (click)="instituteRegister()">Institute</button>
        </div>
        <div class="three">
                <button (click)="corporateRegister()">Corporate</button>
        </div>
    </div>
</div>
