<div class="mobile-verification" [ngClass]="hide ? 'hide' : ''">
    <div class="label-head">
        <img src="../../../assets/Web-1920 -1/iphone.svg" width="14px" height="23px" alt="" srcset=""> Enter
        Mobile Number
    </div>
    <div class="input-select-div"
        [ngStyle]="{border: mobileNumber.invalid && mobileNumber.touched ? 'solid red 1px': ''}">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button"
                data-toggle="dropdown"><span>{{mobileCode ? mobileCode.code : ''}}</span></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" [ngClass]="code.code === mobileCode.code ? 'active' : ''"
                    (click)="selectedCode(code)" *ngFor="let code of mobileCodes">
                    {{code.code}}
                </a>
            </div>
        </div>
        <div class="seperator-line"></div>
        <div class="input-box">
            <input matInput [formControl]="mobileNumber" type="text" required>
        </div>
        <div class="edit-icon"><span class="material-icons">
                create
            </span></div>
    </div>
    <div class="error" *ngIf="mobileNumber.invalid && mobileNumber.touched">
        <span *ngIf="mobileNumber.errors?.required">Mobile Number is Required</span>
        <span *ngIf="mobileNumber.errors?.pattern">Please enter valid 10 digit Mobile
            Number</span>
    </div>

    <div class="label-msg">
        OTP will be send to this number
    </div>
    <div class="verify-button">
        <button (click)="sendOTP()" type="button">Verification</button>
    </div>

</div>

<div class="otp-verification" [ngClass]="!hide ? 'hide' : ''">
    <div class="label-head">
        <img src="../../../assets/Web-1920 -1/iphone.svg" width="14px" height="23px" alt="" srcset=""> OTP Code
    </div>
    <div class="input-box">
        <div *ngIf="OTPreSend" class="text-success">OTP code again sent successfully</div>
        <input [formControl]="otp1" [ngStyle]="{border: otp1.invalid && otp1.touched ? 'solid red 1px': ''}" type="text"
            maxlength="1" required>
        <input [formControl]="otp2" [ngStyle]="{border: otp2.invalid && otp2.touched ? 'solid red 1px': ''}" type="text"
            maxlength="1" required>
        <input [formControl]="otp3" [ngStyle]="{border: otp3.invalid && otp3.touched ? 'solid red 1px': ''}" type="text"
            maxlength="1" required>
        <input [formControl]="otp4" [ngStyle]="{border: otp4.invalid && otp4.touched ? 'solid red 1px': ''}" type="text"
            maxlength="1" required>
    </div>
    <div class="verify-button">
        <button (click)="OTPVerify()" type="button">Verify</button>
    </div>

    <div class="label-msg">
        Don't get code? <span (click)="resendOTP()">Resend Code</span>
    </div>

</div>