@import "../../themes/themes.scss";

.mobile-verification {
  margin: 70px 0 40px 0;
  .label-head {
    font-weight: 200;
    font-size: 18px;
  }
  .input-select-div {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    margin: 32px 0 0 0;
    text-align: left;
    font-size: 20px;
    padding: 0.5em 1.5em 0.5em 1em;
    position: relative;
    align-items: center;
    box-shadow: $shadow-light-black;
    border-radius: 5px;
    background-color: $white-primary;
    .btn {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 18px;
      color: $light-black;
      background: transparent !important;
      border: none !important;
      outline: none !important;
      font-weight: 100;
      box-shadow: none !important;
    }
    .dropdown-menu {
      width: auto !important;
      padding: 0em 0em !important;
      min-width: auto !important;
      max-height: 300px !important;
      overflow-y: auto;
      z-index: 2;
      border: 0.8px solid $blue !important;
      a {
        text-decoration: none;
        cursor: pointer;
        padding: 0.5em 1em;
      }
      .active {
        background: $lighter-blue 0% 0% no-repeat padding-box !important;
        border: 0.5px solid $blue;
        color: $light-black;
      }
      :hover {
        background: $lighter-blue 0% 0% no-repeat padding-box !important;
        border: 0.5px solid $blue;
      }
    }
    :focus {
      border: none !important;
      outline: none !important;
    }
    .dropdown-toggle::after {
      vertical-align: middle !important;
    }
    .seperator-line {
      margin: 0 2px 0 10px;
      border-left: solid $gray-dark 1px !important;
      height: 28px !important;
    }
    .edit-icon {
      span {
        color: $light-blue;
        background: transparent !important;
        font-size: 23px;
        vertical-align: middle;
      }
    }
    .input-box {
      width: 75%;
      input {
        outline: none;
        border: none;
        padding: 0 1em;
        background: transparent;
        color: $secondary;
        font-size: 18px;
        min-width: 100px;
        max-width: 250px;
        font-weight: 100;
      }
    }
  }
  .error {
    color: $red;
    font-size: 12px;
    font-weight: 200;
    text-align: left;
  }
  .label-msg {
    color: $primary;
    font-weight: 100;
    font-size: 16px;
    margin: 30px 0 0 0;
  }
  .verify-button {
    width: 100%;
    margin: 20px 0 70px 0;
    button {
      justify-content: center;
      text-align: center;
      width: 70%;
      height: 40px;
      color: $white;
      font-weight: 200;
      font-size: 20px;
      outline: none;
      border: none;
      border-radius: 10px;
      background-color: $light-blue;
    }
  }
}

.otp-verification {
  margin: 40px 0 40px 0;
  .label-head {
    width: 70%;
    font-weight: 200;
    font-size: 17px;
  }
  .input-box {
    margin: 10px 0;
    input {
      box-shadow: $shadow-light-black;
      border-radius: 5px;
      background-color: $white-primary;
      border: none;
      outline: none;
      margin: 0.7em;
      width: 40px;
      height: 40px;
      font-size: 20px;
      color: $secondary;
      text-align: center;
    }
  }
  .label-msg {
    color: $primary;
    font-weight: 100;
    font-size: 16px;
    margin: 20px 0;
    span {
      color: $red;
      font-weight: 200;
      font-weight: 16px;
      cursor: pointer;
    }
  }
  .verify-button {
    width: 100%;
    button {
      justify-content: center;
      text-align: center;
      width: 70%;
      height: 40px;
      color: $white;
      font-weight: 200;
      font-size: 20px;
      outline: none;
      border: none;
      border-radius: 10px;
      background-color: $light-blue;
    }
  }
}
.hide {
  opacity: 0.6;
  pointer-events: none;
}
