@import "../../../../themes/themes.scss";

.inv-evaluation {
  background: $white;
  // height: 100%;
  position: relative;
  .sticky {
    position: sticky;
    top: -4px;
    position: -webkit-sticky; /* Safari */
    background: $white;
    z-index: 999;

  .router-wrapper {
    margin: 1em 0 0 0;
    // width: 100%;
    // overflow: auto;
    .main-toolbar {
      display: flex;
      overflow: auto;
      margin: 0 0 0 0em;
      // justify-content: space-between;
      align-items: center;
      height: 100%;
      height: 35px;
      cursor: pointer;
      background: $white 0% 0% no-repeat padding-box;
      border-bottom: solid $primary-gray 1px;
      box-sizing: border-box;
      text-align: center;
      outline: none;
      flex-wrap: wrap;
      .tabs {
        background: transparent;
        outline: none !important;
        font-size: 16px;
        min-width: 200px;
        display: flex;
        height: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 0px 1em;
        border-bottom: 3px solid transparent;
        color: #545454;
        font-weight: 600;
      }
      :hover {
        border-bottom: 3px solid #C02222;
      }
      .active {
        border-bottom: 3px solid #C02222;
        font-weight: 200;
        color: #000;
        opacity: 1;
        background-color: transparent;
        font-weight: 600;
      }
    }
  }
}
}
.routing {
  padding-bottom: 4px;
}
:host ::ng-deep .mat-tab-header {
  border-bottom: 1px solid #d9d9d9 !important;
}
:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: none !important;
  border-bottom: 3px solid #c02222;
}

:host ::ng-deep .mat-tab-label{
  opacity: 1 !important;
  height: 35px !important;
}
:host ::ng-deep .mat-tab-label:hover {
  border-bottom: 3px solid #c02222;
}
:host ::ng-deep .mat-tab-label-content {
  background: 0 0 !important;
    outline: 0 !important;
    font-size: 16px !important;
    min-width: 200px !important;
    display: flex !important;
    height: 100% !important;
    position: relative !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 1em !important;
    border-bottom: 3px solid transparent !important;
    color: #545454 !important;
    font-weight: 600 !important;
}

:host ::ng-deep .mat-tab-label-active {
  .mat-tab-label-content {
  color: #000 !important;
  opacity: 1 !important;
  background-color: transparent !important;
  font-weight: 600 !important;
  }
}
