<div class="main-wrapper">
  <div class="line"></div>
  <div class="header">
    {{editUserId ? 'Edit User' : 'Add User'}}
  </div>

  <div class="form-wrapper">
    <form [formGroup]="addUserForm" class="forms" (ngSubmit)="submit()">
      <div class="form-field">
        <div class="grid">
          <div class="label-wrapper">
            <label class="label-name">
              Name
            </label>
          </div>
          <div class="input-box" [ngStyle]="{border: name.invalid && name.touched ? 'solid red 1px': ''}">
            <input matInput formControlName="name" type="text" required>
          </div>
        </div>
        <div class="error" *ngIf="name.invalid && name.touched">
          <span *ngIf="name.errors?.required">Name is Required</span>
        </div>
      </div>
      <div class="form-field">
        <div class="grid">
          <div class="label-wrapper">
            <label class="label-name">
              Email ID
            </label>
          </div>
          <div [ngClass]="editDetails ? 'disable' : ''" [matTooltip]="editDetails ? 'Email Field is Non-Editable' : ''" class="input-box" [ngStyle]="{border: email.invalid && email.touched ? 'solid red 1px': ''}">
            <input matInput formControlName="email" type="text" required>
          </div>
        </div>
        <div class="error" *ngIf="email.invalid && email.touched">
          <span *ngIf="email.errors?.required">Email is Required</span>
          <span *ngIf="email.errors?.pattern">Please enter a valid Email id</span>
        </div>
      </div>
      <div class="form-field">
        <div class="grid">
          <div class="label-wrapper">
            <label class="label-name">
              Role
            </label>
          </div>
          <div class="input-box-radio" [ngStyle]="{'border-bottom': role.invalid && role.touched ? 'solid red 1px': ''}">
            <div>
            <input formControlName="role" type="radio" value="admin"><span>  Admin</span>
          </div>
          <div>
            <input formControlName="role" type="radio" value="proctor"><span> Proctor</span>
          </div>
          <div>
            <input formControlName="role" type="radio" value="hr"><span> HR</span>
          </div>
          <div>
            <input formControlName="role" type="radio" value="interview-panel"><span> Interview panel</span>
          </div>
            <!-- <mat-radio-group formControlName="role" aria-label="Select an option">
              <mat-radio-button value="1">Admin</mat-radio-button>
              <mat-radio-button value="2">Proctor</mat-radio-button>
              <mat-radio-button value="3">HR</mat-radio-button>
              <mat-radio-button value="4">Interview panel</mat-radio-button>
            </mat-radio-group> -->
          </div>
        </div>
        <div class="error" *ngIf="role.invalid && role.touched">
          <span *ngIf="role.errors?.required">Role is Required</span>
        </div>
      </div>

      <div class="button-wrapper">
        <button mat-raised-button type="submit">Save</button>
        <button (click)="cancel()" mat-raised-button type="button">Cancel</button>
      </div>
    </form>
  </div>
</div>
