<div class="thanks-wrapper">
  <div class="form-confirmation">
    <h3 class="h3-heading">RECRUITMENT PLATFORM</h3>
    <div class="driveName">Off Campus Drive - GET 2022</div>
    <div class="sub-wrapper">
      <div class="icon-div">
        <img
          src="assets/Yet_to_Insert_in_icomoon/Envelope.svg"
          alt=""
          srcset=""
        />
      </div>
      <div class="content">Thanks for confirming your mail id.</div>
      <div class="content">
        You will be notified once your profile gets shortlisted.
      </div>
    </div>
  </div>
</div>
