@import '../../../../themes/themes.scss';
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
.noData {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  text-align: center;
  padding-top: 2em;
  font-size: 18px;
  padding-bottom: 2em;
  margin: 2em 1em;
  box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 12%) !important;
  font-weight: 600;
}


.heading6 {
  font-size: 21px;
  font-weight: 700;
  margin: 1em 0 0.58em;
}

.sort {
  display: inline-block;
  margin: 0;
  padding: 0;
    .mat-icon {
        cursor: pointer;
        height: 30px;
        width: 30px;
        line-height: 1.5;
        border: 1px solid #cac9c9;
        background-color: #f2f2f2;
        color: #000;
        text-align: center;
        border-radius: 4px;

        &.bothbtn {
            &:first-child {
                border-radius: 4px 0 0 4px;
                }
                &:last-child {
                border-radius: 0 4px 4px 0;
                border-left-width: 0;
                }
        }
    }
}
.eTest {
  cursor: pointer;
  color: $primary-red;
}


$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;


h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
  justify-content:center;
  margin-top: 2em;
}

.table {
	width:100%;
	border:1px solid $color-form-highlight;
}

.table-header {
	display:flex;
  width:100%;
  font-weight: 600;
  background:rgb(0, 0, 0, 0.17);
	padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:($half-spacing-unit * 1.5) 0;

	&:nth-of-type(odd) {
		background:$color-form-highlight;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.filter__link {
  color: $black;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;

	&::after {
		content:'';
		position:absolute;
		right:-($half-spacing-unit * 1.5);
		color:white;
		font-size:$half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}
}
.table-content {
  max-height: 300px;
  overflow: auto;
}

.left-align {
  text-align: left !important;
  padding-left: 12px !important;
}
.left-align-td2 {
  text-align: left !important;
  padding-left: 58px !important;
}
.alignLeft {
  text-align: left;
}
.overall {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #0003 !important;
  .firsttd {
    flex: 1 1 40%;
  }
  .table-data {
    font-weight: 600;
  }
}
