@import "../../../../themes/themes.scss";

.main-wrapper-uploaded-list {
  padding: 4px;
  background: $wrapper-light-gray;
  height: 100%;
  .line {
    height: 40px;
    border-bottom: solid 1px $primary;
  }
  .ins {
    display: flex;
    background: $white;
    padding: .5em;
    flex-direction: column;
    .head {
      font-size: 15px;
      color: $light-black;
      font-weight: 200;
      margin: .5em;
    }
    ul {
      font-size: 12px;
      color: $light-black;
      font-weight: 200;
      li {
        padding-bottom: .25em;
        ul {
          font-weight: 100;
        }
      }
    }
  }

  .upload-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 1em;
    .top-wrapper {
      .upload {
        min-width: 400px;
        max-width: 400px;
        background: $white-primary;
        height: 120px;
        display: flex;
        align-items: center;
        .outer-wrapper {
          width: 100%;
          .text-wrapper {
            display: flex;
            justify-content: center;
            .inner-wrapper {
              min-width: 300px;
              max-width: 300px;
              min-height: 50px;
              max-height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $light-blue;
              font-weight: 200;
              font-size: 15px;
              background: $white-primary 0% 0% no-repeat padding-box;
              box-shadow: $shadow-light-black-2;
              border-radius: 5px;
              position: relative;
              input {
                cursor: pointer !important;
                opacity: 0;

                /* IE 8 */
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

                /* IE 5-7 */
                filter: alpha(opacity=0);

                /* Netscape or and older firefox browsers */
                -moz-opacity: 0;

                /* older Safari browsers */
                -khtml-opacity: 0;

                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
              }
              img {
                width: 30px;
                margin: 0 0.5em 0 0;
              }

              .list {
                display: flex;
                align-items: center;
                margin: 0 .5em 0 .5em;
                justify-content: space-between;
                padding: 10px 4px;
                height: 25px;
                width: 100%;
                background: $background-7 0% 0% no-repeat padding-box;
                span {
                  color: $primary;
                  font-size: 12px;
                  img {
                    cursor: pointer;
                    width: 15px;
                  }
                }
              }
            }
          }
          .text {
            color: $black-4;
            text-align: center;
            margin: 4px 0;
            font-size: 11px;
          }
          .error {
            color: $red;
            text-align: center;
            margin: 4px 0;
            font-weight: 200;
            font-size: 11px;
          }

        }
      }
      .buttons {
        display: flex;
        width: auto;
        justify-content: center;
        margin: 1em 0;
        .cancel {
          margin: 0 1em 0 0;
          box-shadow: $shadow-light-black-1;
          border: 1px solid $gray-dark;
          border-radius: 6px;
          display: flex;
          align-items: center;
          height: 25px;
          color: $background;
          font-size: 13px;
          font-weight: 200;
          padding: 4px 26px;
          background: transparent;
          justify-content: center;
        }
        .upload {
          background: $background 0% 0% no-repeat padding-box;
          box-shadow: $shadow-light-black-1;
          border-radius: 6px;
          height: 25px;
          color: $white;
          font-size: 13px;
          font-weight: 200;
          padding: 4px 26px;
          display: flex;
          align-items: center;
          min-width: auto !important;
          width: auto !important;
          justify-content: center;
        }
      }
    }
    .download {
      min-width: 400px;
      max-width: 400px;
      background: $white-primary;
      height: 120px;
      display: flex;
      align-items: center;
      .outer-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        .inner-wrapper {
          min-width: 300px;
          max-width: 300px;
          min-height: 50px;
          max-height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $light-blue;
          font-weight: 200;
          font-size: 15px;
          background: $white-primary 0% 0% no-repeat padding-box;
          box-shadow: $shadow-light-black-2;
          border-radius: 5px;
          cursor: pointer;
          img {
            width: 30px;
            height: 20px;
            margin: 0 0.5em 0 0;
          }
        }
      }
    }
  }

  .list-wrapper {
    width: 100%;
    margin: 1em auto;
    .list-count {
      color: $light-black;
      font-size: 13px;
      margin-bottom: 0 0 4px 0;
      font-weight: 200;
    }
    .list-table {
      border: 1px solid $header-blue;
      .head-grid {
        display: grid;
        grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
        color: $black;
        align-items: center;
        background: $blue-3 0% 0% no-repeat padding-box;
        font-size: 13px;
        font-weight: 200;
        outline: none;
        justify-content: center;
        // text-align: center;
        border: none;
        padding: 4px 2em;
        padding-right: 1em;
        .tag,
        .name,
        .email {
          margin: 0 0 0 0em;
        }
      }
      .scroll {
        min-height: 300px;
        max-height: 300px;
        overflow: auto;
        .child-grid {
          display: grid;
          grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
          padding: 4px 2em;
          align-items: center;
          border: none;
          color: $header-blue;
          font-size: 13px;
          min-height: 30px;
          .delete {
            text-align: center;
            cursor: pointer;
          }
          div {
            padding: 0 .5em;
          }
        }
        .light-bg {
          background: $white-2 0% 0% no-repeat padding-box !important;
        }
        .dark-bg {
          background: $white-3 0% 0% no-repeat padding-box !important;
        }
      }
    }
    .button-wrapper {
      text-align: center;
      margin: 1em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .cancel {
        display: flex;
        align-items: center;
        height: 24px;
        border: 1px solid $gray-dark;
        border-radius: 6px;
        background: transparent;
        color: $primary;
        font-size: 14px;
        padding: 4px 1.8em;
      }
      .ok {
        margin: 0 0 0 1em;
        display: flex;
        align-items: center;
        height: 25px;
        background: $light-blue 0% 0% no-repeat padding-box;
        box-shadow: $shadow-light-black-1;
        border-radius: 6px;
        color: $white;
        font-size: 14px;
        padding: 4px 2.5em;
      }
    }
  }
}

.hide {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
