@import "../../../../../themes/themes.scss";
.second-candidatelist-wrapper {
  width: 100%;
}
.search-bar {
  margin: 6px 16px 6px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
:focus {
  border-radius: 0px;
  border: none;
  outline: none;
}

td {
  // text-align: center !important;
  padding-left: 1em !important;
}
th {
  // text-align: center !important;
  padding-left: 1em !important;
}

.no-data {
  margin: 2em auto;
  div {
    color: $header-blue;
    font-size: 20px;
    text-align: center;
  }
}
.hide {
  display: none;
}
.input-header-group {
  padding: 4px 0;
  height: 40px !important;
  th {
    background: $white-3 0% 0% no-repeat padding-box !important;
  }
  .validation {
    color: $red !important;
    font-size: 12px !important;
    text-align: center !important;
  }
}
::ng-deep .popupModalContainerForVideoAssess {
  width: 100% !important;
  max-width: 90vw !important;
  .main-wrapper {
      padding: 2em;
      background-color: white;
      display: block;
      width: 100%;
      .text {
          margin-top: .5em;
          font-size: 15px;
          text-align: center;
      }
  }
}
