<div class="second-candidatelist-wrapper">
  <app-shared-sub-header-second-level-shortlist *ngIf="statusHeaderData" (redirectToVideoAssessAssign)="redirectVideo()" [showSendEvaluationButton]="showSendEvaluationButton" [showSendEmailButton]="showSendEmailButton" [statusHeaderData]="statusHeaderData"></app-shared-sub-header-second-level-shortlist>
    <div class="search-bar">
      <div class="search-icon mr-2">
          <img src="assets/images/feather-search.svg" alt="" srcset="">
          <input matInput (keyup)="onQuickFilterChanged()" [(ngModel)]="quickSearchValue" placeholder="Search….">
      </div>
      <div class="ml-2" *ngIf="userList && userList.length > 0">
        <button [matTooltip]="checkFilterAppied() ? 'Clear all Filters' : 'No filter has been applied'" [ngClass]="checkFilterAppied() ? '' : 'disabled'" (click)="checkFilterAppied() ? gridApi.setFilterModel(null) : ''" class="common-button common-button-height-30" mat-raised-button>Clear all</button>
      </div>

      <div class="ml-2" *ngIf="userList && userList.length > 0">
        <button (click)="gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? submit() : ''" [matTooltip]="gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? '' : 'Please select the candidates'" class="common-button common-button-height-30" [ngClass]="gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? '' : 'disabled'" mat-raised-button>Assign to Final Interview</button>
      </div>
  </div>

    <div class="w-100 mb-2">
      <ag-grid-angular style="width: 98%; height: calc(100vh - 182px); margin:auto !important;" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [tooltipShowDelay]="tooltipShowDelay" [suppressRowClickSelection]="true" [statusBar]="statusBar"
      (filterChanged)="onFilterChanged($event)"
          (gridReady)="onGridReady($event)" (sortChanged)="sortevent($event)" (cellClicked)="onCellClicked($event)" [enableCharts]="true" [rowGroupPanelShow]="'always'" [rowClassRules]="rowClassRules" [sideBar]="true" (firstDataRendered)="onFirstDataRendered($event)"
          [animateRows]="true" [masterDetail]="true" [rowSelection]="'multiple'" [isRowSelectable]="isRowSelectable" [detailCellRendererParams]="detailCellRendererParams" [enableRangeSelection]="true" (filterModified)="getModel($event)" headerHeight="40" [pivotPanelShow]="'always'" [rowDragManaged]="false">
      </ag-grid-angular>
    </div>
</div>

<ng-template #videoAssessDialog>
  <div class="main-wrapper">
    <div style="float: right; margin: -25px;" class="remove">
      <mat-icon style="font-size: 20px !important; cursor: pointer;" (click)="closeDialog($event)" class="close-icon">close</mat-icon>
    </div>

    <app-shared-video-assess-view (refreshGrid)="refresh()" [videoAssessment]="videoAssessment"></app-shared-video-assess-view>
  </div>

</ng-template>
