@import "../../themes/themes.scss";

.notmatch {
  color: red;
  font-size: 11px;
  margin-left: 1em;
  text-align: left;
  margin-top: -20px !important;
}

.wrap-reg {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.form-wrapper {
  width: 75%;
  @media only screen and (min-width: 1440px) {
    width: 100%;
  }
}

a:hover {
  text-decoration: underline;
}

.btn {
  font-size: 16px;
  background: $common-button-bg !important;
  color: $white;
  border-radius: 50px !important;
  width: 50%;
  margin-left: 23%;
  margin-right: 23%;
  padding: 5px 18px;
  margin-top: 40px;
}
.btn:hover {
  background: $primary-hover-color !important;
  transition: ease-out .3s;
}
.center{
  text-align: center;
}
.btn.disabled,
.btn:disabled {
opacity: 1;
color: $white;
border-radius: .25rem;
font-size: 16px;
}

.signIn {
  text-align: center;
  color: $mediumGrey;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 40px 0;
  letter-spacing: 0.5px;
}


::placeholder {
  color: $borderColor-2;
  }

.icon-color{
color:  #8c8c8c;
position: relative;
margin: 0;
top: -4px;
}

.icon-color-1{
  color:  #8c8c8c;
  position: relative;
  cursor: pointer;
  top: -4px;
}

.label-color{
  color: #5c6873;
}

.mat-form-spacing {
  margin-bottom: 20px;
}

.next {
  text-align: center;
  margin: 24px 16px 24px 0px;
}
.next:hover {
  color: $primary-red;
  a:hover {
    text-decoration: underline;
  }
}

// mobile
@media (max-width: 480px) and (max-width: 320px) {
    .wrap-reg {
      text-align: center;
      width: 100%;
      .form-wrapper {
        width: 100%;
      }
  }
}


@media (max-width: 767px) {
  .wrap-reg {
      width: 100%;
      .form-wrapper {
        width: 100%;
      }
  }
}

@media only screen and (max-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .wrap-reg {
      text-align: center;
      width: 100%;
  }
}

input.mat-input-element {
  margin-top: -3px !important;
}

:host ::ng-deep.mat-input-element {
  margin: 3px !important;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $primary-hover-color !important;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0px;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $primary-hover-color !important;
}
:host ::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0;
}
:host ::ng-deep.mat-form-field-subscript-wrapper {
    position: relative;
    margin: 0 !important;
    padding-top: 0 !important;
}
.error {
  margin-top: 6px;
}
.login-icon-color {
  color: #8c8c8c;
}
.login-icon-wrapper {
  top: -2px;
  position: relative;
  padding: 0 0 0 10px;
}
