<ng-container *ngIf="loading">
  <!-- <i class="loading"> -->
    <div class="loading-container flex-content-center">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  <!-- </i> -->
</ng-container>
<router-outlet></router-outlet>
<ng-template #sessionDialog>
  <div class="modal-wrapper">
    <div class="heading-wrapper">
      <div class="heading d-flex align-items-center">
      <span class="icon-warning_amber_black_24dp icon-24 mr-1" style="color: red;"></span> {{'Alert Message'}}
      </div>
    </div>
    <div class="body-wrapper">
    <div class="confirmation-text">
      You're being timed out due to inactivity. Please choose to stay logged in or to logoff. Otherwise, you will be logged off automatically
    </div>
    <div class="time-remains mt-2">Time Remain - <span>{{secondTimerLeft}}</span></div>
    <div class="button-wrappers">
    <button class="common-cancel-button common-button-height-40 mr-3" (click)="logout()" mat-raised-button>Log Off</button>
    <button class="common-button common-button-height-40" (click)="continue()" mat-raised-button>Stay Logged In</button>
  </div>
  </div>
  </div>
</ng-template>
