@import "../../../../themes/themes.scss";
.main-evaluation {
  height: 100%;
  background: $wrapper-light-gray;
}
.contant {
  padding: 5px;
  margin-top: 14px;

  .head {
    font-weight: 500;
  }
  .ans {
    font-weight: 500;
    color: $blue-4;
    // display: flex;
  }
}
th.mat-header-cell {
  background: $blue-3 0% 0% no-repeat padding-box;
  color: $black;
}
.space {
  margin-top: 15px !important;
}
.submit {
  background-color: $blue-4;
  color: $white;
}
.bg {
  background: $background-10;
  color: $white;
  height: 43px;
  padding-top: 9px;
  font-size: 18px;
}
.bg-2 {
  background: $disable-gray !important;
  height: 32px;
  padding-top: 6px;
  color: $black;
}

:host ::ng-deep.mat-form-field-wrapper {
  position: relative;
  height: 53px !important;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0px !important;
  padding: 0px !important;
  border: 1px solid;
  height: 34px;
}

:host ::ng-deep .mat-form-field {
  line-height: 1.125 !important;
}
.head-h5 {
  color: $blue-4;
}

.vertical {
  border-left: 61px solid $blue-4;
  max-width: 100%;
  height: 5px;
  position: absolute;
  left: 6px;
  margin-top: -5px;
  border-radius: 17px;
}
.margin {
  margin-left: 5px;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background: $wrapper-light-gray;
}
.radioButtonCell {
  width: 75px;
  text-align: center;
  position: relative;
}

.headerCell {
  text-align: center;
}

:host ::ng-deep .material-icons {
  font-size: 16px;
  display: flex;
}

.border-right {
  border-right: 1px solid $black !important;
  padding-left: 7%;
  padding-right: 7%;
}
.in-box {
  border: 1px solid $borderColor-9;
  height: 31px;
}
.box {
  border: 1px solid;
  padding: 6px;
  width: 100%;
  display: flex;
}
.example-full-width {
  width: 100%;
}
.pad-bootom {
  padding-bottom: 10px;
}
.text {
  font-weight: 200;
}
.text-cnt {
  text-align: center;
}

textarea {
  resize: none;
  color: $black !important;
}
.place {
  border: 1px solid $borderColor-9;
  height: 30px;
  margin-top: -8px;
}
.date {
  width: 193px;
  margin-top: -8px;
}
.radioDisp {
  display: contents;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.indent {
  text-indent: -0.5em;
}
.date {
  width: 168px;
  margin-top: -8px;
}
.main-evaluation {
  input,
  textarea {
    padding: 4px !important;
    color: $secondary !important;
  }
}

.col-7 {
  align-items: center !important;
  display: flex !important;
}
.validation {
  margin-top: -0.5em;
  font-size: 12px;
  font-weight: 200;
  color: $red;
}
.validation1 {
  font-size: 12px;
  font-weight: 200;
  color: $red;
}
textarea {
  border: 1px solid $borderColor-9;
}
textarea.ng-touched.ng-invalid, input.ng-touched.ng-invalid {
  border: solid $red 1px;
}
.row {
  align-items: center;
}
.no-center-align {
  align-items: flex-start !important;
}
