<div class="inv-particular-assessment-candidate">
    <app-shared-inv-panel-header *ngIf="assessmentName"
    [details]="assessmentName ? assessmentName : ''"></app-shared-inv-panel-header>

  <div class="user-list-wrapper" [ngClass]="userList && userList.length > 0 ? '' : ''">
    <!-- <mat-form-field>
            <mat-label>Filter</mat-label> -->
    <div class="search-bar">
      <div class="search-icon">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search….">
        <img src="assets/images/feather-search.svg" alt="" srcset="">
      </div>
    </div>
    <!-- </mat-form-field> -->

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SNo. </th>
        <td mat-cell *matCellDef="let element"> {{element.count ? element.count : ''}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="candidate_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate name </th>
        <td mat-cell *matCellDef="let element"> {{element.candidate_name ? element.candidate_name : '-'}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate ID </th>
        <td mat-cell *matCellDef="let element"> {{element.uid ? element.uid : '-'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="evaluation_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Evaluation Status </th>
        <td mat-cell *matCellDef="let element"> {{element.evaluation_status && element.evaluation_status != '1' ? 'waiting' : 'completed'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> View details </th>
        <td mat-cell *matCellDef="let element">
          <button [matTooltip]="element.evaluation_status == '2' ? 'Already Submitted' : ''" [disabled] = "element.evaluation_status == '2' ? true : false" (click)="submit(element['uid'], element['candidate_name'], element['evaluation_status'], element['tag'])" class="submit-btn" mat-raised-button> Evaluate</button>
        </td>
      </ng-container>


      <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef>
          <div>Select All</div>
          <mat-checkbox (click)="$event.stopPropagation()" (change)="selectAllCheckbox($event)"
            [checked]="selectAllCheck">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox *ngIf="(element.evaluation_status == '1')" [disabled]="(element.evaluation_status == '1') ? false : true" (click)="$event.stopPropagation()" (change)="selectedUser(element)" [checked]="element.checked">
          </mat-checkbox>
          <mat-checkbox *ngIf="(element.evaluation_status == '0' || element.evaluation_status == '2')" [disabled]="true" (click)="$event.stopPropagation()">
            </mat-checkbox>

        </td>
      </ng-container>

      <!-- fifth Header row first group -->
      <div [ngClass]="userList && userList.length === 0 ? '' : 'hide'" matColumnDef="fifth-header-row-first-group">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="10">
          {{'No Data Available'}}
        </th>
      </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="no-data-available" [ngClass]="userList && userList.length === 0 ? '' : 'hide'" mat-header-row
        *matHeaderRowDef="['fifth-header-row-first-group']">
      </tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
        [ngClass]="i % 2 == 0 ? 'light-bg' : 'dark-bg'"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]"></mat-paginator>
  </div>
  <div class="button-wrapper">
    <button (click)="finalSubmit()" class="button" *ngIf="userList && userList.length > 0" [ngClass]="buttonCheck ? 'disabled' : ''" mat-raised-button>Submit</button>
  </div>
</div>
