
<div class="inv-particular-assessment-candidate" #agheight>
    <div class="user-list-wrapper" [ngClass]="rowData && rowData.length > 0 ? '' : ''">
        <div class="leftinfo">
            <div>
                <span>{{rowData ? rowData.length : 0}}</span> Assigned Candidates
            </div>
            <div *ngIf="customerCode=='#LTTS' || customerCode=='#ADANI' else generalStatus">
                <span>{{candidatesEvaluated.length}}</span> Candidates Evaluated
            </div>
            <ng-template #generalStatus>
              <div>
                <span>{{sentToHr.length}}</span> Candidates Evaluated
            </div>
            </ng-template>
            <div *ngIf="customerCode=='#LTTS' || customerCode!='#ADANI'">
                <span>{{selectedCount.length}}</span> Shortlisted
            </div>
            <div *ngIf="customerCode=='#LTTS' || customerCode!='#ADANI'">
                <span>{{rejectedCount.length}}</span> Rejected
            </div>
            <div *ngIf="customerCode=='#LTTS' || customerCode=='#ADANI'">
              <span>{{sentToHr.length}}</span> Sent to HR
          </div>
        </div>
        <div class="rightinfo">
            <div *ngIf="false">
                <button class="filterbtn"><em class="icon-Filter"></em> Filter</button>
            </div>
            <div class="search-bar">
              <div class="headerbtn" *ngIf="rowData && rowData.length > 0" [ngClass]="buttonCheck ? '' : 'disabled'">
                <button *ngIf="customerCode=='#LTTS'" (click)="finalSubmit()" class="common-button-with-icon" [ngClass]="buttonCheck ? '' : 'disabled'" mat-raised-button>
                <span class="icon-checked mr-2"></span> <span>Send to HR for Processing</span>
              </button>
            </div>
                <div class="search-icon align-items-center">
                    <img src="assets/images/feather-search.svg" alt="" srcset="">
                    <input matInput (keyup)="onQuickFilterChanged()" [(ngModel)]="quickSearchValue" placeholder="Search….">
                </div>
            </div>
        </div>

    </div>
    <div>

        <ag-grid-angular style="width: 100%;" [ngStyle]="{ height: (agheight.offsetHeight - 75) + 'px' }" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [pagination]="true" [suppressRowClickSelection]="true"
            [paginationPageSize]="paginationPageSize" [rowSelection]="'multiple'" [cacheBlockSize]="cacheBlockSize" (gridReady)="onGridReady($event)" (sortChanged)="sortevent($event)" (cellClicked)="onCellClicked($event)" (filterModified)="getModel($event)"
            [rowSelection]="rowSelection" [isRowSelectable]="isRowSelectable" headerHeight="35" [statusBar]="statusBar" [animateRows]="true">
        </ag-grid-angular>
    </div>
</div>

<ng-template #errorTemplateRef>
  <div class="error-wrapper">
    <ng-container *ngIf="errorReportDetailsArray && errorReportDetailsArray.length > 0 else commonError">
    <h6>Not Uploaded Candidates</h6>
    <div class="text mb-2">Following candidates are not uploaded</div>
    <div class="table-wrapper">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th style="width: 31%;">Name</th>
          <th style="width: 31%;">Email</th>
          <th style="width: 31%;">Reason</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let candidate of errorReportDetailsArray; let i = index;">
              <td style="width: 31%;">{{candidate.name}}</td>
              <td style="width: 31%;">{{candidate.email}}</td>
              <td class="red" style="width: 31%;">{{candidate.reason}}</td>
          </tr>
      </tbody>
  </table>
</div>
  <button class="common-button common-button-height-35" style="margin-bottom: 0 !important;" (click)="closeDialog()" mat-raised-button>Ok</button>
</ng-container>
<ng-template #commonError>
  <h6>Few candidates has been not uploaded.</h6>
  <button class="common-button common-button-height-35" style="margin-bottom: 0 !important;" (click)="closeDialog()" mat-raised-button>Ok</button>
</ng-template>
  </div>
</ng-template>
