@import "../../themes/themes.scss";

.joinInterviewWrapper {
  .interview-wrapper {
    display: flex;
    align-items: center;
    padding: 4px 30px 0 0;
  }
    // padding: 15px;
    &.candidate {
    padding: 20px 25px 0px 10px;
    // border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    h5 {
        font-weight: 600;
    }
    .joinInterview {
        padding: 15px 0 0 0;
    }
    .designation + div {
        height: 35px;
    }
    .meetingID {
        line-height: 0.3;
    }
    .iconinfo {
        flex-grow: 0.5;
        display: flex;
        justify-content: center;
        em {
            font-size: 24px
        }

        &+ div {
            flex-grow: 15;;
        }
    }
    }
}



.interview {
    h5 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        color: $secondary;
    }
    p {
        font-size: 15px;
        font-weight: normal;
        color: $secondary;
        margin-bottom: 10px;
        strong {
            font-weight: bold;
        }
    }
}
.interviewers-joinInterview {
  width: 50%;
  padding: 6px 16px 0 16px !important;
}
.joinInterview {
    border-radius: 3px;
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    .meetingID {
        font-size: 12px;
        font-weight: normal;
        color: $secondary;
    }
    > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .designation {
        margin: 10px 0 0;
    }
    h2 {
        font-size: 24px;
        color: $secondary;
        margin: 0;
        line-height: normal;
    }
    button {
        background-color: #c02222;
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        font-weight: normal;
        color: $white;
        flex-direction: row !important;
        width: 150px;
        height: 35px;
        font-size: 16px;
        em {
            margin-right: 7px;
        }
    }
    .timing, .note {
        font-size: 13px;
        font-weight: normal;
        color: $gray-dark;
        margin: 1em 0;
        em {
            margin-right: 10px;
        }
    }
}

.join-button-wrapper {
  width: 20%;
}

.YettoStart {
  background-color: #1B4E9B !important;
  cursor: not-allowed;
}
.Completed {
  background-color: #48cc83 !important;
  cursor: not-allowed;
}
.not-scheduled {
  background-color: #bababa !important;
  cursor: not-allowed;
}
.mat-expansion-panel {
  // border: 1px solid #cccccc;
  box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 12%) !important;
}
.interviewer-only-mat-expansion-panel {
  margin: 1em;
}
.mat-expansion-panel-header {
  font-size: 20px;
  font-weight: 500;
  padding: 4px 18px;
}
:host ::ng-deep .mat-expansion-panel-header.mat-expanded {
  font-size: 20px;
  font-weight: 500;
  height: 48px !important;
  border-bottom: 0.1em solid #e8e8e8;
}
.nocard {
align-items: center;
font-size: 18px;
font-weight: 600;
}

.feedback {
  width: 30%;
  label {
    color: #444444;
    font-size: 14px;
    margin: 0;
  }
  .text-area {
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 0.5px solid #bababa;
    border-radius: 5px;
    min-height: 35px;
    padding: 4px;
  }
}
.ins {
  display: flex;
  background: $white;
  padding: .5em;
  flex-direction: column;
  .head {
    font-size: 15px;
    color: $light-black;
    font-weight: 200;
    margin: .5em;
  }
  ul {
    font-size: 12px;
    color: $light-black;
    font-weight: 200;
    li {
      padding-bottom: .25em;
      ul {
        font-weight: 100;
      }
    }
  }
}
:host ::ng-deep .mat-expansion-panel-body {
  max-height: 300px;
  overflow: auto;
}
.box-wrapper {
  box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 12%) !important;
  margin: 4px 14px 8px 14px;
}
