<ng-container *ngIf="role == 'candidate' && interview?.roomId && !expiredoneDayago" [ngTemplateOutlet]="showInterview"></ng-container>
<ng-container *ngIf="role == 'interview_panel'" [ngTemplateOutlet]="showInterview"></ng-container>

<ng-template #showInterview>
  <mat-expansion-panel [ngClass]="role !='candidate' ? 'interviewer-only-mat-expansion-panel' : ''" *ngIf="role != 'candidate' || showInterview" [expanded]="true">
    <mat-expansion-panel-header>
      Interview Session
    </mat-expansion-panel-header>
    <div class="joinInterviewWrapper" [ngClass]="{'candidate': role == 'candidate' }" *ngIf="showInterview && interview?.roomId else nocard">
      <div *ngIf="role == 'candidate'" class="iconinfo"><em class="icon-Info"></em></div>
      <div>
          <div *ngIf="role == 'candidate'" class="interview">
              <h5>Dear Candidate</h5>
              <p>You have been invited for an interview by <strong>'LnT EduTech'</strong> on below date and time for
                  Technical/HR interview.</p>
          </div>
          <div [ngClass]="role == 'candidate' ? '' : 'interview-wrapper'">
          <div class="joinInterview" [ngClass]="role != 'candidate' ? 'interviewers-joinInterview' : ''">
              <span class="meetingID">Meeting Room ID: {{interview?.roomId}}</span>
              <!-- Candidate Join interview button -->
              <div class="designation">
                  <h2>{{interview?.roomName}}</h2>
                  <button class="statusButtons" mat-raised-button [disabled]="enableButton == 'Join Interview' ? false : true" [ngClass]="enableButton == 'Join Interview' ? '' : enableButton == 'Yet to Start' ? 'yet-to-start-color not-allowed' : enableButton == 'Completed' ? 'completed-color not-allowed' : 'not-scheduled-white-color not-allowed'" *ngIf="role == 'candidate'" (click)="openRTC(interview)"><em class="icon-Join_Video mr-2"></em> <span>{{enableButton}}</span></button>
              </div>
              <div>
                  <span class="timing"><em class="icon-Calendar"></em> {{interview?.startTime | date:'dd MMM yyyy - HH:mm a'}}
                      - {{interview?.endTime | date:'dd MMM yyyy - HH:mm a'}}</span>
                  <span *ngIf="role == 'candidate'" class="note"><b>Note:</b> The link will be active 1 hour prior to the
                      interview time as mentioned above.</span>
              </div>
          </div>
          <!-- Interviewer Join interview button -->
          <div *ngIf="role != 'candidate'" class="join-button-wrapper">
            <button class="statusButtons" mat-raised-button [disabled]="enableButton == 'Join Interview' ? false : true" [ngClass]="enableButton == 'Join Interview' ? '' : enableButton == 'Yet to Start' ? 'yet-to-start-color not-allowed' : enableButton == 'Completed' ? 'completed-color not-allowed' : 'not-scheduled-white-color not-allowed'" *ngIf="role != 'candidate'" (click)="openRTC(interview)"><em class="icon-Join_Video mr-2"></em> <span>{{enableButton}}</span></button>
          </div>

            <div *ngIf="interview && interview.feedback && role != 'candidate'" class="feedback">
              <label>Feedback</label>
              <div class="text-area">
                {{interview?.feedback}}
              </div>
            </div>

        </div>
      </div>
  </div>
  <div>
    <ng-container [ngTemplateOutlet]="instructions"></ng-container>
  </div>

  <ng-template #instructions>
    <div class="ins box-wrapper">
      <h6 class="ml-2">Instructions:</h6>
      <div class="ul">
        <ul class="m-0">
          <li>Make sure you have a stable network with minimum 2 Mbps bandwidth.</li>
          <li>If you are facing slowness / distortion of video (or) call dropping (or) voice sound like robots, it may be due to,
            <ul>
              <li>Insufficient bandwidth or instable network</li>
              <li>Due to firewall or proxy blockers</li>
            </ul>
          </li>
          <li>Just in case, call gets disconnected during the meeting, close the browser and login again.</li>
        </ul>
      </div>
    </div>
  </ng-template>

  <ng-template #nocard>
  <div class="joinInterviewWrapper">
      <div class="joinInterview nocard">
          No interview scheduled at this moment
      </div>
  </div>
  </ng-template>
  </mat-expansion-panel>
</ng-template>
