@import "../../themes/themes.scss";

.joinInterviewWrapper {
    padding: 15px;
}
.interview {
    h5 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        color: $secondary;
    }
    p {
        font-size: 15px;
        font-weight: normal;
        color: $secondary;
        margin-bottom: 10px;
        strong {
            font-weight: bold;
        }
    }
}
.joinInterview { 
    border-radius: 3px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    .meetingID {
        font-size: 12px;
        font-weight: normal;
        color: $secondary;
    }
    > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .designation {
        margin: 10px 0 0;
    }
    h2 {
        font-size: 24px; 
        color: $secondary;
        margin: 0;
        line-height: normal;
    }
    button {
        background-color: #c02222;
        padding: 5px 10px;
        border-radius: 4px;
        border: none; 
        font-weight: normal;
        color: $white;
        flex-direction: row !important;
        width: 150px;
        height: 35px;
        font-size: 16px;
        em {
            margin-right: 7px;
        }
    }
    .timing, .note {
        font-size: 13px;
        font-weight: normal;
        color: $gray-dark;
        margin: 1em 0;
        em {
            margin-right: 10px;
        }
    }
}