<div class="joinInterviewWrapper" [ngClass]="{'candidate': role == 'candidate' }" *ngIf="showInterview">
    <div *ngIf="role == 'candidate'" class="iconinfo"><em class="icon-Info"></em></div>
    <div>
        <div *ngIf="role == 'candidate'" class="interview">
            <h5>Dear Candidate</h5>
            <p>You have been invited for an interview by <strong>'LnT EduTech'</strong> on below date and time for
                Technical/HR interview.</p>
        </div>
        <div class="joinInterview">
            <span class="meetingID">Meeting Room ID: {{interview.roomId}}</span>
            <div class="designation">
                <h2>{{interview.roomName}}</h2>
                <button *ngIf="role == 'candidate'" (click)="openRTC(interview)"><em class="icon-Join_Video"></em>Join
                    Interview</button>
            </div>
            <div>
                <span class="timing"><em class="icon-Calendar"></em> {{interview.startTime | date:'dd MMM yyyy - HH:mm a'}}
                    -> {{interview.endTime | date:'dd MMM yyyy - HH:mm a'}}</span>
                <span *ngIf="role == 'candidate'" class="note"><b>Note:</b> The link will be active 1 hour prior to the
                    interview time as mentioned above.</span>
            </div>
            <button [disabled]="enableButton ? false : true" [ngClass]="enableButton ? '' : 'disabled'" *ngIf="role != 'candidate'" (click)="openRTC(interview)"><em class="icon-Join_Video"></em>Join
                Interview</button>
        </div>
    </div>

</div>
<div class="joinInterviewWrapper" *ngIf="showInterview == false">
    <div class="joinInterview">
        No interview scheduled at this moment
    </div>
</div>
