@import "../../../../themes/themes.scss";

.main-wrapper {
  padding: 8px;
  .first-main {
    margin: 0 0 1em 0;
    .header {
      display: flex;
      align-items: center;
      height: auto;
      justify-content: space-between;
      .left-side {
        display: flex;
        .total {
          font-size: 13px;
          font-weight: 200;
          color: $black;
          .count {
            margin: 0 8px;
            background: $white-primary 0% 0% no-repeat padding-box;
            box-shadow: $shadow-light-black;
            padding: 4px 8px;
            color: $header-blue;
          }
          .view {
            cursor: pointer;
            margin: 0 8px;
            color: $header-blue;
            font-size: 11px;
            font-weight: 50;
            border-bottom: solid 0.25px $header-blue;
            padding: 0 0 1px 0;
          }
        }
        .total:last-child {
          margin: 0 0 0 1.5em;
        }
      }
      .right-side {
        button {
          background: $white 0% 0% no-repeat padding-box;
          box-shadow: $shadow-light-black;
          font-size: 12px;
          color: $black;
          opacity: 0.5;
          padding: 0px 8px !important;
          margin: 0 !important;
          height: 30px;
          display: flex;
          align-items: center;
          span {
            color: $blue-1;
            opacity: 0.5;
            font-size: 16px;
            margin: 0 0 0 8px;
          }
        }
      }
    }
    .filter-wrapper {
      margin: 1em 0 0 0;
      background: $white 0% 0% no-repeat padding-box;
      box-shadow: $shadow-light-black-29;
      border: 1px solid $input-border;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white 0% 0% no-repeat padding-box;
        border-bottom: 1px solid $input-border;
        padding: 4px 2px 4px 16px;
        .left {
          .heading {
            color: $blue-1;
            font-weight: 200;
            font-size: 13px;
          }
        }
        .right {
          .button {
            border-left: 1px solid $gray-dark;
            padding: 0 8px;
            display: flex;
            align-items: center;
            // button {
            //   background: $white 0% 0% no-repeat padding-box;
            //   box-shadow: $shadow-light-black-29;
            //   border-radius: 23px;
            //   padding: 0px 12px !important;
            //   margin: 0 !important;
            //   height: 25px;
            //   font-size: 13px;
            //   display: flex;
            //   align-items: center;
            //   color: $blue-1;
            //   font-weight: 200;
            // }
            // .filter {
            //   display: flex !important;
            //   height: 25px !important;
            //   margin: 0 1em 0 0 !important;
            //   border-radius: 6px !important;
            //   align-items: center !important;
            //   font-weight: 200;
            //   color: $white !important;
            //   font-size: 13px;
            //   padding: 4px 4px;
            //   background: $secondary 0% 0% no-repeat padding-box;
            //   box-shadow: $shadow-light-black;
            // }
          }
        }
      }
      .filters {
        min-height: 200px;
        max-height: 200px;
        padding: 0em 1em 1em 1em;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
        box-sizing: border-box;
        .filter-wrapper-main {
          min-width: 200px;
          padding-right: 1em;
          max-width: auto;
          display: flex;
          flex-direction: column;
          .filter-heading {
            position: relative;
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0.75em 0 0.5em 0;
            font-weight: 200;
            font-size: 14px;
            .wrap {
              border-bottom: 1px solid $gray-dark;
              padding: 0 6px 1px 0px;
              .icon {
                cursor: pointer;
              }
              .head-text {
                margin: 2px 0 0 4px;
              }
            }
          }
          .filter-list {
            position: relative;
            display: inline-flex;
            flex-direction: column;
            // flex-wrap: wrap;
            width: auto;
            overflow-x: auto;
            box-sizing: border-box;
            max-height: 145px;
            max-width: 400px;
            .list {
              padding-right: 4em;
              margin: 0em 0 4px 0;
              font-weight: 100;
              font-size: 12px;
              margin-left: 1.8em;
              text-indent: -1.8em;
              .icon {
                cursor: pointer;
              }
              .text {
                margin: 0px 0 0 4px;
              }
              .text1 {
                margin: 0px 0 0 4px;
              }
            }
          }
        }
      }
    }
  }

  .second-main {
    .content-wrapper-gender,
    .content-wrapper-discipline,
    .content-wrapper-backlogs {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 2em;
      .dropdown-wrapper {
        margin: 0 auto;
        position: relative;
        .head {
          color: $black;
          font-weight: 100;
          font-size: 12px;
          margin: 0 0 8px 0;
        }
        .outlay {
          margin: 0 auto;
          position: relative;
          border: 1px solid $input-border;
          border-radius: 5px;
          max-width: 400px;
          min-width: 150px;
          height: auto;
          .list {
            overflow: auto;
            height: auto;
            .list-item:first-child {
              border-radius: 5px 5px 0px 0px;
            }
            .list-item:last-child {
              border-radius: 0px 0px 5px 5px;
            }
            .list-item {
              background: $white-2 0% 0% no-repeat padding-box;
              padding: 4px 6px;
              font-size: 13px;
              color: $header-blue;
              .hanging {
                display: flex;
                align-items: center;
                // margin-left: 2em;
                // text-indent: -0.9em;
                .text {
                  font-size: 13px;
                  margin: 0 0 0 1em;
                }
              }
            }
            .bg-change {
              background: $white-3 0% 0% no-repeat padding-box;
            }
          }
        }
      }
    }
    .content-wrapper-dob {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 2em;
      .dropdown-wrapper {
        margin: 0 auto;
        position: relative;
        .outlay {
          margin: 0 auto;
          position: relative;
          background: $white 0% 0% no-repeat padding-box;
          border: 0.5px solid $input-border;
          border-radius: 5px;
          max-width: 400px;
          min-width: 350px;
          // padding: 4px 8px;
          // overflow: auto;
          // max-height: 400px;
          // min-height: 300px;
          height: auto;
        }
        .grid-wrapper {
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr;
          .left {
            background: $white 0% 0% no-repeat padding-box;
            border: 0.5px solid $input-border;
            border-top: none;
            text-align: center;
            // border-radius: 5px;
            .item {
              background: $black-3 0% 0% no-repeat padding-box;
              border: 0.5px solid $input-border;
              border-left: none;
              border-right: none;
              // border-radius: 5px 5px 0px 0px;
              color: $light-black;
              font-size: 13px;
              font-weight: 200;
            }
            .item-date {
              white-space: nowrap;
              // height: 26px !important;
              display: flex;
              align-items: center;
              input {
                height: 25px;
                width: 88%;
                text-align: center !important;
                font-size: 14px;
                color: $blue-1;
                border: none;
                outline: none;
              }
            }
          }
          .right {
            background: $white 0% 0% no-repeat padding-box;
            border: 0.5px solid $input-border;
            border-top: none;
            // border-radius: 5px;
            margin: 0 0 0 1px;
            text-align: center;
            .item {
              background: $black-3 0% 0% no-repeat padding-box;
              border: 0.5px solid $input-border;
              border-left: none;
              border-right: none;
              color: $light-black;
              font-size: 13px;
              font-weight: 200;
            }
            .item-date {
              white-space: nowrap;
              // height: 26px !important;
              display: flex;
              align-items: center;
              input {
                width: 88%;
                text-align: center !important;
                font-size: 14px;
                height: 25px;
                color: $blue-1;
                border: none;
                outline: none;
              }
            }
          }
        }
        .validation {
          color: $red;
          font-size: 12px;
          font-weight: 100;
          margin: 0.25em 0.5em;
        }
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1em 0;
          // button {
          //   background: $background-5 0% 0% no-repeat padding-box;
          //   border-radius: 10px;
          //   display: flex;
          //   align-items: center;
          //   height: 20px;
          //   span {
          //     font-size: 13px;
          //     padding: 4px 12px;
          //     color: $light-black;
          //     opacity: 1;
          //   }
          // }
        }
      }
    }
    .content-wrapper-institute,
    .content-wrapper-specialization {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 2em;
      .dropdown-wrapper {
        margin: 0 auto;
        position: relative;
        .head {
          color: $black;
          font-weight: 100;
          font-size: 12px;
          margin: 0 0 8px 0;
        }
        .outlay {
          margin: 0 auto;
          position: relative;
          background: $white-5 0% 0% no-repeat padding-box;
          border-radius: 5px;
          max-width: 400px;
          // overflow: auto;
          min-width: 400px;
          // max-height: 400px;
          // min-height: 300px;
          .search {
            border: 1px solid $input-border;
            border-bottom: none;
            display: flex;
            width: 100%;
            align-items: center;
            padding: 0.5em;
            input {
              height: 30px;
              margin: 0 0 0 1em;
              width: 100%;
              outline: none;
              background: $white 0% 0% no-repeat padding-box;
              border: 0.5px solid $input-border;
              // border-radius: 5px;
            }
          }
          .list {
            max-width: 400px;
            overflow: auto;
            min-width: 300px;
            border: 1px solid $input-border;
            background: $white-2 0% 0% no-repeat padding-box;
            max-height: 300px;
            min-height: 200px;
            .item-list {
              padding: 4px 0px 4px 8px;
              border-bottom: 0.5px solid rgba(193, 193, 193, 0.493);
              font-size: 13px;
              color: $light-black;
              .hanging {
                display: flex;
                align-items: center;
                // margin-left: 2em;
                // text-indent: -0.9em;
                .text {
                  font-size: 13px;
                  margin: 0 0 0 1em;
                }
              }
            }
          }
        }
      }
    }
    .content-wrapper-education {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 2em;
      .dropdown-wrapper {
        margin: 0 auto;
        position: relative;
        width: 80%;
        .outlay {
          margin: 0 auto;
          position: relative;
          background: $light-white 0% 0% no-repeat padding-box;
          box-shadow: $shadow-light-black-29;
          border: 1px solid $input-border;
          border-radius: 5px;
          width: 100%;
          padding: 1em;

          // padding: 4px 8px;
          // overflow: auto;
          // max-height: 400px;
          // min-height: 300px;
          height: auto;
          .main-wrapper {
            display: flex;
            width: 100%;
            align-items: center;
            .left {
              width: 100%;
              .top-head {
                display: flex;
                align-items: center;
                justify-content: space-around;
                .head-1 {
                  opacity: 0.9;
                  color: $black;
                  font-size: 13.5px;
                }
                .head-2 {
                  color: $black;
                  font-size: 13px;
                }
              }
              .left-grid {
                display: grid;
                align-items: center;
                grid-template-columns: 2fr 1fr 1fr;
                align-items: center;
                color: $light-black;
                font-size: 12px;
                padding: 4px 0;
              }
              .left-grid-item:last-child {
                border-radius: 0px 0px 5px 5px;
                border-bottom: 1px solid $input-border;
              }
              .left-grid-item {
                display: grid;
                align-items: center;
                border-left: 1px solid $input-border;
                border-right: 1px solid $input-border;
                grid-template-columns: 2fr 1fr 1fr;
                background: $white-2 0% 0% no-repeat padding-box;
                padding: 4px 16px;
                color: $header-blue;
                max-height: 34px;
                font-size: 13px;
                input {
                  text-align: center;
                  padding: 2px 4px;
                  font-weight: 200;
                  background: $white-primary 0% 0% no-repeat padding-box;
                  border: 1px solid $gray-dark;
                  border-radius: 5px;
                  width: 40%;
                  text-align: center;
                }
                .percent {
                  color: $light-black;
                }
                .text {
                  margin: 0 0 0 8px;
                }
              }
            }
            .right {
              margin: 0 0 0 1em;
              flex-shrink: 1.25;
              width: 100%;
              .top-head {
                text-align: center;
                color: $black;
                font-size: 13px;
              }
              .right-grid {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 2fr 2fr;
                color: $light-black;
                font-size: 12px;
                padding: 4px 0;
              }
              .right-grid-item:last-child {
                border-radius: 0px 0px 5px 5px;
                border-bottom: 1px solid $input-border;
              }
              .right-grid-item {
                display: grid;
                align-items: center;
                border-left: 1px solid $input-border;
                border-right: 1px solid $input-border;
                grid-template-columns: 0.35fr 2fr 2fr;
                background: $white-2 0% 0% no-repeat padding-box;
                padding: 4px 16px;
                color: $header-blue;
                font-size: 13px;
                max-height: 34px;
                .item {
                  // height: auto;
                  // width: auto;
                  display: flex;
                  align-items: center;
                }
                input {
                  text-align: center !important;
                  padding: 2px 4px;
                  background: $white-primary 0% 0% no-repeat padding-box;
                  border: 1px solid $gray-dark;
                  border-radius: 5px;
                  font-weight: 200;
                  width: 70%;
                }
              }
            }
          }
          .validation {
            text-align: center;
            color: $red;
            font-size: 12px;
            font-weight: 100;
            margin: 0.25em 0.5em;
          }
          .button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1em 0;
            // button {
            //   background: $background-5 0% 0% no-repeat padding-box;
            //   border-radius: 10px;
            //   display: flex;
            //   align-items: center;
            //   height: 20px;
            //   span {
            //     font-size: 13px;
            //     padding: 4px 22px;
            //     color: $light-black;
            //     opacity: 1;
            //   }
            // }
          }
        }
      }
    }
  }
  .submit-button {
    margin: 0.5em 0 1em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // button {
    //   display: flex;
    //   align-items: center;
    //   height: 30px;
    //   padding: 4px 50px;
    //   font-size: 16px;
    //   font-weight: 600;
    //   background: $secondary 0% 0% no-repeat padding-box;
    //   box-shadow: $shadow-light-black-1;
    //   border-radius: 10px;
    //   color: $white;
    // }
  }
}
.content-wrapper-discipline {
  .outlay {
    max-width: 400px;
    min-width: 400px;
    .list {
      max-width: 400px;
      min-width: 400px;
      max-height: 300px;
      min-height: 200px;
    }
  }
}
.disable-input {
  background: rgba(157, 157, 157, 0.445) 0% 0% no-repeat padding-box !important;
  pointer-events: none;
  border: 1px solid $gray-dark !important;
}
