<div class="main-wrapper criteria">
  <div class="first-main">
    <div class="header">
      <div class="left-side">
        <div class="total">Total number of candidates: <span class="count">1345</span> <span class="view">View
            details</span></div>
        <div class="total">Selected number of candidates: <span class="count">1345</span> <span class="view">View
            details</span></div>
      </div>
      <div class="right-side">
        <button mat-button>Apply criteria <span class="material-icons">filter_alt</span></button>
      </div>
    </div>
    <div class="filter-wrapper">
      <div class="header">
        <div class="left">
          <div class="heading">
            Applied categories
          </div>
        </div>
        <div class="right">
          <div class="button">
            <button mat-button>Clear All</button>
          </div>
        </div>
      </div>
      <div class="filters">
        <!-- Gender start -->
        <div class="filter-wrapper-main">
          <div class="filter-heading">
            <span class="wrap"> <span class="icon"><img src="assets/images/error.svg" alt="" srcset=""></span> <span
                class="head-text">Gender</span></span>
          </div>
          <div class="filter-list">
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Male</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Female</span></div>
          </div>
        </div>
        <!-- Gender close -->

        <!-- Date of Birth start -->
        <div class="filter-wrapper-main">
          <div class="filter-heading">
            <span class="wrap"> <span class="icon"><img src="assets/images/error.svg" alt="" srcset=""></span> <span
                class="head-text">Date of Birth</span></span>
          </div>
          <div class="filter-list">
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> 01 Jan 1980 to 31 Dec 2000</span></div>
          </div>
        </div>
        <!-- Date of Birth close -->

        <!-- Education Level start -->
        <div class="filter-wrapper-main">
          <div class="filter-heading">
            <span class="wrap"> <span class="icon"><img src="assets/images/error.svg" alt="" srcset=""></span> <span
                class="head-text">Education Level</span></span>
          </div>
          <div class="filter-list">
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> HSC</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> UG</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> PG</span></div>
          </div>
        </div>
        <!-- Education Level close -->
        <!-- Institute start -->
        <div class="filter-wrapper-main">
          <div class="filter-heading">
            <span class="wrap"> <span class="icon"><img src="assets/images/error.svg" alt="" srcset=""></span> <span
                class="head-text">Institutes (5)</span></span>
          </div>
          <div class="filter-list">
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Sathyabama college of university</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Nehru college of university and Technology</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> SRM college of university</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Sathyabama college of university</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Mahatma gandhi college of university and technology</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Sathyabama college of university</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Nehru college of university and Technology</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> SRM college of university</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Sathyabama college of university</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Mahatma gandhi college of university and technology</span></div>
          </div>
        </div>
        <!-- Institute close -->

        <!-- Discipline start -->
        <div class="filter-wrapper-main">
          <div class="filter-heading">
            <span class="wrap"> <span class="icon"><img src="assets/images/error.svg" alt="" srcset=""></span> <span
                class="head-text">Discipline</span></span>
          </div>
          <div class="filter-list">
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Arts and Science</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Computer Science</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Medical</span></div>
          </div>
        </div>
        <!-- Discipline close -->

        <!-- Specialization start -->
        <div class="filter-wrapper-main">
          <div class="filter-heading">
            <span class="wrap"> <span class="icon"><img src="assets/images/error.svg" alt="" srcset=""></span> <span
                class="head-text">Specialization</span></span>
          </div>
          <div class="filter-list">
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Automobile Engineering</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Computer Engineering</span></div>
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Mechanical Engineering</span></div>
          </div>
        </div>
        <!-- Specialization close -->

        <!-- No. of Backlogs start -->
        <div class="filter-wrapper-main">
          <div class="filter-heading">
            <span class="wrap"> <span class="icon"><img src="assets/images/error.svg" alt="" srcset=""></span> <span
                class="head-text">No. of Backlogs</span></span>
          </div>
          <div class="filter-list">
            <div class="list"><span class="icon"><img src="assets/images/005-close-1.svg" alt="" srcset=""></span><span
                class="text"> Nil</span></div>
          </div>
        </div>
        <!-- No. of Backlogs close -->

      </div>
    </div>
  </div>
  <div class="second-main">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">

      <!-- Gender Tab -->
      <nz-tab [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>Gender <span class="tab-span"></span></ng-template>

        <!-- Gender Content -->
        <div class="content-wrapper-gender">
          <div class="dropdown-wrapper">
            <div class="head">
              Choose gender from below list:
            </div>
            <div class="outlay">
              <div class="list">
                <div class="list-item" [ngClass]="(i % 2 === 0) ? '' : 'bg-change'"
                  *ngFor="let dup of genderList; let i = index">
                  <div class="hanging">
                    <span class="checkbox">
                      <label nz-checkbox [(ngModel)]="dup.checkbox"></label>
                    </span>
                    <span class="text">{{dup.name}}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>

      <!-- Date of Birth Tab -->
      <nz-tab [nzTitle]="titleDateofBirth">
        <ng-template #titleDateofBirth>Date of Birth <span class="tab-span"></span></ng-template>
        <!-- Date of Birth Content -->
        <div class="content-wrapper-dob">
          <div class="dropdown-wrapper">
            <div class="outlay">
              <div class="grid-wrapper">
                <div class="left">
                  <div class="item">From</div>
                  <div class="item-date"></div>
                </div>
                <div class="right">
                  <div class="item">To</div>
                  <div class="item-date">From</div>
                </div>

              </div>
              <div class="button">
                <button mat-button><span>Apply</span></button>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>

      <!-- Education Level Tab -->
      <nz-tab [nzTitle]="titleEducationLevel">
        <ng-template #titleEducationLevel>Education Level <span class="tab-span"></span></ng-template>
        <!-- Education Level Content -->
        <div class="content-wrapper-education">
          <div class="dropdown-wrapper">
            <div class="outlay">
              <div class="main-wrapper">
                <div class="left">
                  <div class="top-head"><span class="head-1">Selected education levels</span> <span class="head-2">Enter
                      percentage in below
                      field</span></div>
                  <div class="left-grid">
                    <div class="head">&#160;</div>
                    <div class="head left-1">From</div>
                    <div class="head">Upto</div>
                  </div>
                  <div class="left-grid-item"
                    [ngClass]="[(i % 2 === 0) ? '' : 'bg-change', (i == 0) ? 'top-border' : '']"
                    *ngFor="let dup of EduLevel; let i = index">
                    <div class="item no-space">
                      <span class="checkbox">
                        <label nz-checkbox></label>
                      </span>
                      <span class="text">{{dup['name']}}</span>
                    </div>
                    <div class="item no-space input"><span><input type="text" name="" id=""> <span class="percent">
                          %</span></span></div>
                    <div class="item no-space input"><span><input type="text" name="" id=""> <span class="percent">
                          %</span></span></div>
                  </div>
                </div>
                <div class="right">
                  <div class="top-head">Enter the date of passing range</div>
                  <div class="right-grid">
                    <div class="head">&#160;</div>
                    <div class="head">From</div>
                    <div class="head left-1">Upto</div>
                  </div>
                  <div class="right-grid-item"
                    [ngClass]="[(i % 2 === 0) ? '' : 'bg-change', (i == 0) ? 'top-border' : '']"
                    *ngFor="let dup of EduLevel; let i = index">
                    <div class="item no-space input">
                      <!-- <nz-radio-group (ngModelChange)="selectedEducationCheckBox(dup)" [(ngModel)]="radioCheck">
                        <label nz-radio [nzValue]="dup['name']"></label>
                      </nz-radio-group> -->
                      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        [(ngModel)]="radioCheck">
                        <mat-radio-button (change)="selectedEducationCheckBox(dup)" class="example-radio-button" [value]="dup['name']">
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="item no-space input"><input type="text" name="" id=""></div>
                    <div class="item no-space input"><input type="text" name="" id=""></div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </nz-tab>

      <!-- Institute Name Tab -->
      <nz-tab [nzTitle]="titleInstituteName">
        <ng-template #titleInstituteName>Institute name <span class="tab-span"></span></ng-template>
        <!-- Institute Name Content -->
        <div class="content-wrapper-institute">
          <div class="dropdown-wrapper">
            <div class="head">
              Choose and find institute names from the list below:
            </div>
            <div class="outlay">
              <div class="search">
                <span>Find:</span> <input [formControl]="InstituteNameSearchControl" type="text" name="" id="">
              </div>
              <div class="list">
                <div class="item-list" *ngIf="InstituteNameShowSelectAll">
                  <div class="hanging">
                    <span class="checkbox">
                      <label nz-checkbox (change)="InstituteNameSelectAll($event)"
                        [(ngModel)]="InstituteNameSelectAllCheck"></label>
                    </span>
                    <span class="text">{{(InstituteNameSelectAllCheck ? 'Unselect All' : 'Select All')}}</span></div>
                </div>
                <div class="item-list" *ngFor="let dup of InstituteNameDropDown">
                  <div class="hanging">
                    <span class="checkbox">
                      <label nz-checkbox [(ngModel)]="dup.checkbox"></label>
                    </span>
                    <span class="text">{{dup.item_text}}</span></div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </nz-tab>

      <!-- Discipline Tab -->
      <nz-tab [nzTitle]="titleDiscipline">
        <ng-template #titleDiscipline>Discipline <span class="tab-span"></span></ng-template>
        <!-- Discipline Content -->
        <div class="content-wrapper-discipline">
          <div class="dropdown-wrapper">
            <div class="head">
              Choose discipline from the list below:
            </div>
            <div class="outlay">
              <div class="list">
                <div class="list-item" [ngClass]="(i % 2 === 0) ? '' : 'bg-change'"
                  *ngFor="let dup of genderList; let i = index">
                  <div class="hanging">
                    <span class="checkbox">
                      <label nz-checkbox [(ngModel)]="dup.checkbox"></label>
                    </span>
                    <span class="text">{{dup.name}}</span></div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </nz-tab>

      <!-- Specialization Tab -->
      <nz-tab [nzTitle]="titleSpecialization">
        <ng-template #titleSpecialization>Specialization <span class="tab-span"></span></ng-template>
        <!-- Specialization Content -->
        <div class="content-wrapper-specialization">
          <div class="dropdown-wrapper">
            <div class="head">
              Choose and find specialization from the list below:
            </div>
            <div class="outlay">
              <div class="search">
                <span>Find:</span> <input [formControl]="InstituteNameSearchControl" type="text" name="" id="">
              </div>
              <div class="list">
                <div class="item-list" *ngIf="InstituteNameShowSelectAll">
                  <div class="hanging">
                    <span class="checkbox">
                      <label nz-checkbox (change)="InstituteNameSelectAll($event)"
                        [(ngModel)]="InstituteNameSelectAllCheck"></label>
                    </span>
                    <span class="text">{{(InstituteNameSelectAllCheck ? 'Unselect All' : 'Select All')}}</span></div>
                </div>
                <div class="item-list" *ngFor="let dup of InstituteNameDropDown">
                  <div class="hanging">
                    <span class="checkbox">
                      <label nz-checkbox [(ngModel)]="dup.checkbox"></label>
                    </span>
                    <span class="text">{{dup.item_text}}</span></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </nz-tab>

      <!-- Backlogs Tab -->
      <nz-tab [nzTitle]="titleBacklogs">
        <ng-template #titleBacklogs>No. of Backlogs <span class="tab-span"></span></ng-template>
        <!-- Backlogs Content -->
        <div class="content-wrapper-backlogs">
          <div class="dropdown-wrapper">
            <div class="head">
              Choose discipline from the list below:
            </div>
            <div class="outlay">
              <div class="list">
                <div class="list-item" [ngClass]="(i % 2 === 0) ? '' : 'bg-change'"
                  *ngFor="let dup of genderList; let i = index">
                  <div class="hanging">
                    <span class="checkbox">
                      <label nz-checkbox [(ngModel)]="dup.checkbox"></label>
                    </span>
                    <span class="text">{{dup.name}}</span></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </nz-tab>

    </nz-tabset>
  </div>
</div>
