@import "../../../../app/themes/themes.scss";
* {
  margin: 0;
  padding: 0;
}
.main-wrapper {
  font-family: roboto;
  .line {
    height: 50px;
    border-bottom: solid 1px $primary;
    .button-wrapper {
      display: flex;
      padding: 0 3em;
      flex-flow: row-reverse;
      button {
        font-size: 17px;
        text-align: center;
        font-weight: 100;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 0 1em;
        span {
          font-size: 17px;
        }
      }
      button:nth-of-type(2) {
        width: auto;
        background: $blue-2 0% 0% no-repeat padding-box;
        box-shadow: $shadow-light-black-1;
        border-radius: 6px;
        color: $white;
        outline: none;
      }
      button:nth-of-type(1) {
        width: auto;
        border-radius: 6px;
        color: $white;
        box-shadow: $shadow-light-black-1;
        outline: none;
        background: $red-1 0% 0% no-repeat padding-box;
      }
    }
  }
  .user-list-wrapper {
    margin: 2em 0;
    /* Structure */
    table {
      background: transparent;
      box-shadow: none;
      width: 100%;
    }
    td {
      border: none;
      color: $header-blue;
      font-size: 16px;
      margin: 1em;
    }
    th {
      color: $black;
      font-size: 16px;
      font: roboto;
      outline: none;
      border: none;
      background: $blue-3 0% 0% no-repeat padding-box;
    }

    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
  }
}
