@import "../../../themes/themes.scss";

.new-inv-particular-assessment-candidate {
  background: $white;
  height: 100%;
  .total-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 .5em;
    .lefttable {
      min-width: 540px;
      max-width: 540px;
    }
    .righttable {
      min-width: 540px;
      max-width: 540px;
    }
  }
  .head-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0em;
    padding-left: 5px;
  }
  .top-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    .left,.right {
      width: 100%;
    .flex-wrap {
      display: grid;
      grid-template-columns: .7fr 1fr;
      align-items: center;
      max-width: 400px;
      margin-top: 1em;
      // margin: 0 0 0.5em 0;
      .label {
        color: $light-black;
        font-size: 14px;
      }
      .input-box {
        nz-select {
          height: 30px;
          color: $light-black;
          // background: $white 0% 0% no-repeat padding-box;
          // box-shadow: $shadow-light-black;
          // border-radius: 5px;
          // font-size: 13px;
          min-width: 235px;
          max-width: 235px;
        }
      }
    }
  }
}
  .user-list-wrapper {
    margin: 0em 0 0.5em 0;
    /* Structure */
    .search-bar {
      margin: 0em .5em 0em 0em;
      text-align: right;
      .search-icon {
        display: inline-flex;
        align-items: center;
        margin: 8px 0;
        width: auto;
        // min-width: 280px;
        color: $header-blue;
        font-size: 14px;
        border: 0.5px solid $borderColor-2;
        background: $white-2 0% 0% no-repeat padding-box !important;
        border-radius: 5px;
        box-shadow: $shadow-light-black;
        box-sizing: border-box;
        padding: 0.25em 0.15em;
        height: 27px;
        position: relative;
        img {
          width: 20px;
          height: 13px;
        }
        input {
          position: relative;
          width: 100%;
          display: inline-block;
          margin: 8px 0;
          width: auto;
          color: $header-blue;
          font-size: 14px;
          background: $white-2 0% 0% no-repeat padding-box !important;
          box-sizing: border-box;
          border: none;
          padding: 0.15em 0.5em;
          height: 24px;
        }
        ::placeholder {
          color: $black-1;
          opacity: 0.6;
          font-size: 12px;
        }
      }
    }
    :focus {
      border-radius: 0px;
      border: none;
      outline: none;
    }
    table {
      background: transparent;
      box-shadow: none;
      width: 100%;
    }
    td {
      border: none;
      color: $header-blue;
      font-size: 13px;
      margin: 1em;
    }
    th {
      color: $black;
      font-size: 13px;
      font-weight: 200;
      outline: none;
      border: none;
      background: $blue-3 0% 0% no-repeat padding-box;
    }

    .mat-form-field {
      font-size: 13px;
      width: 100%;
    }
  }
  .button-wrapper {
    margin: 0em 1em 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

td {
  // text-align: center !important;
  padding-left: 1em !important;
}
th {
  // text-align: center !important;
  padding-left: 1em !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.no-data {
  margin: 2em auto;
  div {
    color: $header-blue;
    font-size: 20px;
    text-align: center;
  }
}
.hide {
  display: none;
}

.submit-btn {
  background: transparent;
  color: $header-blue;
  justify-content: center;
  box-shadow: $shadow-light-black-3;
  border: 0.5px solid $borderColor-4;
  height: 23px;
  font-weight: 100;
  font-size: 13px;
  padding: 2px !important;
  border-radius: 4px !important;
  display: flex;
}
.submit-btn:focus {
  border-radius: 4px !important;
  border: 0.5px solid $borderColor-4 !important;
}
::ng-deep .ant-select-dropdown {
  width: 650px !important;
}
.scroll {
  overflow-x: auto !important;
  // max-height: 400px !important;
  // min-height: 400px !important;
  overflow: auto !important;
}
.scroll1 {
  overflow-x: auto !important;
  // max-height: 400px !important;
  min-height: 70px !important;
  overflow: auto !important;
}
.borders {
  position: absolute;
  padding: 18em 0;
	border-left: solid $table-border 1px;
	top: 1em;
	left: 50%;
}
mat-expansion-panel {
  border: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding: .10em !important;
}
mat-expansion-panel-header {
  background: $primary-red !important;
  height: 30px !important;
  max-width: 100px !important;
  padding: 0 16px 0px 24px !important;
  mat-panel-title {
    color: $white !important;
  }
}

::ng-deep .schedule-container {
  padding: 3em;
  .input-container{
    width: 100%;
    padding: 0.5em;
    .header-label{
      font-size: 16px;
      color: grey;
      margin-bottom: 0.5em;
    }
    .tex-input{
      width: 100%;
      height: 3em;
      border: 1px solid #b3b2b2;
    }
  }
  .card-container {
    flex-wrap: wrap;
    margin-top: 1em;
    .header-label{
      font-size: 16px;
      color: grey;
      margin-bottom: 0.5em;
    }
    .card-details {
      display: inline-block;
      width: 50%;
      margin-right: 1em;
      margin-bottom: 1em;
      background: #f5f5f5;
      padding: 10px;
      font-size: 15px;
      border-radius: 6px;
      border: 1px solid #dadada;
    }
  }
  .button-conatiner{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    button {
      width:20%;
      border: 1px solid #c02222;
      margin-right: 1em;
    }
  }    
  .schedule{
    color: white;
    background: #c02222;

  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0 !important;
    padding-bottom: 0em !important;
  }
  .date-pick{
    cursor: pointer;
  }
  .th{
    background: white !important;
  }
}

::ng-deep.custom-modalbox {
  max-width: 45% !important;

  .pop-up-header {
      padding: 5px 5px 8px 7px;
      font-size: 22px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > div {
          font-size: 20px;
      }
      span:nth-of-type(2) {
          cursor: pointer;
      }
  }
}