@import '../../../themes/themes.scss';

::ng-deep .popupModalContainerForForms {
  .main-wrapper {
      padding: 1em;
      background-color: white;
      display: block;
      width: 100%;
      .text {
          margin-top: .5em;
          font-size: 15px;
          text-align: center;
      }
    .button-wrapper-form-pop-up {
      display: grid;
      margin: 1em 0 0.5em 0;
      grid-template-columns: 110px 110px;
      justify-content: center;
      width: 100%;
      justify-items: center;
          .b1,.b2,.b3 {
              border: 1px solid $common-button-bg;
              background-color: $white;
              color: #666666;
              line-height: 2;
              border-radius: 4px;
              font-size: 14px;
              /* "to left" / "to right" - affects initial color */
              background: linear-gradient(to left, white 50%, $common-button-bg 50%) right;
              background-size: 200%;
              transition: .5s ease-out;
              width: 90px;
          }
          .b1:hover,.b2:hover,.b3:hover {
              background-position: left;
              color: white;
          }
          .animation {
              -webkit-transform: translateZ(0);
              -moz-transform: translateZ(0);
              -ms-transform: translateZ(0);
              -o-transform: translateZ(0);
              transform: translateZ(0);
          }
          .animation-zoom:hover {
              transform: perspective(1px) scale(1.02);
              // font-size: 15px;
              transition: transform .5s ease;
          }
    }
  }
}

::ng-deep .common-joining-form {
  height: 600px !important;
}
:host ::ng-deep .ag-header-cell-label .ag-header-cell-text {
  white-space: normal !important;
  text-align: left;
  height: auto;
  overflow-wrap: normal;
}
