<div class="closed-wrapper">
    <div class="form-confirmation">
        <div>
            <img class="closed" src="assets/images/form_closed.png" alt="" srcset="">
        </div>        
        <div class="content-closed">{{contentName}} Registration has been closed</div>
        <div class="footer">
          <div class="content">
              In case of any technical issues, contact us at <a href="mailto:assess.support@lntedutech.com">assess.support@lntedutech.com</a>
          </div>
          <div class="copyright">
              © 2022 Powered by L&T EduTech. All Rights Reserved
          </div>
      </div>
  
    </div>
  </div>
  