<div class="joining-personal-wrapper">
    <h5>
        Contact Details
    </h5>

    <div class="grids-wrapper">
        <form class="contactForm" [formGroup]="contactForm" (ngSubmit)="formSubmit()">
            <div class="row-wrapper">
                <div class="overall-input-wrapper width-100">
                    <label>Present Address 1<span>*</span></label>
                    <input matInput placeholder="Enter here" class="input" type="text"
                        [formControlName]="form_present_address_1">
                    <div class="form-error" *ngIf="present_address_1.invalid && present_address_1.touched">
                        <div *ngIf="present_address_1.errors?.required">Address 1 is Required</div>
                        <div *ngIf="present_address_1.errors?.address255">Maximum of 255 Characters only allowed.</div>
                        <div *ngIf="present_address_1.errors?.address255">Allowed special characters <span style="font-size: 13px;"> - . , :  ;  / .</span></div>
                    </div>
                </div>
            </div>

            <div class="row-wrapper">
                <div class="overall-input-wrapper width-100">
                    <label>Present Address 2<span>*</span></label>
                    <input matInput placeholder="Enter here" class="input" type="text"
                        [formControlName]="form_present_address_2">
                    <div class="form-error" *ngIf="present_address_2.invalid && present_address_2.touched">
                        <div *ngIf="present_address_2.errors?.required">Address 2 is Required</div>
                        <div *ngIf="present_address_2.errors?.address255">Maximum of 255 Characters only allowed.</div>
                        <div *ngIf="present_address_2.errors?.address255">Allowed special characters <span style="font-size: 13px;"> - . , :  ;  / .</span></div>
                    </div>
                </div>
            </div>

            <div class="row-wrapper">
                <div class="overall-input-wrapper width-100">
                    <label>Present Address 3<span>*</span></label>
                    <input matInput placeholder="Enter here" class="input" type="text"
                        [formControlName]="form_present_address_3">
                    <div class="form-error" *ngIf="present_address_3.invalid && present_address_3.touched">
                        <div *ngIf="present_address_3.errors?.required">Address 3 is Required</div>
                        <div *ngIf="present_address_3.errors?.address255">Maximum of 255 Characters only allowed.</div>
                        <div *ngIf="present_address_3.errors?.address255">Allowed special characters <span style="font-size: 13px;"> - . , :  ;  / .</span></div>
                    </div>
                </div>
            </div>

            <div class="row-wrapper">
                <div class="overall-input-wrapper width-45">
                    <label>Present City<span></span></label>
                    <nz-select class="input select" [formControlName]="form_present_city" nzAllowClear nzShowSearch
                        nzPlaceHolder="Select">
                        <nz-option *ngFor="let title of titleDropdownList" [nzLabel]="title.value"
                            [nzValue]="title.value"></nz-option>
                    </nz-select>
                    <div class="form-error" *ngIf="present_city?.invalid && present_city?.touched">
                        <div *ngIf="present_city?.errors?.required">Present city is Required</div>
                    </div>
                </div>
                <div class="overall-input-wrapper width-45">
                    <label>Present State/Province<span></span></label>
                    <nz-select class="input select" [formControlName]="form_present_state" nzAllowClear nzShowSearch
                        nzPlaceHolder="Select">
                        <nz-option *ngFor="let title of titleDropdownList" [nzLabel]="title.value"
                            [nzValue]="title.value"></nz-option>
                    </nz-select>
                    <div class="form-error" *ngIf="present_state?.invalid && present_state?.touched">
                        <div *ngIf="present_state?.errors?.required">Present state is Required</div>
                    </div>
                </div>
            </div>

            <div class="row-wrapper">
                <div class="overall-input-wrapper width-45">
                    <label>Present Postal/Zip code<span></span></label>
                    <input matInput placeholder="Enter here" class="input" type="text"
                        [formControlName]="form_present_zip_code">
                    <div class="form-error" *ngIf="present_zip_code?.invalid && present_zip_code?.touched">
                        <div *ngIf="present_zip_code?.errors?.required">Present zip code is Required</div>
                        <div *ngIf="present_zip_code?.errors?.numberOnly">Numericals only allowed</div>
                    </div>
                </div>
                <div class="overall-input-wrapper width-45">
                    <label>Present Country/Region<span></span></label>
                    <nz-select class="input select" [formControlName]="form_present_region" nzAllowClear nzShowSearch
                        nzPlaceHolder="<--Select-->">
                        <nz-option *ngFor="let title of titleDropdownList" [nzLabel]="title.value"
                            [nzValue]="title.value"></nz-option>
                    </nz-select>
                    <div class="form-error" *ngIf="present_region?.invalid && present_region?.touched">
                        <div *ngIf="present_region?.errors?.required">Present country is Required</div>
                    </div>
                </div>
            </div>

            <div class="row-wrapper">
                <div class="overall-input-wrapper width-100">
                        <mat-checkbox (change)="matchangeYes($event)" [formControlName]="form_same_as_checkbox">Same as present address</mat-checkbox>
                        </div>
                        </div>

<!-- Permanent -->
<div class="row-wrapper">
    <div class="overall-input-wrapper width-100">
        <label>Permanent Address 1<span>*</span></label>
        <input matInput placeholder="Enter here" class="input" type="text"
            [formControlName]="form_permanent_address_1">
        <div class="form-error" *ngIf="permanent_address_1.invalid && permanent_address_1.touched">
            <div *ngIf="permanent_address_1.errors?.required">Address 1 is Required</div>
            <div *ngIf="permanent_address_1.errors?.address255">Maximum of 255 Characters only allowed.</div>
            <div *ngIf="permanent_address_1.errors?.address255">Allowed special characters <span style="font-size: 13px;"> - . , :  ;  / .</span></div>
</div>
    </div>
</div>

<div class="row-wrapper">
    <div class="overall-input-wrapper width-100">
        <label>Permanent Address 2<span>*</span></label>
        <input matInput placeholder="Enter here" class="input" type="text"
            [formControlName]="form_permanent_address_2">
        <div class="form-error" *ngIf="permanent_address_2.invalid && permanent_address_2.touched">
            <div *ngIf="permanent_address_2.errors?.required">Address 2 is Required</div>
            <div *ngIf="permanent_address_2.errors?.address255">Maximum of 255 Characters only allowed.</div>
            <div *ngIf="permanent_address_2.errors?.address255">Allowed special characters <span style="font-size: 13px;"> - . , :  ;  / .</span></div>
        </div>
    </div>
</div>

<div class="row-wrapper">
    <div class="overall-input-wrapper width-100">
        <label>Permanent Address 3<span>*</span></label>
        <input matInput placeholder="Enter here" class="input" type="text"
            [formControlName]="form_permanent_address_3">
        <div class="form-error" *ngIf="permanent_address_3.invalid && permanent_address_3.touched">
            <div *ngIf="permanent_address_3.errors?.required">Address 3 is Required</div>
            <div *ngIf="permanent_address_3.errors?.address255">Maximum of 255 Characters only allowed.</div>
            <div *ngIf="permanent_address_3.errors?.address255">Allowed special characters <span style="font-size: 13px;"> - . , :  ;  / .</span></div>
        </div>
    </div>
</div>

<div class="row-wrapper">
    <div class="overall-input-wrapper width-45">
        <label>Permanent City<span></span></label>
        <nz-select class="input select" [formControlName]="form_permanent_city" nzAllowClear nzShowSearch
            nzPlaceHolder="Select">
            <nz-option *ngFor="let title of titleDropdownList" [nzLabel]="title.value"
                [nzValue]="title.value"></nz-option>
        </nz-select>
        <div class="form-error" *ngIf="permanent_city?.invalid && permanent_city?.touched">
            <div *ngIf="permanent_city?.errors?.required">Permanent city is Required</div>
        </div>
    </div>
    <div class="overall-input-wrapper width-45">
        <label>Permanent State/Province<span></span></label>
        <nz-select class="input select" [formControlName]="form_permanent_state" nzAllowClear nzShowSearch
            nzPlaceHolder="Select">
            <nz-option *ngFor="let title of titleDropdownList" [nzLabel]="title.value"
                [nzValue]="title.value"></nz-option>
        </nz-select>
        <div class="form-error" *ngIf="permanent_state?.invalid && permanent_state?.touched">
            <div *ngIf="permanent_state?.errors?.required">Permanent state is Required</div>
        </div>
    </div>
</div>

<div class="row-wrapper">
    <div class="overall-input-wrapper width-45">
        <label>Permanent Postal/Zip code<span></span></label>
        <input matInput placeholder="Enter here" class="input" type="text"
            [formControlName]="form_permanent_zip_code">
        <div class="form-error" *ngIf="permanent_zip_code?.invalid && permanent_zip_code?.touched">
            <div *ngIf="permanent_zip_code?.errors?.required">Permanent zip code is Required</div>
            <div *ngIf="permanent_zip_code?.errors?.numberOnly">Numericals only allowed</div>
        </div>
    </div>
    <div class="overall-input-wrapper width-45">
        <label>Permanent Country/Region<span></span></label>
        <nz-select class="input select" [formControlName]="form_permanent_region" nzAllowClear nzShowSearch
            nzPlaceHolder="<--Select-->">
            <nz-option *ngFor="let title of titleDropdownList" [nzLabel]="title.value"
                [nzValue]="title.value"></nz-option>
        </nz-select>
        <div class="form-error" *ngIf="permanent_region?.invalid && permanent_region?.touched">
            <div *ngIf="permanent_region?.errors?.required">Permanent country is Required</div>
        </div>
    </div>
</div>

            <div class="row-wrapper justify-content-between  align-items-center mt-4 mb-2 footer">
                <div (click)="routeNext('personal')" class="d-flex align-content-center align-items-center position-relative" style="cursor: pointer;">
                    <div class="left-arrow position-absolute"></div>
                    <div class="sections left-space">
                        <div class="label">Previous Section</div>
                        <div class="value">Personal Details</div>
                    </div>
                </div>
                <button class="submit joining-form-submit mt-1" mat-raised-button type="submit">Save &
                    Continue</button>
                <div (click)="routeNext('dependent')" class="d-flex align-content-center align-items-center text-right position-relative pointer" style="cursor: pointer;">
                    <div class="right-arrow position-absolute"></div>
                    <div class="sections right-space">
                        <div class="label">Next Section</div>
                        <div class="value">Dependent Details</div>
                    </div>
                </div>
            </div>

        </form>
        <div class="photo-wrapper">
        </div>
    </div>

</div>