<mat-toolbar class="customer-header">
  <div class="header-logo">
    RECRUITMENT PLATFORM
  </div>

  <div class="header-right-wrapper">
    <div class="non-mobile">
      <div class="welcome mr-2">Welcome, {{username}}</div>
      <em class="icon-logout logout" matTooltip="Logout" (click)="logOut()"></em>
    </div>
    <div class="mobile">
      <div class="welcome" [matMenuTriggerFor]="menu">{{username ? username.charAt(0) : 'NA'}}</div>
      <mat-menu class="profile-menu" #menu="matMenu">
        <button (click)="logOut()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </div>

</mat-toolbar>
