@import '../../../../themes/themes.scss';
.main-new-interview-assigned {
    padding: 8px 0;
    .total-wrap {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .lefttable {
            min-width: 500px;
            max-width: 500px;
        }
        .righttable {
            min-width: 500px;
            max-width: 500px;
        }
    }
    .head-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1em;
    }
    .top-wrapper {
        width: 100%;
        .left,
        .right {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .flex-wrap {
                display: flex;
                flex-direction: row;
                align-items: center;
                min-width: 33%;
                margin-bottom: 1em;
                margin-left: 4px;
                .label {
                    color: $light-black;
                    font-size: 14px;
                    flex-grow: 0.8;
                    width: 130px;
                }
                .input-box {
                    flex-grow: 1;
                    nz-select {
                        height: 30px;
                        color: $light-black;
                        min-width: 235px;
                        max-width: 235px;
                        border-radius: 4px;
                    }
                }
                &.applybtn {
                    display: flex;
                    justify-content: flex-start;
                    min-width: 300px;
                    // flex-grow: 1;
                    .input-box {
                        flex-grow: 0;
                    }
                }
            }
        }
    }
}

.search-bar {
    margin: 4px .5em;
    text-align: right;
}

:focus {
    border: none;
    outline: none;
}

:host ::ng-deep.ag-row-hover {
    background-color: $ag-hover !important;
}

.ag-wrapper {
    margin: 0em 0 0 0;
}

.heading4 {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
}

::ng-deep .mat-accordion {
    position: relative;
}

.mat-expansion-panel {
    // border: 1px solid #cccccc;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 12%) !important;
    background-color: rgb(211, 211, 211, 0.2) !important;
}

.mat-expansion-panel-header {
    font-size: 20px;
    font-weight: 400;
    padding: 4px 18px;
}

:host ::ng-deep .mat-expansion-panel-header.mat-expanded {
    font-size: 20px;
    font-weight: 400;
    height: 48px !important;
    border-bottom: 0.1em solid #e8e8e8;
}

:host ::ng-deep .mat-expansion-panel-body {
    margin: 10px 0;
    padding: 1em !important;
}
::ng-deep .btn-outline {
  margin-top: 5px;
  height: 27px;
  border: 1px solid #c02222;
  background-color: #fff;
  border-radius: 4px;
  min-width: 110px;
  color: #666;
  cursor: none;

  &.checked {
    border: none;
    background-color: #48cc83;
    color: #fff;
    flex-direction: row !important;
    justify-content: center !important;
    cursor: pointer;
  }
  &.rejected {
    border: none;
    background-color: #c02222;
    color: #fff;
    flex-direction: row !important;
    justify-content: center !important;
    cursor: pointer;
  }
  em {
    margin-right: 7px;
  }
}
::ng-deep .inprogress-bg {
  background-color: #ffbc00 !important;
  color: #fff;
  }
