<div class="tpo-pre-assessment-wrapper">

  <div class="top-wrapper">
    <div class="flex-wrapper">
      <div class="left">
        <div class="grid">
          <div class="flex-wrapper">
            <div class="label">
              Folder name:
            </div>
            <div class="input-box">
              <input type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="right">

      </div>
    </div>
  </div>

  <div class="user-list-wrapper" [ngClass]="userList && userList.length > 0 ? '' : 'hide'">
    <!-- <mat-form-field>
              <mat-label>Filter</mat-label> -->
    <div class="search-bar">
      <div class="search-icon">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search….">
        <img src="assets/images/feather-search.svg" alt="" srcset="">
      </div>
    </div>
    <!-- </mat-form-field> -->

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="candidate_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate Id </th>
        <td mat-cell *matCellDef="let element"> {{element && element.candidate_id ? (element.candidate_id) : '-'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mail sent </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element && element.mail">
            <img src="assets/images/002-tick1.svg" alt="">
          </span>
          <span *ngIf="element && !element.mail">
            <img src="assets/images/001-cancel1.svg" alt="">
          </span>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="registered">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registered </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element && element.registered">
            <img src="assets/images/002-tick1.svg" alt="">
          </span>
          <span *ngIf="element && !element.registered">
            <img src="assets/images/001-cancel1.svg" alt="">
          </span>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="profile_submit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile submit </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element && element.profile_submit">
            <img src="assets/images/002-tick1.svg" alt="">
          </span>
          <span *ngIf="element && !element.profile_submit">
            <img src="assets/images/001-cancel1.svg" alt="">
          </span>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="profile_shortlist">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile shortlist </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element && element.profile_shortlist">
            <img src="assets/images/002-tick1.svg" alt="">
          </span>
          <span *ngIf="element && !element.profile_shortlist">
            <img src="assets/images/001-cancel1.svg" alt="">
          </span>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="assessment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element && element.assessment">
            <img src="assets/images/002-tick1.svg" alt="">
          </span>
          <span *ngIf="element && !element.assessment">
            <img src="assets/images/001-cancel1.svg" alt="">
          </span>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]"></mat-paginator>
  </div>
  <div class="no-data" [ngClass]="userList && userList.length === 0 ? '' : 'hide'">
    <div>No Candidate data available to shortlist </div>
  </div>

</div>
