<div class="main-wrapper-uploaded-list tpo-main-wrapper-uploaded-list">
  <!-- <div class="line">
  </div> -->

  <div class="user-list-wrapper" [ngClass]="userList && userList.length > 0 ? '' : ''">
    <!-- <mat-form-field>
              <mat-label>Filter</mat-label> -->
    <div class="search-bar">
        <div class="search-icon">
            <img matTooltip="Search" (click)="applySearch()" src="assets/images/Search.svg" alt="" srcset="">
            <input matInput [(ngModel)]="searchInput" placeholder="Search….">
        </div>
      <!-- <div class="search-icon">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search….">
        <img src="assets/images/feather-search.svg" alt="" srcset="">
      </div> -->
      <div class="button-wrapper" [matTooltip]="enableSend ? '' : 'Select the checkboxes to send mail'">
        <button class="submit" [ngClass]="enableSend ? '' : 'disable'" (click)="sendEmailPop()" mat-raised-button><span
            class="icon"><img src="assets/images/002-tick.svg" alt="" srcset=""></span>
          <span> Send email</span></button>
      </div>
    </div>
    <!-- </mat-form-field> -->

    <div #myDiv (click)="true" class="scroll" style="max-height: 350px; overflow: auto;">

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="counter">
          <th mat-header-cell *matHeaderCellDef>
              <span *ngIf="sortedCol != 'counter'" style="cursor: pointer;" (click)="sorting('sno', 'counter')">
                  <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
                </span>
                <span *ngIf="sortedCol == 'counter'" style="cursor: pointer;" (click)="sorting('sno', 'counter')">
                  <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
                  <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
                  <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
                </span>
            S.no </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element && element.sno ? element.sno : '-' }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tag">
          <th mat-header-cell *matHeaderCellDef>
            <span *ngIf="sortedCol != 'tag'" style="cursor: pointer;" (click)="sorting('tag', 'tag')">
              <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
            </span>
            <span *ngIf="sortedCol == 'tag'" style="cursor: pointer;" (click)="sorting('tag', 'tag')">
              <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
              <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
              <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
            </span>
            Tag </th>
          <td mat-cell *matCellDef="let element"> {{element && element.tag ? element.tag : '-' }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
              <span *ngIf="sortedCol != 'name'" style="cursor: pointer;" (click)="sorting('name', 'name')">
                  <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
                </span>
                <span *ngIf="sortedCol == 'name'" style="cursor: pointer;" (click)="sorting('name', 'name')">
                  <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
                  <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
                  <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
                </span>
            Name </th>
          <td mat-cell *matCellDef="let element"> {{element && element.name ? element.name : '-' }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="new_candidate_id">
          <th mat-header-cell *matHeaderCellDef>
              <span *ngIf="sortedCol != 'new_candidate_id'" style="cursor: pointer;" (click)="sorting('new_candidate_id', 'new_candidate_id')">
                  <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
                </span>
                <span *ngIf="sortedCol == 'new_candidate_id'" style="cursor: pointer;" (click)="sorting('new_candidate_id', 'new_candidate_id')">
                  <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
                  <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
                  <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
                </span>
            Candidate id </th>
          <td mat-cell *matCellDef="let element">
            {{element && element.new_candidate_id ? element.new_candidate_id : '-' }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>
              <span *ngIf="sortedCol != 'email'" style="cursor: pointer;" (click)="sorting('email', 'email')">
                  <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
                </span>
                <span *ngIf="sortedCol == 'email'" style="cursor: pointer;" (click)="sorting('email', 'email')">
                  <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
                  <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
                  <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
                </span>
            Email id </th>
          <td mat-cell *matCellDef="let element"> {{element && element.email ? element.email : '-' }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="uploaded_by">
          <th mat-header-cell *matHeaderCellDef>
              <span *ngIf="sortedCol != 'uploaded_by'" style="cursor: pointer;" (click)="sorting('uploaded_by', 'uploaded_by')">
                  <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
                </span>
                <span *ngIf="sortedCol == 'uploaded_by'" style="cursor: pointer;" (click)="sorting('uploaded_by', 'uploaded_by')">
                  <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
                  <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
                  <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
                </span>
            Uploaded by </th>
          <td mat-cell *matCellDef="let element"> {{element && element.uploaded_by ? element.uploaded_by : '-' }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="uploader_role">
          <th mat-header-cell *matHeaderCellDef>
              <span *ngIf="sortedCol != 'uploader_role'" style="cursor: pointer;" (click)="sorting('uploader_role', 'uploader_role')">
                  <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
                </span>
                <span *ngIf="sortedCol == 'uploader_role'" style="cursor: pointer;" (click)="sorting('uploader_role', 'uploader_role')">
                  <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
                  <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
                  <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
                </span>
            Role </th>
          <td mat-cell *matCellDef="let element">
            {{element && element.uploader_role ? element.uploader_role : '-' }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>
              <span *ngIf="sortedCol != 'date'" style="cursor: pointer;" (click)="sorting('date', 'date')">
                  <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
                </span>
                <span *ngIf="sortedCol == 'date'" style="cursor: pointer;" (click)="sorting('date', 'date')">
                  <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
                  <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
                  <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
                </span>
            Date of upload </th>
          <td mat-cell *matCellDef="let element">
            {{element && element.date ? element.date : '-' }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>
              <span *ngIf="sortedCol != 'time'" style="cursor: pointer;" (click)="sorting('time', 'time')">
                  <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
                </span>
                <span *ngIf="sortedCol == 'time'" style="cursor: pointer;" (click)="sorting('time', 'time')">
                  <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
                  <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
                  <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
                </span>
            Time of upload </th>
          <td mat-cell *matCellDef="let element">
            {{element && element.time ? element.time : '-' }} </td>
        </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email_sent">
        <th mat-header-cell *matHeaderCellDef>
            <span *ngIf="sortedCol != 'email_sent'" style="cursor: pointer;" (click)="sorting('email_sent', 'email_sent')">
                <img class="sort" src="assets/images/sort.svg" alt="" srcset="">
              </span>
              <span *ngIf="sortedCol == 'email_sent'" style="cursor: pointer;" (click)="sorting('email_sent', 'email_sent')">
                <img class="sort" *ngIf="normal" src="assets/images/sort.svg" alt="" srcset="">
                <img *ngIf="asc" src="assets/images/awesome-sort-1.svg" alt="" srcset="">
                <img *ngIf="desc" src="assets/images/awesome-sort.svg" alt="" srcset="">
              </span>
          Email status </th>
        <td mat-cell *matCellDef="let element">
          <span
            [ngClass]="element && element.email_sent === 'yes' ? 'green' : ''">{{element && element.email_sent === 'yes' ? 'Sent' : '' }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef>
          <div>Select All</div>
          <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="selectAllCheck"
            (change)="selectAllCheckbox($event)" [checked]="selectAllCheck">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="selectedUser(element)" [checked]="element.checked">
<!-- [disabled]="element && element['email_sent'] === 'yes' ? true : false" -->
          </mat-checkbox>
        </td>
      </ng-container>


      <!-- <ng-container matColumnDef="checked">
          <th mat-header-cell *matHeaderCellDef> Select </th>
          <td mat-cell *matCellDef="let element">
            <nz-radio-group (ngModelChange)="selectedUser(element)" [(ngModel)]="radioCheck">
              <label nz-radio [nzValue]="element.uid"></label>
            </nz-radio-group>
          </td>
        </ng-container> -->

      <!-- fifth Header row first group -->
      <div [ngClass]="userList && userList.length === 0 ? '' : 'hide'" matColumnDef="fifth-header-row-first-group">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="11">
          {{'No Data Available'}}
        </th>
      </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr class="no-data-available" [ngClass]="userList && userList.length === 0 ? '' : 'hide'" mat-header-row
        *matHeaderRowDef="['fifth-header-row-first-group']">
      </tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
        [ngClass]="i % 2 == 0 ? 'light-bg' : 'dark-bg'"></tr>
    </table>
    <div *ngIf="displayNoRecords" class="noRecordText">
      No data available
    </div>
    </div>
    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[50, 100]" (page)="pageChanged($event)"
    [length]="length"></mat-paginator>
    <!-- <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]"></mat-paginator> -->
  </div>
  <!-- <div class="no-data" [ngClass]="userList && userList.length === 0 ? '' : 'hide'">
    <div>No data available </div>
  </div> -->


</div>
