.row-container {
    position: relative;
    width: 100%;
    padding: 4px;
    // max-width: 990px;
    margin: 0 auto;
    .email-stepper {
        margin-top: 1em;
        .route {
            margin-bottom: 3.5em;
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100vw;
        left: -80px;
        /* padding: 0 15px 3px 8px; */
        margin: 0;
        z-index: 999999;
        box-sizing: border-box;
        .footer-common {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 6px #00000050;
            padding: 8px;
            padding-left: 80px;
        }
        .outline-btn {
            border: 1px solid #004684;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            color: #004683;
            font-size: 14px;
            height: 32px;
        }    
        .normal-btn {
            background-color: #004684;
            color: white;
            font-size: 14px;
            height: 32px;
        }
        .first {
            display: flex;
            justify-content: flex-end;
        }
        .second {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            .left-wrapper {
            }
            .right-wrapper {
                display: flex;
                gap: 1em;
                justify-content: flex-end;
            }
        }
    }
}
:host ::ng-deep .mat-step-label {
    .mat-step-text-label {
        color:  #004684;
        font-size: 14px;
        font-weight: 400;
    }
}
:host ::ng-deep.mat-step-label-selected {
    .mat-step-text-label {
        font-weight: 500;
    }
}

:host ::ng-deep .mat-horizontal-stepper-header.mat-step-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
:host ::ng-deep .mat-horizontal-stepper-header-container {
    width: 60%;
}

:host ::ng-deep .mat-step-icon {
    padding: 18px;
    background: #CCDAE6;
    span {
        color: #004684;
    }
}
:host ::ng-deep.mat-step-icon-selected {
    background: #08558C;
    span {
        color: #ffffff;
    }
}

:host ::ng-deep .mat-stepper-horizontal-line {
    background: #004684;
    height: 1px;
    width: 25px !important;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    max-width: 25px;
    &:before,
    &:after {
        content: "";
        background: #004684;
        position: absolute;
        height: 1px;
        width: 8px;
    }
  
    &:before {
        right: 0px;
        bottom: -7px;
        transform: rotate(-45deg);
        top: 2px;
    }
  
    &:after {
        right: 0px;
        top: -4px;
        transform: rotate(45deg);
    }
}


:host::ng-deep .mat-horizontal-content-container {
    padding: 0 4px;
    max-height: 408px;
    min-height: 408px;
    overflow: auto;
    margin-top: 1em;
}