@import "../../../themes/themes.scss";

.joining-personal-wrapper {
    width: 100%;
    .grids-wrapper {
        display: flex;
        width: 100%;
        .dependentForm {
            width: 98%;
            padding-right: 1em;
            font-size: 14px;
            position: relative;

            .section {
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 2px 2px 5px #0000001A;
                border: 1px solid rgb(147, 147, 147, 0.5);
                border-radius: 8px;
                position: relative;
                width: 100%;
                margin-top: 1em;
                padding: 1em;
                .header {
                    h6 {
                       color: #3F3F3F;
                       font-size: 20px;
                       font-weight: 700;
                    }
                    .icon {
                        span {
                           color: #878787;
                           font-size: 18px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .row-wrapper {
                margin-top: 0.5em;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                .overall-input-wrapper {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    flex-wrap: wrap;
                    label {
                        color: #878787;
                        padding: 0 0 0px 0;
                        margin: 0;
                        font-size: 14px;
                    }
                    .input {
                        position: relative;
                        // border: solid 0.8px #bebebe;
                        // border-radius: 2px;
                        outline: none;
                        box-sizing: border-box;
                        // min-height: 35px !important;
                        // max-height: 35px !important;
                        // line-height: 35px;
                        // padding: 4px 8px;
                        background-color: $white;
                        width: 100%;
                        line-height: 1.2;
                    }
                    .size-16 {
                        font-size: 18px;
                    }
                    .bold-700 {
                        font-weight: 500;
                    }
                    .color-black {
                        color: #000000;
                    }

                    .select {
                        display: flex;
                        align-items: center;
                        padding: 0px !important;
                        border: none !important;
                    }
                    .form-error {
                        color: $primary-red;
                        font-size: 12px;
                    }
                    ::placeholder {
                        color: #a5a5a5 !important;
                        opacity: 1;
                        font-size: 13px;
                    }
                }
            }

            .animation {
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
                transform: translateZ(0);
            }
            .animation-zoom:hover {
                transform: perspective(1px) scale(1.04);
                // font-size: 15px;
                transition: transform .5s ease;
            }
            .add-button {
                color: #666666;
                border: 0.5px solid rgb(112, 112, 112, 0.5);
                height: 30px;
                font-size: 18px;
                width: 100px;
                margin-left: 1em;
            }
            .add-button:hover {
                background-color: $primary-red;
                color: white;
                transition: background-color 580ms linear;
            }
        }
        .photo-wrapper {
            width: 2%;
            height: 100%;
            position: relative;
        }
    }
    .footer {
        .left-arrow {
            border: solid #a5a5a5 !important;
            border-width: 0 1px 1px 0 !important;
            display: inline-block !important;
            padding: 8px !important;
            transform: rotate(135deg) !important;
            -webkit-transform: rotate(135deg) !important;
            margin-top: 1px !important;
            height: 7px !important;
            left: 0;
        }
        .right-arrow {
            border: solid #a5a5a5 !important;
            border-width: 0 1px 1px 0 !important;
            display: inline-block !important;
            padding: 8px !important;
            transform: rotate(-45deg) !important;
            -webkit-transform: rotate(-45deg) !important;
            margin-top: 1px !important;
            height: 7px !important;
            right: 0;
        }
        .sections {
            .label {
                color: #a5a5a5;
                font-size: 12px;
            }
            .value {
                font-size: 14px;
                color: #000;
                font-weight: 400;
            }
        }
        .left-space {
            margin-left: 16px;
        }
        .right-space {
            margin-right: 16px;
        }

        .joining-form-submit {
            min-width: 150px !important;
            border-radius: 18px !important;
            min-height: 34px !important;
            font-size: 14px !important;
            align-items: center !important;
            display: flex !important;
        }
    }
}
.border-wrapper {
    border-top: 1px dashed rgb(147, 147, 147, 0.5);
    padding-top: 1em;
}
.border-wrapper:nth-of-type(1) {
    border: none !important;
    padding-top: 0em !important;
}
.custom-header-padding {
    padding: 1em 1em 0 1em;
}
.custom-padding {
    .border-wrapper {
        padding: 1em;
    }
    .padding-1 {
        padding: 0 1em 1em 1em;
    }
}

.width-70 {
    width: 70%;
}
.width-85 {
    width: 85%;
}
.width-45 {
    width: 45%;
}
.width-40 {
    width: 40%;
}
.width-15 {
    width: 15%;
}
.width-30 {
    width: 30%;
}
.width-32 {
    width: 32%;
}
.width-66 {
    width: 66%;
}
.width-80 {
    width: 80%;
}
.width-100 {
    width: 100%;
}
.width-50 {
    width: 48.5%;
}

.nodata {
    position: relative;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    color: #000;
}

// Common nz-select wrapper

:host ::ng-deep .mat-autocomplete-panel {
    border: 1px solid #bebebe !important;
}

:host ::ng-deep .mat-option {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: block !important;
    font-size: 14px !important;
    line-height: 40px !important;
    height: 40px !important;
    padding: 0 16px !important;
    text-align: left !important;
    text-decoration: none !important;
    max-width: 100% !important;
    position: relative !important;
    cursor: pointer !important;
    outline: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
    align-items: center !important;
    -webkit-tap-highlight-color: transparent !important;
}

// Ant select drop down css
:host ::ng-deep .ant-select-selection {
    border: solid 0.8px #bebebe !important;
    height: 35px !important;
    padding: 4px 8px;
    border-radius: 0px !important;
}

:host ::ng-deep .ant-select-selection:hover,
:host ::ng-deep .ant-select-selection:focus,
:host ::ng-deep .ant-select-selection:active {
    border: solid $primary-red 1px !important;
    border-radius: 0px !important;
    z-index: 0 !important;
    box-shadow: none !important;
}

:host ::ng-deep input.ng-invalid.ng-touched,
:host ::ng-deep nz-select.ng-invalid.ng-touched {
    border: solid $primary-red 1px !important;
    .ant-select-selection {
        border: solid $primary-red 1px !important;
    }
}

:host ::ng-deep .ant-select-selection__placeholder,
:host ::ng-deep .ant-select-search__field__placeholder {
    color: #a5a5a5 !important;
    opacity: 0.6 !important;
    font-size: 13px !important;
    font-family: "myFont", Arial, Helvetica, sans-serif !important;
}

:host ::ng-deep .ant-select-selection__rendered {
    position: relative;
    display: block;
    margin-right: 0 !important;
    margin-left: 0 !important;
    line-height: 35px !important;
}

:host ::ng-deep .ant-select-arrow {
    right: 0 !important;
    padding: 0 8px !important;
}

:host ::ng-deep .ant-select-selection__clear {
    right: 18px !important;
    margin-top: -7px !important;
}
:host ::ng-deep .anticon.ant-select-arrow-icon::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    margin-top: 0.25em;
    border-top: 0.5em solid;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
    color: #666666;
    opacity: 0.9;
    border: solid #a5a5a5 !important;
    border-width: 0 1px 1px 0 !important;
    display: inline-block !important;
    padding: 3px !important;
    transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
    margin-top: 1px !important;
}

::ng-deep .ant-select-dropdown-menu-item:first-child,
::ng-deep .ant-select-dropdown-menu-item:last-child {
    border: none !important;
    border-radius: 0px !important;
}

::ng-deep .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #eaeaea !important;
}

::ng-deep .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: rgb(211, 211, 211, 0.7) !important;
}

:host ::ng-deep .ant-select-dropdown {
    border: 1px solid #bebebe !important;
}

:host ::ng-deep .ant-select-selection-selected-value {
    padding-right: 16px !important;
}

// Ant Select dropdown css close

// Date picker start
:host ::ng-deep mat-datepicker-toggle {
    position: absolute !important;
    right: 0 !important;
    box-sizing: border-box !important;
    border-left: 1px solid #a5a5a5;
    min-height: 34px !important;
    max-height: 34px !important;
}

:host ::ng-deep .mat-datepicker-toggle-default-icon {
    color: #a5a5a5 !important;
}

:host ::ng-deep .mat-icon-button .mat-button-base {
    min-height: 35px !important;
    max-height: 35px !important;
}
// Date picker end

//mat-checkbox start
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $primary-red !important;
}

.date-relative {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

:host ::ng-deep .mat-input-element:disabled {
    background: #EEEEEE !important;
    cursor: not-allowed;
}

:host ::ng-deep .mat-button-focus-overlay {
    display: none !important;
  }
.mat-button.no-hover ::ng-deep .mat-button-focus-overlay {
    background: none !important;
  }
::ng-deep .popupModalContainerForForms {
    .main-wrapper {
        padding: 1em;
        background-color: white;
        display: block;
        width: 100%;
        .text {
            margin-top: .5em;
            font-size: 15px;
            text-align: center;
        }
        .button-wrapper-form-pop-up {
        display: grid;
        margin: 1em 0 0.5em 0;
        grid-template-columns: 110px 110px;
        justify-content: center;
        width: 100%;
        justify-items: center;
            .b1,.b2,.b3 {
                border: 1px solid $primary-red;
                background-color: $white;
                color: #666666;
                line-height: 2;
                border-radius: 4px;
                font-size: 14px;
                /* "to left" / "to right" - affects initial color */
                background: linear-gradient(to left, white 50%, $primary-red 50%) right;
                background-size: 200%;
                transition: .5s ease-out;
                width: 90px;
            }
            .b1:hover,.b2:hover,.b3:hover {
                background-position: left;
                color: white;
            }
            .animation {
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
                transform: translateZ(0);
            }
            .animation-zoom:hover {
                transform: perspective(1px) scale(1.02);
                // font-size: 15px;
                transition: transform .5s ease;
            }
        }
    }
}