@import "../../../themes/themes.scss";
* {
  margin: 0;
}

.shortlist-wrapper {
  width: auto;
  padding: 1em 2em;
  font-size: 14px !important;
  font-weight: 400 !important;
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: $shadow-light-black-4;
  // border: 2px solid $secondary;
  border-radius: 5px;
  .preview-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 0.75fr 1fr;
    .left {
      .text {
        color: $light-black;
        padding-top: 8px;
        padding-bottom: 14px;
        font-weight: 400;
        font-size: 14px;
        .validation {
          color: $primary-error-text;
          font-size: 12px;
          max-width: 250px;
        }
      }
    }
    .right {
      .text-input {
        margin: 0 0em 1em 0;
        input {
          color: $secondary;
          height: 30px;
          font-weight: 400;
          font-size: 14px;
          padding: 4px 6px;
          background: $white 0% 0% no-repeat padding-box;
          border: 1px solid $borderColor-10;
          outline: none;
        }
        .validation {
          color: $primary-error-text;
          font-size: 12px;
          max-width: 250px;
        }
      }
    }
  }
  .radio-group {
    color: $secondary;
    display: flex;
    justify-content: center;
    margin: 0 0 1em 0;
  }
  .footer {
    font-size: 14px;
    color: $light-black;
    text-align: center;
    font-weight: 400;
  }
  .buttons {
    margin: 1em 0 0em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .confirm {
      background: $background 0% 0% no-repeat padding-box;
      box-shadow: $shadow-light-black-1;
      border-radius: 10px;
      height: 25px;
      color: $white;
      font-size: 13px;
      font-weight: 400;
      padding: 4px 16px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .cancel {
      margin: 0 1em 0 0;
      box-shadow: $shadow-light-black-1;
      border: 1px solid $gray-dark;
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 25px;
      color: $background;
      font-size: 14px !important;
      font-weight: 400;
      padding: 4px 16px;
      background: transparent;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.modal-box-wrapper {
  min-width: 400px;
  max-width: 700px;
  padding: 1em 2em;
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: $shadow-light-black-4;
  // border: 1px solid $secondary;
  // border-radius: 5px;
  .radio-group {
    color: $secondary;
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin: .5em 0;
  }
  .buttons {
    margin: 1em 0 0em 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-input {
    margin: 0 0em 1em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    input {
      width: 100%;
      color: $secondary;
      height: 25px;
      border-radius: 5px;
      font-weight: 400;
      font-size: 13px;
      padding: 4px 6px;
      background: $white 0% 0% no-repeat padding-box;
      border: 1px solid $borderColor-10;
      outline: none;
    }
    .validation {
      color: $primary-error-text;
      font-size: 11px;
      max-width: 250px;
      font-weight: 400;
    }
  }
}

.bulk-upload-text {
  color: $light-black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
}
.skipKyc {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 8px 0 0 0;
}
.primary-clr {
  color: $primary-text-color;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $primary-checkbox-color !important;
}
