@import "../../../themes/themes.scss";
* {
  margin: 0;
}

.shortlist-wrapper {
  width: auto;
  padding: 1em 2em;
  background: #edf7ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 14px #ffffff29;
  border: 2px solid #003f72;
  border-radius: 5px;
  .preview-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 0.75fr 1fr;
    .left {
      .text {
        color: $light-black;
        font-weight: 200;
        font-size: 13px;
        margin: 0 1em 1em 0;
        .validation {
          color: $red;
          font-size: 12px;
          font-weight: 200;
        }
      }
    }
    .right {
      .text-input {
        margin: 0 0em 1em 0;
        input {
          color: #003f72;
          height: 25px;
          font-weight: 200;
          font-size: 13px;
          padding: 4px 6px;
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #70707080;
          outline: none;
        }
        .validation {
          color: $red;
          font-size: 12px;
          font-weight: 200;
        }
      }
    }
  }
  .footer {
    font-weight: 200;
    font-size: 12px;
    color: $light-black;
    text-align: center;
  }
  .buttons {
    margin: 1em 0 0em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .confirm {
      background: #1178cb 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000040;
      border-radius: 10px;
      height: 25px;
      color: $white;
      font-size: 13px;
      font-weight: 200;
      padding: 4px 16px;
      display: flex;
      align-items: center;
    }
    .cancel {
      margin: 0 1em 0 0;
      box-shadow: 0px 3px 6px #00000040;
      border: 1px solid #707070;
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 25px;
      color: #1178cb;
      font-size: 13px;
      font-weight: 200;
      padding: 4px 16px;
      background: transparent;
    }
  }
}

.modal-box-wrapper {
  min-width: 400px;
  max-width: 400px;
  padding: 1em 2em;
  background: #edf7ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 14px #ffffff29;
  border: 1px solid #003f72;
  border-radius: 5px;
  .buttons {
    margin: 1em 0 0em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .confirm {
      background: #1178cb 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000040;
      border-radius: 10px;
      height: 25px;
      color: $white;
      font-size: 13px;
      font-weight: 200;
      padding: 4px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ok {
      background: #0ebc65 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000040;
      border-radius: 10px;
      height: 25px;
      color: $white;
      font-size: 13px;
      font-weight: 200;
      padding: 4px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cancel {
      margin: 0 1em 0 0;
      box-shadow: 0px 3px 6px #00000040;
      border: 1px solid #707070;
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 25px;
      color: #1178cb;
      font-size: 13px;
      font-weight: 200;
      padding: 4px 16px;
      background: transparent;
      justify-content: center;
    }
  }
  .text-input {
    margin: 0 0em 1em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    input {
      width: 100%;
      color: #003f72;
      height: 25px;
      border-radius: 5px;
      font-weight: 200;
      font-size: 13px;
      padding: 4px 6px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #70707080;
      outline: none;
    }
    .validation {
      color: $red;
      font-size: 11px;
      font-weight: 200;
    }
  }
}

.bulk-upload-text {
  color: $light-black;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  word-wrap: break-word;
}
