@import "../../../themes/themes.scss";

.main-wrapper-uploaded-list {
  margin-top: 1em;
  padding: 4px;
  background: $wrapper-light-gray;
  height: 100%;

  .ins {
    display: flex;
    background: $white;
    padding: .5em;
    flex-direction: column;
    .head {
      font-size: 15px;
      color: $light-black;
      font-weight: 400;
      margin: .5em;
    }
    ul {
      font-size: 12px;
      color: $light-black;
      font-weight: 400;
      margin-left: 2em;
      li {
        padding-bottom: .25em;
        ul {
          font-weight: 300;
          margin-left: 3em;
        }
      }
    }
  }

  .w-100 {
    padding: 4px !important;
  }
  .h4heading {
    text-align: center;
    margin: 0;
  }
  .list-wrapper {
    background: $header-bg;
    padding: 4px 14em;
    width: 100%;
    margin: 1em auto;
    .list-count {
      color: $light-black;
      font-size: 13px;
      margin-bottom: 0 0 4px 0;
      font-weight: 400;
    }
    .button-wrapper {
      text-align: center;
      margin: 1em 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.urlSpan{
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  width: 260px;
}

.mat-expansion-panel {
  // border: 1px solid #cccccc;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 30%) !important;
}
.mat-expansion-panel-header {
  font-size: 18px;
  font-weight: 400;
  padding: 4px 18px;
}
:host ::ng-deep .mat-expansion-panel-header.mat-expanded {
  font-size: 20px;
  font-weight: 400;
  height: 48px !important;
  border-bottom: 0.1em solid #e8e8e8;
}
.mat-form-field-input-box {
  border: solid $input-border 1px;
  margin: 0;
  width: 120%;
  padding: .15em .5em;
  font-size: 15px;
  color: $light-black;
  vertical-align: middle;
  outline: none;
  // background: $white-primary;
  display: flex;
  box-sizing: border-box;
  min-height: 32px;
}

.list-wrapper {
  margin-top: 0em !important;
  margin-bottom: 0em !important;
  .list-count {
      position: absolute;
      margin-top: 1em !important;
  }
}
