<div class="assign-assessment-wrapper">
    <div class="top-wrapper">
        <div class="flex-wrapper">
          <div class="left">
            <div class="grid">
              <div class="flex-wrap">
                <div class="label">
                  <div style="margin-left: 1em;" class="flex-wrap">
                <div class="label">
                  Assessment name
                </div>
                <div class="input-box-revamp">
                    <input matInput type="text" [(ngModel)]="assessmentName">
                </div>
              </div>
                </div>
              </div>
              <div style="margin-left: 1em;" class="flex-wrap">
                <div class="label">
                  Disciple
                </div>
                <div class="input-box">
                    <!-- <input matInput type="text"> -->
                    <nz-select class="nzSelect-revamp" nzAllowClear nzShowSearch
                    nzPlaceHolder="--select disciple--" [(ngModel)]="selectedDisciple">
                    <nz-option *ngFor="let disciplineValue of disciplineDropdown" [nzLabel]="disciplineValue.discipline_name" [nzValue]="disciplineValue.discipline_name"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div style="margin-left: 1em;" class="flex-wrap">
                <div class="label">
                    Assessment Date & Time
                </div>
                <div class="input-box">
                  <!-- <mat-form-field>
                    <input matInput [matDatepicker]="dp" [(ngModel)]="datetime">
                      <mat-datepicker-toggle [disableRipple]="true" matSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp>
                      </mat-datepicker>
                  </mat-form-field> -->
                  <nz-date-picker
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    nzPlaceHolder="Select date & time"
                    ngModel
                    (ngModelChange)="onChange($event)"
                    (nzOnOk)="onOk($event)"
                    class="datetime"
                  ></nz-date-picker>
                </div>
              </div>
              <div style="margin-left: 1em;" class="flex-wrap">
                <div class="label">
                  Shortlist name:
                </div>
                <div class="input-box">
                    <nz-select class="nzSelect-revamp" [(ngModel)]="selectedShortlistname" (ngModelChange)="selectChange()" nzAllowClear nzShowSearch
                    nzPlaceHolder="--select shortlist name--">
                    <nz-option *ngFor="let level of shortlistLists" [nzLabel]="level.field_shortlistname_value" [nzValue]="level.field_shortlistname_value"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="user-list-wrapper" [ngClass]="userList && userList.length > 0 ? '' : ''">
        <!-- <mat-form-field>
                  <mat-label>Filter</mat-label> -->
        <div class="search-bar">
          <div class="search-icon">
            <input matInput (keyup)="applyFilter($event)" placeholder="Search….">
            <img src="assets/images/feather-search.svg" alt="" srcset="">
          </div>

          <div class="button-wrappers btn-margin-space-1" *ngIf="userList && userList.length > 0">
            <button class="submit" mat-raised-button (click)="submitDialog()">Send email</button>
          </div>

        </div>
        <!-- </mat-form-field> -->

        <div class="width-maintain">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidate name </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{element && element.username ? (element.username) : '-'}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="candidate_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate id </th>
            <td mat-cell *matCellDef="let element"> {{element && element.candidate_id ? (element.candidate_id) : '-'}} </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element && element.gender ? (element.gender) : '-'}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="insitute">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Institute </th>
            <td mat-cell *matCellDef="let element"> {{element && element.insitute ? (element.insitute) : '-'}} </td>
          </ng-container>

        <!-- fifth Header row first group -->
        <div [ngClass]="userList && userList.length === 0 ? '' : 'hide'" matColumnDef="fifth-header-row-first-group">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="10">
              {{'No Data Available'}}
            </th>
          </div>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="no-data-available" [ngClass]="userList && userList.length === 0 ? '' : 'hide'" mat-header-row
            *matHeaderRowDef="['fifth-header-row-first-group']">
          </tr>
          <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" [ngClass]="i % 2 == 0 ? 'light-bg' : 'dark-bg'"></tr>
        </table>
        </div>
        <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]"></mat-paginator>
      </div>
</div>
