@import "../../../themes/themes.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

.main-wrap {
padding: 6em 3em;
.declaration {
  margin: 2em 0;
  font-weight: 200;
  font-size: 18px;
  color: $light-black;
}
.content-1 {
  margin: 1.5em 0;
  font-weight: 100;
  font-size: 15px;
  color: $primary;
}
.content-2 {
  margin: 1.5em 0;
  font-weight: 100;
  font-size: 15px;
  color: $primary;
}
.ack {
  margin: 2em 0;
  color: $light-black-1;
  font-size: 17px;
}

.submit-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6em 2em 2em 2em;
  button:first-child {
    width: 120px;
    height: 35px;
    background: $light-blue 0% 0% no-repeat padding-box;
    box-shadow: $shadow-light-black-1;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    color: $white;
    outline: none;
    font-weight: bold;
  }
  button:last-child {
    width: 120px;
    height: 35px;
    margin-left: 30px;
    border-radius: 8px;
    border: 1px solid $blue-1;
    font-weight: 600;
    font-size: 15px;
    color: $blue-1;
    outline: none;
  }
}
}
