<div class="main-wrap">
  <div class="declaration">
    Declaration :
  </div>
  <div class="content-1">
    I hereby declare that I am not connected with any director of the company as his partner or his relative as detailed
    as under section 6 of companies act 1956.
  </div>
  <div class="content-2">
    I hereby affirm that my answers to the foregoing questions are true and correct and I understand and agree that
    misrepresentation or omission of facts called for in this application or other company records shall automatically
    resigned the contract of employment. I authorize inquiry with regard to my character, ability and habits to any and
    all persons and agree to hold such persons harmless with respect to any information that may give.
  </div>

  <div class="signature-wrapper" [ngClass]="url ? 'width-100' : ''">
    <div *ngIf="url" matTooltip="Remove Signature" matTooltipPostion="after" (click)="delete()" class="remove">
      <i style="font-size: 25px;" class="material-icons">
        cancel
      </i>
    </div>
    <div class="label-input-holder">
      <label class="hoverable" for="fileInput">
        <img class="sign" *ngIf="url" [ngClass]="!url ? 'default' : 'profile'"
          [src]="url ? url : 'assets/images/paper-clip.svg'" alt="" srcset="">
        <!-- (load)="afterImgLoad()" -->
        <div *ngIf="!url" class="grid">
          <div class="left">
            <img class="default" src="assets/images/paper-clip.svg" alt="" srcset="">
          </div>
          <div class="right">
            Select Your Signature
          </div>
        </div>
      </label>
      <input [matTooltip]="url ? 'Click to Change Signature' : 'No File Chosen'" matTooltipPostion="after" title=""
        (click)="files.value = null" id="fileInput" #files type='file' name="profile" accept="image/*"
        (change)="onSelectFile($event)">
    </div>
    <div *ngIf="!url" class="text-wrapper">
      <div class="bold-text">Upload image of your handwriting signature</div>
      <div class="footer-text">Image types can include PNG, JPG, JPEG and BMP (file size 40 KB - 2 MB)</div>
    </div>

  </div>
  <div *ngIf="(showSizeError && showSizeError.size) || (showSizeError && showSizeError.image)" class="sizeError">
    {{(showSizeError.size ? showSizeError.maxsize : 'Image types can include PNG, JPG and JPEG')}}
  </div>

  <div class="ack">
      By clicking on submit I agree to the above declaration.
    </div>

  <div class="submit-button-wrapper">
    <button class="submit btn-margin-space" (click)="onSubmit()" mat-raised-button type="button">Submit</button>

    <button class="cancel-btn" (click)="cancel()" mat-raised-button type="button">Cancel</button>

  </div>


</div>
