<div class="main-wrap">
  <div class="declaration">
    Declaration :
  </div>
  <div class="content-1">
    I hereby declare that I am not connected with any director of the company as his partner or his relative as detailed
    as under section 6 of companies act 1956.
  </div>
  <div class="content-2">
    I hereby affirm that my answers to the foregoing questions are true and correct and I understand and agree that
    misrepresentation or omission of facts called for in this application or other company records shall automatically
    resigned the contract of employment. I authorize inquiry with regard to my character, ability and habits to any and
    all persons and agree to hold such persons harmless with respect to any information that may give.
  </div>
  <div class="ack">
    By clicking on submit I agree to the above declaration.
  </div>

  <div class="submit-button-wrapper">
    <button (click)="onSubmit()" mat-raised-button type="button">Submit</button>

    <button mat-raised-button type="button">Cancel</button>

  </div>


</div>
