<div class="approval-institute interview-panel-list">
    <div class="user-list-wrapper" [ngClass]="userList && userList.length > 0 ? '' : ''">
        <div class="search-bar">
            <div class="search-icon">
              <input matInput (keyup)="applyFilter($event)" placeholder="Search….">
              <img src="assets/images/feather-search.svg" alt="" srcset="">
            </div>
          </div>

  <table #table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td (click)="$event.stopPropagation();" mat-cell *matCellDef="let element; let i = index"> {{element && element.uid ? element.uid : '-'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Assessment_Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment Name </th>
      <td style="cursor: pointer;" mat-cell *matCellDef="let element">
          {{element.Assessment_Name ? (element.Assessment_Name) : '-'}}
        <span class="material-icons" style="font-size: 16px; vertical-align: middle;">keyboard_arrow_down </span></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="shortlist_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Shortlist name </th>
      <td (click)="$event.stopPropagation();" mat-cell *matCellDef="let element"> {{element && element.shortlist_name ? element.shortlist_name : '-'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Shortlisted_candidates">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Shortlisted<br/>candidates</th>
      <td (click)="$event.stopPropagation();" mat-cell *matCellDef="let element"> {{element.Shortlisted_candidates ? (element.Shortlisted_candidates) : '-'}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td (click)="$event.stopPropagation();" mat-cell *matCellDef="let element"> {{element.Date ? (element.Date) : '-'}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
      <td style="white-space: nowrap;" (click)="$event.stopPropagation();" mat-cell *matCellDef="let element"> {{element.Time ? (element.Time) : '-'}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="evaluation_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td style="white-space: nowrap;" (click)="$event.stopPropagation();" mat-cell *matCellDef="let element"> {{element.evaluation_status && element.evaluation_status == '1' ? 'completed' : 'waiting'}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="shortlistby">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Shortlist by </th>
      <td style="white-space: nowrap;" (click)="$event.stopPropagation();" mat-cell *matCellDef="let element"> {{element.shortlistby ? (element.shortlistby) : '-'}} <span class="material-icons" style="font-size: 16px; vertical-align: middle;" matTooltip="{{element.shortlistemail ? element.shortlistemail : 'Email not available'}}">info</span></td>
    </ng-container>

    <ng-container matColumnDef="view_Info">
      <th mat-header-cell *matHeaderCellDef> View details </th>
      <td (click)="$event.stopPropagation();" mat-cell *matCellDef="let element; let i = index">
        <button class="viewbtn" (click)="particularAssessment(element && element.Assessment_Name ? element.Assessment_Name : '')" mat-button><mat-icon style="justify-content: center;
          display: contents;
          font-size: 16px;">visibility</mat-icon> <span>View</span></button>
        </td>
    </ng-container>

      <!-- fifth Header row first group -->
      <div [ngClass]="userList && userList.length === 0 ? '' : 'hide'" matColumnDef="fifth-header-row-first-group">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="10">
            {{'No Data Available'}}
          </th>
        </div>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="no-data-available" [ngClass]="userList && userList.length === 0 ? '' : 'hide'" mat-header-row
          *matHeaderRowDef="['fifth-header-row-first-group']">
        </tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
          [ngClass]="i % 2 == 0 ? 'light-bg' : 'dark-bg'" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></tr>
    </table>
  <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]"></mat-paginator>
</div>

  <ng-template #tpl let-element>
    <tr class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
      <td colspan="10">
      <div class="grid-4">
        <div class="items">
        Assessment Date : <span>{{element && element.Date ? element.Date : '  -'}}</span>
        </div>
        <div class="items">
            Assessment venue : <span>{{element && element.Assessment_venue ? element.Assessment_venue : ' Online'}}</span>
        </div>
        <div class="items">
            Total candidates : <span>{{element && element.selected_total_count ? element.selected_total_count : '  -'}}</span>
        </div>
        <div class="items">
            Asessment time : <span>{{element && element.Time ? element.Time : '  -'}}</span>
        </div>
        <div class="items">
            Selected Candidates : <span>{{element && element.selected_candidate_count ? element.selected_candidate_count : '  -'}}</span>
        </div>
        <!-- <div style="white-space: nowrap;" class="items">
            Email of Shortlister : <span>{{element && element.email ? element.email : '  -'}}</span>
        </div> -->
      </div>
      </td>
    </tr>
  </ng-template>

    </div>
