@import '../../../../themes/themes.scss';

.reports-personal-view-wrapper {
  height: 100%;
  width: 400px;
  position: fixed;
  flex-direction: column;
  display: flex;
  right: 0px;
  top: 16px;
  z-index: 3;
  background: cyan;
  overflow-y: auto;
}
