<div class="common-userlists-wrapper">


  <div class="d-flex header-wrapper">
    <ng-container *ngIf="currentRole != 'institute'" [ngTemplateOutlet]="notInstitute"></ng-container>
    <ng-container *ngIf="currentRole == 'institute'" [ngTemplateOutlet]="isInstitute"></ng-container>
    <ng-container *ngIf="selectedUserlist != 'candidate'" [ngTemplateOutlet]="searchFilter"></ng-container>
    <ng-container *ngIf="selectedUserlist == 'candidate'" [ngTemplateOutlet]="addButton"></ng-container>
  </div>

<ng-template #notInstitute>
    <mat-radio-group
  class="radio-grp"
  (change)="selectedListChange($event)"
  [(ngModel)]="selectedUserlist"
>
  <mat-radio-button value="candidate">Candidate</mat-radio-button>
  <mat-radio-button value="institute">Institute</mat-radio-button>
  <mat-radio-button value="invPanel">Interview Panel</mat-radio-button>
  <mat-radio-button value="hr">HR</mat-radio-button>
</mat-radio-group>
</ng-template>

<ng-template #isInstitute>
  <div class="d-flex">
  <button class="submit" (click)="selectAll(true)" mat-raised-button>
    <em class="icon-checked"></em> Select All Candidates
  </button>
  <button class="submit" (click)="selectAll(false)" mat-raised-button>
    <em class="icon-checked"></em> Unselect All Candidates
  </button>
  <button class="submit" [matTooltip]="gridApi && gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? '' : 'Please select the checkboxes to send mail'" [ngClass]="gridApi && gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? '' : 'disable'" (click)="gridApi && gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? emailTriggerSeletedNodes() : ''"  mat-raised-button>
    <em class="icon-checked"></em> Send Email to Selected Candidates
  </button>
</div>
</ng-template>

<ng-template #searchFilter>
<div class="search-bar">
          <div class="search-icon">
              <img src="assets/images/feather-search.svg" alt="" srcset="">
              <input matInput (keyup)="onQuickFilterChanged()" [(ngModel)]="quickSearchValue" placeholder="Search….">
          </div>
          <ng-container *ngIf="selectedUserlist != 'institute'" [ngTemplateOutlet]="addButton"></ng-container>
      </div>
</ng-template>

<ng-template #addButton>
<button class="add-user-button" (click)="openUserFormDialog()" mat-raised-button matTooltip="Add User"><span class="material-icons pr-2">
  group_add
  </span> Add User</button>
</ng-template>

      <div *ngIf="selectedUserlist == 'candidate'" class="ag-theme-alpine red-theme">
          <ag-grid-angular style="width: 98%; height: calc(100vh - 182px); margin:auto !important;" class="ag-theme-alpine"
           [rowData]="rowData"
           [columnDefs]="columnDefs"
           [defaultColDef]="defaultColDef"
           [rowModelType]="rowModelType"
           [serverSideStoreType]="serverSideStoreType"
           [maintainColumnOrder]="true"
           [pagination]="true"
           [suppressRowClickSelection]="true"
           [paginationPageSize]="paginationPageSize"
           [rowSelection]="rowSelection"
           [cacheBlockSize]="cacheBlockSize"
           (gridReady)="onGridReady($event)"
           (sortChanged)="sortevent($event)"
           [enableCharts]="true"
           [enableRangeSelection]="true"
           (cellClicked)="onCellClicked($event)"
           (paginationChanged)="paginationChanged($event)"
           headerHeight="40"
           [animateRows]="true">
          </ag-grid-angular>
      </div>

      <div *ngIf="selectedUserlist == 'hr'" class="ag-theme-alpine red-theme">
        <ag-grid-angular style="width: 98%; height: calc(100vh - 182px); margin:auto !important;" class="ag-theme-alpine"
         [rowData]="rowData"
         [columnDefs]="columnDefs"
         [defaultColDef]="defaultColDef"
         [maintainColumnOrder]="true"
         [pagination]="true"
         [suppressRowClickSelection]="true"
         [paginationPageSize]="paginationPageSize"
         [rowSelection]="'multiple'"
         [cacheBlockSize]="cacheBlockSize"
         (gridReady)="onGridReady($event)"
         (sortChanged)="sortevent($event)"
         [enableCharts]="true"
         [enableRangeSelection]="true"
         (filterModified)="getModel($event)"
         (cellClicked)="onCellClicked($event)"
         (paginationChanged)="paginationChanged($event)"
         headerHeight="40"
         [animateRows]="true">
        </ag-grid-angular>
    </div>

    <div *ngIf="selectedUserlist =='invPanel'" class="ag-theme-alpine red-theme">
      <ag-grid-angular style="width: 98%; height: calc(100vh - 182px); margin:auto !important;" class="ag-theme-alpine"
       [rowData]="rowData"
       [columnDefs]="columnDefs"
       [defaultColDef]="defaultColDef"
       [maintainColumnOrder]="true"
       [pagination]="true"
       [suppressRowClickSelection]="true"
       [paginationPageSize]="paginationPageSize"
       [rowSelection]="'multiple'"
       [cacheBlockSize]="cacheBlockSize"
       (gridReady)="onGridReady($event)"
       (sortChanged)="sortevent($event)"
       [enableCharts]="true"
       [enableRangeSelection]="true"
       (filterModified)="getModel($event)"
       (cellClicked)="onCellClicked($event)"
       (paginationChanged)="paginationChanged($event)"
       headerHeight="40"
       [animateRows]="true">
      </ag-grid-angular>
  </div>

    <div *ngIf="selectedUserlist == 'institute'" class="ag-theme-alpine red-theme">
      <ag-grid-angular style="width: 98%; height: calc(100vh - 182px); margin:auto !important;" class="ag-theme-alpine"
       [rowData]="rowData"
       [columnDefs]="columnDefs"
       [defaultColDef]="defaultColDef"
       [maintainColumnOrder]="true"
       [pagination]="true"
       [suppressRowClickSelection]="true"
       [paginationPageSize]="paginationPageSize"
       [rowSelection]="'multiple'"
       [cacheBlockSize]="cacheBlockSize"
       (gridReady)="onGridReady($event)"
       (sortChanged)="sortevent($event)"
       [enableCharts]="true"
       [enableRangeSelection]="true"
       (filterModified)="getModel($event)"
       (cellClicked)="onCellClicked($event)"
       (paginationChanged)="paginationChanged($event)"
       headerHeight="40"
       [animateRows]="true">
      </ag-grid-angular>
  </div>

</div>

<ng-template #addUser>
  <div class="add-user-header">
    <h5>Add User</h5>
    <div (click)="closeDialog()" style="cursor: pointer;"><span class="material-icons">close</span></div>
  </div>
  <form (ngSubmit)="onUserSubmit()" [formGroup]="addUserForm">

  <div class="overall-input-wrapper width-100">
    <label>Name<span>*</span></label>
    <input matInput class="input" placeholder="Enter Name" type="text"
        [formControlName]="'name'">
    <div class="form-error" *ngIf="name?.invalid && name?.touched">
        <div *ngIf="name?.errors?.required">Name is Required</div>
        <div *ngIf="name.errors?.alphaNum255">Alpha numeric with maximum of 255 characters only allowed
        </div>
    </div>
</div>

<div class="overall-input-wrapper width-100">
  <label>Email ID<span>*</span></label>
  <input matInput class="input" placeholder="Enter Email ID" type="text"
      [formControlName]="'email'">
  <div class="form-error" *ngIf="email?.invalid && email?.touched">
      <div *ngIf="email?.errors?.required">Email ID is Required</div>
      <div *ngIf="email.errors?.email">Invalid Email Id</div>
  </div>
</div>

<div *ngIf="currentRole != 'institute'" class="overall-input-wrapper width-100">
  <label>Role<span>*</span></label>
  <mat-radio-group
  class="radio-grp"
  (change)="addValidation()"
  [formControlName]="'role'"
>
<mat-radio-button value="candidate">Candidate</mat-radio-button>
<mat-radio-button value="hr">HR</mat-radio-button>
<mat-radio-button value="interview_panel">Interview Panel</mat-radio-button>
</mat-radio-group>

  <div class="form-error" *ngIf="role?.invalid && role?.touched">
      <div *ngIf="role?.errors?.required">Role is Required</div>
      <div *ngIf="role.errors?.alphaNum255">Alpha numeric with maximum of 255 characters only allowed
      </div>
  </div>
</div>

<ng-container *ngIf="addUserForm && addUserForm.value && addUserForm.value.role">
<!-- For Candidate Role -->
<div *ngIf="addUserForm && addUserForm.value && addUserForm.value.role == 'candidate'" class="overall-input-wrapper width-100">
  <label>Tag Name<span>*</span></label>
  <input matInput class="input" placeholder="Enter Tag Name" type="text"
      [formControlName]="'tag'">
  <div class="form-error" *ngIf="tag?.invalid && tag?.touched">
      <div *ngIf="tag?.errors?.required">Tag Name is Required</div>
      <div *ngIf="tag.errors?.alphaNum255">Alpha numeric with maximum of 255 characters only allowed
      </div>
  </div>
</div>

<ng-container *ngIf="addUserForm && addUserForm.value && addUserForm.value.role == 'interview_panel'">
<div class="overall-input-wrapper width-100">
  <label>Employee ID<span>*</span></label>
  <input matInput class="input" placeholder="Enter Employee ID" type="text"
      [formControlName]="'employee_id'">
  <div class="form-error" *ngIf="employee_id?.invalid && employee_id?.touched">
      <div *ngIf="employee_id?.errors?.required">Employee ID is Required</div>
      <div *ngIf="employee_id.errors?.alphaNum255">Alpha numeric with maximum of 255 characters only allowed
      </div>
  </div>
</div>

<div class="overall-input-wrapper width-100">
  <label>Discipline<span>*</span></label>
  <nz-select class="input select" [formControlName]="'discipline'" nzAllowClear nzShowSearch
  nzPlaceHolder="<--Select-->">
  <nz-option *ngFor="let d of interviewPanelDisciplineDropdown" [nzLabel]="d.discipline_name"
      [nzValue]="d.discipline_name"></nz-option>
  </nz-select>
  <div class="form-error" *ngIf="discipline?.invalid && discipline?.touched">
      <div *ngIf="discipline?.errors?.required">Discipline is Required</div>
      <div *ngIf="discipline.errors?.alphaNum255">Alpha numeric with maximum of 255 characters only allowed
      </div>
  </div>
</div>
</ng-container>
</ng-container>
<div class="overall-input-wrapper row-btn-wrapper width-100">
  <button class="btn-add cancel" type="button" (click)="closeDialog()" mat-raised-button>Cancel</button>
  <button class="btn-add add" type="submit" mat-raised-button>Add</button>
</div>

</form>
</ng-template>
