<div class="common-userlists-wrapper">



  <ng-container *ngIf="currentRole != 'institute'">
    <div class="d-flex">
        <mat-radio-group
      class="radio-grp"
      (change)="selectedListChange($event)"
      [(ngModel)]="selectedUserlist"
    >
      <mat-radio-button value="candidate">Candidate</mat-radio-button>
      <mat-radio-button value="institute">Institute</mat-radio-button>
      <mat-radio-button value="invPanel">Interview Panel</mat-radio-button>
      <mat-radio-button value="hr">HR</mat-radio-button>
    </mat-radio-group>
</div>
</ng-container>
<ng-container *ngIf="currentRole == 'institute'">
  <div class="d-flex header-wrapper">
    <button class="submit" (click)="selectAll(true)" mat-raised-button>
      <em class="icon-checked"></em> Select All Candidates
    </button>
    <button class="submit" (click)="selectAll(false)" mat-raised-button>
      <em class="icon-checked"></em> Unselect All Candidates
    </button>
    <button class="submit" [matTooltip]="gridApi && gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? '' : 'Please select the checkboxes to send mail'" [ngClass]="gridApi && gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? '' : 'disable'" (click)="gridApi && gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? emailTriggerSeletedNodes() : ''"  mat-raised-button>
      <em class="icon-checked"></em> Send Email to Selected Candidates
    </button>
  </div>
</ng-container>
<!-- <div class="search-bar">
          <div class="search-icon">
              <img src="assets/images/feather-search.svg" alt="" srcset="">
              <input matInput (keyup)="onQuickFilterChanged()" [(ngModel)]="quickSearchValue" placeholder="Search….">

          </div>

      </div> -->

      <div *ngIf="selectedUserlist == 'candidate'" class="ag-theme-alpine red-theme">
          <ag-grid-angular style="width: 98%; height: calc(100vh - 182px); margin:auto !important;" class="ag-theme-alpine"
           [rowData]="rowData"
           [columnDefs]="columnDefs"
           [defaultColDef]="defaultColDef"
           [rowModelType]="rowModelType"
           [serverSideStoreType]="serverSideStoreType"
           [maintainColumnOrder]="true"
           [pagination]="true"
           [suppressRowClickSelection]="true"
           [paginationPageSize]="paginationPageSize"
           [rowSelection]="rowSelection"
           [cacheBlockSize]="cacheBlockSize"
           (gridReady)="onGridReady($event)"
           (sortChanged)="sortevent($event)"
           [enableCharts]="true"
           [enableRangeSelection]="true"
           (cellClicked)="onCellClicked($event)"
           (paginationChanged)="paginationChanged($event)"
           headerHeight="40"
           [animateRows]="true">
          </ag-grid-angular>
      </div>

      <div *ngIf="selectedUserlist != 'candidate'" class="ag-theme-alpine red-theme">
        <ag-grid-angular style="width: 98%; height: calc(100vh - 182px); margin:auto !important;" class="ag-theme-alpine"
         [rowData]="rowData"
         [columnDefs]="columnDefs"
         [defaultColDef]="defaultColDef"
         [maintainColumnOrder]="true"
         [pagination]="true"
         [suppressRowClickSelection]="true"
         [paginationPageSize]="paginationPageSize"
         [rowSelection]="'multiple'"
         [cacheBlockSize]="cacheBlockSize"
         (gridReady)="onGridReady($event)"
         (sortChanged)="sortevent($event)"
         [enableCharts]="true"
         [enableRangeSelection]="true"
         (filterModified)="getModel($event)"
         (cellClicked)="onCellClicked($event)"
         (paginationChanged)="paginationChanged($event)"
         headerHeight="40"
         [animateRows]="true">
        </ag-grid-angular>
    </div>

</div>
