@import '../../../themes/themes.scss';
:host ::ng-deep .mat-radio-button {
  width: auto !important;
  height: auto !important;
  margin-left: 1em;
  padding-left: 1em;
}
:host ::ng-deep .mat-radio-button:first-child {
  padding-left: 0em;
}

.header-wrapper {
  padding: 6px 18px;
  justify-content: space-between;
  align-items: center;
}

:host ::ng-deep.mail-sent {
 color: #48cc83 !important;
 padding-left: 2em;
}

.search-bar {
  margin: 0 !important;
  flex-direction: row !important;
  align-items: center !important;
  display: flex;
  // text-align: right;
}
:focus {
  border-radius: 0px;
  border: none;
  outline: none;
}
:host ::ng-deep .mat-radio-label {
  margin: 0;
}


// add-users
::ng-deep .popupModalContainerForaddUser {
  min-height: 300px;
  max-height: 600px;
  background: $white;

  .add-user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -14px;
    background: $white;
    z-index: 999;
  }

  .mat-dialog-container {
    padding: 14px !important;
    overflow: auto !important;
  }

  .width-100 {
  width: 100%;
  }

  form {
    // padding: 0 10em;
  }

.overall-input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    label {
        color: #565656;
        padding: 0 0 2px 0;
        margin: 0;
        font-size: 13px;
    }
    .input {
        position: relative;
        border: solid .8px #BEBEBE;
        border-radius: 2px;
        color: #6B6B6B;
        outline: none;
        box-sizing: border-box;
        min-height: 35px !important;
        max-height: 35px !important;
        line-height: 35px;
        padding: 4px 8px;
        background-color: $white;
        width: 100%;
    }
    .select {
        display: flex;
        align-items: center;
        padding: 0px !important;
        border: none !important;
    }
    .input:focus,.input:hover {
        border: 1px solid $primary-hover-color;
    }
    .form-error {
        color: $primary-error-text;
        font-size: 12px;
    }
    ::placeholder {
        color: #A5A5A5 !important;
        opacity: 1;
        font-size: 13px;
      }
}

input.ng-invalid.ng-touched {
  border: solid $primary-error-color 1px !important;
  .ant-select-selection {
      border: solid $primary-error-color 1px !important;
  }
}

nz-select.ng-invalid.ng-touched {
  .ant-select-selection {
    border: solid $primary-error-color 1px !important;
}
}

.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
  color: #A5A5A5 !important;
  opacity: .6 !important;
  font-size: 13px !important;
}

// Ant select drop down css
.ant-select-selection {
  border: solid .8px #BEBEBE !important;
  height: 35px !important;
  padding: 4px 8px;
  border-radius: 0px !important;
}

.ant-select-selection:hover,.ant-select-selection:focus,.ant-select-selection:active{
  border: solid $primary-hover-color 1px !important;
  border-radius: 0px !important;
  z-index: 0 !important;
  box-shadow: none !important;
}

.ant-select-selection__rendered {
  margin-left: 0 !important;
}
.mat-radio-button {
  width: auto !important;
  height: auto !important;
  margin-left: 1em;
  padding-left: 1em;
}
.mat-radio-button:first-child {
  padding-left: 0em;
}

.row-btn-wrapper {
  justify-content: center;
  flex-direction: row;
  margin: 18px 0 4px 0px;
}
.btn-add:hover {
  transform: perspective(1px) scale(1.02);
  transition: transform .5s ease;
}

.skipKyc {
  font-size: 14px;
  font-weight: 400;
  display: flex;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $primary-color !important;
}
.mat-checkbox-inner-container {
  width: 16px !important;
  height: 16px !important;
}
.mat-checkbox-label {
  font-size: 14px !important;
  padding-top: 2px;
}
}
.primary-clr {
  color: $primary-text-color;
}
