@import "../../themes/themes.scss";
.main-evaluation {
  height: 100%;
  background: $wrapper-light-gray;
}
.contant {
  padding: 5px;
  margin-top: 14px;

  .head {
    font-weight: 400;
    color: #808080;
    font-size: 13px;
  }
  .ans {
    font-weight: 400;
    color: #282828;
    // display: flex;
  }
}
th.mat-header-cell {
  background: $blue-3 0% 0% no-repeat padding-box;
  color: $black;
}
.space {
  margin-top: 15px !important;
}
// .submit {
//   background-color: $blue-4;
//   color: $white;
// }
.bg {
  color: #545454;
  height: 43px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5em;
  .col-12 {
    padding:0 ;
  }
}
.bg-2 {
  background: $disable-gray !important;
  height: 32px;
  padding-top: 6px;
  color: $black;
}

:host ::ng-deep.mat-form-field-wrapper {
  position: relative;
  height: 53px !important;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0px !important;
  padding: 0px !important;
  border: 1px solid;
  height: 34px;
}

:host ::ng-deep .mat-form-field {
  line-height: 1.125 !important;
}
.head-h5 {
  color: $blue-4;
}

.vertical {
  border-left: 61px solid $blue-4;
  max-width: 100%;
  height: 5px;
  position: absolute;
  left: 6px;
  margin-top: -5px;
  border-radius: 17px;
}
.margin {
  margin-left: 5px;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background: $wrapper-light-gray;
}
.radioButtonCell {
  width: 75px;
  text-align: center;
  position: relative;
}

.headerCell {
  text-align: center;
}

.border-right {
  border-right: 1px solid $black !important;
  padding-left: 7%;
  padding-right: 7%;
}
.in-box {
  border: 1px solid #d9d9d9;
  height: 31px;
}
.box {
  border: 1px solid;
  padding: 6px;
  width: 100%;
  display: flex;
}
.example-full-width {
  width: 100%;
}
.pad-bootom {
  padding-bottom: 10px;
}
.text {
  font-weight: 400;
}
.text-cnt {
  text-align: center;
}

textarea {
  resize: none;
  color: $black !important;
}
.place {
  border: 1px solid rgb(217 217 217);
  margin-top: -8px;
  border-radius: 3px;
  height: 35px;
  width: 200px !important;
  outline: none;
}
.height-35 {
  height: 35px;
}
.date {
  border: 1px solid rgb(217 217 217);
  display: flex;
  align-items: center;
  width: 200px;
  margin-top: -8px;
  input {
    outline: none;
    border: none;
    height: 33px;
  }
}
.radioDisp {
  display: contents;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.indent {
  text-indent: -0.5em;
}
.main-evaluation {
  input,
  textarea {
    width: 100%;
    outline: none;
    padding: 4px !important;
    color: $secondary !important;
    border-radius: 3px;
  }
  input:hover,
  textarea:hover {
    border: solid 1px $primary-input-border-color;
  }

}

.col-7 {
  align-items: center !important;
  display: flex !important;
}
.validation {
  margin-top: -0.5em;
  font-size: 12px;
  font-weight: 400;
  color: $red;
}
.validation1 {
  font-size: 12px;
  font-weight: 400;
  color: $red;
}
textarea {
  border: 1px solid #d9d9d9;
}
textarea.ng-touched.ng-invalid, input.ng-touched.ng-invalid {
  border: solid $red 1px;
}
.row {
  align-items: center;
}
.no-center-align {
  align-items: flex-start !important;
}
.last-button {
  display: flex;
  justify-content: center;
  text-align: center;
}

:host ::ng-deep .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  cursor: not-allowed !important;
}
:host ::ng-deep .mat-radio-disabled {
  cursor: not-allowed !important;
  .mat-radio-label {
    cursor: not-allowed !important;
  }
}
:host ::ng-deep .mat-datepicker-toggle {
  padding: 4px;
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  .mat-icon-button {
    height: 26px;
    width: 20px;
  }
}
