@import '../../../themes/themes.scss';

.top-wrapper {
  background: $white;
  width: 100%;
  padding: 0.5em .25em;
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    .inner-flex {
      display: flex;
      flex-direction: column;
      width: 100%;
      .heading {
        font-weight: 200;
        font-size: 13px;
        margin-left: 0.5em;
        margin-top: 0.5em;
        color: $light-black;
      }
      .grid-wrapper {
        display: grid;
        // grid-template-columns: 0.7fr 1.3fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        .group {
          margin: 0.5em;
          display: grid;
          grid-template-columns: .05fr 1.2fr;
          .label {
            color: $light-black;
            font-size: 13px;
            white-space: nowrap;
          }
          .value {
            font-size: 13px;
            color: $header-blue;
            .labels {
              background: $white-primary 0% 0% no-repeat padding-box;
              box-shadow: $shadow-light-black;
              padding: 1px 6px;
              text-align: center;
            }
          }
        }
      }
    }
    .right-flex {
      display: flex;
      flex-direction: column;
      width: 35%;
      justify-content: center;
      text-align: center;
      .heading {
        font-weight: 200;
        font-size: 13px;
        margin: 0.5em 0 0.5em 0.5em;
        color: $light-black;
      }
      .grid {
        margin: 0 0 0.5em 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button,
        button:focus {
          width: 110px;
          height: 30px;
          background: $light-blue;
          display: flex;
          justify-content: center;
          color: $white;
          font-weight: 200;
          align-items: center;
          font-size: 13px;
          .eye {
            width: 16px;
            margin-right: 12px;
          }
          .download {
            width: 13px;
            height: 13px;
            margin-right: 12px;
          }
        }
        button:first-child {
          margin-bottom: 4px;
        }
      }
    }
  }
}

.details-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .nameinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    .img {
      width: 50px;
      height: 50px;
      border: 1px solid #d0d0d0;
      border-radius: 50px;
      overflow: hidden;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    div:nth-child(2) {
      font-size: 24px;
      line-height: 1.1;
      margin-right: 50px;
      white-space: nowrap;
      span {
        font-size: 13px;
        color: #808080;
        display: block;
      }
    }

  }
  .iconinfo {
    color: #808080;
  }
  .statusinfo {
    display: flex;
    white-space: nowrap;
    align-items: center;
    color: #808080;
    min-width: 200px;
    justify-content: space-around;
  }

}


::ng-deep span.status {
  background-color: #bababa;
  color: #666666 ;
  border-radius: 4px;
  display: inline-block;
  line-height: 0.7;
  font-size: 11px;
  padding: 7px 8px;

  &.inprogress {
  background-color: #ffbc00;
  color: #fff;
  }
  &.completed {
    background-color: #48cc83;
    color: #fff;
    }
  &.rejected {
    background-color: #c02222;
    color: #fff;
  }
}