<div class="top-wrapper">
  <div class="flex-wrapper">
    <div class="inner-flex">
      <div class="grid-wrapper">
        <div class="details-section">
          <div class="nameinfo">
            <div>
              <div class="img">
                <img [src]="profilePic" alt="name" />
              </div>
            </div>
            <div>
              <span>CID: {{cid ? cid : '-'}}</span>
              {{name ? name : '-'}}
            </div>
          </div>
          <div class="iconinfo">
            <span>
              <em class="icon"></em>
            </span>
          </div>
          <div class="statusinfo">
            Video Assessment Status:
            <span *ngIf="videoEvaluationStatus == 'Not Scheduled'" class="ml-2 status scheduled">{{videoEvaluationStatus}}</span>
            <span *ngIf="videoEvaluationStatus == 'Time Expired'" class="ml-2 status scheduled">{{videoEvaluationStatus}}</span>
            <span *ngIf="videoEvaluationStatus == 'Yet to complete the assessment'" class="ml-2 status scheduled">{{videoEvaluationStatus}}</span>
            <span *ngIf="videoEvaluationStatus == 'Submitted'" class="ml-2 status completed">{{videoEvaluationStatus}}</span>
            <span *ngIf="videoEvaluationStatus != 'Not Scheduled' && videoEvaluationStatus != 'Time Expired' && videoEvaluationStatus != 'Submitted' && videoEvaluationStatus != 'Yet to complete the assessment'" class="ml-2 status inprogress">{{videoEvaluationStatus}}</span>
          </div>
          <div class="statusinfo">
            Evaluation Status:
            <span *ngIf="status != '1' && status != '2'" class="status ml-2 scheduled">{{'Scheduled'}}</span>
            <span *ngIf="status == '1'" class="status ml-2 inprogress">{{'Completed'}}</span>
            <span *ngIf="status == '2'" class="status ml-2 completed">{{'Submitted'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
