<div class="top-wrapper">
  <div class="flex-wrapper">
    <div class="inner-flex">
      <div class="grid-wrapper">
        <div class="details-section">
          <div class="nameinfo">
            <div>
              <div class="img">
                <img src="" alt="name" />
              </div>
            </div>
            <div>
              <span>CID: {{cid ? cid : '-'}}</span>
              {{name ? name : '-'}}
            </div>
          </div>
          <div class="iconinfo">
            <span>
              <em class="icon"></em>
            </span>
          </div>
          <div class="statusinfo">
            Interview Status:
            <span class="status"
              [ngClass]="{'completed' : status == 'completed',  'inprogress' : status == 'in progress', 'rejected' : status == 'Rejected'}">{{status
              && status != '0' ? 'Completed' : 'Schedule'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>