// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$udap-registration-primary: mat-palette($mat-indigo);
$udap-registration-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$udap-registration-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$udap-registration-theme: mat-light-theme(
  $udap-registration-primary,
  $udap-registration-accent,
  $udap-registration-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($udap-registration-theme);

$alt-registration-primary: mat-palette($mat-yellow, 600);
$alt-registration-accent: mat-palette($mat-yellow, A200, A100, A400);

$alt-registration-dark-theme: mat-dark-theme(
  $alt-registration-primary,
  $alt-registration-accent
);
.alternative {
  @include angular-material-theme($alt-registration-dark-theme);
}

@import "./app/themes/themes.scss";
/* You can add global styles to this file, and also import other style files */
/* Import font family */

// Font ROBOTO
@font-face {
  font-family: "Roboto";
  src: url("^assets/fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("^assets/fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("^assets/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("^assets/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("^assets/fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 50;
  font-style: normal;
}

// Font OPEN SANS

@font-face {
  font-family: "Open Sans";
  src: url("^assets/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("^assets/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("^assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 100;
  transition-duration: 580ms;
  transition-timing-function: ease;
  // transition: 5s ease-in-out;
  // background-color: $overlay-layer-bg;
}

@mixin sm {
  @media screen and (max-width: 600px) {
    @content;
  }
}
@mixin md {
  @media screen and (min-width: 600px) and (max-width: 900px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 900px) {
    @content;
  }
}
@mixin cus-width($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

// Mat checkbox
.mat-checkbox-inner-container {
  display: inline-block;
  line-height: 0;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: 8px;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 14px !important;
  height: 14px !important;
  flex-shrink: 0;
}
::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #2ba54b !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #2ba54b !important;
}
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background-color: #2ba54b !important;
}
.mat-column-checked {
  text-align: center !important;
}
.shortlist-candidates-wrapper {
  .mat-column-dob {
    white-space: nowrap !important;
  }
  .mat-sort-header-container {
    // justify-content: center !important;
  }
}
.mat-paginator {
  font-size: 13px !important;
}

// Mat radio
.mat-radio-button {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  width: 12px !important;
  height: 12px !important;
}
.mat-radio-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  vertical-align: text-top !important;
  width: 100%;
}
.mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 12px !important;
  height: 12px !important;
  flex-shrink: 0;
}
.mat-radio-outer-circle {
  box-sizing: border-box;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
  width: 12px !important;
  height: 12px !important;
  border-width: 1px !important;
  border-style: solid;
  border-radius: 50%;
}
.mat-radio-outer-circle {
  border-color: #1f3777;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #1f3777;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1f3777 !important;
}
.mat-radio-inner-circle {
  border-radius: 50%;
  box-sizing: border-box;
  height: 12px !important;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform ease 280ms, background-color ease 280ms;
  width: 12px !important;
  transform: scale(0.001);
}
.mat-radio-button .mat-radio-ripple {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  height: 0;
  width: 0;
  z-index: 1;
  pointer-events: none;
}

// Ant design Tabs
.criteria {
  .ant-checkbox-wrapper {
    width: 14px !important;
    height: 14px !important;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2ba54b !important;
    border-color: #2ba54c !important;
    width: 15px !important;
    height: 14px !important;
  }
  .ant-checkbox-inner {
    width: 15px !important;
    height: 14px !important;
  }

  .mat-button-wrapper {
    line-height: 0px !important;
  }
  .mat-datepicker-toggle-default-icon {
    width: 20px !important;
  }
  .mat-icon-button.mat-button-base {
    width: auto !important;
    height: 26px !important;
    line-height: 0px !important;
  }
}
.mat-datepicker-content .mat-calendar {
  width: 220px !important;
  height: auto !important;
}

:root .ant-tabs-tab-prev-icon-target,
:root .ant-tabs-tab-next-icon-target {
  font-size: 16px !important;
  background: white !important;
  border-radius: 50% !important;
}
.ant-tabs-tab-prev.ant-tabs-tab-arrow-show,
.ant-tabs-tab-next.ant-tabs-tab-arrow-show {
  width: 15px !important;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  color: $black !important;
}

.ant-tabs-bar {
  margin: 0 0 0px 0;
  border-bottom: none;
  outline: none;
  transition: none !important;
}
.ant-tabs-tab {
  height: auto !important;
  color: $black;
  min-width: 140px !important;
  max-width: 100% !important;
  font-weight: 200 !important;
  line-height: 35px !important;
  font-size: 13px !important;
}
.ant-tabs-tab:hover {
  color: $black !important;
  font-weight: 200 !important;
  font-size: 13px !important;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 32px !important;
  .tab-span {
    float: right;
    width: 15px;
    background-image: url("^assets/images/awesome-sort.svg");
    background-repeat: no-repeat;
    height: 12px;
    position: absolute;
    left: 85%;
    top: 58%;
    margin: 0 0 0 0.5em !important;
    transform: translate(-50%, -50%);
  }
}
.ant-tabs-tab {
  line-height: 32px !important;
  height: auto !important;
  background: $white-primary !important;
  box-shadow: $shadow-light-custom !important;
  border-radius: 5px 5px 5px 5px !important;
  margin: 0 0 0 8px !important;
  border-bottom: 0.5px solid #70707057 !important;
}
.ant-tabs-tab:first-child {
  margin: 0 0 0 8px !important;
}

.ant-tabs-tab-active {
  color: $black !important;
  padding-bottom: 1px !important;
  height: auto !important;
  background: $tab-bg 0% 0% no-repeat padding-box !important;
  border: 0.5px solid #70707057 !important;
  box-shadow: $shadow-light-black-29 !important;
  border-radius: 9px 9px 2px 2px !important;
  border-bottom: none !important;
  font-weight: 200 !important;
  line-height: 32px !important;
  font-size: 13px !important;
  .tab-span {
    float: right;
    width: 15px;
    background-image: url("^assets/images/awesome-sort-1.svg") !important;
    background-repeat: no-repeat;
    height: 12px;
    position: absolute;
    left: 85%;
    top: 58%;
    transform: translate(-50%, -50%);
  }
}

// .ant-tabs .ant-tabs-top-content,
// .ant-tabs .ant-tabs-bottom-content {
//   width: 100%;
//   position: relative;
//   margin: 0px 0 0 0px;
// }

.ant-tabs-content {
  background: $tab-bg 0% 0% no-repeat padding-box !important;
  box-shadow: $shadow-light-black-29 !important;
  border: 0.5px solid #70707057;
  border-top: none !important;
  min-height: 40vh;
  max-height: 100%;
  border-radius: 6px;
  width: 100%;
  padding: 1em;
  margin: 0 0 0.5em 0;
  // display: flex;
  // align-items: center;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  transition: none !important;
  line-height: 32px !important;
}
// .ant-tabs {
//   line-height: 35px !important;
// }

.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
  top: 0.8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}

.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
  outline: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
  position: relative;
  bottom: 10px;
  outline: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.custom-control-input {
  position: absolute;
  top: 20px;
}

.ant-radio-inner {
  width: 15px;
  height: 15px;
  border-color: $secondary !important;
}
.ant-radio-group {
  display: flex;
}

.ant-radio-wrapper {
  display: flex;
  align-items: center;
}
span.ant-radio + * {
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 100;
  font-size: 17px;
  color: $secondary;
}
.view-page {
  .ant-radio-inner {
    width: 15px;
    height: 15px;
    border-color: $light-black !important;
  }

  span.ant-radio + * {
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 100;
    font-size: 17px;
    color: $light-black;
  }

  .ant-radio-inner::after {
    background: $light-black;
  }
}

.ant-select-selection {
  width: 100% !important;
  display: flex;
  height: 100%;
  align-items: center;
}
.ant-select-selection__rendered {
  overflow: hidden !important;
  width: 100%;
}
.ant-select-selection-selected-value {
  padding-right: 10px !important;
}

button:focus {
  outline: none !important;
}
.anticon.ant-select-close-icon {
  font-size: 16px;
  margin-left: -0.25em;
  color: $primary;
}
.ant-select-arrow {
  position: absolute;
}
.anticon.ant-select-arrow-icon::after {
  // .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  margin-top: 0.25em;
  border-top: 0.5em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  color: $primary;
  opacity: 0.9;
  // // background: black !important;
  // color: white;
  // background-image: url(^assets/images/path.svg);
  // z-index: 4;
  // width: 13px;
  // height: 15px;
  // padding: 0 0em 0 -0.25em;
  // background-position: center;
  // background-repeat: no-repeat;
}
.ant-select-arrow-icon {
  svg {
    display: none !important;
    visibility: hidden !important;
  }
}

.ant-notification-notice {
  position: relative;
  margin-top: 50% !important;
  // margin-bottom: 16px;
  padding: 16px 24px;
  overflow: hidden;
  line-height: 1.5;
  background: $secondary !important;
  color: #fff !important;
  font-weight: 200;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.ant-notification-notice-message {
  color: #fff !important;
}

.mat-dialog-container {
  display: block;
  padding: 0 !important;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
/* snack bar */

.mat-snack-bar-container {
  position: absolute !important;
  top: 30% !important;
  left: 50% !important;
  padding: 0.25em;
  margin: 0 !important;
  padding: 0.5em 0 !important;
  display: grid !important;
  align-items: center !important;
  transform: translate(-50%, -50%) !important;
}
.warn-bg-color {
  color: $white;
  background-color: #ff0000;
  font-weight: 200;
  font-size: 16px;
  border-radius: none;
  height: 100%;
  z-index: 20;
  box-shadow: 0px 0px 5px #00000029;
  border-radius: 10px;
  z-index: 1000;
  margin: 0 !important;
  position: absolute;
  height: auto !important;
}

.success-bg-color {
  color: $white;
  background-color: #1ccc3f;
  // background-color: #228b22;
  font-weight: 200;
  font-size: 16px;
  border-radius: none;
  height: 100%;
  z-index: 20;
  box-shadow: 0px 0px 5px #00000029;
  border-radius: 10px;
  z-index: 1000;
  margin: 0 !important;
  position: absolute;
  height: auto !important;
  // transform: translate(-50%, -50%);
}

.no-space {
  white-space: nowrap;
}
.top-border {
  border-top: 1px solid #145e9a79 !important;
  border-radius: 5px 5px 0px 0px;
}
.left-1 {
  margin: 0 0 0 1em;
}
.bg-change {
  background: #f7f7f7 0% 0% no-repeat padding-box !important;
}

.mat-tooltip {
  // background-color: $red-1;
  color: $white;
  font: 12.5px "Open Sans";
  font-weight: 200;
}
// Admin sidenav scrollbar
.mat-drawer-inner-container {
  overflow: hidden !important;
}

// Admin Usermanagement users list mat table
.user-list-wrapper {
  thead {
    box-shadow: $shadow-light-black-29 !important;
    margin-bottom: 2em;
  }
  .mat-sort-header-button {
    outline: none;
  }
  mat-paginator {
    display: inline-flex;
    flex-flow: row-reverse;
    opacity: 0.85;
    width: 100%;
    align-items: center;
    height: 50px;
    color: $black;
    font-size: 16px;
    outline: none;
    border: none;
    background: $blue-3 0% 0% no-repeat padding-box;
    box-shadow: $shadow-light-black-29 !important;
  }
  .tooltip-red {
    display: flex;
    background-color: red;
    flex-flow: row-reverse;
  }
}

// To Prevent aligning from center by default
.mat-input-element {
  text-align: left !important;
}
// Registerpage component
.grid-wrapper,
.grid-wrapper-1,
.grid-wrapper-languages,
.bottom-form-wrapper {
  nz-select.ng-invalid.ng-touched,
  input.ng-invalid.ng-touched {
    border: solid $red 1px !important;
  }
}
.mainwrapper {
  input.ng-invalid.ng-touched,
  nz-month-picker.ng-invalid.ng-touched,
  nz-select.ng-invalid.ng-touched {
    border: solid $red 1px !important;
  }
}
.main-wrapper {
  input.ng-invalid.ng-touched,
  nz-month-picker.ng-invalid.ng-touched,
  nz-select.ng-invalid.ng-touched {
    border: solid $red 1px !important;
  }
  .ant-input:placeholder-shown {
    visibility: hidden !important;
  }
  .ant-calendar-picker-input {
    padding: 0 !important;
  }
  .ant-calendar-picker-icon {
    right: 0;
  }
  .ant-calendar-picker-clear {
    right: 0px !important;
  }
}

// Registerpage component
.register-wrapper {
  input.ng-invalid.ng-touched,
  select.ng-invalid.ng-touched {
    border: solid $red 1px !important;
  }
  .mat-autocomplete-panel {
    background: $light-white 0% 0% no-repeat padding-box;
    box-shadow: $shadow-dark !important;
  }
}

// css called in Register page .. Have put it in global bcz auto complete panel relies in body element
.mat-autocomplete-panel {
  background: $light-white 0% 0% no-repeat padding-box;
  box-shadow: $shadow-dark !important;
  max-height: 300px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  border: 1px solid $blue !important;
}
.viewport {
  height: 200px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto !important;
}

.mat-autocomplete-panel.mat-autocomplete-visible {
  max-height: 200px !important;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scroll-bg;
}
.register-wrapper {
  ::-webkit-scrollbar-track {
    background: $scroll-bg;
    border-top: solid $blue 1px !important;
    border-bottom: solid $blue 1px !important;
    border-right: solid $blue 1px !important;
  }
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent linear-gradient(90deg, #e4e4e4 0%, #969696 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 50px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent linear-gradient(90deg, #e2dcdc 0%, #8f8f8f 100%) 0% 0%
    no-repeat padding-box;
}
.qualify-wrapper {
  ::-webkit-scrollbar {
    width: 8px;
    display: none;
  }
}
