// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// @import "./assets/css/fonts.scss";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$primary: $mat-blue;
$accent: $mat-orange;
$warn: $mat-red;
$lxp-theme-primary:mat-palette($mat-blue, 800);
$lxp-theme-accent:mat-palette($accent, 900);
$lxp-theme-warn:mat-palette($warn);
$lxp-theme: mat-light-theme($lxp-theme-primary, $lxp-theme-accent, $lxp-theme-warn);
@include angular-material-theme($lxp-theme);
@import "./app/themes/themes.scss";
@import "fonts";
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    transition-duration: 580ms;
    transition-timing-function: ease;
}

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
// @import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
// @import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
// @import "../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin.scss";
// @import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin.scss";
// .ag-theme-alpine {
//     @include ag-theme-alpine();
// }
// .ag-theme-balham {
//     @include ag-theme-balham();
// }
// .ag-theme-material {
//     @include ag-theme-material();
// }
.ag-theme-material .ag-checkbox-input-wrapper {
    background: none;
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
    color: $primary-red;
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-indeterminate::after {
    color: $primary-red;
}

// New
.ag-theme-material .ag-checkbox-input-wrapper {
    background: none;
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
    color: $primary-red;
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-indeterminate::after {
    color: $primary-red;
}

.ag-theme-alpine input[class^="ag-"][type="text"]:focus {
    box-shadow: none !important;
    border: 1px solid $primary-red;
}

.ag-theme-alpine .ag-row-selected {
    background-color: $lineColor;
}

.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
    // border-color: $color-dark-border;
    border: none;
}

.ag-theme-alpine .ag-checkbox-input-wrapper:focus-within,
.ag-theme-alpine .ag-checkbox-input-wrapper:active {
    box-shadow: none !important;
}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked::after {
    content: "\f106";
    color: $primary-red !important;
}

// .ag-paging-panel {
//   background: $footer-bg !important;
//   height: 30px !important;
//   font-weight: 400 !important;
//   color: black !important;
//   margin-bottom: 20px !important;
// }
.ag-paging-panel {
    background: $footer-bg !important;
    height: 35px !important;
    font-weight: 400 !important;
    color: black !important;
    margin-bottom: 0px !important;
}

.ag-row-hover {
    background-color: $ag-hover !important;
}

.ag-row-even {
    background-color: $th-bg;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

@mixin sm {
    @media screen and (max-width: 600px) {
        @content;
    }
}

@mixin md {
    @media screen and (min-width: 600px) and (max-width: 900px) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: 900px) {
        @content;
    }
}

@mixin cus-width($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

// Fontsizes
.f_size_12 {
    font-size: 12px !important;
}

.f_size_13 {
    font-size: 13px !important;
}

.f_size_14 {
    font-size: 14px !important;
}

.f_size_15 {
    font-size: 15px !important;
}

.f_size_16 {
    font-size: 16px !important;
}

.f_size_17 {
    font-size: 17px !important;
}

.f_size_18 {
    font-size: 18px !important;
}

.f_size_19 {
    font-size: 19px !important;
}

.f_size_20 {
    font-size: 20px !important;
}

.f_size_21 {
    font-size: 21px !important;
}

.f_size_22 {
    font-size: 22px !important;
}

.f_size_23 {
    font-size: 23px !important;
}

.f_size_25 {
    font-size: 25px !important;
}

.f_size_30 {
    font-size: 30px !important;
}

// Mat drawer css override
.ant-drawer.ant-drawer-right {
    top: 100px !important;
}

.ant-drawer-content {
    overflow: auto !important;
}

.ant-drawer-content-wrapper {
    width: 500px !important;
    box-shadow: none !important;
    .ant-drawer-content {
        background: $white 0% 0% no-repeat padding-box;
        box-shadow: $shadow-light-black;
        border: 0.5px solid $gray-dark;
        border-radius: 20px 0px 0px 20px;
    }
    .ant-drawer-body {
        padding: 0px !important;
        font-size: 13px;
        word-wrap: break-word;
        .view-wrapper {
            .head {
                padding: 0 0 0 20px;
                display: flex;
                background: #29608d 0% 0% no-repeat padding-box;
                justify-content: space-between;
                align-items: center;
                .left {
                    .grid {
                        padding: 4px;
                        display: grid;
                        grid-template-columns: 0.7fr 1fr;
                        color: $white;
                        font-weight: 200;
                        font-size: 14px;
                        .name {
                            white-space: nowrap;
                            margin: 0 4px 4px 0;
                        }
                        .candidate {
                            white-space: nowrap;
                            margin: 0 4px 4px 0;
                        }
                    }
                }
                .right {
                    background-color: #3274aa !important;
                    border-left: 1px solid #ffffff;
                    height: 58px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .icon {
                        padding: 10px;
                        img {
                            width: 13px;
                        }
                    }
                }
            }
            .scroll-enable {
                max-height: 430px;
                overflow-y: auto;
                .four-grid {
                    padding: 10px 10px 10px 24px;
                    display: grid;
                    grid-template-columns: 0.5fr 1fr 1fr 1.5fr;
                    align-items: center;
                    border-bottom: 0.5px solid #6666667c;
                    .dob {
                        margin: 0 0 0 1em;
                    }
                    .mob {
                        margin: 0 0 0 0.25em;
                    }
                    .group {
                        margin: 4px 0;
                        .head {
                            background: transparent !important;
                            color: #145e9a;
                            font-size: 12px;
                            font-weight: 200;
                            padding: 0;
                        }
                        .content {
                            font-weight: 100;
                            color: $light-black;
                            font-size: 12px;
                        }
                    }
                }
                .one-grid {
                    padding: 10px 10px 16px 24px;
                    align-items: center;
                    display: grid;
                    grid-template-columns: 1fr;
                    border-bottom: 0.5px solid #6666667c;
                    .group {
                        margin: 4px 0;
                        .head {
                            background: transparent !important;
                            color: #145e9a;
                            font-size: 12px;
                            font-weight: 200;
                            padding: 0;
                        }
                        .content {
                            font-weight: 100;
                            color: $light-black;
                            font-size: 12px;
                        }
                    }
                }
                .clg-details {
                    margin: 0.5em 0.5em;
                    .level-head {
                        color: $light-black;
                        font-size: 13px;
                        font-weight: 200;
                        margin: 0 0 0 4px;
                    }
                    .three-grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr 2fr;
                        padding: 4px 10px 4px 24px;
                        .group {
                            margin: 4px 0;
                            .head {
                                background: transparent !important;
                                color: #145e9a;
                                font-size: 12px;
                                font-weight: 200;
                                padding: 0;
                            }
                            .content {
                                font-weight: 100;
                                color: $light-black;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ant-drawer-mask {
    // left: 220px !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    // background: none !important;
    // left: 150px !important;
}

// Mat checkbox
.mat-checkbox-inner-container {
    display: inline-block;
    line-height: 0;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 14px !important;
    height: 14px !important;
    flex-shrink: 0;
}

.mat-column-checked {
    text-align: center !important;
}

.mat-checkbox-ripple,
.mat-radio-ripple {
    display: none !important;
}

.mat-paginator {
    font-size: 13px !important;
}

.asterick {
    color: $red;
}

.first-level-reports,
.candidate-bulk-reports {
    td.mat-cell:last-of-type {
        padding-right: 0em !important;
    }
    th.mat-header-cell:last-of-type {
        padding-right: 0em !important;
    }
    .mat-sort-header-container {
        display: flex;
        justify-content: left;
    }
    .mat-cell {
        text-align: left;
        height: 40px !important;
    }
    .mat-row {
        height: 40px !important;
    }
    .mat-column-foldername {
        text-align: left;
        padding-left: 5% !important;
    }
    .mat-column-shortlistname {
        text-align: left;
        padding-left: 5% !important;
    }
    .mat-column-shortlistby {
        text-align: left;
        padding-left: 5% !important;
    }
    .mat-column-uid {
        text-align: left;
        // padding-left: 5% !important;
    }
    .table-row {
        height: 40px !important;
    }
    .mat-row {
        max-height: 40px;
    }
    .mat-cell.mat-column-pdf {
        display: flex;
        height: 16px !important;
        justify-content: center !important;
        align-items: center !important;
        .mat-button-wrapper {
            height: 25px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    tr.mat-header-row {
        height: 40px !important;
    }
    .mat-paginator {
        height: 40px !important;
    }
}

.hall-ticket-wrapper {
    .mat-sort-header-container {
        display: flex;
        justify-content: center;
    }
    .mat-cell {
        text-align: center;
        height: 30px !important;
    }
    .mat-row {
        height: 30px !important;
    }
    .mat-column-assement_name {
        text-align: left;
        padding-left: 5% !important;
    }
    .table-row {
        height: 30px !important;
    }
    .mat-row {
        max-height: 30px;
    }
    .mat-cell.mat-column-pdf {
        display: flex;
        height: 16px !important;
        justify-content: center !important;
        align-items: center !important;
        .mat-button-wrapper {
            height: 25px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    tr.mat-header-row {
        box-shadow: 0px 3px 6px #00000029 !important;
        height: 40px !important;
    }
    .mat-paginator {
        height: 40px !important;
    }
}

.approval-institute {
    .ant-radio-group {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // td.mat-column-approve {
    //   text-align: center;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }
}

.mat-column-field_first_name {
    white-space: nowrap;
}

.ant-select-dropdown-menu-item {
    font-size: 13px !important;
}

.shortlist-wrapper,
.modal-box-wrapper {
    .ant-radio-wrapper {
        span:nth-child(2) {
            font-size: 13.5px !important;
            font-weight: 200;
        }
    }
}

.tpo-pre-assessment-wrapper {
    .mat-datepicker-toggle {
        display: flex !important;
    }
    .mat-icon-button {
        width: 20px !important;
        height: 20px !important;
    }
    .mat-button-wrapper {
        height: 20px !important;
        width: 20px !important;
    }
    .anticon.ant-select-close-icon {
        font-size: 13px !important;
        margin-left: -0.1em !important;
        color: #666666;
    }
    .mat-sort-header-container {
        justify-content: center !important;
    }
    td {
        text-align: center;
    }
}

// Mat radio
.mat-radio-button {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    width: 12px;
    height: 12px;
}

.mat-radio-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    vertical-align: text-top !important;
    width: 100%;
}

.mat-radio-container {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 12px !important;
    height: 12px !important;
    flex-shrink: 0;
}

.mat-radio-outer-circle {
    box-sizing: border-box;
    left: 0;
    position: absolute;
    top: 0;
    transition: border-color ease 280ms;
    width: 12px !important;
    height: 12px !important;
    border-width: 1px !important;
    border-style: solid;
    border-radius: 50%;
}

.mat-radio-outer-circle {
    border-color: $primary-red;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $primary-red;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primary-red !important;
}

.mat-radio-inner-circle {
    border-radius: 50%;
    box-sizing: border-box;
    height: 12px !important;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform ease 280ms, background-color ease 280ms;
    width: 12px !important;
    transform: scale(0.001);
}

.mat-radio-button .mat-radio-ripple {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    height: 0;
    width: 0;
    z-index: 1;
    pointer-events: none;
}

// Ant design Tabs
.criteria {
    .ant-checkbox-wrapper {
        width: 14px !important;
        height: 14px !important;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: $secondary !important;
        border-color: #2ba54c !important;
        width: 15px !important;
        height: 14px !important;
    }
    .ant-checkbox-inner {
        width: 15px !important;
        height: 14px !important;
    }
    .mat-button-wrapper {
        line-height: 0px !important;
    }
    .mat-datepicker-toggle-default-icon {
        width: 20px !important;
    }
    .mat-icon-button.mat-button-base {
        width: auto !important;
        height: 26px !important;
        line-height: 0px !important;
    }
}

.mat-datepicker-content .mat-calendar {
    // width: 220px !important;
    height: auto !important;
}

:root .ant-tabs-tab-prev-icon-target,
:root .ant-tabs-tab-next-icon-target {
    font-size: 16px !important;
    background: white !important;
    border-radius: 50% !important;
}

.ant-tabs-tab-prev.ant-tabs-tab-arrow-show,
.ant-tabs-tab-next.ant-tabs-tab-arrow-show {
    width: 15px !important;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
    color: $black !important;
}

.ant-tabs-bar {
    margin: 0 0 0px 0;
    border-bottom: none;
    outline: none;
    transition: none !important;
}

.ant-tabs-tab {
    height: auto !important;
    color: $black;
    min-width: 120px !important;
    max-width: 100% !important;
    font-weight: 200 !important;
    line-height: 35px !important;
    font-size: 13px !important;
}

.ant-tabs-tab:hover {
    color: $black !important;
    font-weight: 200 !important;
    font-size: 13px !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 32px !important;
    .tab-span {
        float: right;
        width: 15px;
        background-image: url("^assets/images/awesome-sort.svg");
        background-repeat: no-repeat;
        height: 12px;
        position: absolute;
        left: 85%;
        top: 58%;
        margin: 0 0 0 0.5em !important;
        transform: translate(-50%, -50%);
    }
}

.ant-tabs-tab {
    line-height: 32px !important;
    height: auto !important;
    background: $white-primary !important;
    box-shadow: $shadow-light-custom !important;
    border-radius: 5px 5px 5px 5px !important;
    margin: 0 0 0 8px !important;
    border-bottom: 0.5px solid #70707057 !important;
}

.ant-tabs-tab:first-child {
    margin: 0 0 0 8px !important;
}

.ant-tabs-tab-active {
    color: $black !important;
    padding-bottom: 1px !important;
    height: auto !important;
    background: $tab-bg 0% 0% no-repeat padding-box !important;
    border: 0.5px solid #70707057 !important;
    box-shadow: $shadow-light-black-29 !important;
    border-radius: 9px 9px 2px 2px !important;
    border-bottom: none !important;
    font-weight: 200 !important;
    line-height: 32px !important;
    font-size: 13px !important;
    .tab-span {
        float: right;
        width: 15px;
        background-image: url("^assets/images/awesome-sort-1.svg") !important;
        background-repeat: no-repeat;
        height: 12px;
        position: absolute;
        left: 85%;
        top: 58%;
        transform: translate(-50%, -50%);
    }
}

// .ant-tabs .ant-tabs-top-content,
// .ant-tabs .ant-tabs-bottom-content {
//   width: 100%;
//   position: relative;
//   margin: 0px 0 0 0px;
// }
.ant-tabs-content {
    background: $tab-bg 0% 0% no-repeat padding-box !important;
    box-shadow: $shadow-light-black-29 !important;
    border: 0.5px solid #70707057;
    border-top: none !important;
    min-height: 40vh;
    max-height: 100%;
    border-radius: 6px;
    width: 100%;
    padding: 1em;
    margin: 0 0 0.5em 0;
    // display: flex;
    // align-items: center;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    transition: none !important;
    line-height: 32px !important;
}

// .ant-tabs {
//   line-height: 35px !important;
// }
.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
    top: 0.8rem;
    width: 1.55rem;
    height: 1.55rem;
}

.checkbox-lg .custom-control-label {
    padding-top: 13px;
    padding-left: 6px;
}

.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
    top: 1.2rem;
    width: 1.85rem;
    height: 1.85rem;
    outline: 0;
    border-radius: 0px !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: $primary-bg !important;
    border: solid $primary-bg !important;
}

.checkbox-xl .custom-control-label {
    padding-top: 23px;
    padding-left: 10px;
    position: relative;
    bottom: 10px;
    outline: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.custom-control-input {
    position: absolute;
    top: 20px;
}

.ant-radio-inner {
    width: 15px;
    height: 15px;
    border-color: $secondary !important;
}

.ant-radio-group {
    display: flex;
}

.ant-radio-wrapper {
    display: flex;
    align-items: center;
}

span.ant-radio+* {
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 100;
    font-size: 17px;
    color: $secondary;
}

.view-page {
    .ant-radio-inner {
        width: 15px;
        height: 15px;
        border-color: $light-black !important;
    }
    span.ant-radio+* {
        padding-right: 8px;
        padding-left: 8px;
        font-weight: 100;
        font-size: 17px;
        color: $light-black;
    }
    .ant-radio-inner::after {
        background: $light-black;
    }
}

.ant-select-selection {
    width: 100% !important;
    display: flex;
    height: 100%;
    align-items: center;
}

.ant-select-selection__rendered {
    overflow: hidden !important;
    width: 100%;
}

.ant-select-selection-selected-value {
    padding-right: 10px !important;
}

button:focus {
    outline: none !important;
}

.anticon.ant-select-close-icon {
    font-size: 16px;
    margin-left: -0.25em;
    color: $primary;
}

.ant-select-arrow {
    position: absolute;
}

.anticon.ant-select-arrow-icon::after {
    // .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    margin-top: 0.25em;
    border-top: 0.5em solid;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
    color: $primary;
    opacity: 0.9;
}

.ant-select-arrow-icon {
    svg {
        display: none !important;
        visibility: hidden !important;
    }
}

.ant-notification-notice {
    position: relative;
    margin-top: 20% !important;
    // margin-bottom: 16px;
    padding: 16px 24px;
    overflow: hidden;
    line-height: 1.5;
    background: $secondary !important;
    color: #fff !important;
    font-weight: 200;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.ant-notification-notice-message {
    color: #fff !important;
}

.mat-dialog-container {
    display: block;
    padding: 0 !important;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden !important;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}


/* snack bar */

.mat-snack-bar-container {
    position: absolute !important;
    top: 30% !important;
    left: 50% !important;
    padding: 0.25em;
    margin: 0 !important;
    padding: 0.5em 0 !important;
    display: grid !important;
    align-items: center !important;
    transform: translate(-50%, -50%) !important;
}

.warn-bg-color {
    color: $white;
    background-color: #ff0000;
    font-weight: 200;
    font-size: 16px;
    border-radius: none;
    height: 100%;
    z-index: 20;
    box-shadow: 0px 0px 5px #00000029;
    border-radius: 10px;
    z-index: 1000;
    margin: 0 !important;
    position: absolute;
    height: auto !important;
}

.success-bg-color {
    color: $white;
    background-color: #1ccc3f;
    // background-color: #228b22;
    font-weight: 200;
    font-size: 16px;
    border-radius: none;
    height: 100%;
    z-index: 20;
    box-shadow: 0px 0px 5px #00000029;
    border-radius: 10px;
    z-index: 1000;
    margin: 0 !important;
    position: absolute;
    height: auto !important;
    // transform: translate(-50%, -50%);
}

.assign-assessment-wrapper {
    .ant-calendar-picker-icon {
        display: flex;
        color: $black;
        font-size: 14px;
        line-height: 1;
        height: 30px;
    }
    .ant-calendar-picker {
        width: 100% !important;
    }
    .ant-input {
        margin: 0 !important;
        width: 100%;
        font-size: 14px;
        font-weight: 100;
        padding: 0 1em;
        border: none;
        background: transparent;
        color: #333333;
        outline: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        height: 30px;
    }
}

.mat-button-wrapper {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.mat-raised-button {
    box-shadow: none !important;
}

.no-space {
    white-space: nowrap;
}

.top-border {
    border-top: 1px solid $input-border !important;
    border-radius: 5px 5px 0px 0px;
}

.left-1 {
    margin: 0 0 0 1em;
}

.bg-change {
    background: #f7f7f7 0% 0% no-repeat padding-box !important;
}

.mat-tooltip {
    // background-color: $red-1;
    color: $white;
    font-size: 12.5px;
    font-weight: 200;
}

// Admin sidenav scrollbar
.mat-drawer-inner-container {
    overflow: hidden !important;
}

// tpo uploaded List
.tpo-main-wrapper-uploaded-list,
.inv-particular-assessment-candidate,
.new-inv-particular-assessment-candidate {
    .green {
        color: #269a45;
        font-weight: 200;
    }
    .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: $secondary !important;
    }
    .mat-ripple-element {
        opacity: 0.03 !important;
        background-color: $secondary !important;
    }
}

// Admin Usermanagement users list mat table
.user-list-wrapper {
    thead {
        box-shadow: $shadow-light-black-29 !important;
        margin-bottom: 2em;
    }
    .mat-sort-header-button {
        outline: none;
    }
    mat-paginator {
        display: inline-flex;
        flex-flow: row-reverse;
        opacity: 0.85;
        width: 100%;
        align-items: center;
        height: 40px;
        color: $black;
        font-size: 13px;
        outline: none;
        border: none;
        background: $blue-3 0% 0% no-repeat padding-box;
        box-shadow: $shadow-light-black-29 !important;
    }
    .tooltip-red {
        display: flex;
        background-color: red;
        flex-flow: row-reverse;
    }
    tr.mat-header-row {
        height: 40px !important;
    }
    .mat-paginator {
        height: 40px !important;
    }
    .mat-column-checked {
        .ant-radio-group {
            justify-content: center;
        }
    }
}

.mat-column-candidate_new_id {
    left: 0 !important;
}

.mat-column-user_name {
    left: 0 !important;
}

.sub-assessments {
    .mat-column-question {
        width: 200px;
    }
}


.admin-bulk-upload-tpo {
    .mat-column-counter {
        max-width: 75px;
    }
    .mat-column-upload_registration {
        // display: flex;
        // justify-content: center;
    }
}

// To Prevent aligning from center by default
.mat-input-element {
    text-align: left !important;
    caret-color: $light-black;
}

// Registerpage component
.grid-wrapper,
.grid-wrapper-1,
.grid-wrapper-languages,
.bottom-form-wrapper {
    nz-select.ng-invalid.ng-touched,
    input.ng-invalid.ng-touched {
        border: solid $red 1px !important;
    }
}

.mainwrapper {
    input.ng-invalid.ng-touched,
    nz-month-picker.ng-invalid.ng-touched,
    nz-select.ng-invalid.ng-touched {
        border: solid $red 1px !important;
    }
}

.main-wrapper {
  input.ng-invalid.ng-touched,
  nz-month-picker.ng-invalid.ng-touched,
  nz-select.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
    border: solid $red 1px !important;
  }
  .ant-calendar-picker-input {
    padding: 0 !important;
  }
  .ant-calendar-picker-icon {
    right: 0;
  }
  .ant-calendar-picker-clear {
    right: 0px !important;
  }
  .mat-checkbox {
    label {
      margin-bottom: 0.25rem !important;
    }
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $primary-red !important;
  }
  .mat-radio-outer-circle {
        border-color: #707070 !important;
    }
    .mat-radio-inner-circle {
        background-color: $primary-red !important;
    }
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $primary-red !important;
    }
}

// Registerpage component
.register-wrapper {
    input.ng-invalid.ng-touched,
    select.ng-invalid.ng-touched {
        border: solid $red 1px !important;
    }
    .mat-autocomplete-panel {
        background: $light-white 0% 0% no-repeat padding-box;
        box-shadow: $shadow-dark !important;
    }
}

// css called in Register page .. Have put it in global bcz auto complete panel relies in body element
.mat-autocomplete-panel {
    background: $light-white 0% 0% no-repeat padding-box;
    box-shadow: $shadow-dark !important;
    max-height: 300px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    border: 1px solid $blue !important;
}

.viewport {
    height: 200px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
}

.mat-autocomplete-panel.mat-autocomplete-visible {
    max-height: 200px !important;
}

.hide {
    display: none;
}

.light-bg,
.light-bg:hover {
    background: $white 0% 0% no-repeat padding-box !important;
    border-top: 0.25px solid $table-border;
    border-bottom: 0.25px solid $table-border;
}

.dark-bg,
.dark-bg:hover {
    background: $th-bg 0% 0% no-repeat padding-box;
    border-top: 0.25px solid $table-border;
    border-bottom: 0.25px solid $table-border;
}

.light-bg:hover {
    background: $white 0% 0% no-repeat padding-box !important;
    border-top: 0.25px solid $table-border;
    border-bottom: 0.25px solid $table-border;
}

.dark-bg:hover {
    background: $th-bg 0% 0% no-repeat padding-box;
    border-top: 0.25px solid $table-border;
    border-bottom: 0.25px solid $table-border;
}

.no-data-available.mat-header-row {
    padding: 4px;
    height: 40px !important;
    th {
        padding: 4px !important;
        height: 40px !important;
        text-align: center !important;
        font-size: 20px !important;
        background: $white-primary 0% 0% no-repeat padding-box !important;
        color: $header-blue !important;
        font-weight: 100 !important;
    }
}

.contant {
    .mat-form-field-flex {
        display: flex !important;
        align-items: center !important;
        background: transparent !important;
        border: 1px solid rgba(0, 0, 0, 0.527) !important;
    }
    .date:focus {
        .mat-form-field-underline::before {
            background: none !important;
        }
    }
    .date {
        border: 1px solid #d9d9d9;
        height: 30px !important;
        border-radius: 4px;
        .mat-form-field-wrapper {
            height: 30px !important;
        }
        input {
            margin-top: -0.5em !important;
            height: 30px !important;
        }
        .mat-form-field-flex {
            height: 30px !important;
            border: none !important;
        }
        .mat-form-field-infix {
            display: flex;
            align-items: center;
            height: 30px !important;
        }
    }
    .mat-form-field-underline {
        bottom: 0px !important;
        background: none !important;
    }
    .mat-form-field-underline::before {
        background: none !important;
    }
    .ng-touched.ng-invalid {
        border: solid $primary-red 1px;
    }
    .date {
        input.ng-touched.ng-invalid {
            border: none !important;
        }
    }
}

td,
th {
    padding: 0px 8px !important;
}

th {
    white-space: nowrap !important;
}

.sort {
    width: 10px;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

button {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.light-bg:hover,
.dark-bg:hover {
    background: $td-hover !important;
}

tr.mat-row:hover {
    background: $td-hover !important;
}

.register-wrapper {
     ::-webkit-scrollbar-track {
        background: $scroll-bg;
        border-top: solid $blue 1px !important;
        border-bottom: solid $blue 1px !important;
        border-right: solid $blue 1px !important;
    }
}

.main-wrap,
.form10 {
    .mat-checkbox {
        label {
            margin-bottom: 0.25rem !important;
        }
    }
    .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background: $primary-red !important;
    }
}

// Scrollbar

/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px !important;
}


/* Track */

::-webkit-scrollbar-track {
    background: $scroll-bg;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #969696cb;
    // background: transparent linear-gradient(90deg, #e4e4e4 0%, #969696 100%) 0% 0%
    //   no-repeat padding-box;
    // border-radius: 100px !important;
    // height: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    // background: transparent linear-gradient(90deg, #e2dcdc 0%, #8f8f8f 100%) 0% 0%
    //   no-repeat padding-box;
    background: #969696cb;
}

.qualify-wrapper {
     ::-webkit-scrollbar {
        width: 6px;
        display: none;
    }
}

.sidenav {
     ::-webkit-scrollbar {
        width: 4px !important;
    }
     ::-webkit-scrollbar-thumb {
        border-radius: 100px !important;
    }
    li {
        margin: 0 !important;
    }
}

// Ui revamp global
.submit,
.ok {
    background: $primary-red;
    color: $white;
    font-weight: 200;
    font-size: 13px;
    box-shadow: none !important;
    border-radius: 3px !important;
    height: 30px !important;
    padding: 0 1em !important;
    min-width: 100px !important;
    max-width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-btn {
    box-shadow: none !important;
    border: 0.5px solid $primary-red !important;
    background: transparent;
    border-radius: 0px !important;
    height: 30px !important;
    font-weight: 200;
    font-size: 13px;
    color: $cancel-btn;
    padding: 0 1em !important;
    min-width: 100px !important;
    max-width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-btn {
    background: #5c6873;
    box-shadow: none;
    color: $white;
    font-weight: 200;
    font-size: 13px;
    border-radius: 0px !important;
    height: 27px !important;
    padding: 0 1em !important;
    min-width: 100px !important;
    max-width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-margin-space {
    margin: 0 2em !important;
}

// for pop space
.btn-margin-space-1 {
    margin: 0 1em !important;
}

.btn-margin-space-05 {
    margin: 0 0.5em !important;
}

mat-paginator {
    background: $table-header !important;
}

.mat-header-row {
    background: $table-header !important;
}

table {
    background: transparent;
    box-shadow: none;
    width: 100%;
}

td {
    border: none;
    height: 45px !important;
    color: $light-black !important;
    font-size: 13px;
    margin: 1em;
}

th {
    color: $black;
    background: $table-header !important;
    font-size: 13px;
    font-weight: 200;
    outline: none;
    border: none;
}

.mat-calendar {
    th {
        background: none !important;
    }
}

// Search box css
.search-icon {
    display: inline-flex;
    align-items: center;
    margin: 8px 0;
    width: auto;
    // min-width: 280px;
    color: $light-black;
    font-size: 14px;
    border: 1px solid $search-box-border !important;
    background: $white-2 0% 0% no-repeat padding-box !important;
    box-sizing: border-box;
    padding: 0.25em 0.15em;
    height: 27px;
    position: relative;
    border-radius: 0px !important;
    flex-direction: row-reverse !important;
    img {
        width: 20px;
        height: 13px;
    }
    input {
        position: relative;
        width: 100%;
        display: inline-block;
        margin: 8px 0;
        width: auto;
        color: $light-black;
        font-size: 14px;
        background: $white 0% 0% no-repeat padding-box !important;
        box-sizing: border-box;
        padding: 0.15em 0.5em;
        height: 24px;
    }
     ::placeholder {
        color: $light-black;
        opacity: 1;
        font-size: 12px;
    }
}

// Bulk upoad tabs csss
.sub-menu-wrapper {
    display: flex;
    background: $white;
    padding: 4px 0;
    margin: 0.5em 0 0 0.1em;
    position: sticky;
    align-items: center;
    top: -1px;
    z-index: 5;
    .menu-group {
        padding: 4px;
        cursor: pointer;
        border-bottom: solid $table-border 1px;
        // border-radius: 4px;
        color: $light-black;
        font-size: 14px;
        outline: none;
        font-weight: 100;
        margin: 0 0 0 1em;
        opacity: 0.7;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 18px;
            height: 18px;
            margin: 0 0.35em 0 0;
            vertical-align: text-top;
        }
    }
    .menu-group:hover {
        opacity: 1;
        // background: $active-sub-bg-hover 0% 0% no-repeat padding-box;
    }
    .active {
        cursor: pointer;
        padding: 4px;
        border: solid $white 1px;
        color: $light-black;
        font-weight: 200;
        margin: 0 0 0 1em;
        outline: none;
        opacity: 1;
        border-bottom: solid $primary-red 4px;
    }
}

// bulk upload design css
.upload-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
.upload {
min-width: 400px;
  max-width: 400px;
  background: $white-primary;
  border: solid 0.5px $table-border;
  height: auto;
  display: block;
  text-align: center;
  padding: 2em 1em 1em 1em;
}

.text-wrapper {
display: flex;
justify-content: center;
align-items: center;
.inner-wrapper {
    min-width: 300px;
    max-width: 300px;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-black;
    font-weight: 200;
    font-size: 15px;
    background: $white-primary 0% 0% no-repeat padding-box;
    box-shadow: none;
    border: solid 0.5px $table-border;
    position: relative;
    margin: 0;
    cursor: pointer;
    input {
      display: none;
      cursor: pointer !important;
        opacity: 0;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        /* IE 5-7 */
        filter: alpha(opacity=0);
        /* Netscape or and older firefox browsers */
        -moz-opacity: 0;
        /* older Safari browsers */
        -khtml-opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    img {
        width: 30px;
        margin: 0 0.5em 0 0;
    }
    .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 4px;
        height: 25px;
        width: 100%;
        background: $background-7 0% 0% no-repeat padding-box;
        span {
            color: $primary;
            font-size: 12px;
            img {
                margin-left: 4px;
                cursor: pointer;
                width: 15px;
            }
        }
    }
}
}
.text {
color: $black-4;
text-align: center;
margin: 8px 0 0 0;
font-size: 11px;
position: relative !important;
}
.error {
color: $red;
text-align: center;
margin: 8px 0 0 0;
font-weight: 200;
font-size: 11px;
}

.buttons {
display: flex;
width: auto;
justify-content: center;
margin: 1em 0;
.cancel {
    margin: 0 1em 0 0;
    box-shadow: $shadow-light-black-1;
    border: 1px solid $gray-dark;
    border-radius: 6px;
    display: flex;
    align-items: center;
    height: 25px;
    color: $background;
    font-size: 13px;
    font-weight: 200;
    padding: 4px 26px;
    background: transparent;
    justify-content: center;
}
.upload {
    background: $background 0% 0% no-repeat padding-box;
    box-shadow: $shadow-light-black-1;
    border-radius: 6px;
    height: 25px;
    color: $white;
    font-size: 13px;
    font-weight: 200;
    padding: 4px 26px;
    display: flex;
    align-items: center;
    min-width: auto !important;
    width: auto !important;
    justify-content: center;
}
}

.download {
min-width: 400px;
max-width: 400px;
background: $white-primary;
border: solid 0.5px $table-border;
height: auto;
display: block;
text-align: center;
padding: 2.5em 1em 2.5em 1em;
.outer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .inner-wrapper {
        min-width: 300px;
        max-width: 300px;
        min-height: 50px;
        max-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $light-black;
        font-weight: 200;
        font-size: 15px;
        background: $white-primary 0% 0% no-repeat padding-box;
        box-shadow: none;
        // border-radius: 5px;
        border: solid 0.5px $table-border;
        cursor: pointer;
        img {
            width: 30px;
            height: 20px;
            margin: 0 0.5em 0 0;
        }
    }
}
}
}

// Bulk Upload end
// input box
.input-box-revamp {
    // border-radius: 5px;
    // box-shadow: $shadow-light-black;
    border: solid $input-border 1px;
    width: 100%;
    display: flex;
    align-items: center;
    // background: $white-primary;
    height: 30px;
    padding: 0em 0px 0 0px;
    margin: 0 !important;
    box-sizing: border-box;
    input {
        margin: 0 !important;
        width: 100%;
        padding: 0 .5em;
        font-size: 14px;
        color: $light-black;
        vertical-align: middle;
        border: none;
        outline: none;
        // background: $white-primary;
        border-radius: 5px;
        display: flex !important;
        box-sizing: border-box;
        height: 27px;
    }
    input:disabled {
        background: $gray-5 0% 0% no-repeat padding-box;
    }
}

.new-input-box {
    border: solid $input-border 1px !important;
    margin: 0 !important;
    width: 120% !important;
    padding: .15em .5em !important;
    font-size: 15px !important;
    color: $light-black !important;
    vertical-align: middle !important;
    outline: none !important;
    // background: $white-primary;
    display: flex !important;
    box-sizing: border-box !important;
    min-height: 32px !important;
}

.mat-select-custom {
    width: 100% !important;
    min-height: 32px !important;
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    .mat-form-field-wrapper {
        padding: 0px !important;
        width: 100% !important;
    }
    .mat-select-trigger {
        padding: 0 .5em !important;
    }
    .mat-form-field-infix {
        // width: 100% !important;
        border: none !important;
    }
    .mat-select-value {
        max-width: 100% !important;
    }
    .mat-select-trigger {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
}


.noRecordText {
    font-size: 20px;
    text-align: center;
}

.mat-paginator-range-actions {
    height: 25px !important;
}

.mat-paginator-container {
    height: 39px !important;
}

.mat-paginator-page-size {
    display: flex;
    align-items: center !important;
    margin-right: 8px;
    height: 39px !important;
}

.mat-paginator-outer-container {
    display: flex;
    height: 100% !important;
    .mat-paginator-container {
        min-height: 100% !important;
        height: 100% !important;
    }
}

.ant-calendar-picker {
    display: flex;
    justify-content: space-between;
}

// Mian reports
// #cdk-overlay-5 {
// .ant-select-dropdown {
//   width: auto !important;
// }
// }
// @media print{
//   .printContentDiv{
//     background-color: white;
//         height: 130%;
//         width: 100%;
//         position: fixed;
//         top: 0;
//         left: 0;
//         margin: 0;
//         padding: 15px;
//         font-size: 14px;
//         line-height: 18px;
//         z-index: 9999999;
//         overflow-y: auto !important;
//   }
//   .print{display:none !important;
//   height: 100%;
//   }
// }
// this css using for print
@media print {
    * {
        color: black !important;
        // Force to print colors, otherwise the material components will look white
        color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
    body,
    .header-title,
    .mat-autocomplete-panel,
    .mat-bottom-sheet-container,
    .mat-card,
    .mat-button-toggle,
    .mat-dialog-container,
    .mat-drawer,
    .mat-drawer-container,
    .mat-expansion-panel,
    .mat-table {
        background: white !important;
        color: black !important;
    }
    .cdk-overlay-backdrop {
        background-color: transparent !important;
    }
    // Hide website controls when printing
    app-header,
    app-footer,
    .hide-print,
    .mat-drawer-backdrop,
    .mat-header-cell .mat-checkbox,
    .mat-fab,
    .mat-mini-fab,
    .mat-toolbar button,
    .navbar,
    .print {
        display: none !important;
    }
}

.green-1 {
    color: $green-2;
}

.red-1 {
    color: $primary-red;
}

.disabled-ag {
    pointer-events: none !important;
    opacity: 0.6 !important;
}

.ant-select-dropdown {
  width: 200% !important;
}

// .ant-select-dropdown {
//     width: auto !important !important;
//   }
.mat-raised-button[disabled][disabled] {
    background: $primary-red !important;
    color: $white !important;
    opacity: 0.5;
}

.mat-checkbox-layout {
    margin-bottom: .15rem !important;
}

.new-inv-particular-assessment-candidate {
    tr.mat-row {
        height: inherit !important;
    }
}

.inline-view {
    color: $primary-red;
    border-bottom: solid $primary-red 1px;
    cursor: pointer;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $primary-red !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-calendar-body-selected {
    background-color: $primary-red !important;
}

.mat-datepicker-toggle-active {
    color: $primary-red;
}

// .agTable {
//     display: flex !important;
//     flex-direction: row !important;
//     justify-content: center !important;
//     align-items: center;
//     border: none;
//     min-width: 90px !important;
//     width: 100% !important;
//     padding: 0 .75em !important;
// }

// .agCellStyle {
//     display: flex;
//     align-items: center;
//     text-align: center;
//     justify-content: center;
// }

// Ag grid common button and icon css
.ag-button-color {
  color: red;
}
.ag-button-color {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center;
    border: none;
    min-width: 10px !important;
}

.main-reports {
    .mat-icon-button.mat-button-base {
        height: 35px !important;
    }
    .mat-icon-button.mat-datepicker-toggle {
        right: 34px !important;
        width: 0 !important;
        display: flex !important;
        justify-content: space-between !important;
    }
    // .mat-column-col3,.mat-column-col4 {
    //   width: 140px;
    // }
}

.openClose,
.sideClose {
    display: flex;
}

// Mat expansion panel
.mat-expansion-indicator {
    display: flex !important;
    align-items: center !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
    color: $white !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-tab-nav-bar,
.mat-tab-header {
    border-bottom: none !important;
}

.mat-tab-label .mat-tab-label-content {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: $black !important;
    // margin-right: 58%;
    // color: $lxp-gray !important;
}

.mat-tab-label-active {
    // color: $color-blank !important;
    opacity: 1 !important;
}

.list-wrapper {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    .list-count {
        position: absolute;
        margin-top: 1em !important;
    }
}

::placeholder {
    color: $black !important;
    opacity: 0.5 !important;
    font-size: 14px !important;
}

.mat-focused .placeholder {
    color: #00D318 !important;
}


.joining-form-main {
    .mat-datepicker-toggle {
        .mat-icon-button {
            min-height: 35px !important;
            max-height: 35px !important;
            height: 35px !important;
        }
    }
}

.sub-grid {
    .joining-form-main .mat-datepicker-toggle .mat-icon-button {
        min-height: 30px !important;
        max-height: 30px !important;
        height: 30px !important;
    }
    .mat-datepicker-toggle {
        min-height: 30px !important;
        max-height: 30px !important;
    }
}

.joining-personal-wrapper {
    padding-top: 1em;
}

:root {
    scroll-behavior: smooth;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}

.sub-header-accordion {
    .mat-expansion-indicator::after {
        color: rgb(0, 0, 0, 0.4) !important;
    }
}

.common-joining-form {
    height: 600px !important;
}

::ng-deep .owl-dt-calendar-header {
    th {
        background: white !important;
    }
}

::ng-deep .owl-dt-container-row {
    &:first-child {
        border-bottom: 0 !important;
    }
}

mat-icon {
    font-size: 18px !important;
    top: 50%;
    width: 8px;
    transform: translateY(12%);
}

:host ::ng-deep .textDataLabel {
    font-size: 14px !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
    color: rgba(0, 0, 0, .54) !important;
}

.heading3 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.search-bar {
    margin: 0em 1em 0em 1em;
    text-align: right;
    .search-icon {
        display: inline-flex;
        align-items: center;
        margin: 8px 0;
        width: auto;
        color: #333333;
        font-size: 14px;
        border: 1px solid #c5c5c5 !important;
        background: #fff !important;
        border-radius: 4px !important;
        box-sizing: border-box;
        padding: 0.25em 0.15em;
        height: 33px;
        position: relative;
        width: 210px;
        img {
            width: 20px;
            height: 13px;
            filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(134deg) brightness(85%) contrast(82%);
        }
        input {
            position: relative;
            width: 100%;
            display: inline-block;
            margin: 8px 0;
            width: auto;
            color: $header-blue;
            font-size: 14px;
            background: $white-2 0% 0% no-repeat padding-box !important;
            box-sizing: border-box;
            border: none;
            outline: none;
            padding: 0.15em 0.5em;
            height: 26px;
            width: 176px;
        }
         ::placeholder {
            color: $black-1;
            opacity: 0.6;
            font-size: 12px;
        }
    }
}

// report css
.width-51 {
    width: 51% !important;
}

.width-270 {
    width: 270px !important;
}

.width-150 {
    width: 150px !important;
}

.width-168 {
    width: 167px !important;
}

.ag-grid-header-center {
  .ag-header-cell-label {
    justify-content: center;
  }
}
.ag-invisible {
  display: none !important;
}


// Ant select drop down css
.input {
  position: relative;
  border: solid 0.8px #bebebe;
  border-radius: 2px;
  color: #6b6b6b;
  outline: none;
  box-sizing: border-box;
  min-height: 35px !important;
  max-height: 35px !important;
  line-height: 35px;
  padding: 4px 8px;
  background-color: $white;
  width: 100%;
}
.select {
  display: flex;
  align-items: center;
  padding: 0px !important;
  border: none !important;
}

.ant-select-selection {
  border: solid 0.8px #bebebe !important;
  height: 35px !important;
  padding: 4px 8px;
  border-radius: 0px !important;
}

.ant-select-selection:hover,
.ant-select-selection:focus,
.ant-select-selection:active {
  border: solid $primary-red 1px !important;
  border-radius: 0px !important;
  z-index: 0 !important;
  box-shadow: none !important;
}

nz-select.ng-invalid.ng-touched {
  border: solid $primary-red 1px !important;
  .ant-select-selection {
      border: solid $primary-red 1px !important;
  }
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  color: #a5a5a5 !important;
  opacity: 0.6 !important;
  font-size: 13px !important;
}

.ant-select-selection__rendered {
  position: relative;
  display: block;
  margin-right: 0 !important;
  margin-left: 0 !important;
  line-height: 35px !important;
}

.ant-select-arrow {
  right: 0 !important;
  padding: 0 8px !important;
}

.ant-select-selection__clear {
  right: 18px !important;
  margin-top: -7px !important;
}
.anticon.ant-select-arrow-icon::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  margin-top: 0.25em;
  border-top: 0.5em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  color: #666666;
  opacity: 0.9;
  border: solid #a5a5a5 !important;
  border-width: 0 1px 1px 0 !important;
  display: inline-block !important;
  padding: 3px !important;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
  margin-top: 1px !important;
}

.ant-select-dropdown-menu-item:first-child,
.ant-select-dropdown-menu-item:last-child {
  border: none !important;
  border-radius: 0px !important;
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #eaeaea !important;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: rgb(211, 211, 211, 0.7) !important;
}

.ant-select-dropdown {
  border: 1px solid #bebebe !important;
}

.ant-select-selection-selected-value {
  padding-right: 16px !important;
}

// Ant Select dropdown css close
.loading03 {
  // span {
	margin: 0 -.075em;
    animation: loading03 .7s infinite alternate;
    @for $i from 1 through 6 {
      &:nth-child(#{$i+1}) {
        animation-delay: #{$i*.1}s;
      }
    }
  // }
}
@keyframes loading03 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}
