@import "../../themes/themes.scss";
* {
  margin: 0;
  padding: 0;
}
.scroll-bar-height {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.sideOpen {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 56%;
  transform: translate(-50%);
  left: 235px;
  transition: all 500ms;
  z-index: 1000;
  span {
    transition-delay: 10s;
    background: $primary-gray;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 200;
    color: $white;
    font-size: 16px;
  }
}

.sideClose {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 56%;
  transform: translate(-50%);
  left: 9px;
  z-index: 1000;
  cursor: pointer;
  span {
    background: $primary-gray;
    border-radius: 6px;
    transition-delay: 10s;
    left: 0 !important;
    font-weight: 200;
    color: $white;
    text-align: right;
    font-size: 16px;
  }
}
.toolbar-wrapper {
  position: relative;
  padding: 0;
  word-spacing: 0em;
  display: flex;
  height: 25px;
  font-size: 13px;
  align-items: center;
  color: $black-1;
  span {
    margin: 0 0 0 1em;
  }
}
.first-sidenav {
  background: $wrapper-light-gray 0% 0% no-repeat padding-box;
  height: 45px;
  .sub-wrapper-nav {
    width: 235px;
    background: $primary-yellow 0% 0% no-repeat padding-box;
  }
  .main-toolbar {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: solid $primary-gray 1px;
    background: $white 0% 0% no-repeat padding-box;
    .sub-navs {
      cursor: pointer;
      height: 100%;
      padding: 2px 2.5em;
      display: flex;
      border-left: solid white 1px;
      background: $non-active-sub-bg 0% 0% no-repeat padding-box;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      outline: none;
      div:first-child {
        img {
          width: 30px;
          height: 20px;
        }
      }
      div:last-child {
        margin: 0px 0 0 0;
        color: $white;
        padding: 0 0 0 0.5em;
        font-size: 13px;
      }
    }
    .sub-navs:hover {
      background: $active-sub-bg-hover;
      opacity: 1;
    }
    .active {
      background: $primary-red !important;
      outline: none;
      font-weight: 200;
    }
    .grid {
      display: grid !important;
    }
  }
}
.toolbar-bg {
}
.toolbar-hide {
  display: none;
}

.second-sidenav {
  // margin: 130px 0 0 0;
  // margin: 190px 0 0 0;
  position: relative;
  // height: calc(100vh - 145px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $wrapper-light-gray 0% 0% no-repeat padding-box;
  .toolbar-wrapper {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
  }
  .sidenav {
    width: 235px;
    background-color: #f1f1f1;
    ul {
      overflow: hidden;
      display: inline-flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      justify-content: center;
      li {
        padding: 10px 15px;
        outline: none;
        list-style: none;
        margin: 0 0 15px 0;
        color: $sidebar-black;
        opacity: 1;
        font-weight: 100;
        box-sizing: border-box;
        cursor: pointer;
        span:first-child {
          padding: 0 0px;
          font-size: 14px;
        }
        span:nth-of-type(2) {
          padding: 0 0 0 18px;
          font-size: 14px;
        }
        span:nth-of-type(3) {
          float: right;
          font-size: 15px;
          display: none;
        }
      }
      li:hover {
        background: #fff;
        color: #000;
      }
      .active {
        background-color: #fff;
        color: #000;
        span:nth-of-type(3) {
          display: block;
        }
      }
    }
  }
  .main-container {
    padding: 0px 0px 0px 0px;
  }
}
.toolbar-hide-second {
  margin: 60px 0 0 0 !important;
  .sidenav {
    ul {
      margin: 50px 0 0 0;
    }
  }
}
//breadcrumb
.breadcrumb {
  background: none;
  margin: 0;
  a,
  span {
    color: #5e5e5e;
    font-size: 13px;
    margin: 0;
    outline: none !important;
  }
  a:hover,
  span:hover {
    color: #5e5e5e;
    text-decoration: none;
    cursor: pointer;
  }
  li {
    list-style: none;
    float: left;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li:last-child {
    margin-right: 20px;
  }
  li::after {
    content: ">";
    color: #5e5e5e;
    margin-left: 6px;
    font-size: 13px;
  }
  .afterIcon {
    content: ">";
    color: #5e5e5e;
    margin-left: 6px;
    font-size: 13px;
  }
  li:last-child::after {
    content: "";
  }
  li:last-child {
    span {
      cursor: default;
      pointer-events: none;
    }
  }
}
::ng-deep.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: auto !important;

}

mat-drawer-container {
  height: 100%;
}

mat-drawer ul li span img {
  width: 20px;
  height: 20px;
}
.main-container.content {
  display: flex;
  flex-direction:row;
  height: 90%;
}
.side-iconmenu {
  background-color: #f1f1f1;
  position: relative;
  &.nil {
    width: 0;
  }
}

.sidemenu li {
    padding: 10px 15px;
    cursor: pointer;
    &.active {
      background-color: #fff;
      color: #000;
    }
    &:first-child {
      font-size: 18px;
    }
}

.heading3 {
  font-size: 24px;
}

.content-section {
  padding: 10px 25px;
  width: 100%;
}

.mat-drawer-side {
  border-right: solid 1px #e6e6e67d;
}
