<div class="scroll-bar-height">
  <app-common-header></app-common-header>

  <mat-drawer-container class="second-sidenav">
    <mat-drawer class="sidenav" mode="side" [opened]="!sidebarOpen">
      <ul>
        <li (click)="sidebar()">
          <span><em class="icon-Hamburger"></em></span>
        </li>
        <ng-container *ngIf="role == 'hr'">
          <li *ngFor="let menu of sideBar; let i = index" [routerLink]="menu.url" routerLinkActive="active">
            <span><img [src]="menu.icon" alt=""></span>
            <span>{{menu.name}}</span>
            <span>
              <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
            </span>
          </li>
        </ng-container>
        <ng-container *ngIf="role == 'ic'">
          <!--  OfferedCandidatesLIST-->
          <li [routerLink]="appConstant.HR_DASHBOARD.OfferedCandidatesLIST" routerLinkActive="active">
            <span><img src="assets/images/status-bar.svg" alt=""></span>
            <span>Business Panel</span>
            <span>
              <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
            </span>
          </li>
        </ng-container>
        <ng-container *ngIf="role == 'ssc_hr'">
          <!--  OfferedCandidatesLIST-->
          <li [routerLink]="appConstant.HR_DASHBOARD.OfferedCandidatesLIST" routerLinkActive="active">
            <span><img src="assets/images/status-bar.svg" alt=""></span>
            <span>SSC Panel</span>
            <span>
              <img src="assets/images/arrow_right-black-18dp.svg" alt="" srcset="">
            </span>
          </li>
        </ng-container>
      </ul>
    </mat-drawer>
    <mat-drawer-content class="main-container content">
      <mat-drawer class="side-iconmenu" [class.nil]="!sidebarOpen" mode="side" [opened]="sidebarOpen">
        <div class="sidemenu">
          <ul>
            <li (click)="sidebar()">
              <span><em class="icon-List"></em></span>
            </li>
            <ng-container *ngIf="role == 'hr'">
              <li *ngFor="let menu of sideBar; let i = index" [routerLink]="menu.url" routerLinkActive="active">
                <span><img [src]="menu.icon" alt=""></span>
              </li>
            </ng-container>

            <ng-container *ngIf="role == 'ic'">
              <!--  OfferedCandidatesLIST-->
              <li [routerLink]="appConstant.HR_DASHBOARD.OfferedCandidatesLIST" routerLinkActive="active">
                <span><img src="assets/images/status-bar.svg" matTooltip="Business Panel" alt=""></span>
              </li>
            </ng-container>
            <ng-container *ngIf="role == 'ssc_hr'">
              <!--  OfferedCandidatesLIST-->
              <li [routerLink]="appConstant.HR_DASHBOARD.OfferedCandidatesLIST" routerLinkActive="active">
                <span><img src="assets/images/status-bar.svg" matTooltip="SSC Panel" alt=""></span>
              </li>
            </ng-container>
          </ul>
        </div>
      </mat-drawer>
      <div class="content-section">
        <div>
          <div class="toolbar-wrapper">
            <ol class="breadcrumb">
              <li *ngFor="let breadcrumb of breadcrumbs">
                <span [routerLink]="breadcrumb.url" [queryParams]="breadcrumb.params"
                  routerLinkActive="router-link-active">
                  {{ breadcrumb.label }}
                </span>
              </li>
            </ol>
          </div>
          <div class="heading3">{{breadcrumbs[1].label}}</div>
        </div>
        <div class="first-sidenav">
          <div class="main-toolbar" [ngClass]="!subMenus || subMenus.length === 0 ? 'toolbar-bg' : ''">

            <ng-container *ngIf="subMenus && subMenus.length > 0">
              <div [routerLink]="subMenus.router"
                [queryParams]="subMenus.data ? {data: subMenus.data ? subMenus.data : ''} : ''"
                *ngFor="let subMenus of subMenus; let i = index" class="sub-navs" routerLinkActive="active"
                [ngClass]="subMenus.active ? 'active' : ''" [ngClass]="subMenus.router === null ? 'non-active' : ''">
                <div *ngIf="subMenus.icon"><img src="assets/images/{{subMenus.icon}}" alt=""></div>
                <div *ngIf="subMenus.name">{{subMenus.name}}</div>
              </div>
            </ng-container>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  </div>
