@import '../../themes/themes.scss';
.top-wrapper {
  background: $white;
  width: 100%;
  padding: 0.5em .25em;
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    .inner-flex {
      display: flex;
      flex-direction: column;
      width: 100%;
      .heading {
        font-weight: 400;
        font-size: 13px;
        margin-left: 0.5em;
        margin-top: 0.5em;
        color: $light-black;
      }
    }
  }
}
.details-section {
  display: flex;
  flex-direction: row;
  padding: 24px 16px 8px 16px;
  .nameinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    .img {
      width: 50px;
      height: 50px;
      border: 1px solid #d0d0d0;
      border-radius: 50px;
      overflow: hidden;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    div:nth-child(2) {
      font-size: 24px;
      line-height: 1.1;
      margin-right: 50px;
      white-space: nowrap;
      span {
        font-size: 13px;
        color: #808080;
        display: block;
      }
    }

  }
  .iconinfo {
    color: #808080;
  }
  .statusinfo {
    display: flex;
    white-space: nowrap;
    align-items: center;
    color: #808080;
    min-width: 200px;
    justify-content: space-around;
  }

}


::ng-deep span.status {
  border-radius: 4px;
  display: inline-block;
  line-height: 0.7;
  font-size: 11px;
  padding: 7px 8px;
  &.scheduled {
    background-color: #bababa;
    color: #666666 ;
  }
  &.inprogress {
  background-color: #ffbc00;
  color: #fff;
  }
  &.completed {
    background-color: #48cc83;
    color: #fff;
    }
  &.rejected {
    background-color: #c02222;
    color: #fff;
  }
}
.video-wrapper {
  padding: 0 1em;
}
