<div class="thanks-wrapper">
    <div class="form-confirmation">
        <div class="icon-div">
            <span class="icon-Tick icon-Tick-1"></span>
        </div>
        <ng-container>
        <div class="bold-content">
            Your profile has been submitted successfully.
        </div>
        <div class="content">
            Verification mail has been sent to your mail id.
        </div>
        <div class="content">
            Kindly check your mail and complete your verification process.
        </div>
        </ng-container>
    </div>
</div>