<div class="thanks-wrapper">
    <div class="form-confirmation">
        <div class="icon-div">
            <span class="icon-Tick icon-Tick-1"></span>
        </div>
        <div class="bold-content">
            Your profile has been submitted successfully.
        </div>
        <ng-container *ngIf="false else formClosed">
        <div class="content">
            Verification mail has been sent to your mail id.
        </div>
        <div class="content">
            Kindly check your mail and complete your verification process.
        </div>
      </ng-container>
            <ng-template #formClosed>
                <div class="content">
                    Thank you for interest in a career with L&T. The registrations for the GET Program have been closed for this year. We however encourage you to submit your details on the Online Form to be considered for any future opportunities at L&T.
                </div>        
                <div class="content">
                    Wishing you all the best!
                </div>        
            </ng-template>
    </div>
</div>