<div class="submit-wrapper">
    <div class="contents">
        <div class="text-first">
            Dear <span class="highlight">{{upperCase(userName)}}</span>,
        </div>

        <div class="text-1">
            Welcome to L&T’s Campus Selection Process! Please fill the profile details to proceed further. Wishing you all the best for your journey on the platform and for our campus selection process.
        </div>
        <div class="text-1">
            Please refer to the e-mail sent to you for detailed instructions.
        </div>

        <div class="text-last">
            Regards,
            <div>L&T Recruitment Team</div>
        </div>

    </div>

    <div class="thankyou">
        <div class="icon"> &#160;<div class="check"></div></div>
        <div class="second">
            <div class="thank">Thank You !</div>
            <div>Thanks for submitting your details and documents.</div>
            <div>Further communication will be notified to your registered email id.</div>
        </div>
    </div>
</div>