@import "../../../../themes/themes.scss";

.shortlist-candidates-wrapper {
  padding: 0px 4px 4px 4px;
}
.disable-selection {
  opacity: 0.5;
  cursor: not-allowed;
}
.sub-headers-wrapper {
  display: flex;
  margin: 8px 16px 4px 0;
  flex-direction: row-reverse;
}
