<div class="shortlist-candidates-wrapper">
  <div class="sub-headers-wrapper">
    <div class="ml-2" *ngIf="userList && userList.length > 0">
      <button [matTooltip]="checkFilterAppied() ? '' : 'No filter has been applied'" [ngClass]="checkFilterAppied() ? '' : 'disable-selection'" (click)="checkFilterAppied() ? gridApi.setFilterModel(null) : ''" class="submit" mat-raised-button>Clear all Filters</button>
    </div>

    <div class="ml-2" *ngIf="userList && userList.length > 0">
      <button (click)="gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? shortlist() : ''" [matTooltip]="gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? '' : 'Please select the candidates'" class="submit" [ngClass]="gridApi.getSelectedNodes() && gridApi.getSelectedNodes().length > 0 ? '' : 'disable-selection'" mat-raised-button>Shortlist</button>
    </div>
</div>
  <ag-grid-angular style="width: 98%; height: 100vh; margin:auto !important;" class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowModelType]="rowModelType"
  [serverSideStoreType]="serverSideStoreType"
  [maintainColumnOrder]="true"
  [pagination]="true"
  [suppressRowClickSelection]="true"
  [paginationPageSize]="paginationPageSize"
  [rowSelection]="rowSelection"
  [cacheBlockSize]="cacheBlockSize"
  (gridReady)="onGridReady($event)"
  (sortChanged)="sortevent($event)"
  [enableCharts]="true"
  [enableRangeSelection]="true"
  (cellClicked)="onCellClicked($event)"
  (paginationChanged)="paginationChanged($event)"
  [statusBar]="statusBar"
  [frameworkComponents]="frameworkComponents"
  headerHeight="30"
  [rowGroupPanelShow]="'always'" [rowClassRules]="rowClassRules" [sideBar]="true"
  [masterDetail]="true"
  [detailCellRendererParams]="detailCellRendererParams"
  (firstDataRendered)="onFirstDataRendered($event)"
  [pivotPanelShow]="'always'" [rowDragManaged]="false" [autoGroupColumnDef]="autoGroupColumnDef"
  [animateRows]="true">
 </ag-grid-angular>

</div>
