@import "../../themes/themes.scss";

.otp-verification {
    margin: 40px 0 40px 0;
    .head {
        color: $secondary;
        font-size: 26px;
        margin-bottom: 40%;
        font-weight: 50;
      }
    .label-head {
      width: 70%;
      font-weight: 400;
      font-size: 17px;
    }
    .input-box {
      margin: 10px 0;
      input {
        box-shadow: $shadow-light-black;
        border-radius: 5px;
        background-color: $white-primary;
        border: none;
        outline: none;
        margin: 0.7em;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: $secondary;
        text-align: center;
      }
    }
    .verify-button {
        margin: 30% 0 120px 0;
      width: 100%;
      button {
        justify-content: center;
        text-align: center;
        width: 70%;
        height: 40px;
        color: $white;
        font-weight: 700;
        font-size: 18px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: $light-blue;
      }
      .label-msg {
        color: $primary;
        font-weight: 400;
        font-size: 16px;
        margin: 20px 0;
        span {
          color: $red;
          font-weight: 400;
          font-weight: 16px;
          cursor: pointer;
        }
      }

    }
  }
