
    <div class="otp-verification">
            <div class="head">
                    Enter OTP
                </div>

        <div class="label-head">
            <img src="assets/images/iphone.svg" width="14px" height="23px" alt="" srcset=""> OTP Code
        </div>
        <div class="input-box">
            <div *ngIf="OTPreSend" class="text-success">OTP code again sent successfully</div>
            <input [formControl]="otp1" [ngStyle]="{border: otp1.invalid && otp1.touched ? 'solid red 1px': ''}" type="text"
                maxlength="1" required>
            <input [formControl]="otp2" [ngStyle]="{border: otp2.invalid && otp2.touched ? 'solid red 1px': ''}" type="text"
                maxlength="1" required>
            <input [formControl]="otp3" [ngStyle]="{border: otp3.invalid && otp3.touched ? 'solid red 1px': ''}" type="text"
                maxlength="1" required>
            <input [formControl]="otp4" [ngStyle]="{border: otp4.invalid && otp4.touched ? 'solid red 1px': ''}" type="text"
                maxlength="1" required>
        </div>
        <div class="verify-button">
            <button (click)="OTPVerify()" type="button">Verify</button>
            <div class="label-msg">
              Don't get code? <span (click)="resendOTP()">Resend Code</span>
          </div>
        </div>


    </div>
