<div class="faq">
<h3 class="title d-flex justify-content-center">Frequently asked questions (FAQs)</h3>
<mat-accordion class="example-headers-align" multi>
    <!-- Joining Uploads -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h6 class="mt-0 mb-0 ml-0 mr-0 f_size_16 hanging">1. Why do i have to upload my digital signature?</h6>

            </mat-panel-title>
            <!-- <mat-panel-description> -->
               <!-- <div class="cl">Accepted Formats (.pdf, .jpg, .png) (Maximum file size 2MB)</div> -->
                <!-- Type your name and age -->
                <!-- <mat-icon>account_circle</mat-icon> -->
            <!-- </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div class="ans">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam sed dicta, nobis itaque totam earum iusto est recusandae eligendi, dolorum libero eos! Nobis, sunt! Quod quos totam praesentium. Velit, beatae!
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h6 class="mt-0 mb-0 ml-0 mr-0 f_size_16 hanging">2. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, dignissimos! Rem reiciendis fugit facilis perferendis, inventore, in a explicabo laboriosam at laborum suscipit excepturi aperiam corrupti cumque quos quod fugiat?</h6>

            </mat-panel-title>
            <!-- <mat-panel-description> -->
               <!-- <div class="cl">Accepted Formats (.pdf, .jpg, .png) (Maximum file size 2MB)</div> -->
                <!-- Type your name and age -->
                <!-- <mat-icon>account_circle</mat-icon> -->
            <!-- </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div class="ans">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam sed dicta, nobis itaque totam earum iusto est recusandae eligendi, dolorum libero eos! Nobis, sunt! Quod quos totam praesentium. Velit, beatae!
        </div>
    </mat-expansion-panel>

</mat-accordion>
</div>
