      <div class="wrap-reg">
        <form [formGroup]="loginForm" class="form-wrapper" (ngSubmit)="submit()">
          <h1 class="animated animatedFadeInUp fadeInUp signIn"> {{'Sign-in to your account' }}</h1>
          <div>
            <mat-form-field class="mat-form-spacing" appearance="outline">
              <mat-label class="label-color">Email</mat-label>
              <input matInput  id="username" #username [placeholder]="'Enter the email'"  formControlName="email" maxlength="64"
              required>
              <em matPrefix class="icon-email_black_24dp icon-18 login-icon-color pr-1"></em>
              <mat-error class="error" *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').hasError('maxlength')">{{'100 Characters only allowed'}}</mat-error>
              <mat-error class="error" *ngIf="loginForm.get('email').hasError('required')">{{'Email is required'}}</mat-error>
              <mat-error class="error" *ngIf="loginForm.get('email').hasError('pattern')">{{'Please enter a valid email address'}}</mat-error>
            </mat-form-field>

            <div appCapslock (capsLock)="capsOn=$event">
              <mat-form-field appearance="outline">
                <mat-label  class="label-color">{{'Password' }}</mat-label>
                <input matInput  [placeholder]="'Enter password'" [type]="!toggleVisibility ? 'text' : 'password'" formControlName="password" [ngClass]="{ 'is-invalid': password.touched && password.errors }" required>
                <em matPrefix class="icon-lock_black_24dp icon-18 login-icon-color pr-1"></em>
                <div class="login-icon-wrapper" mat-icon-button matSuffix (click)="toggleVisibility = !toggleVisibility" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="toggleVisibility">
                <em matPrefix class="icon-18 login-icon-color pointer" [ngClass]="toggleVisibility ? 'icon-Hide' : 'icon-View'"></em>
                </div>
                <mat-error class="error" *ngIf="password.touched && password.errors?.required" >{{'Password is required' }}</mat-error>
                <mat-error class="error" *ngIf="password.touched && password.errors?.maxlength" >{{'30 Characters only allowed' }}</mat-error>
              </mat-form-field>

            </div>


            <div style="text-align: end;">
            <mat-label>
            <a  class="forgot" (click)="forgotPassword()">{{'Forgot password?'}}</a>
            </mat-label></div>

            <div class="center">
              <button class="btn" id="login" mat-raised-button [disabled]="loginForm.invalid || disableLogin" type="submit">{{'SIGN IN'}}</button>
              <div class="ins-note">
         <span style="font-weight: 600;">Note: </span> <span>Please clear browser cache before logging into the application for uploading the documents.</span>
         </div>

            </div>

        </div>
        </form>

      </div>
