      <div class="wrap-reg">
        <form [formGroup]="loginForm" class="form-wrapper" (ngSubmit)="submit()">
          <h1 class="animated animatedFadeInUp fadeInUp signIn"> {{'Sign In to your account' }}</h1>
          <div>
            <mat-form-field class="mat-form-spacing" appearance="outline">
              <mat-label class="label-color">Email</mat-label>
              <input matInput  id="username" #username [placeholder]="'Enter the email'"  formControlName="email" maxlength="64"
              required>
              <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
              <mat-error class="error" *ngIf="loginForm.get('email').hasError('required')">{{'Email is required'}}</mat-error>
              <!-- <mat-error class="error" *ngIf="f.email.errors.required">Email ID is required</mat-error> -->
              <mat-error class="error" *ngIf="loginForm.get('email').hasError('pattern')">{{'Please enter a valid email address'}}</mat-error>
            </mat-form-field>

            <div class="" appCapslock (capsLock)="capsOn=$event">
              <!-- <label>Password</label> -->
              <!-- <div *ngIf="capsOn">{{'Caps lock is on !' | translate }}</div> -->
              <mat-form-field appearance="outline">
                <mat-label  class="label-color">{{'Password' }}</mat-label>
                <input matInput  [placeholder]="'Enter password'" [type]="!toggleVisibility ? 'text' : 'password'" formControlName="password" [ngClass]="{ 'is-invalid': password.touched && password.errors }" required>
                <mat-icon class="icon-color" matPrefix>lock_outline</mat-icon>
                <div mat-icon-button matSuffix (click)="toggleVisibility = !toggleVisibility" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="toggleVisibility">
                <mat-icon class="icon-color-1">{{toggleVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
                <mat-error class="error" *ngIf="password.touched && password.errors" >{{'Password is required' }}</mat-error>
              </mat-form-field>

            </div>


            <div style="text-align: end;">
            <mat-label>
            <a  class="forgot" (click)="forgotPassword()">{{'Forgot password?'}}</a>
            </mat-label></div>

            <div class="center">
              <button class="btn" id="login" mat-raised-button [disabled]="loginForm.invalid || disableLogin" type="submit">{{'SIGN IN'}}</button>
              <div class="ins-note">
         <span style="font-weight: 600;">Note: </span> <span>Please clear browser cache before logging into the application for uploading the documents.</span>
         </div>

            </div>

        </div>
        </form>

      </div>
